Repository GoogleForCreators/web-stories-wp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @swissspidy, @pbakaus, @spacedmonkey, @miina, @dvoytenko, @barklund

.github/CODEOWNERS:

# See https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Global owners, default owners for everything in the repo
*                                                                 @swissspidy @pbakaus

# All server-side logic.
*.php                                                             @swissspidy @spacedmonkey @miina
composer.json                                                     @swissspidy @spacedmonkey @miina
phpcs.xml                                                         @swissspidy @spacedmonkey @miina
phpstan.neon.dist                                                 @swissspidy @spacedmonkey @miina
phpunit.xml.dist                                                  @swissspidy @spacedmonkey @miina

# Infrastructure
.github/                                                          @swissspidy
.storybook/                                                       @swissspidy
bin/                                                              @swissspidy
.travis.yml                                                       @swissspidy @spacedmonkey

# WordPress.org plugin directory readme file.
readme.txt                                                        @swissspidy @pbakaus

# Stories Editor
assets/src/edit-story/                                            @swissspidy @dvoytenko @barklund

# Media-related functionality
assets/src/edit-story/app/api/                                    @spacedmonkey
assets/src/edit-story/app/media/                                  @spacedmonkey
assets/src/edit-story/app/uploader/                               @spacedmonkey
assets/src/edit-story/components/uploadButton/                    @spacedmonkey

# Movable
assets/src/edit-story/components/movable/                         @miina
assets/src/edit-story/elements/image/editCropMovable.js           @miina
assets/src/edit-story/elements/shared/editPanMovable.js           @miina
assets/src/edit-story/components/canvas/singleSelectionMovable.js @miina
assets/src/edit-story/components/canvas/multiSelectionMovable.js  @miina

Lint fixes
  assets/src/edit-story/components/panels/videoPoster.js
Owners: @swissspidy, @dvoytenko, @barklund

Change text.
  assets/src/edit-story/components/dropzone/canvasDropZone.js
Owners: @swissspidy, @dvoytenko, @barklund

Remov errant space
  assets/src/edit-story/components/panels/videoPoster.js
Owners: @swissspidy, @dvoytenko, @barklund

Add toggle bold control.
  assets/src/edit-story/components/panels/textStyle/panel.js
  assets/src/edit-story/components/panels/textStyle/textStyle.js
  assets/src/edit-story/elements/text/display.js
  assets/src/edit-story/elements/text/edit.js
  assets/src/edit-story/elements/text/output.js
Owners: @swissspidy, @dvoytenko, @barklund

Dependency updates
  package-lock.json
  package.json
Owners: @swissspidy, @pbakaus

Use data pixels for padding.
  assets/src/edit-story/components/panels/textStyle/padding.js
  assets/src/edit-story/components/panels/textStyle/panel.js
  assets/src/edit-story/elements/shared/index.js
  assets/src/edit-story/elements/text/output.js
Owners: @swissspidy, @dvoytenko, @barklund

Fix fonts.
  assets/src/edit-story/components/panels/textStyle/font.js
  assets/src/edit-story/elements/text/index.js
Owners: @swissspidy, @dvoytenko, @barklund

Add foundation for Dashboard page (#344)
  assets/src/dashboard/app/index.js
  assets/src/dashboard/index.js
  assets/src/dashboard/style.css
  includes/Dashboard.php
  includes/Plugin.php
  includes/Story_Post_Type.php
  includes/namespace.php
  package-lock.json
  package.json
  phpstan.neon.dist
  tests/phpstan/bootstrap.php
  tests/phpunit/tests/Dashboard.php
  tests/phpunit/tests/Media.php
  tests/phpunit/tests/REST_API/Fonts_Controller.php
  tests/phpunit/tests/REST_API/Stories_Controller.php
  web-stories.php
  webpack.config.js
Owners: @swissspidy, @pbakaus, @spacedmonkey, @miina

Replace `@wordpress/a11y` with custom simple implementation
  assets/src/edit-story/components/panels/layer/layerList.js
  assets/src/edit-story/utils/useLiveRegion.js
  package.json
Owners: @swissspidy, @dvoytenko, @barklund, @pbakaus

Fix position of Movable handle (#427)
  assets/src/edit-story/components/movable/moveStyle.js
Owners: @miina

Deploy google/web-stories-wp to github.com/google/web-stories-wp.git:gh-pages
  iframe.html
  main.4aaf7b67f037ce842c8a.bundle.js
  main.4aaf7b67f037ce842c8a.bundle.js.map
  main.c3efd237ef070b91d0f2.bundle.js
  main.c3efd237ef070b91d0f2.bundle.js.map
  runtime~main.4aaf7b67f037ce842c8a.bundle.js
  runtime~main.4aaf7b67f037ce842c8a.bundle.js.map
  runtime~main.c3efd237ef070b91d0f2.bundle.js
  runtime~main.c3efd237ef070b91d0f2.bundle.js.map
  vendors~main.4aaf7b67f037ce842c8a.bundle.js.LICENSE.txt
  vendors~main.4aaf7b67f037ce842c8a.bundle.js.map
  vendors~main.c3efd237ef070b91d0f2.bundle.js.LICENSE.txt
  vendors~main.c3efd237ef070b91d0f2.bundle.js.map
Owners: @swissspidy, @pbakaus

Add unit tests
  assets/src/edit-story/components/button/test/button.js
  assets/src/edit-story/components/form/color.js
  assets/src/edit-story/components/form/index.js
  assets/src/edit-story/components/form/numeric.js
  assets/src/edit-story/components/form/test/color.js
  assets/src/edit-story/components/form/test/numeric.js
  assets/src/edit-story/components/form/test/toggle.js
  assets/src/edit-story/components/form/toggle.js
  assets/src/edit-story/components/panels/panel/test/simplePanel.js
  assets/src/edit-story/components/panels/sizePosition.js
  assets/src/edit-story/components/panels/test/actions.js
  assets/src/edit-story/components/panels/test/background.js
  assets/src/edit-story/components/panels/test/color.js
  assets/src/edit-story/components/panels/test/colorPreset.js
  assets/src/edit-story/components/panels/test/fill.js
  assets/src/edit-story/components/panels/test/sizePosition.js
  assets/src/edit-story/components/panels/test/style.js
  assets/src/edit-story/components/panels/test/textStyle.js
Owners: @swissspidy, @dvoytenko, @barklund

Unfined the implementation of drop targets
  assets/src/edit-story/app/index.js
  assets/src/edit-story/components/canvas/singleSelectionMovable.js
  assets/src/edit-story/components/dropTargets/context.js
  assets/src/edit-story/components/dropTargets/index.js
  assets/src/edit-story/components/dropTargets/provider.js
  assets/src/edit-story/components/dropTargets/useDropTargets.js
  assets/src/edit-story/components/library/panes/media/mediaPane.js
  assets/src/edit-story/masks/frame.js
  assets/src/edit-story/masks/useDropTargets.js
  assets/src/edit-story/utils/elementsFromPoint.js
  package-lock.json
  package.json
Owners: @swissspidy, @dvoytenko, @barklund, @miina, @pbakaus

Removed unnecessary reducer
  assets/src/edit-story/app/story/storyProvider.js
  assets/src/edit-story/app/story/useStoryReducer/actions.js
  assets/src/edit-story/app/story/useStoryReducer/reducer.js
  assets/src/edit-story/app/story/useStoryReducer/reducers/index.js
  assets/src/edit-story/app/story/useStoryReducer/reducers/setActiveDropTarget.js
  assets/src/edit-story/app/story/useStoryReducer/test/setActiveDropTarget.js
  assets/src/edit-story/masks/frame.js
Owners: @swissspidy, @dvoytenko, @barklund

Use the first available font if 400 not available.
  assets/src/edit-story/components/panels/textStyle/font.js
Owners: @swissspidy, @dvoytenko, @barklund

Use flip for MEdia only.
  assets/src/edit-story/components/panels/sizeAndPosition.js
  assets/src/edit-story/elements/shared/getMediaProps.js
  assets/src/edit-story/elements/shared/getTransformFlip.js
  assets/src/edit-story/elements/text/display.js
  assets/src/edit-story/elements/text/edit.js
  assets/src/edit-story/elements/text/output.js
  assets/src/edit-story/elements/text/util.js
Owners: @swissspidy, @dvoytenko, @barklund
