Repository GoogleForCreators/web-stories-wp, pull requests merged in 2021-06, with the labels that each got.

#7699 Media: Show duration while uploading files
  assets/src/edit-story/app/media/utils/getResourceFromLocalFile.js
  assets/src/edit-story/components/library/panes/media/common/mediaElement.js
Labels: Group: Media, P2, Pod: WP & Infra, Type: Enhancement, cla: yes

#7716 Add filter for all media
  assets/src/edit-story/app/highlights/quickActions/constants.js
  assets/src/edit-story/app/highlights/quickActions/test/utils.js
  assets/src/edit-story/app/highlights/quickActions/useQuickActions.js
  assets/src/edit-story/app/highlights/quickActions/utils/getResetProperties.js
  assets/src/edit-story/app/story/useStoryReducer/reducers/addPage.js
  assets/src/edit-story/app/story/useStoryReducer/reducers/combineElements.js
  assets/src/edit-story/app/story/useStoryReducer/reducers/setBackgroundElement.js
  assets/src/edit-story/app/story/useStoryReducer/test/addPage.js
  assets/src/edit-story/app/story/useStoryReducer/test/arrangeElement.js
  assets/src/edit-story/app/story/useStoryReducer/test/arrangeSelection.js
  assets/src/edit-story/app/story/useStoryReducer/test/clearBackgroundElement.js
  assets/src/edit-story/app/story/useStoryReducer/test/combineElements.js
  assets/src/edit-story/components/canvas/displayElement.js
  assets/src/edit-story/components/canvas/karma/backgroundCopyPaste.karma.js
  assets/src/edit-story/components/canvas/karma/quickActions.karma.js
  assets/src/edit-story/components/inspector/design/getDesignPanelsForSelection.js
  assets/src/edit-story/components/panels/design/filter/convertOverlay.js
  assets/src/edit-story/components/panels/design/filter/filter.js
  assets/src/edit-story/components/panels/design/filter/karma/filter.karma.js
  assets/src/edit-story/components/panels/design/filter/test/convertOverlay.js
  assets/src/edit-story/elements/media/constants.js
  assets/src/edit-story/elements/media/display.js
  assets/src/edit-story/elements/media/test/display.js
  assets/src/edit-story/karma/fixture/fixture.js
  assets/src/edit-story/output/element.js
  assets/src/edit-story/output/page.js
  assets/src/edit-story/output/test/page.js
  assets/src/edit-story/output/utils/styles.js
  assets/src/edit-story/types.js
  assets/src/edit-story/utils/overlay.js
  packages/migration/src/migrate.js
  packages/migration/src/migrations/test/v0026_backgroundOverlayToOverlay.js
  packages/migration/src/migrations/v0026_backgroundOverlayToOverlay.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#7761 Keep poster when combining elements
  assets/src/edit-story/app/story/useStoryReducer/reducers/combineElements.js
  assets/src/edit-story/app/story/useStoryReducer/test/combineElements.js
Labels: Elements: Video, Pod: Prometheus, Type: Bug, cla: yes

#7622 Monetization: AdSense Site Kit detection
  assets/src/dashboard/app/views/editorSettings/adManagement/index.js
  assets/src/dashboard/app/views/editorSettings/adManagement/stories/index.js
  assets/src/dashboard/app/views/editorSettings/adManagement/test/adManagement.js
  assets/src/dashboard/app/views/editorSettings/googleAnalytics/index.js
  assets/src/dashboard/app/views/editorSettings/googleAnalytics/stories/index.js
  assets/src/dashboard/app/views/editorSettings/googleAnalytics/test/googleAnalytics.js
  assets/src/dashboard/app/views/editorSettings/index.js
  includes/Integrations/Site_Kit.php
  packages/e2e-tests/src/plugins/site-kit-adsense.php
  packages/e2e-tests/src/plugins/site-kit-analytics.php
  packages/e2e-tests/src/specs/dashboard/integrations/sitekit.js
  packages/e2e-tests/src/specs/editor/integrations/sitekit.js
  tests/phpunit/tests/Integrations/Site_Kit.php
Labels: Group: Integration, Monetization, P1, Pod: WP & Infra, Type: Enhancement, cla: yes

#7756 Media: Prevent opening media modal if user lacks permissions
  assets/src/edit-story/components/mediaPicker/useMediaPicker.js
  packages/e2e-tests/src/specs/editor/media/insertMediaFromDialog.js
Labels: Group: Media, Group: WordPress, P2, Pod: WP & Infra, Type: Bug, cla: yes

#7786 Fix `combineElements` unit test
  assets/src/edit-story/app/story/useStoryReducer/test/combineElements.js
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#7781 GitHub Actions: skip some jobs for forks/Dependabot
  .github/workflows/build-and-deploy.yml
  .github/workflows/lint-css-js-md.yml
  .github/workflows/pr-checklist.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-karma-editor.yml
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#7691 Media: Ensure duration is always present on resources
  assets/src/edit-story/app/media/utils/getResourceFromMediaPicker.js
  includes/Integrations/Jetpack.php
  includes/Media/Media.php
  packages/migration/src/migrate.js
  packages/migration/src/migrations/test/v0027_videoDuration.js
  packages/migration/src/migrations/v0027_videoDuration.js
  tests/phpunit/tests/Integrations/Jetpack.php
  tests/phpunit/tests/Media/Media.php
Labels: Elements: Video, Group: Document Panel, Group: Media, Pod: WP & Infra, Type: Bug, cla: yes

#7317 Media: upload pre-existing poster image if available
  assets/src/edit-story/app/media/useUploadMedia.js
  assets/src/edit-story/app/media/utils/getResourceFromLocalFile.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/index.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/reducer.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/test/reducer.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/test/useMediaUploadQueue.js
  assets/src/edit-story/app/media/utils/useUploadVideoFrame.js
  assets/src/edit-story/components/canvas/useUploadWithPreview.js
Labels: FIXIT, Group: Media, Group: Video Optimization, P2, Pod: WP & Infra, Type: Enhancement, cla: yes

#7772 Quick Actions: Add focus border around animation panel dropdown when highlighting
  assets/src/design-system/components/dropDown/select/components.js
  assets/src/edit-story/app/highlights/styles.js
  assets/src/edit-story/components/panels/design/animation/animation.js
  assets/src/edit-story/components/panels/design/animation/effectChooserDropdown/effectChooserDropdown.js
Labels: Accessibility, Group: Quick Action Menu, Pod: Pea, cla: yes

#7791 Skip failing e2e test for now
  packages/e2e-tests/src/specs/editor/media/insertMediaFromDialog.js
Labels: Package: E2E Tests, Pod: WP & Infra, Type: Bug, cla: yes

#7784 Quick Action Menus: Add Karma Check for Accessibility Violations
  assets/src/dashboard/app/views/myStories/karma/myStories.karma.js
  assets/src/dashboard/components/storyMenu/test/storyMenu.js
  assets/src/design-system/components/contextMenu/contextMenu.js
  assets/src/design-system/components/contextMenu/menu.js
  assets/src/design-system/components/contextMenu/menuItem.js
  assets/src/design-system/components/contextMenu/test/contextMenu.js
  assets/src/edit-story/components/canvas/karma/quickActions.karma.js
  assets/src/edit-story/components/canvas/navLayer.js
  assets/src/edit-story/karma/fixture/containers/canvas.js
  assets/src/edit-story/karma/fixture/containers/quickActionMenu.js
Labels: Accessibility, Group: Quick Action Menu, Pod: Pea, Type: Code Quality, cla: yes

#7737 Bring over alt attribute when combining elements
  assets/src/edit-story/app/story/useStoryReducer/reducers/combineElements.js
  assets/src/edit-story/app/story/useStoryReducer/test/combineElements.js
Labels: Elements: Image, Pod: Prometheus, Type: Enhancement, cla: yes

#7639 Fix Play button style issues
  assets/src/edit-story/elements/video/controls.js
Labels: Elements: Video, Pod: Prometheus, Type: Bug, cla: yes

#7793 Quick action menu: Hide quick actions if canvas is overflowing
  assets/src/edit-story/components/canvas/karma/quickActions.karma.js
  assets/src/edit-story/components/canvas/navLayer.js
Labels: Group: Quick Action Menu, Pod: Pea, Type: Enhancement, cla: yes

#7799 Animations: Prevent 'None' selections from stacking up
  assets/src/edit-story/components/panels/design/animation/effectChooserDropdown/effectChooserDropdown.js
Labels: Group: Animations, Group: Quick Action Menu, Pod: Pea, Type: Bug, cla: yes

#7789 Quick Actions: FTUE Integration
  assets/src/edit-story/app/highlights/quickActions/test/useQuickActions.js
  assets/src/edit-story/app/highlights/quickActions/useQuickActions.js
  assets/src/edit-story/app/story/storyTriggers/storyEvents/types.js
  assets/src/edit-story/components/canvas/karma/quickActions.karma.js
  assets/src/edit-story/components/helpCenter/index.js
Labels: Group: FTUE, Group: Quick Action Menu, Pod: Pea, Type: Enhancement, cla: yes

#7811 Quick Action Menu: Video Element
  assets/src/edit-story/app/highlights/quickActions/constants.js
  assets/src/edit-story/app/highlights/quickActions/test/useQuickActions.js
  assets/src/edit-story/app/highlights/quickActions/useQuickActions.js
  assets/src/edit-story/components/canvas/karma/quickActions.karma.js
  assets/src/edit-story/components/library/panes/media/common/innerElement.js
  assets/src/edit-story/components/library/panes/media/local/mediaEditDialog.js
  assets/src/edit-story/elements/video/display.js
  assets/src/edit-story/karma/fixture/containers/designPanel/captions.js
  assets/src/edit-story/karma/fixture/containers/designPanel/index.js
  assets/src/edit-story/karma/fixture/containers/quickActionMenu.js
Labels: Group: Quick Action Menu, Pod: Pea, Type: Enhancement, cla: yes

#7809 Quick Action Menus: Reset element
  assets/src/edit-story/app/highlights/quickActions/constants.js
  assets/src/edit-story/app/highlights/quickActions/test/useQuickActions.js
  assets/src/edit-story/app/highlights/quickActions/test/utils.js
  assets/src/edit-story/app/highlights/quickActions/useQuickActions.js
  assets/src/edit-story/app/highlights/quickActions/utils/getResetProperties.js
  assets/src/edit-story/components/form/advancedDropDown/dropDown.js
  assets/src/edit-story/components/panels/design/textStyle/font.js
  assets/src/edit-story/components/panels/design/textStyle/fontPicker.js
  assets/src/edit-story/karma/fixture/containers/quickActionMenu.js
Labels: Group: Quick Action Menu, Pod: Pea, Type: Enhancement, cla: yes

#7808 Dashboard: JSX Linting Cleanup
  assets/src/dashboard/components/cardGrid/index.js
  assets/src/dashboard/components/cardGridItem/cardPreview.js
  assets/src/design-system/components/contextMenu/mask.js
  assets/src/design-system/components/dropDown/test/dropDown.js
  assets/src/design-system/components/typography/text/index.js
Labels: Pod: Pea, Type: Code Quality, cla: yes

#7720 Animation: Update Rotate In Defaults
  assets/src/animation/effects/rotateIn/index.js
  assets/src/edit-story/components/panels/design/animation/effectChooserDropdown/effectChooserElements.js
Labels: Group: Animations, Pod: Pea, Type: Enhancement, cla: yes

#7814 Fix not being able to add shapes in case of small screens
  assets/src/edit-story/components/library/panes/shared/libraryMoveable.js
  assets/src/edit-story/components/library/panes/text/textSets/textSet.js
Labels: Elements: Shape, Group: Library, Pod: Prometheus, Type: Bug, cla: yes

#7829 Bug: Fix Help Center Links
  packages/tracking/src/trackClick.js
Labels: Group: FTUE, Group: Telemetry, Package: Tracking, Pod: Pea, Type: Bug, cla: yes

#7601 Animations: honor `prefers-reduced-motion` setting
  assets/src/animation/outputs/output.js
  assets/src/animation/parts/simpleAnimation.js
  assets/src/animation/utils/getInitialStyleFromKeyframes.js
  assets/src/animation/utils/test/getInitialStyleFromKeyframes.js
  assets/src/edit-story/output/utils/styles.js
Labels: Accessibility, Group: Animations, Type: Bug, cla: yes

#7817 Animation: Fixed Delta for Background Zoom Animations
  assets/src/animation/effects/backgroundZoom/index.js
Labels: Group: Animations, Pod: Pea, Type: Enhancement, cla: yes

#7701 Analytics: Update message when Site Kit is installed
  assets/src/dashboard/app/views/editorSettings/googleAnalytics/index.js
  assets/src/dashboard/app/views/editorSettings/googleAnalytics/test/googleAnalytics.js
Labels: Group: Dashboard, Group: Integration, P1, Package: Dashboard, Pod: WP & Infra, Type: Enhancement, cla: yes

#7827 Use custom video poster for icon instead of default when available
  assets/src/edit-story/elements/video/icon.js
Labels: Elements: Video, Pod: Prometheus, Type: Bug, cla: yes

#7816 Update PHPUnit workflow
  .github/workflows/tests-unit-php.yml
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#7840 Adds static assets for Ad Page Templates
  public/static/main/images/templates/ad-template-one/page01_bg.jpeg
  public/static/main/images/templates/ad-template-one/page01_logo.png
  public/static/main/images/templates/ad-template-two/page01_bg-poster.jpeg
  public/static/main/images/templates/ad-template-two/page01_bg.mp4
  public/static/main/images/templates/ad-template-two/page01_logo.png
Labels: Website, cla: yes

#7806 Links: remove empty data attributes
  includes/AMP/Traits/Sanitization_Utils.php
  tests/phpunit/tests/AMP/Story_Sanitizer.php
Labels: AMP Output, Pod: WP & Infra, Type: Bug, cla: yes

#7800 Fix incorrect publish time handling
  assets/src/edit-story/components/form/dateTime/timePicker.js
  assets/src/edit-story/components/form/dateTime/timeZone.js
  assets/src/edit-story/components/panels/document/publish/publishTime.js
Labels: Pod: Prometheus, Type: Bug, cla: yes

#7815 Avoid excess Styled Components classes in element preview mode
  assets/src/edit-story/components/canvas/displayElement.js
  assets/src/edit-story/elements/text/display.js
Labels: Pod: Prometheus, Type: Enhancement, Type: Performance, cla: yes

#7845 Enable AMP ESM transformation once again
  includes/AMP/Optimization.php
  includes/Integrations/AMP.php
  tests/phpunit/tests/AMP/Optimization.php
Labels: AMP Output, Pod: WP & Infra, Type: Enhancement, cla: yes

#7848 Right Click Menu: add feature flag
  includes/Experiments.php
Labels: Group: Context Menu, Pod: Pea, Type: Enhancement, cla: yes

#7759 Allow publishing stories "Immediately"
  assets/src/edit-story/components/form/dateTime/dateTime.js
  assets/src/edit-story/components/form/dateTime/timePicker.js
  assets/src/edit-story/components/panels/document/publish/publishTime.js
  assets/src/edit-story/components/panels/document/publish/test/publish.js
Labels: Group: Document Panel, Pod: Prometheus, Type: Bug, Type: Enhancement, cla: yes

#7801 Fix colour picker focus styles
  assets/src/edit-story/components/colorPicker/header.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/colorPresetActions.js
Labels: Group: Patterns, Pod: Prometheus, Type: Bug, cla: yes

#7766 Media: Transcode videos inserted from WordPress media modal
  assets/src/edit-story/app/media/utils/getResourceFromAttachment.js
  assets/src/edit-story/app/media/utils/getResourceFromLocalFile.js
  assets/src/edit-story/app/media/utils/getResourceFromMediaPicker.js
  assets/src/edit-story/app/media/utils/getResourceSize.js
  assets/src/edit-story/app/media/utils/test/getResourceSize.js
  assets/src/edit-story/app/media/utils/test/useFFmpeg.js
  assets/src/edit-story/app/media/utils/useFFmpeg.js
  assets/src/edit-story/app/media/utils/useProcessVideo.js
  assets/src/edit-story/app/media/utils/useUpdateElementDimensions.js
  assets/src/edit-story/app/uploader/test/useUploader.js
  assets/src/edit-story/components/canvas/useUploadWithPreview.js
  assets/src/edit-story/components/library/panes/media/local/mediaPane.js
  assets/src/edit-story/components/library/test/_utils/index.js
  assets/src/edit-story/constants/media.js
  assets/src/edit-story/karma/fixture/fixture.js
  includes/Admin/Editor.php
  includes/Experiments.php
  includes/Integrations/Jetpack.php
  includes/Traits/Types.php
  packages/e2e-tests/src/specs/editor/media/insertMovVideo.js
Labels: Group: Media, Group: Video Optimization, Group: WordPress, P2, Pod: WP & Infra, Type: Enhancement, cla: yes

#7852 Fix date resetting
  assets/src/edit-story/components/panels/document/publish/publishTime.js
Labels: Pod: Prometheus, Type: Bug, cla: yes

#7847 Media: Mark 3P Media resources as optimized
  assets/src/edit-story/app/media/utils/getResourceFromMedia3p.js
  assets/src/edit-story/app/media/utils/test/getResourceFromMedia3p.js
  assets/src/edit-story/app/prepublish/guidance/media.js
  packages/migration/src/migrate.js
  packages/migration/src/migrations/test/v0028_mark3pVideoAsOptimized.js
  packages/migration/src/migrations/v0028_mark3pVideoAsOptimized.js
Labels: Elements: Video, Group: 3P Media, Group: Media, Group: Video Optimization, P2, Pod: WP & Infra, Type: Enhancement, cla: yes

#7863 Force composer 2.1.1
  .github/workflows/build-and-deploy.yml
  .github/workflows/lint-i18n.yml
  .github/workflows/lint-php.yml
  .github/workflows/plugin-release.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit-php.yml
Labels: PHP, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7864 Composer: remove `—no-suggest` option
  .github/workflows/build-and-deploy.yml
  .github/workflows/lint-i18n.yml
  .github/workflows/lint-php.yml
  .github/workflows/plugin-release.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit-php.yml
  bin/local-env/install-composer.sh
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#7796 Workflow: Add GitHub action for tagging PRs with releases
  .github/workflows/add-milestone.yml
  .github/workflows/cleanup-pr-assets.yml
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#7743 AMP: De-duplicate inline styles
  includes/AMP/Integration/AMP_Story_Sanitizer.php
  includes/AMP/Story_Sanitizer.php
  includes/AMP/Traits/Sanitization_Utils.php
  tests/phpunit/tests/AMP/Story_Sanitizer.php
Labels: AMP Output, Group: WordPress, Pod: WP & Infra, Type: Enhancement, Type: Performance, cla: yes

#7874 Adds images for two new ad templates.
  public/static/main/images/templates/ad-template-annual-clothing-sale/page1_bg.jpg
  public/static/main/images/templates/ad-template-annual-clothing-sale/page1_logo.png
  public/static/main/images/templates/ad-template-app-install/page1_image1.jpg
  public/static/main/images/templates/ad-template-app-install/page1_logo.jpg
Labels: Website, cla: yes

#7888 Completely remove enabled experiment code
  assets/src/edit-story/components/inspector/karma/checklistTab.karma.js
  assets/src/edit-story/components/inspector/prepublish/components/checklistTab.js
  assets/src/edit-story/components/inspector/prepublish/test/checklistTab.js
  assets/src/edit-story/components/library/panes/pageTemplates/karma/pageTemplatesPane.karma.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplatesPane.js
  includes/Experiments.php
Labels: Pod: WP & Infra, Type: Code Quality, Type: Task, cla: yes

#7505 Output: Preload the first page’s background media
  assets/src/edit-story/output/story.js
  assets/src/edit-story/output/utils/getPreloadResources.js
  assets/src/edit-story/output/utils/test/getPreloadResources.js
Labels: AMP Output, Pod: WP & Infra, Type: Enhancement, Type: Performance, cla: yes

#7929 Unpin Composer version on CI
  .github/workflows/build-and-deploy.yml
  .github/workflows/lint-i18n.yml
  .github/workflows/lint-php.yml
  .github/workflows/plugin-release.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit-php.yml
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#7868 Quick Action Menu: `Change background color` opens the page background panel if it is collapsed
  assets/src/edit-story/components/panels/design/pageBackground/pageBackground.js
Labels: Bug Bash: 1.8, Group: Quick Action Menu, Pod: Pea, Type: Bug, cla: yes

#7873 Right Click Menus: UI prep
  assets/src/design-system/components/contextMenu/menu.js
  assets/src/design-system/components/contextMenu/menuItem.js
  assets/src/design-system/components/contextMenu/stories/index.js
  assets/src/design-system/components/typography/text/index.js
Labels: Group: Context Menu, Pod: Pea, Type: Enhancement, cla: yes

#7924 Add missing date field to fixture
  assets/src/edit-story/karma/fixture/fixture.js
Labels: Pod: Prometheus, Type: Bug, Type: Infrastructure, cla: yes

#7911 Accessibility: Keyboard Shortcuts Menu Accessibility and I18N Improvements
  assets/src/edit-story/components/keyboardShortcutsMenu/constants.js
  assets/src/edit-story/components/keyboardShortcutsMenu/keyboardShortcutList.js
  assets/src/edit-story/components/keyboardShortcutsMenu/shortcutLabel.js
Labels: Accessibility, Group: Keyboard Shortcuts, Internationalization (I18N), Pod: Pea, Type: Enhancement, cla: yes

#7850 Right Click Menu: Implementation Proposal
  assets/src/edit-story/app/rightClickMenu/constants.js
  assets/src/edit-story/app/rightClickMenu/context.js
  assets/src/edit-story/app/rightClickMenu/index.js
  assets/src/edit-story/app/rightClickMenu/provider.js
  assets/src/edit-story/app/rightClickMenu/reducer.js
  assets/src/edit-story/app/rightClickMenu/test/useRightClickMenu.js
  assets/src/edit-story/app/rightClickMenu/useRightClickMenu.js
  assets/src/edit-story/components/canvas/canvasLayout.js
  assets/src/edit-story/components/canvas/layout.js
  assets/src/edit-story/components/canvas/navLayer.js
  assets/src/edit-story/components/canvas/rightClickMenu.js
Labels: Group: Context Menu, Pod: Pea, Type: Enhancement, cla: yes

#7941 Optimise video for Sangria Artichoke story template.
  public/static/main/images/templates/sangria-artichoke/page02_bg_video.mp4
Labels: Website, cla: yes

#7953 Prepublish Checklist: Thumbnail Component
  assets/src/design-system/icons/gear_with_gauge.svg
  assets/src/design-system/icons/index.js
  assets/src/edit-story/components/thumbnail/constants.js
  assets/src/edit-story/components/thumbnail/index.js
  assets/src/edit-story/components/thumbnail/stories/demoThumbnails.js
  assets/src/edit-story/components/thumbnail/stories/index.js
  assets/src/edit-story/components/thumbnail/styles.js
  assets/src/edit-story/components/thumbnail/thumbnail.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7957 PPC Video Optimization: Thumbnail Support in Snacks
  assets/src/design-system/components/snackbar/constants.js
  assets/src/design-system/components/snackbar/index.js
  assets/src/design-system/components/snackbar/snackbarMessage.js
  assets/src/design-system/components/snackbar/stories/index.js
Labels: Group: Design System, Group: Pre-Publish Panel, Group: Video Optimization, Pod: Pea, cla: yes

#7891 Video Optimization: MOV placeholder element position wrong
  assets/src/edit-story/components/canvas/useUploadWithPreview.js
Labels: Group: Media, Group: Video Optimization, P2, Pod: WP & Infra, Type: Bug, cla: yes

#7959 Fix 'avacado' to 'avocado' in template directory name.
  public/static/main/images/templates/ways-to-eat-avocado/page01_image01.png
  public/static/main/images/templates/ways-to-eat-avocado/page01_image02.png
  public/static/main/images/templates/ways-to-eat-avocado/page02_bg.png
  public/static/main/images/templates/ways-to-eat-avocado/page03_bg.png
  public/static/main/images/templates/ways-to-eat-avocado/page04_bg.png
  public/static/main/images/templates/ways-to-eat-avocado/page05_image01.png
  public/static/main/images/templates/ways-to-eat-avocado/page06_bg.png
  public/static/main/images/templates/ways-to-eat-avocado/page07_bg.png
  public/static/main/images/templates/ways-to-eat-avocado/page08_bg.png
  public/static/main/images/templates/ways-to-eat-avocado/page09_image01.png
  public/static/main/images/templates/ways-to-eat-avocado/page10_bg.png
  public/static/main/images/templates/ways-to-eat-avocado/page11_bg.png
  public/static/main/images/templates/ways-to-eat-avocado/page12_bg.png
  public/static/main/images/templates/ways-to-eat-avocado/page13_image01.png
Labels: Website, cla: yes

#7963 Update readme.txt for 1.8.0
  readme.txt
Labels: cla: yes

#7955 Fix JSX accessibility issues
  assets/src/edit-story/components/canvas/editElement.js
  assets/src/edit-story/components/canvas/frameElement.js
  assets/src/edit-story/components/colorPicker/gradientStop.js
  assets/src/edit-story/components/colorPicker/test/colorPicker/selectStop.js
  assets/src/edit-story/components/form/advancedDropDown/dropDown.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplate.js
  assets/src/edit-story/components/library/panes/text/textSets/textSet.js
  assets/src/edit-story/components/panels/panel/shared/handle.js
  assets/src/edit-story/elements/text/edit.js
  assets/src/edit-story/karma/fixture/containers/library/text.js
Labels: Accessibility, Pod: Prometheus, Type: Code Quality, cla: yes

#7975 Right click menu: Documentation
  docs/right-click-menu.md
Labels: Group: Context Menu, Pod: Pea, Type: Enhancement, cla: yes

#7972 Right Click Menu: Snackbar text
  assets/src/edit-story/app/rightClickMenu/constants.js
Labels: Group: Context Menu, Pod: Pea, Type: Enhancement, cla: yes

#7988 Prepublish Checklist: New Copy Source
  assets/src/edit-story/app/prepublish/newConstants.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7946 CI: Run tests against PHP 7+
  .github/workflows/tests-unit-php.yml
Labels: P2, PHP, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7949 Bump PHP requirement in plugin
  web-stories.php
Labels: P2, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7951 PHP: Remove WP <5.5 compatibility code
  includes/Admin/Cross_Origin_Isolation.php
  includes/KSES.php
  includes/User/Preferences.php
Labels: PHP, Pod: WP & Infra, Type: Code Quality, Type: Infrastructure, cla: yes

#7926 Bump WP requirement in plugin
  .github/workflows/tests-e2e.yml
  bin/local-env/install-wordpress.sh
  readme.txt
  web-stories.php
Labels: Group: WordPress, P2, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7971 PPC: New Structure for PPC redesign
  assets/src/edit-story/components/checklist/checks/pageTooMuchText.js
  assets/src/edit-story/components/checklist/checks/storyPosterAttached.js
  assets/src/edit-story/components/checklist/checks/test/pageTooMuchText.js
  assets/src/edit-story/components/checklist/checks/test/storyPosterAttached.js
  assets/src/edit-story/components/checklist/index.js
  assets/src/edit-story/components/checklist/utils/characterCountForPage.js
  assets/src/edit-story/components/checklist/utils/filterStoryElements.js
  assets/src/edit-story/components/checklist/utils/filterStoryPages.js
  assets/src/edit-story/components/checklist/utils/hasNoFeaturedMedia.js
  assets/src/edit-story/components/checklist/utils/index.js
  assets/src/edit-story/components/checklist/utils/test/filterStoryElements.js
  assets/src/edit-story/components/checklist/utils/test/filterStoryPages.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Code Quality, Type: Enhancement, cla: yes

#7974 PPC: Card UI Follow up
  assets/src/edit-story/components/checklistCard/checkboxCta.js
  assets/src/edit-story/components/checklistCard/checklistCard.js
  assets/src/edit-story/components/checklistCard/stories/index.js
  assets/src/edit-story/components/checklistCard/styles.js
  assets/src/edit-story/components/thumbnail/overflowThumbnail.js
  assets/src/edit-story/components/thumbnail/styles.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7927 Add uppercase toggle to the Text Style panel
  assets/src/design-system/icons/index.js
  assets/src/design-system/icons/letter_t_uppercase.svg
  assets/src/edit-story/components/panels/design/textStyle/style.js
  assets/src/edit-story/components/panels/design/textStyle/useRichTextFormatting.js
  assets/src/edit-story/components/richText/customConstants.js
  assets/src/edit-story/components/richText/formatters/index.js
  assets/src/edit-story/components/richText/formatters/test/uppercase.js
  assets/src/edit-story/components/richText/formatters/uppercase.js
  assets/src/edit-story/components/richText/karma/inlineSelection.karma.js
  assets/src/edit-story/components/richText/karma/inlineStyleOverride.karma.js
  assets/src/edit-story/components/richText/karma/multiSelection.karma.js
  assets/src/edit-story/components/richText/karma/singleSelection.karma.js
  assets/src/edit-story/components/richText/provider.js
  assets/src/edit-story/components/richText/util.js
  assets/src/edit-story/karma/fixture/containers/designPanel/textStyle.js
Labels: Elements: Text, Group: Design Panel, Group: Workspace, Pod: Prometheus, Type: Bug, Type: Enhancement, cla: yes

#7945 Safari content stacking fix for border radius
  assets/src/edit-story/output/element.js
  assets/src/edit-story/output/test/__snapshots__/textElement.js.snap
  package-lock.json
Labels: Pod: Prometheus, Type: Bug, cla: yes

#7938 Safari text wrap hack
  assets/src/edit-story/elements/text/output.js
  assets/src/edit-story/elements/text/test/output.js
  assets/src/edit-story/output/test/__snapshots__/textElement.js.snap
  assets/src/edit-story/output/utils/styles.js
Labels: Browser Issues, Pod: Prometheus, Type: Bug, cla: yes

#7925 Use the concurrency option in GitHub Actions workflows
  .github/workflows/build-and-deploy.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/lint-css-js-md.yml
  .github/workflows/lint-i18n.yml
  .github/workflows/lint-php.yml
  .github/workflows/pr-checklist.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-karma-dashboard.yml
  .github/workflows/tests-karma-editor.yml
  .github/workflows/tests-unit-js.yml
  .github/workflows/tests-unit-php.yml
Labels: P2, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7969 PHPCS: Bump `testVersion` to PHP 7.0+
  phpcs.xml.dist
Labels: P2, Pod: WP & Infra, Type: Code Quality, Type: Infrastructure, cla: yes

#7950 Composer: bump PHP requirement to 7.0+
  composer.json
  composer.lock
Labels: P2, Pod: WP & Infra, Type: Infrastructure, cla: yes

#8005 PPC: Loading Bar
  assets/src/design-system/components/index.js
  assets/src/design-system/components/loadingBar/index.js
  assets/src/design-system/components/loadingBar/stories/index.js
  assets/src/design-system/theme/colors.js
  assets/src/edit-story/components/thumbnail/constants.js
  assets/src/edit-story/components/thumbnail/stories/index.js
  assets/src/edit-story/components/thumbnail/styles.js
  assets/src/edit-story/components/thumbnail/thumbnail.js
Labels: Group: Design System, Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7990 Batch 0: Adds Captions for Kitchen Stories template
  .gitattributes
  public/static/main/images/templates/kitchen-stories/page02_bg_video_subtitle.vtt
  public/static/main/images/templates/kitchen-stories/page06_bg_video_subtitle.vtt
  public/static/main/images/templates/kitchen-stories/page07_bg_video_subtitle.vtt
  public/static/main/images/templates/kitchen-stories/page08_bg_video_subtitle.vtt
  public/static/main/images/templates/kitchen-stories/page09_bg_video_subtitle.vtt
  public/static/main/images/templates/kitchen-stories/page10_bg_video_subtitle.vtt
  public/static/main/images/templates/kitchen-stories/page11_bg_video.mp4
  public/static/main/images/templates/kitchen-stories/page11_bg_video_subtitle.vtt
  public/static/main/images/templates/kitchen-stories/page12_bg_video_subtitle.vtt
Labels: Package: Templates, Type: Enhancement, Website, cla: yes

#8009 PPCv2.0: "error" checks with new structure
  assets/src/edit-story/components/checklist/checks/publisherLogoSize.js
  assets/src/edit-story/components/checklist/checks/storyMissingTitle.js
  assets/src/edit-story/components/checklist/checks/storyPosterAspectRatio.js
  assets/src/edit-story/components/checklist/checks/storyPosterPortraitSize.js
  assets/src/edit-story/components/checklist/checks/test/publisherLogoSize.js
  assets/src/edit-story/components/checklist/checks/test/storyMissingTitle.js
  assets/src/edit-story/components/checklist/checks/test/storyPosterAspectRatio.js
  assets/src/edit-story/components/checklist/checks/test/storyPosterPortraitSize.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Code Quality, Type: Enhancement, cla: yes

#7952 Right Click Menu: Page element menu v1
  assets/src/design-system/components/typography/text/index.js
  assets/src/edit-story/app/rightClickMenu/constants.js
  assets/src/edit-story/app/rightClickMenu/provider.js
  assets/src/edit-story/app/rightClickMenu/reducer.js
  assets/src/edit-story/app/rightClickMenu/test/useRightClickMenu.js
  assets/src/edit-story/components/canvas/framesLayer.js
  assets/src/edit-story/components/canvas/karma/quickActions.karma.js
  assets/src/edit-story/components/canvas/karma/rightClickMenu.karma.js
  assets/src/edit-story/components/canvas/layout.js
  assets/src/edit-story/components/canvas/rightClickMenu.js
  assets/src/edit-story/karma/fixture/containers/canvas.js
  assets/src/edit-story/karma/fixture/containers/rightClickMenu.js
Labels: Group: Context Menu, Pod: Pea, Type: Enhancement, cla: yes

#8035 PPC: Priority Issue Cards
  assets/src/edit-story/app/prepublish/newConstants.js
  assets/src/edit-story/components/checklist/checks/publisherLogoSize.js
  assets/src/edit-story/components/checklist/checks/storyMissingTitle.js
  assets/src/edit-story/components/checklist/checks/storyPosterAspectRatio.js
  assets/src/edit-story/components/checklist/checks/storyPosterPortraitSize.js
  assets/src/edit-story/components/checklist/priorityChecks.js
  assets/src/edit-story/components/checklistCard/index.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#8027 Releasing: Fix docs link and add details
  .github/ISSUE_TEMPLATE/release-plugin.md
Labels: Type: Documentation, cla: yes

#8026 PHPCS: Bump minimum WP version
  phpcs.xml.dist
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#8008 PPCv2.0: "Guidance" checks with new structure
  assets/src/edit-story/components/checklist/checks/imageElementResolution.js
  assets/src/edit-story/components/checklist/checks/storyPagesCount.js
  assets/src/edit-story/components/checklist/checks/storyTitleLength.js
  assets/src/edit-story/components/checklist/checks/storyTooLittleText.js
  assets/src/edit-story/components/checklist/checks/test/imageElementResolution.js
  assets/src/edit-story/components/checklist/checks/test/storyPagesCount.js
  assets/src/edit-story/components/checklist/checks/test/storyTitleLength.js
  assets/src/edit-story/components/checklist/checks/test/storyTooLittleText.js
  assets/src/edit-story/components/checklist/checks/test/videoElementLength.js
  assets/src/edit-story/components/checklist/checks/test/videoElementMissingPoster.js
  assets/src/edit-story/components/checklist/checks/test/videoElementResolution.js
  assets/src/edit-story/components/checklist/checks/videoElementLength.js
  assets/src/edit-story/components/checklist/checks/videoElementMissingPoster.js
  assets/src/edit-story/components/checklist/checks/videoElementResolution.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Code Quality, Type: Enhancement, cla: yes

#8068 Remove deprecated `percy` package
  package-lock.json
  package.json
Labels: Dependencies, Pod: WP & Infra, Type: Infrastructure, cla: yes

#8034 Prepublish Checklist: Update 2.0 constants.js with copy
  assets/src/edit-story/app/prepublish/newConstants.js
  assets/src/edit-story/components/checklist/checks/publisherLogoSize.js
  assets/src/edit-story/components/checklist/checks/storyMissingTitle.js
  assets/src/edit-story/components/checklist/checks/storyPosterAspectRatio.js
  assets/src/edit-story/components/checklist/checks/storyPosterPortraitSize.js
  assets/src/edit-story/components/checklist/constants.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Code Quality, cla: yes

#8066 3P Media: Fix media provider attribution pills
  assets/src/edit-story/app/media/media3p/attribution.js
  assets/src/edit-story/images/coverr_logo.svg
Labels: Group: 3P Media, Type: Bug, cla: yes

#8007 Local Media Panel: Loading State Component Swap
  assets/src/edit-story/components/library/panes/media/common/mediaElement.js
  assets/src/edit-story/components/library/panes/media/common/stories/mediaElement.js
Labels: Group: Media, Pod: Pea, Type: Code Quality, cla: yes

#8069 PPC 2.0: Panels for the cards
  assets/src/edit-story/components/checklistCard/checklistCard.js
  assets/src/edit-story/components/checklistCard/styles.js
  assets/src/edit-story/components/tablist/constants.js
  assets/src/edit-story/components/tablist/index.js
  assets/src/edit-story/components/tablist/panel.js
  assets/src/edit-story/components/tablist/stories/index.js
  assets/src/edit-story/components/tablist/styles.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Enhancement, cla: yes

#8076 PPC 2.0: Empty state in storybook
  assets/src/edit-story/components/checklist/emptyContent.js
  assets/src/edit-story/components/checklist/stories/index.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Enhancement, cla: yes

#8073 PPCv2.0: Keep Count of Checks
  assets/src/edit-story/components/checklist/accessibilityChecks.js
  assets/src/edit-story/components/checklist/checkCountContext.js
  assets/src/edit-story/components/checklist/checks/elementLinkTappableRegionTooSmall.js
  assets/src/edit-story/components/checklist/checks/imageElementMissingAlt.js
  assets/src/edit-story/components/checklist/checks/pageTooManyLinks.js
  assets/src/edit-story/components/checklist/checks/pageTooMuchText.js
  assets/src/edit-story/components/checklist/checks/publisherLogoSize.js
  assets/src/edit-story/components/checklist/checks/storyMissingExerpt.js
  assets/src/edit-story/components/checklist/checks/storyMissingTitle.js
  assets/src/edit-story/components/checklist/checks/storyPosterAspectRatio.js
  assets/src/edit-story/components/checklist/checks/storyPosterAttached.js
  assets/src/edit-story/components/checklist/checks/storyPosterPortraitSize.js
  assets/src/edit-story/components/checklist/checks/storyTitleLength.js
  assets/src/edit-story/components/checklist/checks/textElementFontSizeTooSmall.js
  assets/src/edit-story/components/checklist/checks/videoElementMissingCaptions.js
  assets/src/edit-story/components/checklist/checks/videoElementMissingDescription.js
  assets/src/edit-story/components/checklist/designChecks.js
  assets/src/edit-story/components/checklist/index.js
  assets/src/edit-story/components/checklist/priorityChecks.js
  assets/src/edit-story/components/checklist/test/checkCountContext.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Code Quality, cla: yes

#8078 PPCv2.0: PageBackgroundLowTextContrast async fix
  assets/src/edit-story/components/checklist/checks/pageBackgroundLowTextContrast/component.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Bug, cla: yes

#7944 Templates: Add 5 new story templates
  packages/stickers/src/baking-bread-guide/breadBun.js
  packages/stickers/src/baking-bread-guide/dough.js
  packages/stickers/src/baking-bread-guide/flourBag.js
  packages/stickers/src/baking-bread-guide/flourBowl.js
  packages/stickers/src/baking-bread-guide/index.js
  packages/stickers/src/baking-bread-guide/jar.js
  packages/stickers/src/baking-bread-guide/thermometer.js
  packages/stickers/src/baking-bread-guide/yeastPackage.js
  packages/stickers/src/index.js
  packages/stickers/src/kitchen-stories/castIron.js
  packages/stickers/src/kitchen-stories/hotDish.js
  packages/stickers/src/kitchen-stories/index.js
  packages/stickers/src/kitchen-stories/oven.js
  packages/stickers/src/kitchen-stories/potatoes.js
  packages/stickers/src/sangria-artichoke/curvedArrow.js
  packages/stickers/src/sangria-artichoke/index.js
  packages/stickers/src/sangria-artichoke/openPill.js
  packages/stickers/src/sangria-artichoke/pillBox.js
  packages/stickers/src/sangria-artichoke/pills.js
  packages/stickers/src/sangria-artichoke/scribbledArrow.js
  packages/stickers/src/sangria-artichoke/scribbledUnderline.js
  packages/stickers/src/sangria-artichoke/scribbledUnderline2.js
  packages/stickers/src/sangria-artichoke/scribbledUnderlineWhite.js
  packages/templates/src/getTemplates.js
  packages/templates/src/raw/album-releases/index.js
  packages/templates/src/raw/album-releases/template.json
  packages/templates/src/raw/baking-bread-guide/index.js
  packages/templates/src/raw/baking-bread-guide/template.json
  packages/templates/src/raw/kitchen-stories/index.js
  packages/templates/src/raw/kitchen-stories/template.json
  packages/templates/src/raw/sangria-artichoke/index.js
  packages/templates/src/raw/sangria-artichoke/template.json
  packages/templates/src/raw/ways-to-eat-avocado/index.js
  packages/templates/src/raw/ways-to-eat-avocado/template.json
  packages/templates/src/test/raw.js
Labels: Group: Templates, Type: Enhancement, cla: yes

#8065 Animations: fix prefers-reduced-motion workaround
  assets/src/animation/utils/getInitialStyleFromKeyframes.js
  assets/src/animation/utils/test/getInitialStyleFromKeyframes.js
Labels: Accessibility, Group: Animations, Type: Bug, cla: yes

#8095 Update changelog for 1.8.1 release
  readme.txt
Labels: Type: Documentation, cla: yes

#8093 Fix assets version for 1.8.0 branch
  web-stories.php
Labels: Type: Bug, cla: yes

#8097 Block Editor: Fix config passed to Web Stories block
  .phpstorm.meta.php
  includes/Embed_Base.php
  includes/Plugin.php
Labels: Group: WordPress, PHP, Pod: WP & Infra, Type: Bug, cla: yes

#8088 PPCv2.0 Help Center + Checklist Toggles
  assets/src/design-system/icons/checkbox.svg
  assets/src/design-system/icons/checklist.svg
  assets/src/design-system/icons/index.js
  assets/src/edit-story/components/checklist/toggle/index.js
  assets/src/edit-story/components/helpCenter/karma/helpCenter.karma.js
  assets/src/edit-story/components/helpCenter/toggle/index.js
  assets/src/edit-story/components/toggleButton/index.js
  assets/src/edit-story/components/toggleButton/stories/index.js
Labels: Group: FTUE, Group: Pre-Publish Checklist, Pod: Pea, Type: Enhancement, cla: yes

#8083 Stories block: Fix story selector screen styling issue
  assets/src/web-stories-block/block/block-types/selected-stories/selectStories.js
  assets/src/web-stories-block/block/components/storiesInspectorControls.js
  packages/e2e-tests/src/specs/wordpress/webStoriesBlock.js
Labels: Group: Blocks, Group: WordPress, P2, Pod: WP & Infra, Type: Bug, cla: yes

#8112 PPCv2.0 - Only allow 1 popup at a time
  assets/src/edit-story/components/carousel/carouselContainer.js
  assets/src/edit-story/components/carousel/karma/popups.karma.js
  assets/src/edit-story/components/carousel/secondaryMenu.js
  assets/src/edit-story/components/checklist/context/context.js
  assets/src/edit-story/components/checklist/context/index.js
  assets/src/edit-story/components/checklist/context/provider.js
  assets/src/edit-story/components/checklist/context/test/index.js
  assets/src/edit-story/components/checklist/context/useChecklist.js
  assets/src/edit-story/components/checklist/index.js
  assets/src/edit-story/karma/fixture/containers/carousel.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Enhancement, cla: yes

#7984 Enable Media library video optimization by default
  assets/src/edit-story/components/library/panes/media/local/mediaPane.js
  includes/Experiments.php
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/toggleVideoOptimization.js
  packages/e2e-tests/src/specs/editor/editor.js
  packages/e2e-tests/src/specs/editor/media/insertMovVideo.js
Labels: Group: Media, Group: Video Optimization, P2, Pod: WP & Infra, Type: Enhancement, Type: Infrastructure, cla: yes

#8123 Cherry-pick changes for 1.8.1 release
  assets/src/animation/utils/getInitialStyleFromKeyframes.js
  assets/src/animation/utils/test/getInitialStyleFromKeyframes.js
  packages/stickers/src/baking-bread-guide/breadBun.js
  packages/stickers/src/baking-bread-guide/dough.js
  packages/stickers/src/baking-bread-guide/flourBag.js
  packages/stickers/src/baking-bread-guide/flourBowl.js
  packages/stickers/src/baking-bread-guide/index.js
  packages/stickers/src/baking-bread-guide/jar.js
  packages/stickers/src/baking-bread-guide/thermometer.js
  packages/stickers/src/baking-bread-guide/yeastPackage.js
  packages/stickers/src/index.js
  packages/stickers/src/kitchen-stories/castIron.js
  packages/stickers/src/kitchen-stories/hotDish.js
  packages/stickers/src/kitchen-stories/index.js
  packages/stickers/src/kitchen-stories/oven.js
  packages/stickers/src/kitchen-stories/potatoes.js
  packages/stickers/src/sangria-artichoke/curvedArrow.js
  packages/stickers/src/sangria-artichoke/index.js
  packages/stickers/src/sangria-artichoke/openPill.js
  packages/stickers/src/sangria-artichoke/pillBox.js
  packages/stickers/src/sangria-artichoke/pills.js
  packages/stickers/src/sangria-artichoke/scribbledArrow.js
  packages/stickers/src/sangria-artichoke/scribbledUnderline.js
  packages/stickers/src/sangria-artichoke/scribbledUnderline2.js
  packages/stickers/src/sangria-artichoke/scribbledUnderlineWhite.js
  packages/templates/src/getTemplates.js
  packages/templates/src/raw/album-releases/index.js
  packages/templates/src/raw/album-releases/template.json
  packages/templates/src/raw/baking-bread-guide/index.js
  packages/templates/src/raw/baking-bread-guide/template.json
  packages/templates/src/raw/kitchen-stories/index.js
  packages/templates/src/raw/kitchen-stories/template.json
  packages/templates/src/raw/sangria-artichoke/index.js
  packages/templates/src/raw/sangria-artichoke/template.json
  packages/templates/src/raw/ways-to-eat-avocado/index.js
  packages/templates/src/raw/ways-to-eat-avocado/template.json
  packages/templates/src/test/raw.js
  readme.txt
Labels: Type: Release, cla: yes
