Repository GoogleForCreators/web-stories-wp, pull requests merged in 2021-02, with the labels that each got.

#6010 Separate global and local color presets
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/app/story/actions/test/useAutoSave.js
  assets/src/edit-story/app/story/effects/useLoadStory.js
  assets/src/edit-story/app/story/utils/getStoryPropsToSave.js
  assets/src/edit-story/app/story/utils/test/getStoryPropsToSave.js
  assets/src/edit-story/components/devTools/devTools.js
  assets/src/edit-story/components/library/panes/text/textSets/raw/contact.json
  assets/src/edit-story/components/library/panes/text/textSets/raw/cover.json
  assets/src/edit-story/components/library/panes/text/textSets/raw/editorial.json
  assets/src/edit-story/components/library/panes/text/textSets/raw/list.json
  assets/src/edit-story/components/library/panes/text/textSets/raw/quote.json
  assets/src/edit-story/components/library/panes/text/textSets/raw/section_header.json
  assets/src/edit-story/components/library/panes/text/textSets/raw/step.json
  assets/src/edit-story/components/library/panes/text/textSets/raw/table.json
  assets/src/edit-story/components/panels/design/preset/colorPreset/colorAdd.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/colorPreset.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/colorPresetActions.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/colorPresetPanel.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/emptyPanel.js
  assets/src/edit-story/components/panels/design/preset/header.js
  assets/src/edit-story/components/panels/design/preset/karma/colorPresets.karma.js
  assets/src/edit-story/components/panels/design/preset/presetGroup.js
  assets/src/edit-story/components/panels/design/preset/presetPanel.js
  assets/src/edit-story/components/panels/design/preset/presets.js
  assets/src/edit-story/components/panels/design/preset/test/colorPresetActions.js
  assets/src/edit-story/components/panels/design/preset/test/colorPresetPanel.js
  assets/src/edit-story/components/panels/design/preset/test/presetGroup.js
  assets/src/edit-story/components/panels/design/preset/test/presets.js
  assets/src/edit-story/components/panels/design/preset/test/stylePresetPanel.js
  assets/src/edit-story/components/panels/design/preset/test/utils.js
  assets/src/edit-story/components/panels/design/preset/useAddPreset.js
  assets/src/edit-story/components/panels/design/preset/useApplyPreset.js
  assets/src/edit-story/components/panels/design/preset/useDeletePreset.js
  assets/src/edit-story/components/panels/design/preset/utils.js
  assets/src/edit-story/components/statusCheck/utils.js
  assets/src/edit-story/karma/fixture/containers/designPanel/colorPreset.js
  assets/src/edit-story/karma/fixture/fixture.js
  assets/src/edit-story/types.js
Labels: Group: Design Panel, Group: Saved Colors, Pod: Prometheus, Type: Enhancement, cla: yes

#6002 Editor: Retain Animations on Element receiving new image
  assets/src/edit-story/app/canvas/useAddPastedElements.js
  assets/src/edit-story/app/story/useStoryReducer/actions.js
  assets/src/edit-story/app/story/useStoryReducer/reducers/combineElements.js
  assets/src/edit-story/app/story/useStoryReducer/test/combineElements.js
  assets/src/edit-story/components/canvas/displayElement.js
  assets/src/edit-story/components/canvas/karma/backgroundCopyPaste.karma.js
  assets/src/edit-story/elements/shared/useColorTransformHandler.js
Labels: Group: Animations, Pod: Pea, Type: Enhancement, cla: yes

#5945 Page Layouts: Add Karma Tests
  assets/src/dashboard/dataUtils/formattedTemplatesArray.js
  assets/src/edit-story/components/library/panes/pageLayouts/karma/pageLayoutsPane.karma.js
  assets/src/edit-story/karma/fixture/containers/library/index.js
  assets/src/edit-story/karma/fixture/containers/library/pageLayouts.js
  assets/src/edit-story/karma/fixture/fixture.js
Labels: Group: Page Layouts, Skip Changelog, cla: yes

#6037 Previews: Use WordPress-generated preview links
  assets/src/dashboard/app/api/test/apiProvider.js
  assets/src/dashboard/app/serializers/stories.js
  assets/src/dashboard/components/popoverMenu/story-menu-generator.js
  assets/src/edit-story/app/story/actions/useSaveStory.js
  assets/src/edit-story/app/story/effects/useLoadStory.js
  assets/src/edit-story/components/header/buttons/preview.js
  assets/src/edit-story/components/header/test/buttons.js
  includes/REST_API/Stories_Controller.php
  includes/Story_Post_Type.php
  tests/phpunit/tests/REST_API/Stories_Controller.php
Labels: Group: WordPress, Pod: WP & Infra, Type: Enhancement, cla: yes

#6057 Pre-Publish Checklist: Bring back warning for Update button
  assets/src/edit-story/components/header/buttons/buttonWithChecklistWarning.js
  assets/src/edit-story/components/header/buttons/publish.js
  assets/src/edit-story/components/header/buttons/update.js
Labels: Group: Pre-Publish Panel, Group: Workspace, Type: Bug, cla: yes

#6111 Page Layouts: Developer Documentation
  docs/README.md
  docs/external-template-creation.md
  docs/page-layouts.md
Labels: Type: Documentation, cla: yes

#6096 Video Optimization: Settings Field
  assets/src/dashboard/app/api/useUserApi.js
  assets/src/dashboard/app/views/editorSettings/index.js
  assets/src/dashboard/app/views/editorSettings/mediaOptimization/index.js
  assets/src/dashboard/app/views/editorSettings/mediaOptimization/stories/index.js
  assets/src/dashboard/app/views/editorSettings/mediaOptimization/test/mediaOptimizationSettings.js
  assets/src/dashboard/app/views/editorSettings/test/editorSettings.js
  assets/src/dashboard/app/views/shared/useMediaOptimization.js
  assets/src/dashboard/testUtils/mockApiProvider.js
  includes/Experiments.php
Labels: Group: Integration, Group: Video Optimization, P2, Pod: WP & Infra, Type: Enhancement, cla: yes

#6058 Design System: Add input component
  assets/src/design-system/components/index.js
  assets/src/design-system/components/input/index.js
  assets/src/design-system/components/input/stories/index.js
  assets/src/design-system/components/input/test/input.js
  assets/src/design-system/components/typography/index.js
  assets/src/design-system/components/typography/link/index.js
  assets/src/design-system/components/typography/link/stories/index.js
  assets/src/design-system/components/typography/text/index.js
  assets/src/design-system/components/typography/text/stories/index.js
Labels: Group: Design System, Pod: Pea, Type: Enhancement, cla: yes

#6162 Tests: Prevent flakiness and browser crashes in Karma tests
  assets/src/edit-story/components/library/panes/media/media3p/karma/mediaFetching.karma.js
  assets/src/edit-story/components/library/panes/text/karma/textSets.cuj.karma.js
  assets/src/edit-story/elements/image/karma/edit.karma.js
  assets/src/edit-story/karma/copyAndPaste.cuj.karma.js
  karma-edit-story.config.cjs
  karma/karma-puppeteer-launcher/index.cjs
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#6132 Video Optimization: Respect user setting
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/app/currentUser/context.js
  assets/src/edit-story/app/currentUser/currentUserProvider.js
  assets/src/edit-story/app/currentUser/index.js
  assets/src/edit-story/app/currentUser/useCurrentUser.js
  assets/src/edit-story/app/index.js
  assets/src/edit-story/app/media/utils/useTranscodeVideo.js
  assets/src/edit-story/editorApp.js
  assets/src/edit-story/karma/fixture/fixture.js
  includes/Story_Post_Type.php
  includes/templates/admin/edit-story.php
Labels: Group: Media, Group: Video Optimization, P2, Pod: WP & Infra, Type: Enhancement, cla: yes

#6080 FTUE: Animated Navigator
  assets/src/animation/constants.js
  assets/src/edit-story/components/helpCenter/navigator/bottomNavigation.js
  assets/src/edit-story/components/helpCenter/navigator/components.js
  assets/src/edit-story/components/helpCenter/navigator/constants.js
  assets/src/edit-story/components/helpCenter/navigator/index.js
  assets/src/edit-story/components/helpCenter/navigator/stories/index.js
  assets/src/edit-story/components/helpCenter/navigator/topNavigation.js
  assets/src/edit-story/components/helpCenter/navigator/utils.js
  package-lock.json
Labels: cla: yes

#6110 Design System: Update focus styling
  assets/src/design-system/components/checkbox/index.js
  assets/src/design-system/components/checkbox/stories/index.js
  assets/src/design-system/components/snackbar/snackbarMessage.js
  assets/src/design-system/theme/helpers/index.js
  assets/src/design-system/theme/helpers/outline.js
Labels: Group: Design System, Pod: Pea, Type: Enhancement, cla: yes

#6095 Dashboard: Add resiliency around malformed stories data
  assets/src/dashboard/app/api/useStoryApi.js
  assets/src/dashboard/app/textContent/index.js
Labels: Group: Dashboard, Type: Enhancement, cla: yes

#6082 FTUE: Main Menu
  assets/src/design-system/components/typography/link/index.js
  assets/src/edit-story/components/helpCenter/constants.js
  assets/src/edit-story/components/helpCenter/menu/footer.js
  assets/src/edit-story/components/helpCenter/menu/header.js
  assets/src/edit-story/components/helpCenter/menu/index.js
  assets/src/edit-story/components/helpCenter/menu/stories/index.js
  assets/src/edit-story/components/helpCenter/menu/tips.js
  assets/src/edit-story/components/helpCenter/menu/transitioner.js
  assets/src/edit-story/components/helpCenter/toggle/stories/index.js
  assets/src/edit-story/utils/noop.js
Labels: cla: yes

#6165 Fix media double-click handler
  assets/src/edit-story/components/canvas/frameElement.js
  assets/src/edit-story/elements/image/karma/edit.karma.js
  assets/src/edit-story/elements/media/frame.js
Labels: Group: Editing, Group: Media, Pod: Prometheus, Type: Bug, cla: yes

#6073 Design Panel: Add global/local colors to Color Picker
  assets/src/edit-story/components/colorPicker/colorPicker.js
  assets/src/edit-story/components/form/advancedDropDown/container.js
  assets/src/edit-story/components/form/advancedDropDown/dropDown.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/color.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/colorAdd.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/colorGroup.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/colorPreset.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/colorPresetActions.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/colorPresetPanel.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/useApplyColor.js
  assets/src/edit-story/components/panels/design/preset/header.js
  assets/src/edit-story/components/panels/design/preset/karma/colorPickerActions.karma.js
  assets/src/edit-story/components/panels/design/preset/presetGroup.js
  assets/src/edit-story/components/panels/design/preset/presetPanel.js
  assets/src/edit-story/components/panels/design/preset/presets.js
  assets/src/edit-story/components/panels/design/preset/stylePreset/styleGroup.js
  assets/src/edit-story/components/panels/design/preset/stylePreset/styleItem.js
  assets/src/edit-story/components/panels/design/preset/stylePreset/stylePreset.js
  assets/src/edit-story/components/panels/design/preset/stylePreset/useApplyStyle.js
  assets/src/edit-story/components/panels/design/preset/test/colorPresetActions.js
  assets/src/edit-story/components/panels/design/preset/test/colorPresetPanel.js
  assets/src/edit-story/components/panels/design/preset/test/presetGroup.js
  assets/src/edit-story/components/panels/design/preset/test/presets.js
  assets/src/edit-story/components/panels/design/preset/test/stylePresetPanel.js
  assets/src/edit-story/components/panels/design/preset/useKeyboardNavigation.js
  assets/src/edit-story/components/panels/design/textStyle/color.js
  assets/src/edit-story/components/panels/shared/getColorPickerActions.js
  assets/src/edit-story/icons/curve.svg
  assets/src/edit-story/icons/index.js
  assets/src/edit-story/karma/fixture/containers/common/color.js
  assets/src/edit-story/karma/fixture/containers/designPanel/colorPreset.js
  assets/src/edit-story/karma/fixture/containers/designPanel/textStylePreset.js
Labels: Group: Patterns, Group: Saved Colors, Pod: Prometheus, Type: Enhancement, cla: yes

#6161 Unify the views of page, thumbnails, preview for poster image.
  assets/src/edit-story/components/form/media.js
  assets/src/edit-story/components/panels/design/poster/videoPoster.js
  assets/src/edit-story/elements/video/display.js
Labels: Elements: Video, Group: Media, Pod: Prometheus, Type: Bug, cla: yes

#6129 Prevent click event propagation from resize handle
  assets/src/edit-story/components/panels/design/layer/karma/layer.karma.js
  assets/src/edit-story/components/panels/panel/shared/handle.js
  assets/src/edit-story/karma/fixture/containers/designPanel/index.js
  assets/src/edit-story/karma/fixture/containers/designPanel/layers.js
Labels: Group: Design Panel, Pod: Prometheus, Type: Bug, cla: yes

#6077 KSES: Prevent markup removal when editing stories via "All Stories" page
  includes/Demo_Content.php
  includes/KSES.php
  includes/Plugin.php
  includes/REST_API/Stories_Autosaves_Controller.php
  includes/REST_API/Stories_Base_Controller.php
  tests/e2e/config/bootstrap.js
  tests/e2e/specs/wordpress/quickEdit.js
  tests/phpunit/includes/Kses_Setup.php
  tests/phpunit/tests/REST_API/Stories_Autosaves_Controller.php
  tests/phpunit/tests/REST_API/Stories_Controller.php
Labels: Group: WordPress, Pod: WP & Infra, Type: Bug, cla: yes

#6159 Templates: Use different URL placeholder
  assets/src/dashboard/dataUtils/completeTemplateObject.js
  assets/src/dashboard/dataUtils/formattedStoriesArray.js
  assets/src/dashboard/karma/fixture.js
  assets/src/dashboard/templates/getTemplates.js
  assets/src/dashboard/templates/raw/beauty.json
  assets/src/dashboard/templates/raw/cooking.json
  assets/src/dashboard/templates/raw/diy.json
  assets/src/dashboard/templates/raw/entertainment.json
  assets/src/dashboard/templates/raw/fashion.json
  assets/src/dashboard/templates/raw/fitness.json
  assets/src/dashboard/templates/raw/travel.json
  assets/src/dashboard/templates/raw/wellbeing.json
  assets/src/dashboard/templates/test/raw.js
Labels: Group: Templates, Group: WordPress, Pod: WP & Infra, Type: Code Quality, cla: yes

#6067 Design System: Add toggle component
  assets/src/design-system/components/snackbar/snackbarContainer.js
  assets/src/design-system/components/toggle/index.js
  assets/src/design-system/components/toggle/stories/index.js
  assets/src/design-system/components/toggle/test/toggle.js
  assets/src/design-system/icons/action/checkmark.svg
  assets/src/design-system/theme/constants/index.js
  assets/src/edit-story/components/inspector/prepublish/checklistTab.js
Labels: Group: Design System, Pod: Pea, Type: Enhancement, cla: yes

#6193 Packages: Move `date` to new structure
  assets/src/dashboard/app/api/test/useTemplateApi.js
  assets/src/dashboard/app/api/useTemplateApi.js
  assets/src/dashboard/app/views/myStories/karma/myStories.karma.js
  assets/src/dashboard/app/views/shared/savedTemplateGridView.js
  assets/src/dashboard/app/views/shared/storyGridView.js
  assets/src/dashboard/app/views/shared/storyListView.js
  assets/src/dashboard/components/cardGrid/stories/index.js
  assets/src/dashboard/dataUtils/formattedStoriesArray.js
  assets/src/dashboard/dataUtils/formattedTemplatesArray.js
  assets/src/dashboard/index.js
  assets/src/dashboard/karma/apiProviderFixture.js
  assets/src/edit-story/components/header/buttons/publish.js
  assets/src/edit-story/components/library/panes/media/local/mediaEditDialog.js
  assets/src/edit-story/components/panels/document/publish/publishTime.js
  assets/src/edit-story/index.js
  package-lock.json
  package.json
  packages/date/README.md
  packages/date/package.json
  packages/date/src/convertFormatString.js
  packages/date/src/format.js
  packages/date/src/formatDate.js
  packages/date/src/formatDistance.js
  packages/date/src/formatTime.js
  packages/date/src/getOptions.js
  packages/date/src/getRelativeDisplayDate.js
  packages/date/src/getTimeZoneString.js
  packages/date/src/index.js
  packages/date/src/is12Hour.js
  packages/date/src/settings.js
  packages/date/src/test/convertFormatString.js
  packages/date/src/test/format.js
  packages/date/src/test/formatDate.js
  packages/date/src/test/formatTime.js
  packages/date/src/test/getRelativeDisplayDate.js
  packages/date/src/test/is12Hour.js
  packages/date/src/test/toUTCDate.js
  packages/date/src/toUTCDate.js
Labels: Group: Dates, P2, Pod: WP & Infra, Type: Infrastructure, cla: yes

#6167 FTUE: Add and display help center videos
  assets/src/edit-story/components/helpCenter/constants.js
  assets/src/edit-story/components/helpCenter/quickTip/index.js
Labels: Group: FTUE, Pod: Pea, cla: yes

#6189 Media: Skip video optimization for videos that are too large
  assets/src/edit-story/app/media/utils/test/useTranscodeVideo.js
  assets/src/edit-story/app/media/utils/useTranscodeVideo.js
  assets/src/edit-story/app/uploader/test/useUploader.js
  assets/src/edit-story/app/uploader/useUploader.js
  assets/src/edit-story/constants/index.js
  assets/src/edit-story/constants/media.js
Labels: Group: Video Optimization, Pod: WP & Infra, Type: Enhancement, cla: yes

#6069 Page Layouts: Improve RTL compatibility
  assets/src/edit-story/components/previewPage/previewPage.js
Labels: Group: Page Layouts, Group: Templates, Internationalization (I18N), Type: Bug, cla: yes

#6084 Dashboard: Replace old banner with banner from design system
  assets/images/dashboard/analytics-banner-bg.png
  assets/src/dashboard/app/views/shared/bodyViewOptions.js
  assets/src/dashboard/app/views/shared/pageHeading.js
  assets/src/dashboard/app/views/shared/telemetryBanner.js
  assets/src/design-system/components/banner/index.js
  assets/src/design-system/components/checkbox/index.js
  assets/src/design-system/components/checkbox/test/checkbox.js
  assets/src/design-system/components/index.js
  assets/src/design-system/components/typography/styles.js
  assets/src/edit-story/elements/video/display.js
Labels: Group: Dashboard, Pod: Pea, Type: Enhancement, cla: yes

#6198 Fixed carousel flicker bug
  assets/src/edit-story/components/carousel/carouselContainer.js
Labels: Pod: Prometheus, Type: Bug, cla: yes

#6219 Remove debug noise in unit tests
  packages/jest-amp/src/utils.js
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#6222 Design System: Storybook import update
  assets/src/design-system/components/banner/stories/index.js
  assets/src/design-system/components/checkbox/stories/index.js
  assets/src/design-system/components/dialog/index.js
  assets/src/design-system/components/dialog/stories/index.js
  assets/src/design-system/components/input/index.js
Labels: cla: yes

#6217 Add Karma for Media & Shape being dragged outside of page
  assets/src/edit-story/components/library/karma/mediaTab.karma.js
  assets/src/edit-story/components/library/karma/shapes/shapes.karma.js
Labels: Group: Library, Pod: Prometheus, Skip Changelog, Type: Enhancement, cla: yes

#6195 Documentation: Document team onboarding tasks
  docs/README.md
  docs/onboarding.md
Labels: Pod: WP & Infra, Type: Documentation, cla: yes

#6267 ESLint: Force usage of new i18n package
  .eslintrc
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#6270 Packages: Move `text-sets` to new structure
  assets/src/edit-story/components/library/libraryProvider.js
  package-lock.json
  package.json
  packages/text-sets/README.md
  packages/text-sets/package.json
  packages/text-sets/src/index.js
  packages/text-sets/src/loadTextSets.js
  packages/text-sets/src/raw/contact.json
  packages/text-sets/src/raw/cover.json
  packages/text-sets/src/raw/editorial.json
  packages/text-sets/src/raw/list.json
  packages/text-sets/src/raw/quote.json
  packages/text-sets/src/raw/section_header.json
  packages/text-sets/src/raw/step.json
  packages/text-sets/src/raw/table.json
  packages/text-sets/src/test/raw.js
Labels: Group: Text Sets, P2, Package: Text Sets, Pod: WP & Infra, Type: Infrastructure, cla: yes

#6074 Media: Improve list of supported file types for image pickers
  assets/src/dashboard/app/views/editorSettings/index.js
  assets/src/dashboard/app/views/editorSettings/publisherLogo/index.js
  assets/src/dashboard/app/views/editorSettings/test/editorSettings.js
  assets/src/dashboard/karma/fixture.js
  assets/src/dashboard/testUtils/renderWithProviders.js
  assets/src/edit-story/components/mediaPicker/useMediaPicker.js
  assets/src/edit-story/components/panels/design/poster/videoPoster.js
  assets/src/edit-story/components/panels/document/publish/publish.js
  includes/Dashboard.php
  includes/Story_Post_Type.php
  includes/Traits/Types.php
  tests/e2e/specs/editor/media/svg.js
Labels: Group: Media, Pod: WP & Infra, Type: Enhancement, cla: yes

#6279 Frontend: Fix AMP Bookend errors
  includes/Story_Renderer/HTML.php
  tests/e2e/config/bootstrap.js
  tests/phpunit/tests/Story_Renderer/HTML.php
Labels: AMP Output, P2, Pod: WP & Infra, Type: Bug, Type: Infrastructure, cla: yes

#6196 Track Quick Tips Users Have Read
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/app/currentUser/currentUserProvider.js
  assets/src/edit-story/components/helpCenter/companion/index.js
  assets/src/edit-story/components/helpCenter/constants.js
  assets/src/edit-story/components/helpCenter/index.js
  assets/src/edit-story/components/helpCenter/menu/index.js
  assets/src/edit-story/components/helpCenter/menu/tips.js
  assets/src/edit-story/components/helpCenter/quickTip/index.js
  assets/src/edit-story/components/helpCenter/test/useHelpCenter.js
  assets/src/edit-story/components/helpCenter/useHelpCenter.js
  assets/src/edit-story/karma/fixture/fixture.js
Labels: Group: FTUE, Pod: Pea, cla: yes

#6284 Bug: Fix Proptypes warning on DS button
  assets/src/design-system/components/button/index.js
Labels: Group: Design System, Type: Code Quality, cla: yes

#6275 Packages: Move `e2e-test-utils` to new structure
  .eslintrc
  package-lock.json
  package.json
  packages/e2e-test-utils/README.md
  packages/e2e-test-utils/package.json
  packages/e2e-test-utils/src/activateRTL.js
  packages/e2e-test-utils/src/addRequestInterception.js
  packages/e2e-test-utils/src/addTextElement.js
  packages/e2e-test-utils/src/clickButton.js
  packages/e2e-test-utils/src/createNewStory.js
  packages/e2e-test-utils/src/deactivateRTL.js
  packages/e2e-test-utils/src/deleteMedia.js
  packages/e2e-test-utils/src/experimentalFeatures.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/insertBlock.js
  packages/e2e-test-utils/src/insertStoryTitle.js
  packages/e2e-test-utils/src/previewStory.js
  packages/e2e-test-utils/src/publishPost.js
  packages/e2e-test-utils/src/setAnalyticsCode.js
  packages/e2e-test-utils/src/toolbarProfileOption.js
  packages/e2e-test-utils/src/uploadFile.js
  packages/e2e-test-utils/src/uploadMedia.js
  packages/e2e-test-utils/src/visitDashboard.js
  tests/e2e/specs/dashboard/adminMenu.js
  tests/e2e/specs/dashboard/dashboard.js
  tests/e2e/specs/dashboard/documentTitle.js
  tests/e2e/specs/dashboard/integrations/sitekit.js
  tests/e2e/specs/dashboard/noJS.js
  tests/e2e/specs/dashboard/templates/useTemplate.js
  tests/e2e/specs/editor/authorUser.js
  tests/e2e/specs/editor/editor.js
  tests/e2e/specs/editor/integrations/sitekit.js
  tests/e2e/specs/editor/media/insertMediaFromDialog.js
  tests/e2e/specs/editor/media/insertMediaFromLibrary.js
  tests/e2e/specs/editor/media/insertMovVideo.js
  tests/e2e/specs/editor/media/insertWebMVideo.js
  tests/e2e/specs/editor/media/svg.js
  tests/e2e/specs/editor/metaBoxes.js
  tests/e2e/specs/editor/noJS.js
  tests/e2e/specs/editor/prepublishChecklist.js
  tests/e2e/specs/editor/publishingFlow.js
  tests/e2e/specs/editor/statusCheck.js
  tests/e2e/specs/integrations/amp.js
  tests/e2e/specs/wordpress/embedBlock.js
  tests/e2e/specs/wordpress/pluginActivation.js
  tests/e2e/specs/wordpress/quickEdit.js
Labels: P2, Package: E2E Test Utils, Pod: WP & Infra, Type: Infrastructure, cla: yes

#6278 Packages: Move `activation-notice` to new structure
  .eslintrc
  .storybook/main.cjs
  package-lock.json
  package.json
  packages/activation-notice/README.md
  packages/activation-notice/package.json
  packages/activation-notice/src/app/components/dismiss.js
  packages/activation-notice/src/app/components/image.js
  packages/activation-notice/src/app/components/link.js
  packages/activation-notice/src/app/components/messageContent.js
  packages/activation-notice/src/app/components/number.js
  packages/activation-notice/src/app/components/paragraph.js
  packages/activation-notice/src/app/components/step1.js
  packages/activation-notice/src/app/components/step2.js
  packages/activation-notice/src/app/components/step3.js
  packages/activation-notice/src/app/components/successMessage.js
  packages/activation-notice/src/app/components/test/dismiss.js
  packages/activation-notice/src/app/components/test/step1.js
  packages/activation-notice/src/app/components/test/step2.js
  packages/activation-notice/src/app/components/test/step3.js
  packages/activation-notice/src/app/components/test/successMessage.js
  packages/activation-notice/src/app/config/configProvider.js
  packages/activation-notice/src/app/config/context.js
  packages/activation-notice/src/app/config/index.js
  packages/activation-notice/src/app/config/useConfig.js
  packages/activation-notice/src/app/index.js
  packages/activation-notice/src/index.js
  packages/activation-notice/src/stories/index.js
  packages/activation-notice/src/testUtils/index.js
  packages/activation-notice/src/testUtils/renderWithTheme.js
  packages/activation-notice/src/theme.js
  webpack.config.cjs
Labels: Group: WordPress, P2, Package: Activation Notice, Pod: WP & Infra, Type: Infrastructure, cla: yes

#6252 Packages: Move `templates` to new structure
  assets/src/dashboard/app/api/useTemplateApi.js
  assets/src/dashboard/utils/index.js
  assets/src/edit-story/app/api/getAllPageLayouts.js
  assets/src/edit-story/app/api/test/getAllPageLayouts.js
  docs/external-template-creation.md
  docs/page-layouts.md
  package-lock.json
  package.json
  packages/templates/README.md
  packages/templates/package.json
  packages/templates/src/getTemplates.js
  packages/templates/src/index.js
  packages/templates/src/raw/beauty.json
  packages/templates/src/raw/cooking.json
  packages/templates/src/raw/diy.json
  packages/templates/src/raw/entertainment.json
  packages/templates/src/raw/fashion.json
  packages/templates/src/raw/fitness.json
  packages/templates/src/raw/travel.json
  packages/templates/src/raw/wellbeing.json
  packages/templates/src/test/raw.js
  packages/templates/src/utils/memoize.js
  packages/templates/src/utils/test/memoize.js
Labels: Group: Templates, P2, Package: Templates, Pod: WP & Infra, cla: yes

#6178 Dashboard: Implement redesign of the settings page
  assets/src/dashboard/app/views/editorSettings/adNetwork/index.js
  assets/src/dashboard/app/views/editorSettings/components.js
  assets/src/dashboard/app/views/editorSettings/googleAdManager/index.js
  assets/src/dashboard/app/views/editorSettings/googleAdSense/index.js
  assets/src/dashboard/app/views/editorSettings/googleAnalytics/index.js
  assets/src/dashboard/app/views/editorSettings/mediaOptimization/index.js
  assets/src/dashboard/app/views/editorSettings/publisherLogo/index.js
  assets/src/dashboard/app/views/editorSettings/telemetry/index.js
  assets/src/dashboard/app/views/shared/pageHeading.js
  assets/src/dashboard/components/contentGutter/index.js
  assets/src/dashboard/components/fileUpload/index.js
  assets/src/design-system/components/input/index.js
Labels: Group: Dashboard, Pod: Pea, Type: Enhancement, cla: yes

#6302 FTUE: Update YouTube link
  assets/src/edit-story/components/helpCenter/index.js
  assets/src/edit-story/components/helpCenter/menu/footer.js
  assets/src/edit-story/components/helpCenter/toggle/index.js
Labels: cla: yes

#6283 Help Center: Fix arrow direction on RTL
  assets/src/edit-story/components/helpCenter/menu/tips.js
  assets/src/edit-story/components/helpCenter/navigator/bottomNavigation.js
  package-lock.json
Labels: Bug Bash: 1.4.0, Group: FTUE, Pod: Pea, Type: Bug, cla: yes

#6286 FTUE: Fix Nav button padding
  assets/src/edit-story/components/helpCenter/navigator/bottomNavigation.js
  assets/src/edit-story/components/helpCenter/navigator/components.js
Labels: Bug Bash: 1.4.0, Group: FTUE, Pod: Pea, Type: Enhancement, cla: yes

#6289 FTUE: Always open on main menu
  assets/src/edit-story/components/helpCenter/useHelpCenter/effects.js
  assets/src/edit-story/components/helpCenter/useHelpCenter/index.js
  assets/src/edit-story/components/helpCenter/useHelpCenter/test/useHelpCenter.js
  package-lock.json
Labels: cla: yes

#6303 Design System: Remove out of date border styling
  assets/src/design-system/theme/helpers/outline.js
Labels: Package: Design System, Pod: Pea, Type: Enhancement, cla: yes

#6287 Documentation: Design System
  docs/design-system.md
Labels: Group: Design System, Pod: Pea, Type: Documentation, cla: yes

#6297 E2E Tests: Improve flakey Publishing Flow test
  tests/e2e/specs/editor/publishingFlow.js
Labels: P2, Package: E2E Tests, Pod: WP & Infra, Type: Infrastructure, cla: yes

#6319 Misc. Sizing Clean Up for Updated Icons
  assets/src/design-system/components/checkbox/index.js
  assets/src/design-system/components/toggle/index.js
  assets/src/edit-story/components/header/buttons/styles.js
  assets/src/edit-story/components/helpCenter/toggle/index.js
Labels: cla: yes

#6318 Media: Extract common utility function
  assets/src/edit-story/app/media/utils/getFileName.js
  assets/src/edit-story/app/media/utils/getResourceFromLocalFile.js
  assets/src/edit-story/app/media/utils/useTranscodeVideo.js
Labels: Group: Media, Type: Code Quality, cla: yes

#6305 Packages: Move `e2e-tests` to new structure
  .eslintrc
  bin/local-env/docker-compose.yml
  docs/e2e-tests.md
  package-lock.json
  package.json
  packages/e2e-test-utils/src/uploadFile.js
  packages/e2e-tests/README.md
  packages/e2e-tests/package.json
  packages/e2e-tests/src/assets/README.md
  packages/e2e-tests/src/assets/arrow.svg
  packages/e2e-tests/src/assets/close.svg
  packages/e2e-tests/src/assets/example-1.jpg
  packages/e2e-tests/src/assets/example-2.jpg
  packages/e2e-tests/src/assets/example-3.png
  packages/e2e-tests/src/assets/small-video-poster.jpg
  packages/e2e-tests/src/assets/small-video.mov
  packages/e2e-tests/src/assets/small-video.webm
  packages/e2e-tests/src/assets/video-play.svg
  packages/e2e-tests/src/config/bootstrap.js
  packages/e2e-tests/src/jest.config.js
  packages/e2e-tests/src/plugins/site-kit-mock.php
  packages/e2e-tests/src/plugins/web-stories-meta-box.php
  packages/e2e-tests/src/specs/dashboard/adminMenu.js
  packages/e2e-tests/src/specs/dashboard/dashboard.js
  packages/e2e-tests/src/specs/dashboard/documentTitle.js
  packages/e2e-tests/src/specs/dashboard/integrations/sitekit.js
  packages/e2e-tests/src/specs/dashboard/noJS.js
  packages/e2e-tests/src/specs/dashboard/templates/useTemplate.js
  packages/e2e-tests/src/specs/editor/__snapshots__/publishingFlow.js.snap
  packages/e2e-tests/src/specs/editor/authorUser.js
  packages/e2e-tests/src/specs/editor/editor.js
  packages/e2e-tests/src/specs/editor/integrations/sitekit.js
  packages/e2e-tests/src/specs/editor/media/insertMediaFromDialog.js
  packages/e2e-tests/src/specs/editor/media/insertMediaFromLibrary.js
  packages/e2e-tests/src/specs/editor/media/insertMovVideo.js
  packages/e2e-tests/src/specs/editor/media/insertWebMVideo.js
  packages/e2e-tests/src/specs/editor/media/svg.js
  packages/e2e-tests/src/specs/editor/metaBoxes.js
  packages/e2e-tests/src/specs/editor/noJS.js
  packages/e2e-tests/src/specs/editor/prepublishChecklist.js
  packages/e2e-tests/src/specs/editor/publishingFlow.js
  packages/e2e-tests/src/specs/editor/statusCheck.js
  packages/e2e-tests/src/specs/integrations/amp.js
  packages/e2e-tests/src/specs/wordpress/adminMenu.js
  packages/e2e-tests/src/specs/wordpress/embedBlock.js
  packages/e2e-tests/src/specs/wordpress/getStartedStory.js
  packages/e2e-tests/src/specs/wordpress/pluginActivation.js
  packages/e2e-tests/src/specs/wordpress/quickEdit.js
  phpcs.xml.dist
  tests/e2e/assets/README.md
Labels: P2, Package: E2E Test Utils, Package: E2E Tests, Pod: WP & Infra, Type: Infrastructure, cla: yes

#6188 Video Optimization: Telemetry
  assets/src/edit-story/app/media/useUploadMedia/useUploadMedia.js
  assets/src/edit-story/app/media/utils/useTranscodeVideo.js
  assets/src/edit-story/app/uploader/useUploader.js
Labels: Group: Media, Group: Telemetry, Group: Video Optimization, P2, Pod: WP & Infra, Type: Enhancement, cla: yes

#6325 JS Tests: Configure modulePathIgnorePatterns
  tests/js/jest.config.js
Labels: P2, Pod: WP & Infra, Type: Infrastructure, cla: yes

#6328 Documentation: Fix typo in CDN docs
  docs/cdn.md
Labels: Type: Documentation, cla: yes

#6282 Video optimization: use static list of supported types
  assets/src/edit-story/app/media/test/useUploadMedia.js
  assets/src/edit-story/app/media/useUploadMedia.js
  assets/src/edit-story/app/media/useUploadMedia/index.js
  assets/src/edit-story/app/media/utils/test/useTranscodeVideo.js
  assets/src/edit-story/app/media/utils/useTranscodeVideo.js
  assets/src/edit-story/app/uploader/test/useUploader.js
  assets/src/edit-story/constants/media.js
Labels: Group: Video Optimization, Pod: WP & Infra, Type: Enhancement, cla: yes

#6253 Editor: Text Library: Update presets to have default of none for bg mode
  assets/src/edit-story/components/library/panes/text/karma/textPane.karma.js
  assets/src/edit-story/components/library/panes/text/textPresets.js
Labels: Elements: Text, Group: Text Sets, Type: Enhancement, cla: yes

#6324 Tests: Improve Percy Font Loading Flakiness
  assets/src/dashboard/karma/fixture.js
  assets/src/edit-story/elements/media/display.js
  assets/src/edit-story/karma/fixture/fixture.js
  assets/src/karma-fixture/client_with_context.html
  includes/Dashboard.php
  percy.config.yml
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#6333 Updated opacity of secondary divider
  assets/src/design-system/theme/colors.js
Labels: Pod: Prometheus, Type: Task, cla: yes

#6344 Fix: Click cover image button
  assets/src/edit-story/components/panels/document/publish/publish.js
Labels: Bug Bash: 1.4.0, Type: Bug, cla: yes

#6356 Dashboard: Fix preloading stories
  includes/Dashboard.php
Labels: Bug Bash: 1.4.0-B, Group: Dashboard, Type: Bug, Type: Performance, cla: yes

#6292 Pre-Publish Checklist: Fix background contrast check giving false positives
  assets/src/edit-story/app/prepublish/warning/accessibility.js
  assets/src/edit-story/app/prepublish/warning/test/accessibility.js
Labels: Bug Bash: 1.3.0, Group: Pre-Publish Panel, P2, Pod: Pea, Type: Bug, cla: yes

#6353 FTUE: a11y improvements
  assets/src/edit-story/components/helpCenter/navigator/bottomNavigation.js
  assets/src/edit-story/components/helpCenter/navigator/topNavigation.js
  assets/src/edit-story/components/helpCenter/popup.js
Labels: Accessibility, Bug Bash: 1.4.0-B, Group: FTUE, Type: Enhancement, cla: yes

#6334 FTUE: Dynamic tip navigation
  assets/src/edit-story/components/helpCenter/constants.js
  assets/src/edit-story/components/helpCenter/index.js
  assets/src/edit-story/components/helpCenter/useHelpCenter/effects.js
  assets/src/edit-story/components/helpCenter/useHelpCenter/index.js
  assets/src/edit-story/components/helpCenter/useHelpCenter/test/effects.js
  assets/src/edit-story/components/helpCenter/useHelpCenter/test/useHelpCenter.js
Labels: Group: FTUE, Pod: Pea, Type: Enhancement, cla: yes

#6372 FTUE: Update Tip 7 Text
  assets/src/edit-story/components/helpCenter/constants.js
Labels: Bug Bash: 1.4.0-B, Group: FTUE, Pod: Pea, cla: yes

#6384 FTUE: Done graphic as SVG
  assets/src/edit-story/components/helpCenter/quickTip/doneCheckmark.svg
  assets/src/edit-story/components/helpCenter/quickTip/index.js
Labels: Group: FTUE, Pod: Pea, cla: yes

#6376 Updated help toggle design
  assets/src/edit-story/components/helpCenter/toggle/index.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#6371 Help Center: add graphic to done tip and use backup videos
  assets/src/edit-story/components/helpCenter/companion/index.js
  assets/src/edit-story/components/helpCenter/constants.js
  assets/src/edit-story/components/helpCenter/menu/stories/index.js
  assets/src/edit-story/components/helpCenter/navigator/bottomNavigation.js
  assets/src/edit-story/components/helpCenter/quickTip/doneCheckmark.svg
  assets/src/edit-story/components/helpCenter/quickTip/index.js
Labels: Bug Bash: 1.4.0, Group: FTUE, Pod: Pea, Type: Enhancement, cla: yes

#6359 Fixed thumbnail sizes
  assets/src/edit-story/components/carousel/constants.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#6373 Updated every reference from cover to poster where applicable
  assets/src/edit-story/app/highlights/states.js
  assets/src/edit-story/app/prepublish/constants.js
  assets/src/edit-story/app/prepublish/error/index.js
  assets/src/edit-story/app/prepublish/error/metadata.js
  assets/src/edit-story/app/prepublish/error/test/metadata.js
  assets/src/edit-story/app/prepublish/test/__snapshots__/getPrepublishErrors.js.snap
  assets/src/edit-story/components/form/required.js
  assets/src/edit-story/components/inspector/karma/prepublishSelect.karma.js
  assets/src/edit-story/components/inspector/stories/checklistTab.js
  assets/src/edit-story/components/panels/document/publish/publish.js
  assets/src/edit-story/components/panels/document/publish/test/publish.js
Labels: Group: Document Panel, Group: Pre-Publish Panel, Group: Workspace, Pod: Prometheus, Type: Bug, cla: yes

#6352 Dashboard: Bugfix - Fix styling of `Create New Story` button in sidenav
  assets/src/dashboard/components/pageStructure/navigationComponents.js
Labels: Bug Bash: 1.4.0-B, Group: Dashboard, Pod: Pea, Type: Bug, cla: yes

#6362 PHP 8 Compatibility: Include missing file from mbstring polyfill
  scoper.inc.php
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#6388 FTUE: Set quick tips experiment to default
  includes/Experiments.php
Labels: Group: FTUE, Pod: Pea, cla: yes

#6332 Video Optimization: Avoid stretching output file
  assets/src/edit-story/app/media/utils/useTranscodeVideo.js
Labels: Group: Video Optimization, P1, Pod: WP & Infra, Type: Bug, cla: yes

#6294 Pre-Publish Checklist: Include font size in text contrast check
  assets/src/edit-story/app/prepublish/warning/accessibility.js
  assets/src/edit-story/app/prepublish/warning/test/accessibility.js
  assets/src/edit-story/elements/text/output.js
  assets/src/edit-story/units/dimensions.js
  assets/src/edit-story/units/index.js
  assets/src/edit-story/utils/contrastUtils.js
  assets/src/edit-story/utils/test/contrastUtils.js
Labels: Bug Bash: 1.3.0, Group: Pre-Publish Panel, P2, Pod: Pea, Type: Bug, cla: yes

#6343 Release automation
  .github/release-drafter.yml
  .github/workflows/continuous-integration-build.yml
  .github/workflows/plugin-release.yml
  package-lock.json
  package.json
  packages/commander/src/index.js
  packages/commander/src/utils/test/updateVersionNumbers.js
  packages/commander/src/utils/updateVersionNumbers.js
  readme.txt
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#6272 Add workspace icons
  assets/src/design-system/components/button/constants.js
  assets/src/design-system/components/button/index.js
  assets/src/design-system/theme/constants/index.js
  assets/src/edit-story/components/canvas/layout.js
  assets/src/edit-story/components/canvas/pagemenu/animationToggle.js
  assets/src/edit-story/components/canvas/pagemenu/index.js
  assets/src/edit-story/components/canvas/pagemenu/pageMenu.js
  assets/src/edit-story/components/canvas/pagemenu/pageMenuButton.js
  assets/src/edit-story/components/canvas/pagenav/index.js
  assets/src/edit-story/components/carousel/carouselLayout.js
  assets/src/edit-story/components/carousel/carouselMenu.js
  assets/src/edit-story/components/carousel/carouselScroll.js
  assets/src/edit-story/components/carousel/constants.js
  assets/src/edit-story/components/keyboardShortcutsMenu/index.js
  assets/src/edit-story/theme.js
  includes/Experiments.php
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#6239 Redesign Canvas (Moveable) selection
  assets/src/edit-story/components/moveable/moveStyle.js
Labels: Group: Selection, Pod: Prometheus, Type: Enhancement, cla: yes

#6250 Redesign: Page/background element selection
  assets/src/edit-story/components/canvas/displayLayer.js
  assets/src/edit-story/components/canvas/layout.js
  assets/src/edit-story/components/canvas/selection.js
Labels: Group: Canvas, Group: Page, Group: Selection, Pod: Prometheus, Type: Enhancement, cla: yes

#6246 Redesign: Media edit mode resize
  assets/src/edit-story/components/moveable/cropStyle.js
Labels: Group: Media, Pod: Prometheus, Type: Enhancement, cla: yes

#6409 Update `readme.txt` for 1.4.0
  readme.txt
Labels: Type: Documentation, cla: yes

#6355 Design System: Add icon to input component
  assets/src/design-system/components/input/index.js
  assets/src/design-system/components/input/stories/index.js
  assets/src/design-system/components/input/test/input.js
Labels: Group: Design System, Pod: Pea, Type: Enhancement, cla: yes

#6416 Design System: Fix Vertical Tooltip Tails
  assets/src/design-system/components/tooltip/index.js
  assets/src/design-system/components/tooltip/tail.js
Labels: Group: Design System, Pod: Pea, cla: yes

#5344 Composer 2 + AMP Plugin 2.1 / AMP PHP Toolbox
  .github/workflows/continuous-integration-build.yml
  .github/workflows/continuous-integration-e2e.yml
  .github/workflows/continuous-integration-lint-php.yml
  .github/workflows/continuous-integration-unit-php.yml
  bin/local-env/install-composer.sh
  composer.json
  composer.lock
  docs/getting-started.md
  includes/AMP/Sanitization.php
  includes/Story_Renderer/HTML.php
  scoper.inc.php
  tests/phpunit/tests/AMP/Optimization.php
  web-stories.php
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#6361 Fix SVGO config
  .distignore
  .storybook/main.cjs
  .svgo.yml
  assets/src/edit-story/components/form/radioGroup/index.js
  assets/src/edit-story/icons/overlay_solid.svg
  assets/src/edit-story/icons/radio-selected.svg
  assets/src/edit-story/utils/backgroundOverlay.js
  webpack.config.cjs
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#5989 Page Layouts: Keyboard Navigation
  assets/src/edit-story/components/library/panes/pageLayouts/confirmPageLayoutDialog.js
  assets/src/edit-story/components/library/panes/pageLayouts/pageLayout.js
  assets/src/edit-story/components/library/panes/pageLayouts/pageLayouts.js
  assets/src/edit-story/karma/fixture/containers/library/pageLayouts.js
  assets/src/edit-story/utils/useFocusOut.js
Labels: Accessibility, Group: Page Layouts, Type: Enhancement, cla: yes

#5408 Dashboard: Implement updated snackbar from design system
  assets/src/dashboard/app/api/test/useSettingsApi.js
  assets/src/dashboard/app/api/useMediaApi.js
  assets/src/dashboard/app/api/useSettingsApi.js
  assets/src/dashboard/app/api/useStoryApi.js
  assets/src/dashboard/app/api/useTemplateApi.js
  assets/src/dashboard/app/index.js
  assets/src/dashboard/app/reducer/test/media.js
  assets/src/dashboard/app/reducer/test/settings.js
  assets/src/dashboard/app/reducer/test/stories.js
  assets/src/dashboard/app/reducer/test/templates.js
  assets/src/dashboard/app/snackbar/index.js
  assets/src/dashboard/app/snackbar/snackbarContainer.js
  assets/src/dashboard/app/snackbar/snackbarProvider.js
  assets/src/dashboard/app/snackbar/test/snackbarContainer.js
  assets/src/dashboard/app/snackbar/test/useSnackbarContext.js
  assets/src/dashboard/app/snackbar/useSnackbarContext.js
  assets/src/dashboard/app/textContent/index.js
  assets/src/dashboard/app/views/dashboardSnackbar/index.js
  assets/src/dashboard/app/views/dashboardSnackbar/stories/index.js
  assets/src/dashboard/app/views/editorSettings/index.js
  assets/src/dashboard/app/views/editorSettings/test/editorSettings.js
  assets/src/dashboard/app/views/exploreTemplates/index.js
  assets/src/dashboard/app/views/index.js
  assets/src/dashboard/app/views/myStories/content/stories/index.js
  assets/src/dashboard/app/views/myStories/content/storiesView/index.js
  assets/src/dashboard/app/views/myStories/content/test/content.js
  assets/src/dashboard/app/views/myStories/content/test/storiesView.js
  assets/src/dashboard/app/views/myStories/index.js
  assets/src/dashboard/app/views/previewStory/index.js
  assets/src/dashboard/app/views/savedTemplates/content/stories/index.js
  assets/src/dashboard/app/views/savedTemplates/content/test/content.js
  assets/src/dashboard/app/views/savedTemplates/index.js
  assets/src/dashboard/app/views/templateDetails/index.js
  assets/src/dashboard/components/alert/components.js
  assets/src/dashboard/components/alert/index.js
  assets/src/dashboard/components/alert/stories/index.js
  assets/src/dashboard/components/alert/test/index.js
  assets/src/dashboard/components/index.js
  assets/src/dashboard/components/toaster/provider.js
  assets/src/dashboard/components/toaster/stories/index.js
  assets/src/dashboard/components/toaster/test/toaster.js
  assets/src/dashboard/components/toaster/test/useToastContext.js
  assets/src/dashboard/components/toaster/toaster.js
  assets/src/dashboard/constants/index.js
  assets/src/dashboard/constants/pageStructure.js
  assets/src/dashboard/testUtils/renderWithProviders.js
  assets/src/dashboard/theme.js
  assets/src/dashboard/types.js
  assets/src/design-system/components/index.js
  assets/src/design-system/components/snackbar/constants.js
  assets/src/design-system/components/snackbar/index.js
  assets/src/design-system/components/snackbar/snackbarContainer.js
  assets/src/design-system/components/snackbar/snackbarMessage.js
  assets/src/design-system/components/snackbar/stories/index.js
  assets/src/design-system/components/snackbar/test/snackbarMessage.js
Labels: Group: Dashboard, Pod: Pea, cla: yes

#6401 Code Quality: Clean up FTUE effect unit tests
  assets/src/edit-story/components/helpCenter/useHelpCenter/test/effects.js
Labels: Group: FTUE, Type: Code Quality, cla: yes

#6411 Updated to new tooltips
  assets/src/design-system/components/tooltip/index.js
  assets/src/design-system/components/tooltip/tail.js
  assets/src/edit-story/components/canvas/pagemenu/pageMenuButton.js
  assets/src/edit-story/components/carousel/carouselMenu.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#6421 New snapping guidelines
  assets/src/edit-story/components/canvas/framesLayer.js
  assets/src/edit-story/components/moveable/moveStyle.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#6419 Design System: Add Unit + Integer variants to input
  assets/src/design-system/components/input/index.js
  assets/src/design-system/components/input/numericInput.js
  assets/src/design-system/components/input/stories/index.js
  assets/src/design-system/components/input/test/useNumericInput.js
  assets/src/design-system/components/input/test/validation.js
  assets/src/design-system/components/input/useNumericInput.js
  assets/src/design-system/components/input/validation.js
Labels: Group: Design System, Pod: Pea, Type: Enhancement, cla: yes

#6375 Dashboard: replace 'scroll to top button' with button and icon from design system
  assets/src/dashboard/components/scrollToTop/index.js
Labels: Group: Dashboard, Pod: Pea, Type: Enhancement, cla: yes

#6404 Design System: Fix disabled button style
  assets/src/design-system/components/button/index.js
Labels: Group: Dashboard, Group: Design System, Pod: Pea, Type: Bug, cla: yes

#5813 Fix text selection in panels and library
  assets/src/edit-story/app/canvas/useCanvasKeys.js
Labels: Group: Design Panel, Group: Document Panel, Group: Pre-Publish Panel, Type: Bug, Type: UX Quality, cla: yes

#5958 Story Player: Use intrinsic AMP layout mode
  includes/Story_Renderer/Embed.php
Labels: AMP Output, Group: WordPress, Pod: WP & Infra, Type: Enhancement, cla: yes

#6199 Dashboard: Settings DropDown
  assets/src/dashboard/app/views/editorSettings/adManagement/adNetwork/index.js
  assets/src/dashboard/app/views/editorSettings/adManagement/adNetwork/stories/index.js
  assets/src/dashboard/app/views/editorSettings/adManagement/adNetwork/test/adNetwork.js
  assets/src/dashboard/app/views/editorSettings/adManagement/googleAdManager/index.js
  assets/src/dashboard/app/views/editorSettings/adManagement/googleAdManager/stories/index.js
  assets/src/dashboard/app/views/editorSettings/adManagement/googleAdManager/test/googleAdManager.js
  assets/src/dashboard/app/views/editorSettings/adManagement/googleAdSense/index.js
  assets/src/dashboard/app/views/editorSettings/adManagement/googleAdSense/stories/index.js
  assets/src/dashboard/app/views/editorSettings/adManagement/googleAdSense/test/googleAdSense.js
  assets/src/dashboard/app/views/editorSettings/adManagement/index.js
  assets/src/dashboard/app/views/editorSettings/adManagement/stories/index.js
  assets/src/dashboard/app/views/editorSettings/adManagement/test/adManagement.js
  assets/src/dashboard/app/views/editorSettings/components.js
  assets/src/dashboard/app/views/editorSettings/index.js
  assets/src/dashboard/app/views/editorSettings/test/editorSettings.js
  assets/src/design-system/components/popup/utils/getOffset.js
Labels: Group: Dashboard, Group: Design System, Pod: Pea, Type: Enhancement, cla: yes

#6429 Video Optimization: Display Snackbar Message
  assets/src/edit-story/app/media/test/useUploadMedia.js
  assets/src/edit-story/app/media/useUploadMedia.js
  assets/src/edit-story/app/media/utils/useUploadVideoFrame.js
  assets/src/edit-story/app/snackbar/snackbarProvider.js
  assets/src/edit-story/app/uploader/test/useUploader.js
  assets/src/edit-story/app/uploader/useUploader.js
Labels: Group: Media, Group: Video Optimization, Pod: WP & Infra, Type: Enhancement, cla: yes

#6394 Updated hover frame sizing and color
  assets/src/edit-story/components/canvas/frameElement.js
  assets/src/edit-story/components/canvas/framesLayer.js
  assets/src/edit-story/masks/frame.js
Labels: Elements, Pod: Prometheus, Type: Enhancement, cla: yes

#6438 Website documentation updates
  build/_includes/documentation_menu.njk
  build/en/docs/index.njk
  build/img/docs/7.png
  build/img/docs/9.png
  build/package-lock.json
  build/package.json
Labels: Website, cla: yes

#6443 Video Optimization: First Time Usage Dialog
  assets/src/edit-story/app/media/local/useContextValueProvider.js
  assets/src/edit-story/app/media/useUploadMedia.js
  assets/src/edit-story/components/library/panes/media/local/mediaPane.js
  assets/src/edit-story/components/library/panes/media/local/stories/videoOptimizationDialog.js
  assets/src/edit-story/components/library/panes/media/local/test/videoOptimizationDialog.js
  assets/src/edit-story/components/library/panes/media/local/videoOptimizationDialog.js
  assets/src/edit-story/utils/localStore.js
Labels: Group: Media, Group: Video Optimization, P1, Pod: WP & Infra, Type: Enhancement, cla: yes

#6483 Add #development=1 to rendered previewLink
  assets/src/edit-story/components/header/buttons/preview.js
  assets/src/edit-story/components/header/test/buttons.js
Labels: Type: Enhancement, cla: yes

#6529 Delete
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/components/postLock/postLock.js
  includes/REST_API/Stories_Base_Controller.php
Labels: cla: yes

#6444 Design System: Add Logos
  assets/src/dashboard/components/pageStructure/index.js
  assets/src/design-system/images/index.js
  assets/src/design-system/images/logo_bw.svg
  assets/src/design-system/images/logo_color.svg
  assets/src/design-system/images/logo_with_type_bw.svg
  assets/src/design-system/images/logo_with_type_circle_bw.svg
  assets/src/design-system/images/logo_with_type_circle_color.svg
  assets/src/design-system/images/stories/index.js
  assets/src/design-system/index.js
Labels: Group: Dashboard, Group: Design System, Pod: Pea, cla: yes

#6530 Added lock toggle
  assets/src/design-system/components/button/stories/index.js
  assets/src/design-system/components/button/toggleButton.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#6531 Add pill group component
  assets/src/design-system/components/pill/index.js
  assets/src/design-system/components/pill/pill.js
  assets/src/design-system/components/pill/pillGroup.js
  assets/src/design-system/components/pill/stories/index.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#6536 Design System: Popup positioning tweaks
  assets/src/design-system/components/popup/index.js
  assets/src/design-system/components/popup/utils/getOffset.js
Labels: Group: Design System, Type: Bug, cla: yes

#6442 Redesign: Add Slider component
  assets/src/design-system/components/index.js
  assets/src/design-system/components/slider/index.js
  assets/src/design-system/components/slider/stories/index.js
  assets/src/design-system/components/tooltip/index.js
  assets/src/edit-story/elements/media/scalePanel.js
Labels: Group: Design System, Pod: Prometheus, Type: Enhancement, cla: yes

#6296 Redesign: Library header
  assets/src/design-system/theme/colors.js
  assets/src/edit-story/components/library/panes/elements/elementsIcon.js
  assets/src/edit-story/components/library/panes/media/local/mediaIcon.js
  assets/src/edit-story/components/library/panes/media/local/mediaPane.js
  assets/src/edit-story/components/library/panes/media/media3p/media3pIcon.js
  assets/src/edit-story/components/library/panes/pageLayouts/pageLayoutsIcon.js
  assets/src/edit-story/components/library/panes/shapes/shapesIcon.js
  assets/src/edit-story/components/library/panes/text/text.svg
  assets/src/edit-story/components/library/panes/text/textIcon.js
  assets/src/edit-story/components/library/panes/text/text_add.svg
  assets/src/edit-story/components/tabview/index.js
Labels: Group: Library, Pod: Prometheus, Type: Enhancement, cla: yes

#6489 Redesign: Color Input
  assets/src/design-system/components/hex/getHexFromValue.js
  assets/src/design-system/components/hex/getPreviewText.js
  assets/src/design-system/components/hex/index.js
  assets/src/design-system/components/hex/stories/index.js
  assets/src/design-system/components/hex/test/getHexFromValue.js
  assets/src/design-system/components/hex/test/getPreviewText.js
  assets/src/design-system/components/index.js
  assets/src/design-system/utils/constants.js
  assets/src/edit-story/components/form/color/color.js
  assets/src/edit-story/components/form/color/colorBox.js
  assets/src/edit-story/components/form/color/colorInput.js
  assets/src/edit-story/components/form/color/colorPreview.js
  assets/src/edit-story/components/form/color/opacityInput.js
  assets/src/edit-story/components/form/color/test/color.js
  assets/src/edit-story/components/form/color/test/colorInput.js
  assets/src/edit-story/components/form/color/test/opacityInput.js
  assets/src/edit-story/components/panels/design/textStyle/color.js
  assets/src/edit-story/constants/index.js
Labels: Group: Design Panel, Group: Patterns, Pod: Prometheus, Type: Enhancement, cla: yes

#6425 Color picker redesign
  assets/src/design-system/icons/index.js
  assets/src/design-system/icons/tailed_rectangle.svg
  assets/src/edit-story/components/colorPicker/colorPicker.js
  assets/src/edit-story/components/colorPicker/constants.js
  assets/src/edit-story/components/colorPicker/currentColorPicker.js
  assets/src/edit-story/components/colorPicker/editablePreview.js
  assets/src/edit-story/components/colorPicker/gradientLine.js
  assets/src/edit-story/components/colorPicker/gradientPicker.js
  assets/src/edit-story/components/colorPicker/gradientStop.js
  assets/src/edit-story/components/colorPicker/header.js
  assets/src/edit-story/components/colorPicker/pointer.js
  assets/src/edit-story/components/colorPicker/test/colorPicker/_utils.js
  assets/src/edit-story/components/colorPicker/test/colorPicker/addStopByPointer.js
  assets/src/edit-story/components/colorPicker/test/colorPicker/manipulateStopByKeyboard.js
  assets/src/edit-story/components/colorPicker/test/colorPicker/moveStopByPointer.js
  assets/src/edit-story/components/colorPicker/useColor.js
  assets/src/edit-story/components/colorPicker/useKeyMoveStop.js
  assets/src/edit-story/components/colorPicker/usePointerAddStop.js
  assets/src/edit-story/components/colorPicker/usePointerMoveStop.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/color.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/colorPresetActions.js
Labels: Group: Patterns, Pod: Prometheus, Type: Enhancement, cla: yes

#6533 Reverted to older popup logic
  assets/src/design-system/components/popup/index.js
  assets/src/design-system/components/popup/utils/getOffset.js
  assets/src/edit-story/components/carousel/karma/carouselMenu.karma.js
  assets/src/edit-story/karma/fixture/containers/carousel.js
  assets/src/karma-fixture/init.js
Labels: Pod: Prometheus, Type: Bug, cla: yes

#6403 New keyboard shortcut dialog
  assets/src/edit-story/components/carousel/carouselMenu.js
  assets/src/edit-story/components/directionAware/index.js
  assets/src/edit-story/components/helpCenter/index.js
  assets/src/edit-story/components/keyboardShortcutsMenu/constants.js
  assets/src/edit-story/components/keyboardShortcutsMenu/getKeyboardShortcuts.js
  assets/src/edit-story/components/keyboardShortcutsMenu/headerShortcut.js
  assets/src/edit-story/components/keyboardShortcutsMenu/index.js
  assets/src/edit-story/components/keyboardShortcutsMenu/karma/keyboardShortcuts.karma.js
  assets/src/edit-story/components/keyboardShortcutsMenu/keyboardShortcutList.js
  assets/src/edit-story/components/keyboardShortcutsMenu/landmarkShortcuts.js
  assets/src/edit-story/components/keyboardShortcutsMenu/popup.js
  assets/src/edit-story/components/keyboardShortcutsMenu/regularShortcuts.js
  assets/src/edit-story/components/keyboardShortcutsMenu/shortcutLabel.js
  assets/src/edit-story/components/keyboardShortcutsMenu/shortcutMenu.js
  assets/src/edit-story/components/keyboardShortcutsMenu/shortcutMenuSection.js
  assets/src/edit-story/components/keyboardShortcutsMenu/styled.js
  assets/src/edit-story/components/popup/index.js
  assets/src/edit-story/components/transition/index.js
  assets/src/edit-story/components/transition/scheduledTransition.js
  assets/src/edit-story/theme.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes
