Repository GoogleForCreators/web-stories-wp, pull requests merged in 2021-09, with the labels that each got.

#8900 Fix several code quality issues flagged by LGTM
  .distignore
  .lgtm.yml
  README.md
  packages/animation/src/effects/flyIn/index.js
  packages/dashboard/src/components/pageStructure/index.js
  packages/dashboard/src/karma/apiProviderFixture.js
  packages/design-system/src/components/popup/index.js
  packages/e2e-test-utils/src/uploadFile.js
  packages/story-editor/src/app/font/fontProvider.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/addPage.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/replaceCurrentPage.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/updateElements.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/utils.js
  packages/story-editor/src/app/story/useStoryReducer/useStoryReducer.js
  packages/story-editor/src/components/carousel/useCarouselKeys.js
  packages/story-editor/src/components/colorPicker/gradientLine.js
  packages/story-editor/src/components/popup/index.js
  packages/story-editor/src/components/richText/draftUtils.js
  packages/story-editor/src/utils/isElementBelowLimit.js
Labels: cla: yes, Type: Code Quality, Pod: WP & Infra

#8804 Bump PHP requirement to 7.0.21
  composer.json
  composer.lock
  web-stories.php
Labels: Type: Enhancement, cla: yes, Pod: WP & Infra

#8929 Poster images for 'All About Cars' story template
  public/static/main/images/templates/all-about-cars/page9_vid1-poster.jpg
  public/static/main/images/templates/all-about-cars/posters/1.png
  public/static/main/images/templates/all-about-cars/posters/1.webp
  public/static/main/images/templates/all-about-cars/posters/10.png
  public/static/main/images/templates/all-about-cars/posters/10.webp
  public/static/main/images/templates/all-about-cars/posters/11.png
  public/static/main/images/templates/all-about-cars/posters/11.webp
  public/static/main/images/templates/all-about-cars/posters/12.png
  public/static/main/images/templates/all-about-cars/posters/12.webp
  public/static/main/images/templates/all-about-cars/posters/13.png
  public/static/main/images/templates/all-about-cars/posters/13.webp
  public/static/main/images/templates/all-about-cars/posters/14.png
  public/static/main/images/templates/all-about-cars/posters/14.webp
  public/static/main/images/templates/all-about-cars/posters/2.png
  public/static/main/images/templates/all-about-cars/posters/2.webp
  public/static/main/images/templates/all-about-cars/posters/3.png
  public/static/main/images/templates/all-about-cars/posters/3.webp
  public/static/main/images/templates/all-about-cars/posters/4.png
  public/static/main/images/templates/all-about-cars/posters/4.webp
  public/static/main/images/templates/all-about-cars/posters/5.png
  public/static/main/images/templates/all-about-cars/posters/5.webp
  public/static/main/images/templates/all-about-cars/posters/6.png
  public/static/main/images/templates/all-about-cars/posters/6.webp
  public/static/main/images/templates/all-about-cars/posters/7.png
  public/static/main/images/templates/all-about-cars/posters/7.webp
  public/static/main/images/templates/all-about-cars/posters/8.png
  public/static/main/images/templates/all-about-cars/posters/8.webp
  public/static/main/images/templates/all-about-cars/posters/9.png
  public/static/main/images/templates/all-about-cars/posters/9.webp
Labels: cla: yes, Group: Templates, Website

#8853 Telemetry: Fix `trackError` usage
  packages/design-system/src/utils/localStore.js
  packages/tracking/README.md
  packages/tracking/src/initializeErrorReporting.js
  packages/tracking/src/test/trackError.js
  packages/tracking/src/trackError.js
Labels: Type: Bug, cla: yes, Type: Code Quality, Group: Telemetry

#8805 REST API: Ensure only requested resources are embedded
  includes/REST_API/Page_Template_Controller.php
  includes/REST_API/Stories_Controller.php
  includes/REST_API/Stories_Media_Controller.php
  phpstan.neon.dist
Labels: cla: yes, PHP, Group: WordPress, Pod: WP & Infra

#8309 Perf: Improve selection latency by reducing renders
  packages/e2e-tests/src/specs/editor/media/insertWebMVideo.js
  packages/story-editor/src/components/canvas/displayElement.js
  packages/story-editor/src/components/canvas/pagemenu/pageMenu.js
  packages/story-editor/src/components/carousel/carouselContainer.js
  packages/story-editor/src/components/header/headerLayout.js
  packages/story-editor/src/components/panels/panel/shared/content.js
  packages/story-editor/src/components/panels/panel/test/simplePanel.js
Labels: cla: yes, Type: Performance, Group: Workspace

#8934 Add video trimming quick action
  packages/design-system/src/icons/index.js
  packages/design-system/src/icons/scissors.svg
  packages/story-editor/src/app/highlights/quickActions/constants.js
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
  packages/story-editor/src/app/highlights/states.js
  packages/story-editor/src/components/panels/design/videoOptions/videoOptions.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#8861 Dashboard: Remove Saved Templates Related Code
  includes/Experiments.php
  packages/dashboard/src/app/api/useTemplateApi.js
  packages/dashboard/src/app/font/fontProvider.js
  packages/dashboard/src/app/index.js
  packages/dashboard/src/app/reducer/templates.js
  packages/dashboard/src/app/reducer/test/templates.js
  packages/dashboard/src/app/router/test/route.js
  packages/dashboard/src/app/serializers/savedTemplates.js
  packages/dashboard/src/app/textContent/index.js
  packages/dashboard/src/app/views/index.js
  packages/dashboard/src/app/views/myStories/content/stories/index.js
  packages/dashboard/src/app/views/myStories/content/storiesView/index.js
  packages/dashboard/src/app/views/myStories/content/test/content.js
  packages/dashboard/src/app/views/myStories/content/test/storiesView.js
  packages/dashboard/src/app/views/myStories/index.js
  packages/dashboard/src/app/views/savedTemplates/content/index.js
  packages/dashboard/src/app/views/savedTemplates/content/stories/index.js
  packages/dashboard/src/app/views/savedTemplates/content/test/content.js
  packages/dashboard/src/app/views/savedTemplates/header/index.js
  packages/dashboard/src/app/views/savedTemplates/header/stories/index.js
  packages/dashboard/src/app/views/savedTemplates/header/test/header.js
  packages/dashboard/src/app/views/savedTemplates/index.js
  packages/dashboard/src/app/views/shared/index.js
  packages/dashboard/src/app/views/shared/savedTemplateGridView.js
  packages/dashboard/src/app/views/templateDetails/index.js
  packages/dashboard/src/components/pageStructure/index.js
  packages/dashboard/src/components/popoverMenu/test/story-menu-generator.js
  packages/dashboard/src/constants/index.js
  packages/dashboard/src/constants/savedTemplates.js
  packages/dashboard/src/constants/stories.js
  packages/dashboard/src/karma/apiProviderFixture.js
  packages/dashboard/src/types.js
  packages/dashboard/src/utils/test/useDashboardResultsLabel.js
  tests/phpunit/tests/Experiments.php
Labels: cla: yes, Group: Dashboard, Type: Code Quality, Pod: Pea, Package: Dashboard

#8947 Color Picker: use '000000' instead of 'transparent'.
  packages/story-editor/src/components/colorPicker/currentColorPicker.js
  packages/story-editor/src/components/colorPicker/editablePreview.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8935 Right Click Menu: Fix drop shadow flicker
  packages/design-system/src/components/contextMenu/contextMenu.js
Labels: Type: Bug, cla: yes, Pod: Pea, Group: Context Menu, Bug Bash: 1.11

#8925 Templates: Show colors as saved story colors
  package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/app/api/useStoryApi.js
  packages/dashboard/src/components/colorList/index.js
  packages/design-system/src/components/swatch/swatch.js
  packages/e2e-tests/src/specs/dashboard/templates/useTemplate.js
  packages/story-editor/src/components/panels/design/preset/colorPreset/colorGroup.js
  packages/story-editor/src/components/panels/design/preset/colorPreset/colorPresetPanel.js
Labels: Type: Enhancement, cla: yes, Group: Templates, Pod: Pea, Group: Saved Colors, Package: Dashboard, Package: E2E Tests

#8902 Ensure unique colors saved in the color picker
  packages/story-editor/src/components/colorPicker/addCustomColor.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/savedColors.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8928 Templates: Batch 05 - All About Cars
  packages/stickers/src/index.js
  packages/stickers/src/the-bools-quiz/index.js
  packages/stickers/src/the-bools-quiz/yellowBanner.js
  packages/templates/src/constants.js
  packages/templates/src/raw/all-about-cars/index.js
  packages/templates/src/raw/all-about-cars/metaData.js
  packages/templates/src/raw/all-about-cars/template.json
Labels: Type: Enhancement, cla: yes, Group: Templates, Package: Templates

#8851 Editor: Remove duplicate icons
  packages/design-system/src/icons/index.js
  packages/design-system/src/icons/muted.svg
  packages/design-system/src/icons/turning_line.svg
  packages/design-system/src/icons/union.svg
  packages/story-editor/src/app/media/media3p/attribution.js
  packages/story-editor/src/components/button/index.js
  packages/story-editor/src/components/form/advancedDropDown/list/styled.js
  packages/story-editor/src/components/form/advancedDropDown/searchInput.js
  packages/story-editor/src/components/keyboardShortcutsMenu/constants.js
  packages/story-editor/src/components/library/panes/media/common/innerElement.js
  packages/story-editor/src/components/library/panes/media/local/dropDownMenu.js
  packages/story-editor/src/components/panels/design/borderRadius/borderRadius.js
  packages/story-editor/src/components/panels/design/textBox/padding.js
  packages/story-editor/src/elements/sticker/icon-bak.js
  packages/story-editor/src/icons/arrow_down.svg
  packages/story-editor/src/icons/checkmark.svg
  packages/story-editor/src/icons/close.svg
  packages/story-editor/src/icons/dropdown.svg
  packages/story-editor/src/icons/index.js
  packages/story-editor/src/icons/media.svg
  packages/story-editor/src/icons/search.svg
  packages/story-editor/src/icons/stories/index.js
Labels: Type: Enhancement, cla: yes, Type: Code Quality, Pod: Pea

#8949 Do not delay `Database_Upgrader` service
  includes/Database_Upgrader.php
  tests/phpunit/tests/Database_Upgrader.php
Labels: cla: yes

#8957 Remove video muting experiments code
  includes/Experiments.php
  packages/story-editor/src/app/media/utils/useDetectVideoHasAudio.js
  packages/story-editor/src/components/panels/design/videoOptions/videoOptions.js
Labels: cla: yes, Group: Media, Type: Code Quality, Pod: WP & Infra

#8924 Fix image cropping for non-admins
  packages/story-editor/src/components/checklist/karma/checklist.karma.js
  packages/story-editor/src/components/mediaPicker/WordPressImageCropper.js
  packages/story-editor/src/components/mediaPicker/useMediaPicker.js
  packages/story-editor/src/components/panels/design/videoAccessibility/karma/videoPoster.karma.js
  tests/js/setup-globals.js
Labels: Type: Bug, cla: yes, Group: Media, Pod: WP & Infra

#8850 Media: Improve handling of uploads in progress
  packages/story-editor/src/app/media/test/useUploadMedia.js
  packages/story-editor/src/app/media/useUploadMedia.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/index.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/test/useMediaUploadQueue.js
  packages/story-editor/src/components/header/buttons/buttonWithChecklistWarning.js
  packages/story-editor/src/components/header/buttons/publish.js
Labels: Type: Bug, cla: yes, Group: Media

#8938 Edit Story: Freeform Taxonomy Component
  packages/design-system/src/components/index.js
  packages/design-system/src/components/input/index.js
  packages/story-editor/src/components/form/stories/tags.js
  packages/story-editor/src/components/form/tags/description.js
  packages/story-editor/src/components/form/tags/index.js
  packages/story-editor/src/components/form/tags/input.js
  packages/story-editor/src/components/form/tags/label.js
  packages/story-editor/src/components/form/tags/reducer.js
  packages/story-editor/src/components/form/tags/tag.js
  packages/story-editor/src/components/form/tags/test/reducer.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Package: Story Editor, Group: Taxonomies

#8968 Update poster image for "Tips for Throwing an Outdoor Luau" template
  public/static/main/images/templates/tips-for-throwing-an-outdoor-luau/posters/11.png
  public/static/main/images/templates/tips-for-throwing-an-outdoor-luau/posters/11.webp
Labels: cla: yes, Website

#8967 Updates a string for "Tips for Throwing an Outdoor Luau" template
  packages/templates/src/raw/tips-for-throwing-an-outdoor-luau/template.json
Labels: cla: yes, Group: Templates, Package: Templates

#8880 Media Hotlinking: Improve the logic in case of empty value
  packages/story-editor/src/components/library/panes/media/local/hotlink/hotlinkModal.js
  packages/story-editor/src/components/library/panes/media/local/hotlink/useInsert.js
  packages/story-editor/src/components/library/panes/media/local/karma/hotlink.karma.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8901 Color Picker: Avoid overflow with saved colors
  packages/story-editor/src/components/popup/index.js
  packages/story-editor/src/components/popup/utils.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8948 Fix using arrow keys for background element
  packages/story-editor/src/app/canvas/useCanvasKeys.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8970 Add changelog for v1.11.0
  readme.txt
Labels: Type: Documentation, cla: yes, Type: Release

#8974 Added feature flag for thumbnail caching, default off
  includes/Experiments.php
  packages/story-editor/src/components/carousel/pagepreview/index.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#8895 Right Click Menu: Fix the click problems
  packages/design-system/src/components/contextMenu/mask.js
  packages/design-system/src/components/contextMenu/menu.js
  packages/design-system/src/components/contextMenu/test/contextMenu.js
  packages/story-editor/src/components/canvas/rightClickMenu.js
  packages/story-editor/src/components/canvas/selectionCanvas.js
Labels: Type: Bug, cla: yes, Pod: Pea, Group: Context Menu, Bug Bash: 1.11

#8946 Store publisher logo as post meta
  includes/AMP/Integration/AMP_Story_Sanitizer.php
  includes/AMP/Output_Buffer.php
  includes/AMP/Sanitization.php
  includes/AMP/Story_Sanitizer.php
  includes/AMP/Traits/Sanitization_Utils.php
  includes/Admin/Editor.php
  includes/Discovery.php
  includes/Integrations/AMP.php
  includes/Model/Story.php
  includes/REST_API/Stories_Base_Controller.php
  includes/REST_API/Stories_Controller.php
  includes/Renderer/Story/HTML.php
  includes/Story_Post_Type.php
  includes/Traits/Publisher.php
  includes/templates/admin/edit-story.php
  packages/dashboard/src/app/views/myStories/content/storyGridItem/storyDisplayContent.js
  packages/dashboard/src/dataUtils/formattedStoriesArray.js
  packages/e2e-test-utils/src/publishStory.js
  packages/e2e-tests/src/specs/dashboard/publisherLogo.js
  packages/e2e-tests/src/specs/editor/prepublishChecklist.js
  packages/e2e-tests/src/specs/wordpress/postLocking.js
  packages/story-editor/src/app/api/apiProvider.js
  packages/story-editor/src/app/story/actions/test/useAutoSave.js
  packages/story-editor/src/app/story/effects/useLoadStory.js
  packages/story-editor/src/app/story/utils/getStoryPropsToSave.js
  packages/story-editor/src/app/story/utils/test/getStoryPropsToSave.js
  packages/story-editor/src/components/checklist/karma/checklist.karma.js
  packages/story-editor/src/components/checklist/karma/prepublishSelect.karma.js
  packages/story-editor/src/components/panels/document/publish/publish.js
  packages/story-editor/src/components/panels/document/publish/test/publish.js
  packages/story-editor/src/components/postLock/postLock.js
  packages/story-editor/src/components/postLock/postLockDialog.js
  packages/story-editor/src/components/statusCheck/utils.js
  packages/story-editor/src/karma/fixture/fixture.js
  packages/story-editor/src/output/test/story.js
  tests/phpunit/integration/tests/AMP/Output_Buffer.php
  tests/phpunit/integration/tests/REST_API/Stories_Controller.php
  tests/phpunit/unit/tests/AMP/Story_Sanitizer.php
Labels: Type: Enhancement, cla: yes, PHP, Group: WordPress, Group: Document Panel, Pod: WP & Infra

#8991 Always focus on the element when clicking on it
  packages/story-editor/src/components/canvas/frameElement.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8945 Change tooltip placement if there's not enough space
  packages/design-system/src/components/popup/index.js
  packages/design-system/src/components/tooltip/index.js
Labels: cla: yes, Pod: Pea, Group: Design System, Package: Design System

#8988 Fix edit mode for GIFs
  packages/story-editor/src/elements/gif/edit.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8971 Improve page navigation performance
  packages/story-editor/src/components/carousel/pagepreview/index.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#8979 Hotlinking: Disable insert button for invalid/empty link.
  packages/story-editor/src/components/library/panes/media/local/hotlink/hotlinkModal.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8996 Color Picker: Propagate dimensions when switching mode
  packages/story-editor/src/components/colorPicker/colorPicker.js
  packages/story-editor/src/components/form/color/colorInput.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8995 I18N: Fix loading of JavaScript translations
  includes/Assets.php
  tests/phpunit/integration/tests/Admin/Dashboard.php
  tests/phpunit/integration/tests/Admin/Editor.php
  tests/phpunit/integration/tests/Assets.php
  webpack.config.cjs
Labels: Type: Bug, cla: yes, Internationalization (I18N), Group: WordPress, Pod: WP & Infra

#8975 Design System: Hierarchical Taxonomy Component
  packages/story-editor/src/components/form/hierarchical/index.js
  packages/story-editor/src/components/form/hierarchical/stories/hierarchical.js
  packages/story-editor/src/components/form/hierarchical/test/hierarchical.js
  packages/story-editor/src/components/form/hierarchical/test/utils.js
  packages/story-editor/src/components/form/hierarchical/utils/index.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Design System

#9025 Media: Remove video cache feature flag code
  includes/AMP/Sanitization.php
  includes/Experiments.php
  includes/Integrations/AMP.php
  packages/dashboard/src/app/views/editorSettings/videoCache/index.js
  packages/dashboard/src/app/views/editorSettings/videoCache/stories/index.js
  packages/dashboard/src/app/views/editorSettings/videoCache/test/videoCache.js
  tests/phpunit/integration/tests/AMP/Sanitization.php
  tests/phpunit/integration/tests/Integrations/AMP.php
Labels: cla: yes, Type: Infrastructure, Type: Code Quality, Pod: WP & Infra

#9024 GitHub Actions: simplify Composer caching
  .github/workflows/build-and-deploy.yml
  .github/workflows/lint-i18n.yml
  .github/workflows/lint-php.yml
  .github/workflows/plugin-release.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit-php.yml
Labels: cla: yes, P2, Type: Infrastructure, Pod: WP & Infra

#9030 Tests: Use `assertSame`
  tests/phpunit/integration/tests/REST_API/Stories_Controller.php
Labels: cla: yes, Type: Code Quality, Pod: WP & Infra

#8972 Implement video trimming logic
  .github/workflows/build-and-deploy.yml
  .github/workflows/lint-i18n.yml
  .github/workflows/lint-php.yml
  .github/workflows/plugin-release.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit-php.yml
  .phpstorm.meta.php
  includes/Media/Video/Trimming.php
  includes/Plugin.php
  includes/templates/admin/edit-story.php
  includes/uninstall.php
  package-lock.json
  packages/media/src/createResource.js
  packages/story-editor/src/app/api/test/_utils.js
  packages/story-editor/src/app/media/local/useContextValueProvider.js
  packages/story-editor/src/app/media/media3p/api/test/useMedia3pApi.js
  packages/story-editor/src/app/media/useUploadMedia.js
  packages/story-editor/src/app/media/utils/getResourceFromAttachment.js
  packages/story-editor/src/app/media/utils/getResourceFromMediaPicker.js
  packages/story-editor/src/app/media/utils/test/getResourceFromMedia3p.js
  packages/story-editor/src/app/media/utils/useFFmpeg.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/index.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/reducer.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/test/reducer.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/test/useMediaUploadQueue.js
  packages/story-editor/src/app/media/utils/useProcessMedia.js
  packages/story-editor/src/components/canvas/useUploadWithPreview.js
  packages/story-editor/src/components/library/panes/media/local/mediaPane.js
  packages/story-editor/src/components/panels/design/videoOptions/videoOptions.js
  packages/story-editor/src/karma/fixture/db/getMediaResponse.js
  packages/wp-story-editor/src/api/constants/index.js
  packages/wp-story-editor/src/api/media.js
  tests/phpunit/integration/tests/Media/Video/Trimming.php
Labels: Type: Enhancement, cla: yes, P1, Elements: Video, Pod: WP & Infra, Group: Video Optimization

#9036 Taxonomies: Add Hierarchical Input UI to the inspector
  packages/design-system/src/components/input/index.js
  packages/story-editor/src/components/form/hierarchical/index.js
  packages/story-editor/src/components/form/index.js
  packages/story-editor/src/components/panels/document/taxonomies/taxonomies.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Taxonomies

#9029 Decoupling: Remove `X-WP-*` HTTP headers from the core editor
  packages/story-editor/src/app/api/test/_utils.js
  packages/story-editor/src/app/media/local/useContextValueProvider.js
  packages/story-editor/src/components/library/test/_utils/index.js
  packages/story-editor/src/karma/fixture/fixture.js
  packages/wp-story-editor/src/api/media.js
Labels: cla: yes, Type: Infrastructure, Package: Story Editor

#9037 Make taxonomy selection more agnostic
  packages/story-editor/src/app/story/actions/test/useAutoSave.js
  packages/story-editor/src/app/story/effects/useLoadStory.js
  packages/story-editor/src/app/story/utils/getStoryPropsToSave.js
  packages/story-editor/src/app/story/utils/test/getStoryPropsToSave.js
  packages/story-editor/src/app/taxonomy/taxonomyProvider.js
  packages/story-editor/src/components/panels/document/taxonomies/FlatTermSelector.js
  packages/story-editor/src/components/panels/document/taxonomies/HierarchicalTermSelector.js
  packages/story-editor/src/components/panels/document/taxonomies/shared.js
  packages/story-editor/src/components/panels/document/taxonomies/taxonomies.js
  packages/story-editor/src/components/panels/document/taxonomies/test/taxonomies.js
Labels: Type: Enhancement, cla: yes, Group: Taxonomies

#9041 Fix some prop type warnings
  packages/dashboard/src/app/api/useStoryApi.js
  packages/design-system/src/components/keyboard/index.js
  packages/design-system/src/components/swatch/swatch.js
  packages/media/src/types.js
  packages/story-editor/src/components/carousel/gridview/index.js
  packages/story-editor/src/components/checklist/checklistContext/test/useChecklist.js
  packages/story-editor/src/components/checklist/checks/pageBackgroundLowTextContrast/component.js
  packages/story-editor/src/components/checklist/checks/pageTooLittleText.js
  packages/story-editor/src/components/checklist/checks/pageTooManyLinks.js
  packages/story-editor/src/components/checklist/checks/pageTooMuchText.js
  packages/story-editor/src/components/form/dateTime/timeZone.js
  packages/story-editor/src/components/header/buttons/buttonWithChecklistWarning.js
  packages/story-editor/src/components/library/panes/media/local/test/videoOptimizationDialog.js
  packages/story-editor/src/components/library/test/deleteDialog.js
  packages/story-editor/src/components/panels/design/preset/test/colorPresetPanel.js
  packages/story-editor/src/components/panels/design/textStyle/color.js
  packages/story-editor/src/components/panels/design/textStyle/font.js
  packages/story-editor/src/components/panels/design/textStyle/textStyle.js
  packages/story-editor/src/components/panels/document/publish/test/publish.js
  packages/story-editor/src/components/statusCheck/utils.js
  packages/story-editor/src/components/thumbnail/stories/demoThumbnails.js
  packages/story-editor/src/elements/media/display.js
  packages/story-editor/src/elements/media/imageDisplay.js
  packages/story-editor/src/elements/media/test/display.js
  packages/story-editor/src/output/story.js
  packages/story-editor/src/output/test/story.js
  packages/story-editor/src/output/utils/test/getStoryMarkup.js
  packages/story-editor/src/types.js
Labels: cla: yes, Type: Code Quality, Pod: WP & Infra

#8992 prevent browser's context menu when right clicking on our ContextMenu
  packages/story-editor/src/components/canvas/rightClickMenu.js
Labels: cla: yes, Pod: Pea, Group: Context Menu, Bug Bash: 1.11

#8997 Color Picker: Hide rotation button for radial
  packages/story-editor/src/components/colorPicker/customColorPicker.js
  packages/story-editor/src/components/colorPicker/gradientPicker.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#9006 Remove unused background customization related props
  packages/migration/src/migrate.js
  packages/migration/src/migrations/test/v0034_removeUnusedBackgroundProps.js
  packages/migration/src/migrations/v0034_removeUnusedBackgroundProps.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/addPage.js
  packages/story-editor/src/app/story/useStoryReducer/test/addPage.js
  packages/story-editor/src/app/story/useStoryReducer/test/arrangeElement.js
  packages/story-editor/src/app/story/useStoryReducer/test/arrangeSelection.js
  packages/story-editor/src/components/panels/design/layer/layer.js
  packages/story-editor/src/elements/media/test/display.js
  packages/story-editor/src/elements/shape/icon.js
  packages/story-editor/src/elements/utils/createNewElement.js
Labels: cla: yes, Type: Code Quality, Pod: Prometheus

#9052 [TRY] Use `mime/lite` mime type database
  includes/Admin/Editor.php
  includes/Traits/Types.php
  package-lock.json
  packages/media/package.json
  packages/media/src/getExtensionFromMimeType.js
  packages/media/src/index.js
  packages/story-editor/src/app/media/utils/useFFmpeg.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/index.js
Labels: Type: Enhancement, cla: yes, Group: Media

#9050 Add `<amp-story-auto-analytics>` migration option
  includes/Analytics.php
  includes/Database_Upgrader.php
  includes/Experiments.php
  includes/Migrations/Set_Legacy_Analytics_Usage_Flag.php
  includes/Settings.php
  packages/dashboard/src/app/api/useSettingsApi.js
  packages/dashboard/src/app/reducer/settings.js
  packages/dashboard/src/app/reducer/test/settings.js
  packages/dashboard/src/app/views/editorSettings/googleAnalytics/index.js
  packages/dashboard/src/app/views/editorSettings/googleAnalytics/test/googleAnalytics.js
  packages/dashboard/src/app/views/editorSettings/index.js
  packages/dashboard/src/app/views/editorSettings/test/editorSettings.js
  packages/dashboard/src/app/views/editorSettings/videoCache/index.js
  packages/dashboard/src/karma/apiProviderFixture.js
  tests/phpunit/integration/tests/Analytics.php
  tests/phpunit/integration/tests/Migrations/Set_Legacy_Analytics_Usage_Flag.php
  tests/phpunit/integration/tests/Settings.php
  web-stories.php
Labels: Type: Enhancement, cla: yes, Group: Settings, Pod: WP & Infra, Group: Analytics

#8958 Settings: Allow disabling archive page
  includes/Admin/Dashboard.php
  includes/Experiments.php
  includes/Renderer/Stories/FieldState/BaseFieldState.php
  includes/Settings.php
  includes/Story_Post_Type.php
  includes/Traits/Post_Type.php
  includes/Traits/Theme_Support.php
  includes/Widgets/Stories.php
  packages/dashboard/src/app/api/useSettingsApi.js
  packages/dashboard/src/app/reducer/settings.js
  packages/dashboard/src/app/views/editorSettings/archive/index.js
  packages/dashboard/src/app/views/editorSettings/archive/stories/index.js
  packages/dashboard/src/app/views/editorSettings/archive/test/archive.js
  packages/dashboard/src/app/views/editorSettings/index.js
  packages/dashboard/src/constants/settings.js
  packages/stories-block/src/block/components/storiesInspectorControls.js
  packages/stories-block/src/block/components/storiesPreview.js
  tests/phpunit/integration/tests/Admin/Dashboard.php
  tests/phpunit/integration/tests/Settings.php
  tests/phpunit/integration/tests/Story_Post_Type.php
Labels: Type: Enhancement, cla: yes, P2, Group: WordPress, Group: Settings, Pod: WP & Infra

#9055 remove enableRightClickMenus
  includes/Experiments.php
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/app/rightClickMenu/test/useRightClickMenu.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
Labels: cla: yes, Type: Code Quality, Pod: Pea, Package: Story Editor, Group: Context Menu

#9061 Taxonomy: TaxonomyProvider Unit Tests
  packages/story-editor/src/app/taxonomy/test/useTaxonomy.js
Labels: cla: yes, Type: Code Quality, Pod: Pea, Group: Taxonomies

#9065 Dashboard: Remove deprecated taxonomy apis
  packages/dashboard/src/app/api/fetchAllFromPages.js
  packages/dashboard/src/app/api/test/useCategoryApi.js
  packages/dashboard/src/app/api/test/useTagsApi.js
  packages/dashboard/src/app/api/useCategoriesApi.js
  packages/dashboard/src/app/api/useTagsApi.js
Labels: cla: yes, Type: Code Quality, Pod: Pea, Package: Dashboard

#9047 Taxonomy: Register new taxonomies
  .phpstorm.meta.php
  includes/Database_Upgrader.php
  includes/Plugin.php
  includes/REST_API/Stories_Base_Controller.php
  includes/REST_API/Stories_Taxonomies_Controller.php
  includes/REST_API/Stories_Terms_Controller.php
  includes/Taxonomy/Category_Taxonomy.php
  includes/Taxonomy/Tag_Taxonomy.php
  includes/Taxonomy/Taxonomy_Base.php
  includes/User/Capabilities.php
  tests/phpunit/integration/includes/Fixture/DummyTaxonomy.php
  tests/phpunit/integration/tests/REST_API/Stories_Controller.php
  tests/phpunit/integration/tests/REST_API/Stories_Taxonomies_Controller.php
  tests/phpunit/integration/tests/REST_API/Stories_Terms_Controller.php
  tests/phpunit/integration/tests/Taxonomy/Taxonomy_Base.php
  web-stories.php
Labels: Type: Enhancement, cla: yes, P1, Group: WordPress, Pod: WP & Infra

#9031 Media: Ensure that muted / trimmed videos keep their file type
  packages/media/package.json
  packages/media/src/getExtensionFromMimeType.js
  packages/media/src/index.js
  packages/story-editor/src/app/media/utils/useFFmpeg.js
Labels: Type: Enhancement, cla: yes, Type: Infrastructure, Pod: WP & Infra, Group: Video Optimization

#9023 Disable video transcoding for non-WP media
  packages/media/src/createResource.js
  packages/migration/src/migrate.js
  packages/migration/src/migrations/test/v0035_markVideoAsExternal.js
  packages/migration/src/migrations/v0035_markVideoAsExternal.js
  packages/story-editor/src/app/highlights/quickActions/test/useQuickActions.js
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
  packages/story-editor/src/app/media/local/test/useContextValueProvider.js
  packages/story-editor/src/app/media/media3p/api/test/useMedia3pApi.js
  packages/story-editor/src/app/media/utils/getResourceFromAttachment.js
  packages/story-editor/src/app/media/utils/getResourceFromLocalFile.js
  packages/story-editor/src/app/media/utils/getResourceFromMedia3p.js
  packages/story-editor/src/app/media/utils/getResourceFromMediaPicker.js
  packages/story-editor/src/app/media/utils/getResourceFromUrl.js
  packages/story-editor/src/app/media/utils/test/getResourceFromMedia3p.js
  packages/story-editor/src/components/panels/design/videoOptions/videoOptions.js
  packages/story-editor/src/components/videoTrim/useVideoTrimMode.js
Labels: Type: Enhancement, cla: yes, Group: Media

#9048 Taxonomies: Hookup Categories to backend
  packages/story-editor/src/app/history/karma/history.karma.js
  packages/story-editor/src/app/taxonomy/taxonomyProvider.js
  packages/story-editor/src/app/taxonomy/test/useTaxonomy.js
  packages/story-editor/src/app/taxonomy/utils/index.js
  packages/story-editor/src/app/taxonomy/utils/test/index.js
  packages/story-editor/src/components/form/hierarchical/index.js
  packages/story-editor/src/components/form/hierarchical/utils/index.js
  packages/story-editor/src/components/panels/document/taxonomies/FlatTermSelector.js
  packages/story-editor/src/components/panels/document/taxonomies/HierarchicalTermSelector.js
  packages/story-editor/src/components/panels/document/taxonomies/karma/taxonomies.karma.js
  packages/story-editor/src/components/panels/document/taxonomies/shared.js
  packages/story-editor/src/components/panels/document/taxonomies/taxonomies.js
  packages/story-editor/src/components/panels/document/taxonomies/test/taxonomies.js
  packages/story-editor/src/karma/fixture/containers/documentPanel/categoriesAndTags.js
  packages/story-editor/src/karma/fixture/containers/documentPanel/index.js
  packages/story-editor/src/karma/fixture/db/getTaxonomiesResponse.js
  packages/story-editor/src/karma/fixture/db/storyResponse.js
  packages/story-editor/src/karma/fixture/fixture.js
  packages/wp-story-editor/src/api/taxonomy.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Taxonomies

#8990 Decoupling: Move `PostLock` and `StatusCheck` to `wp-story-editor`
  package-lock.json
  packages/story-editor/src/app/api/apiProvider.js
  packages/story-editor/src/app/api/index.js
  packages/story-editor/src/app/api/test/_utils.js
  packages/story-editor/src/app/config/index.js
  packages/story-editor/src/app/currentUser/index.js
  packages/story-editor/src/app/story/actions/useSaveStory.js
  packages/story-editor/src/app/story/effects/useLoadStory.js
  packages/story-editor/src/index.js
  packages/story-editor/src/karma/fixture/db/storyResponse.js
  packages/story-editor/src/output/index.js
  packages/story-editor/src/storyEditor.js
  packages/wp-story-editor/package.json
  packages/wp-story-editor/src/api/index.js
  packages/wp-story-editor/src/api/story.js
  packages/wp-story-editor/src/components/index.js
  packages/wp-story-editor/src/components/postLock/index.js
  packages/wp-story-editor/src/components/postLock/postLock.js
  packages/wp-story-editor/src/components/postLock/postLockDialog.js
  packages/wp-story-editor/src/components/postLock/postTakeOverDialog.js
  packages/wp-story-editor/src/components/postLock/shared.js
  packages/wp-story-editor/src/components/postLock/stories/postLockDialog.js
  packages/wp-story-editor/src/components/postLock/stories/postTakeOverDialog.js
  packages/wp-story-editor/src/components/postLock/test/postLock.js
  packages/wp-story-editor/src/components/statusCheck/index.js
  packages/wp-story-editor/src/components/statusCheck/statusCheck.js
  packages/wp-story-editor/src/components/statusCheck/statusCheckFailed.js
  packages/wp-story-editor/src/components/statusCheck/stories/statusCheckFailed.js
  packages/wp-story-editor/src/components/statusCheck/test/statusCheck.js
  packages/wp-story-editor/src/components/statusCheck/utils.js
  packages/wp-story-editor/src/index.js
Labels: cla: yes, Type: Infrastructure, Package: Story Editor

#9060 Dynamic Dropdown placement when not enough space
  packages/design-system/src/components/dropDown/index.js
  packages/design-system/src/components/popup/index.js
  packages/design-system/src/components/popup/utils/getOffset.js
  packages/design-system/src/components/tooltip/index.js
Labels: Type: Bug, cla: yes, Pod: Pea, Group: Design System

#9075 Taxonomy: Increase Karma Test Coverage
  packages/story-editor/src/components/form/tags/tag.js
  packages/story-editor/src/components/panels/document/taxonomies/karma/taxonomies.karma.js
  packages/story-editor/src/karma/fixture/containers/documentPanel/categoriesAndTags.js
  packages/story-editor/src/karma/fixture/db/storyResponse.js
Labels: cla: yes, Type: Code Quality, Pod: Pea, Group: Taxonomies

#9103 Dashboard: avoid loading current user twice
  packages/dashboard/src/app/api/useUserApi.js
  packages/dashboard/src/app/views/editorSettings/test/editorSettings.js
  packages/dashboard/src/app/views/shared/useMediaOptimization.js
  packages/dashboard/src/app/views/shared/useTelemetryOptIn.js
  packages/dashboard/src/karma/apiProviderFixture.js
  packages/dashboard/src/testUtils/mockApiProvider.js
Labels: Type: Bug, cla: yes, Group: Dashboard, Group: WordPress

#9129 Media: Improve alt text for 3P media
  packages/story-editor/src/app/media/media3p/api/test/useMedia3pApi.js
  packages/story-editor/src/app/media/utils/getResourceFromMedia3p.js
  packages/story-editor/src/app/media/utils/test/getResourceFromMedia3p.js
Labels: Type: Bug, Accessibility, Group: Media, P2, Type: Infrastructure, Pod: WP & Infra, Group: 3P Media

#9097 Taxonomies: keyboard functionality
  packages/design-system/src/components/input/index.js
  packages/story-editor/src/components/panels/document/taxonomies/HierarchicalTermSelector.js
  packages/story-editor/src/components/panels/document/taxonomies/karma/taxonomies.karma.js
Labels: Type: Bug, cla: yes, Pod: Pea, Group: Design System, Group: Taxonomies

#9130 Use Node v16
  .github/workflows/build-and-deploy.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/lint-css-js-md.yml
  .github/workflows/lint-i18n.yml
  .github/workflows/plugin-release.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-karma-dashboard.yml
  .github/workflows/tests-karma-editor.yml
  .github/workflows/tests-unit-js.yml
  .github/workflows/update-browserslist.yml
  .github/workflows/update-google-fonts.yml
  .github/workflows/update-templates.yml
  .nvmrc
  package-lock.json
  package.json
  packages/activation-notice/package.json
  packages/animation/package.json
  packages/commander/package.json
  packages/commander/src/index.js
  packages/dashboard/package.json
  packages/date/package.json
  packages/design-system/package.json
  packages/e2e-test-utils/package.json
  packages/e2e-tests/package.json
  packages/fonts/package.json
  packages/glider/package.json
  packages/i18n/package.json
  packages/imgareaselect/package.json
  packages/jest-amp/package.json
  packages/jest-puppeteer-amp/package.json
  packages/karma-cuj-reporter/package.json
  packages/karma-failed-tests-reporter/package.json
  packages/karma-fixture/package.json
  packages/karma-puppeteer-client/package.json
  packages/karma-puppeteer-launcher/package.json
  packages/media/package.json
  packages/migration/package.json
  packages/patterns/package.json
  packages/react/package.json
  packages/stickers/package.json
  packages/stories-block/package.json
  packages/stories-carousel/package.json
  packages/stories-lightbox/package.json
  packages/story-editor/package.json
  packages/templates/package.json
  packages/text-sets/package.json
  packages/tinymce-button/package.json
  packages/tracking/package.json
  packages/units/package.json
  packages/widget/package.json
  packages/wp-dashboard/package.json
  packages/wp-story-editor/package.json
Labels: Type: Infrastructure, Pod: WP & Infra

#9102 Added trimmer component
  packages/story-editor/src/components/canvas/editLayer.js
  packages/story-editor/src/components/videoTrim/provider.js
  packages/story-editor/src/components/videoTrim/slider.js
  packages/story-editor/src/components/videoTrim/trimmerComponents.js
  packages/story-editor/src/components/videoTrim/useVideoNode.js
  packages/story-editor/src/components/videoTrim/videoTrimmer.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9101 Publisher Logos: Add and leverage custom REST endpoint
  .phpstorm.meta.php
  includes/Admin/Dashboard.php
  includes/Plugin.php
  includes/REST_API/Publisher_Logos_Controller.php
  packages/dashboard/src/app/api/apiProvider.js
  packages/dashboard/src/app/api/test/useSettingsApi.js
  packages/dashboard/src/app/api/useApiAlerts.js
  packages/dashboard/src/app/api/useMediaApi.js
  packages/dashboard/src/app/api/usePublisherLogosApi.js
  packages/dashboard/src/app/api/useSettingsApi.js
  packages/dashboard/src/app/reducer/media.js
  packages/dashboard/src/app/reducer/publisherLogos.js
  packages/dashboard/src/app/reducer/settings.js
  packages/dashboard/src/app/reducer/test/media.js
  packages/dashboard/src/app/reducer/test/publisherLogos.js
  packages/dashboard/src/app/reducer/test/settings.js
  packages/dashboard/src/app/serializers/index.js
  packages/dashboard/src/app/serializers/publisherLogo.js
  packages/dashboard/src/app/serializers/test/publisherLogo.js
  packages/dashboard/src/app/textContent/index.js
  packages/dashboard/src/app/views/editorSettings/index.js
  packages/dashboard/src/app/views/editorSettings/karma/editorSettings.karma.js
  packages/dashboard/src/app/views/editorSettings/publisherLogo/gridItem.js
  packages/dashboard/src/app/views/editorSettings/publisherLogo/index.js
  packages/dashboard/src/app/views/editorSettings/publisherLogo/popoverLogoContextMenu.js
  packages/dashboard/src/app/views/editorSettings/publisherLogo/stories/index.js
  packages/dashboard/src/app/views/editorSettings/publisherLogo/test/publisherLogo.js
  packages/dashboard/src/app/views/editorSettings/test/editorSettings.js
  packages/dashboard/src/dataUtils/formattedPublisherLogos.js
  packages/dashboard/src/karma/apiProviderFixture.js
  packages/dashboard/src/karma/fixture.js
  packages/e2e-test-utils/src/visitSettings.js
  tests/phpunit/integration/tests/REST_API/Publisher_Logos_Controller.php
Labels: Type: Enhancement, cla: yes, PHP, JavaScript, Group: Dashboard, Group: Settings, Pod: WP & Infra, Group: Publisher Logos

#9147 Taxonomy: Refactor data flow to work with history
  packages/story-editor/src/app/history/karma/history.karma.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/updateStory.js
  packages/story-editor/src/app/taxonomy/taxonomyProvider.js
  packages/story-editor/src/app/taxonomy/test/useTaxonomy.js
  packages/story-editor/src/components/form/tags/index.js
  packages/story-editor/src/components/form/tags/input.js
  packages/story-editor/src/components/form/tags/reducer.js
  packages/story-editor/src/components/form/tags/test/reducer.js
  packages/story-editor/src/components/panels/document/taxonomies/FlatTermSelector.js
  packages/story-editor/src/components/panels/document/taxonomies/HierarchicalTermSelector.js
  packages/story-editor/src/components/panels/document/taxonomies/karma/taxonomies.karma.js
Labels: Pod: Pea, Group: Taxonomies

#9071 Media: Use taxonomy base class for `Media_Source_Taxonomy`
  includes/Integrations/Jetpack.php
  includes/Media/Media_Source_Taxonomy.php
  includes/Media/Video/Poster.php
  includes/Migrations/Add_Media_Source.php
  includes/Migrations/Add_Poster_Generation_Media_Source.php
  includes/Migrations/Migration_Meta_To_Term.php
  includes/REST_API/Stories_Media_Controller.php
  includes/Taxonomy/Category_Taxonomy.php
  includes/Taxonomy/Tag_Taxonomy.php
  includes/Taxonomy/Taxonomy_Base.php
  includes/uninstall.php
  tests/phpunit/integration/tests/Integrations/Jetpack.php
  tests/phpunit/integration/tests/Media/Media_Source_Taxonomy.php
  tests/phpunit/integration/tests/Media/Video/Poster.php
  tests/phpunit/integration/tests/Migrations/Add_Media_Source_Editor.php
  tests/phpunit/integration/tests/Migrations/Add_Media_Source_Gif_Conversion.php
  tests/phpunit/integration/tests/Migrations/Add_Media_Source_Source_Image.php
  tests/phpunit/integration/tests/Migrations/Add_Media_Source_Source_Video.php
  tests/phpunit/integration/tests/Migrations/Add_Media_Source_Video_Optimization.php
  tests/phpunit/integration/tests/Migrations/Add_Poster_Generation_Media_Source.php
  tests/phpunit/integration/tests/Migrations/Add_VideoPress_Poster_Generation_Media_Source.php
  tests/phpunit/integration/tests/REST_API/Stories_Media_Controller.php
  tests/phpunit/integration/tests/Uninstall.php
Labels: cla: yes, PHP, Type: Code Quality, Group: Taxonomies

#9062 Pre-Publish Checklist: Use WASM AMP Validator
  includes/Admin/Editor.php
  packages/story-editor/src/components/checklist/checks/storyAmpValidationErrors.js
  packages/story-editor/src/components/checklist/checks/test/storyAmpValidationErrors.js
Labels: Type: Enhancement, cla: yes, AMP Output, Group: Pre-Publish Checklist, Group: Workspace

#9145 Publisher Logos: Remove delete confirmation dialog
  packages/dashboard/src/app/views/editorSettings/index.js
  packages/dashboard/src/app/views/editorSettings/karma/editorSettings.karma.js
  packages/dashboard/src/app/views/editorSettings/test/editorSettings.js
Labels: Type: Enhancement, Group: Dashboard, Group: Settings, Pod: Pea, Group: Publisher Logos

#9151 Cross-origin isolation: Fix errors if `$url` is `null`
  includes/Admin/Cross_Origin_Isolation.php
Labels: Type: Bug, Group: WordPress, Type: Code Quality, Pod: WP & Infra

#9095 Add Moveable for Text Presets
  packages/story-editor/src/components/library/panes/shared/libraryMoveable.js
  packages/story-editor/src/components/library/panes/text/fontPreview.js
  packages/story-editor/src/components/library/panes/text/karma/textPane.karma.js
  packages/story-editor/src/components/library/panes/text/textPane.js
  packages/story-editor/src/components/library/test/text/textPane.js
  packages/story-editor/src/components/library/text/index.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9051 Add option for choosing custom archive page
  includes/Admin/Dashboard.php
  includes/Discovery.php
  includes/Experiments.php
  includes/Settings.php
  includes/Story_Post_Type.php
  includes/Traits/Post_Type.php
  packages/dashboard/src/app/api/apiProvider.js
  packages/dashboard/src/app/api/usePagesApi.js
  packages/dashboard/src/app/api/useSettingsApi.js
  packages/dashboard/src/app/reducer/settings.js
  packages/dashboard/src/app/views/editorSettings/archive/index.js
  packages/dashboard/src/app/views/editorSettings/archive/stories/index.js
  packages/dashboard/src/app/views/editorSettings/archive/test/archive.js
  packages/dashboard/src/app/views/editorSettings/index.js
  packages/dashboard/src/app/views/editorSettings/test/editorSettings.js
  packages/dashboard/src/constants/settings.js
  packages/dashboard/src/karma/apiProviderFixture.js
  packages/dashboard/src/karma/fixture.js
  packages/design-system/src/components/search/useSearch.js
  tests/phpunit/integration/tests/Discovery.php
  tests/phpunit/integration/tests/Story_Post_Type.php
Labels: Type: Enhancement, cla: yes, Group: Dashboard, Group: WordPress, Group: Settings, Pod: WP & Infra

#9098 Media: Prevent multiple simultaneous FFmpeg operations for the same file
  packages/media/src/canTranscodeResource.js
  packages/media/src/index.js
  packages/media/src/test/canTranscodeResource.js
  packages/story-editor/src/components/checklist/checks/videoOptimization.js
  packages/story-editor/src/components/library/panes/media/local/mediaPane.js
  packages/story-editor/src/components/panels/design/videoOptions/videoOptions.js
  packages/story-editor/src/components/videoTrim/useVideoTrimMode.js
Labels: Type: Enhancement, cla: yes, P2, Pod: WP & Infra, Group: Video Optimization

#9131 Fix Page menu and Page nav button focus
  packages/story-editor/src/components/canvas/layout.js
  packages/story-editor/src/components/canvas/pagemenu/pageMenuButton.js
Labels: Type: Bug, Pod: Prometheus

#9040 Fetch page attachment link icon using API
  packages/story-editor/src/components/panels/design/pageAttachment/pageAttachment.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9161 Templates: Update image generation script to create webp versions
  packages/templates/README.md
  packages/templates/src/cli.js
Labels: Type: Performance, Pod: Pea, Group: Page Templates, Package: Templates

#9174 Remove duplicate canonical links
  includes/AMP/Canonical_Sanitizer.php
  tests/phpunit/unit/tests/AMP/Canonical_Sanitizer.php
Labels: Type: Bug, AMP Output, Pod: WP & Infra

#9175 Media: Fix progress bar for videos being processed
  packages/story-editor/src/components/library/panes/media/common/mediaElement.js
Labels: Type: Bug, Group: Media, Group: Video Optimization

#9186 Hide canvas overflow when trimming a video
  packages/story-editor/src/components/canvas/editLayer.js
  packages/story-editor/src/components/videoTrim/useVideoTrimMode.js
Labels: Type: Bug, Pod: Prometheus

#9187 Quick Actions: Remove panel highlight when entering trim mode
  docs/quick-actions.md
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
  packages/story-editor/src/app/highlights/states.js
  packages/story-editor/src/components/panels/design/videoOptions/videoOptions.js
Labels: Type: Bug, Pod: Prometheus

#9150 Improve taxonomy e2e tests
  packages/e2e-test-utils/src/experimentalFeatures.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/trashAllTerms.js
  packages/e2e-test-utils/src/withUser.js
  packages/e2e-tests/src/config/bootstrap.js
  packages/e2e-tests/src/specs/editor/taxonomy.js
  packages/story-editor/src/components/form/hierarchical/index.js
  packages/story-editor/src/components/panels/document/taxonomies/HierarchicalTermSelector.js
  packages/story-editor/src/components/panels/document/taxonomies/karma/taxonomies.karma.js
  packages/story-editor/src/karma/fixture/db/storyResponse.js
  packages/wp-story-editor/src/components/header/buttons/index.js
Labels: cla: yes, Package: E2E Tests, Group: Taxonomies

#9205 Meta Boxes: Fix form data being sent for saving
  packages/wp-story-editor/src/api/metaboxes.js
  packages/wp-story-editor/src/api/test/media.js
  packages/wp-story-editor/src/api/test/metaboxes.js
Labels: Type: Bug, cla: yes, Group: Integration, Group: WordPress, Pod: WP & Infra

#9199 Taxonomies: Fix updating the `checked` attribute
  packages/story-editor/src/components/form/hierarchical/index.js
Labels: cla: yes, Pod: Pea

#9190 Fixed edit menu background
  packages/story-editor/src/components/canvas/framesLayer.js
  packages/story-editor/src/components/videoTrim/trimmerComponents.js
  packages/story-editor/src/components/videoTrim/useVideoTrimMode.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#9124 Enable smart styling for presets as opt-in feature
  includes/Experiments.php
  packages/story-editor/src/components/canvas/useInsertTextSet.js
  packages/story-editor/src/components/library/libraryProvider.js
  packages/story-editor/src/components/library/panes/text/fontPreview.js
  packages/story-editor/src/components/library/panes/text/karma/textPane.karma.js
  packages/story-editor/src/components/library/panes/text/karma/textSets.cuj.karma.js
  packages/story-editor/src/components/library/panes/text/textIcon.js
  packages/story-editor/src/components/library/panes/text/textPane.js
  packages/story-editor/src/components/library/panes/text/useInsertPreset.js
  packages/story-editor/src/components/library/test/text/textPane.js
  packages/story-editor/src/karma/fixture/containers/library/text.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9135 Block: Add story selector for embedding single story
  includes/Admin/Admin.php
  package-lock.json
  packages/e2e-tests/src/specs/wordpress/blockWidget.js
  packages/e2e-tests/src/specs/wordpress/webStoriesBlock.js
  packages/stories-block/package.json
  packages/stories-block/src/block/block-types/latest-stories/edit.js
  packages/stories-block/src/block/block-types/selected-stories/edit.js
  packages/stories-block/src/block/block-types/selected-stories/embedPlaceholder.js
  packages/stories-block/src/block/block-types/single-story/edit.js
  packages/stories-block/src/block/block-types/single-story/embedControls.js
  packages/stories-block/src/block/block-types/single-story/embedPlaceholder.js
  packages/stories-block/src/block/block-types/single-story/insertFromURLPopover.js
  packages/stories-block/src/block/block-types/single-story/test/embedPlaceholder.js
  packages/stories-block/src/block/components/loaderContainer.js
  packages/stories-block/src/block/components/storyPicker/fetchSelectedStories.js
  packages/stories-block/src/block/components/storyPicker/itemOverlay.js
  packages/stories-block/src/block/components/storyPicker/selectStories.js
  packages/stories-block/src/block/components/storyPicker/sortStories.js
  packages/stories-block/src/block/components/storyPicker/storyPicker.js
  packages/stories-block/src/block/components/storyPicker/storyPreview.js
  packages/stories-block/src/block/components/test/loaderContainer.js
  packages/stories-block/src/block/constants.js
  packages/stories-block/src/block/edit.js
Labels: Type: Enhancement, cla: yes, P2, Pod: WP & Infra, Group: Blocks

#9144 PHP Integration Tests: Move repeated logic to base class
  tests/phpunit/integration/includes/Test_REST_TestCase.php
  tests/phpunit/integration/tests/REST_API/Autosaves_Controller.php
  tests/phpunit/integration/tests/REST_API/Embed_Controller.php
  tests/phpunit/integration/tests/REST_API/Hotlinking_Controller.php
  tests/phpunit/integration/tests/REST_API/Link_Controller.php
  tests/phpunit/integration/tests/REST_API/Lock_Controller.php
  tests/phpunit/integration/tests/REST_API/Page_Template_Controller.php
  tests/phpunit/integration/tests/REST_API/Publisher_Logos_Controller.php
  tests/phpunit/integration/tests/REST_API/Status_Check_Controller.php
  tests/phpunit/integration/tests/REST_API/Stories_Controller.php
  tests/phpunit/integration/tests/REST_API/Stories_Media_Controller.php
  tests/phpunit/integration/tests/REST_API/Stories_Users_Controller.php
Labels: cla: yes, PHP, Group: WordPress, Type: Code Quality, Pod: WP & Infra

#9220 Taxonomies: Check `rest-base` and `slug` for permissions
  packages/story-editor/src/components/panels/document/taxonomies/taxonomies.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Taxonomies

#9218 Story Auto Analytics: Update Link
  packages/dashboard/src/app/views/editorSettings/googleAnalytics/index.js
Labels: Type: Documentation, cla: yes, Pod: WP & Infra, Group: Analytics

#8976 Dashboard: Improve story count for authors
  includes/REST_API/Stories_Controller.php
  tests/phpunit/integration/tests/REST_API/Stories_Controller.php
Labels: Type: Bug, cla: yes, P2, Group: Dashboard, Pod: WP & Infra, Package: Dashboard
