Repository GoogleForCreators/web-stories-wp, pull requests merged in 2021-08, with the labels that each got.

#8450 Dashboard: Add Post Lock UI to List View
  assets/src/dashboard/app/views/myStories/content/listView/components.js
  assets/src/dashboard/app/views/myStories/content/listView/index.js
  assets/src/dashboard/app/views/myStories/content/stories/index.js
  assets/src/dashboard/app/views/myStories/content/storyGridItem/index.js
  assets/src/dashboard/app/views/myStories/content/storyListItem/components.js
  assets/src/dashboard/app/views/myStories/content/storyListItem/index.js
  assets/src/dashboard/app/views/myStories/content/test/storiesView.js
  assets/src/dashboard/app/views/myStories/karma/myStories.karma.js
  assets/src/dashboard/dataUtils/formattedStoriesArray.js
  assets/src/dashboard/testUtils/renderWithProviders.js
Labels: Group: Dashboard, Pod: Pea, Type: Enhancement, cla: yes

#8512 Document Panel: Make poster image cropping less strict
  assets/src/edit-story/components/mediaPicker/utils/mustBeCropped.js
  assets/src/edit-story/components/mediaPicker/utils/test/mustBeCropped.js
Labels: Group: Document Panel, P2, Pod: WP & Infra, Type: Enhancement, cla: yes

#8447 Define block icon as React component
  packages/stories-block/src/block/block-types/latest-stories/edit.js
  packages/stories-block/src/block/block-types/single-story/edit.js
  packages/stories-block/src/block/edit.js
  packages/stories-block/src/block/icons.js
  packages/stories-block/src/block/images/config-panel/circles-carousel-view-panel-icon.svg
  packages/stories-block/src/block/images/view-type/circles-carousel-view.svg
  packages/stories-block/src/block/index.js
  packages/stories-block/src/images/icon.svg
Labels: Pod: WP & Infra, Type: Bug, Type: Infrastructure, cla: yes

#8501 Media Modal: Fix invisible crop selection
  .eslintignore
  .phpstorm.meta.php
  includes/Admin/ImgAreaSelect_Patch.php
  includes/Assets.php
  includes/Plugin.php
  package-lock.json
  package.json
  packages/imgareaselect/README.md
  packages/imgareaselect/package.json
  packages/imgareaselect/src/index.js
  tests/phpunit/tests/Admin/ImgAreaSelect_Patch.php
  tests/phpunit/tests/Assets.php
  webpack.config.cjs
Labels: Group: Media, Group: WordPress, P1, Pod: WP & Infra, Type: Bug, cla: yes

#8535 Remove duplicate public path assignment
  assets/src/edit-story/index.js
Labels: Type: Code Quality, cla: yes

#8505 Context Menu: Keyboard Shortcut Color Contrast
  packages/design-system/src/components/contextMenu/menuItem.js
  packages/design-system/src/components/contextMenu/stories/index.js
Labels: Accessibility, Group: Design System, Pod: Pea, Type: Bug, cla: yes

#8467 Editor: Add Play/Stop Animations Keyboard Shortcut
  assets/src/edit-story/app/canvas/useCanvasKeys.js
  assets/src/edit-story/components/canvas/pagemenu/animationToggle.js
  assets/src/edit-story/components/keyboardShortcutsMenu/keyboardShortcutList.js
Labels: Group: Keyboard Shortcuts, Package: Story Editor, Pod: Pea, cla: yes

#8506 Checklist: Add New Check For Publisher Name aka Site Title
  assets/src/edit-story/components/checklist/checklistContent/priorityChecks.js
  assets/src/edit-story/components/checklist/checks/storyMissingPublisherName.js
  assets/src/edit-story/components/checklist/constants.js
  includes/Admin/Editor.php
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Enhancement, cla: yes

#8491 Render images instead of components for text sets
  .eslintrc
  assets/src/edit-story/components/library/panes/text/textSets/test/textSet.js
  assets/src/edit-story/components/library/panes/text/textSets/textSet.js
  assets/src/edit-story/components/library/panes/text/textSets/textSets.js
  assets/src/edit-story/components/library/panes/text/textSets/textSetsPane.js
  docs/environment-variables.md
  package-lock.json
  package.json
  packages/text-sets/README.md
  packages/text-sets/package.json
  packages/text-sets/src/cli.js
  packages/text-sets/src/loadTextSets.js
  webpack.config.cjs
Labels: Group: Text Sets, Package: Text Sets, Type: Enhancement, cla: yes

#8497 Stickers: Clean up panel
  assets/src/edit-story/components/library/constants.js
  assets/src/edit-story/components/library/karma/shapes/shapes.karma.js
  assets/src/edit-story/components/library/panes/shapes/shapePreview.js
  assets/src/edit-story/components/library/panes/shapes/shapesPane.js
  assets/src/edit-story/components/library/panes/shapes/stickerButton.js
  assets/src/edit-story/components/library/panes/shapes/stickerPreview.js
  assets/src/edit-story/components/library/panes/shared/libraryMoveable.js
  assets/src/edit-story/components/library/test/shapes/stickerPreview.js
  assets/src/edit-story/karma/fixture/containers/container.js
  assets/src/edit-story/karma/fixture/containers/library/index.js
Labels: Elements: Stickers, Pod: Pea, Type: Enhancement, cla: yes

#8517 Video Muting UX
  assets/src/edit-story/components/library/panes/media/common/innerElement.js
  assets/src/edit-story/components/library/panes/media/common/mediaElement.js
  assets/src/edit-story/components/panels/design/videoOptions/videoOptions.js
  assets/src/edit-story/icons/index.js
  assets/src/edit-story/icons/volume_off.svg
Labels: Elements: Video, Group: Media, P1, Pod: WP & Infra, Type: Enhancement, cla: yes

#8533 Remove unneeded `FlagsProvider` usage in story output
  assets/src/edit-story/app/story/actions/useAutoSave.js
  assets/src/edit-story/app/story/actions/useSaveStory.js
  assets/src/edit-story/app/story/utils/getStoryPropsToSave.js
  assets/src/edit-story/app/story/utils/test/getStoryPropsToSave.js
  assets/src/edit-story/components/statusCheck/utils.js
  assets/src/edit-story/output/utils/getStoryMarkup.js
  assets/src/edit-story/output/utils/test/getStoryMarkup.js
Labels: AMP Output, Pod: WP & Infra, Type: Code Quality, cla: yes

#8562 Use custom field
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/app/api/test/_utils.js
  assets/src/edit-story/app/media/utils/getResourceFromAttachment.js
  assets/src/edit-story/app/media/utils/getResourceFromMediaPicker.js
  assets/src/edit-story/app/media/utils/useDetectVideoHasAudio.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/index.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/test/useMediaUploadQueue.js
  assets/src/edit-story/components/library/test/_utils/mediaResponseWithPdfAndImage.json
  assets/src/edit-story/karma/fixture/db/getMediaResponse.js
  includes/Media/Media.php
Labels: cla: yes

#8527 Templates: Add new templates from batch 3
  packages/stickers/src/buying-art-on-the-internet/blackInstagram.js
  packages/stickers/src/buying-art-on-the-internet/index.js
  packages/stickers/src/hawaii-travel-packing-list/cartBag.js
  packages/stickers/src/hawaii-travel-packing-list/greenLeaf.js
  packages/stickers/src/hawaii-travel-packing-list/index.js
  packages/stickers/src/hawaii-travel-packing-list/palmLeaf.js
  packages/stickers/src/hawaii-travel-packing-list/palmTree.js
  packages/stickers/src/how-contact-tracing-works/index.js
  packages/stickers/src/how-contact-tracing-works/phoneInHand.js
  packages/stickers/src/how-contact-tracing-works/rings.js
  packages/stickers/src/index.js
  packages/stickers/src/los-angeles-city-guide/greenLocationPin.js
  packages/stickers/src/los-angeles-city-guide/index.js
  packages/stickers/src/rock-music-festival/flames.js
  packages/stickers/src/rock-music-festival/index.js
  packages/stickers/src/rock-music-festival/orangeLightning.js
  packages/stickers/src/rock-music-festival/whiteLightning.js
  packages/stickers/src/summer-fashion-collection/index.js
  packages/stickers/src/summer-fashion-collection/yellowHeart.js
  packages/stickers/src/summer-fashion-collection/yellowInstagram.js
  packages/stickers/src/summer-fashion-collection/yellowStar.js
  packages/templates/src/getTemplates.js
  packages/templates/src/raw/buying-art-on-the-internet/index.js
  packages/templates/src/raw/buying-art-on-the-internet/template.json
  packages/templates/src/raw/celebrity-q-and-a/index.js
  packages/templates/src/raw/celebrity-q-and-a/template.json
  packages/templates/src/raw/google-music-studio-tour/index.js
  packages/templates/src/raw/google-music-studio-tour/template.json
  packages/templates/src/raw/hawaii-travel-packing-list/index.js
  packages/templates/src/raw/hawaii-travel-packing-list/template.json
  packages/templates/src/raw/house-hunting/index.js
  packages/templates/src/raw/house-hunting/template.json
  packages/templates/src/raw/how-contact-tracing-works/index.js
  packages/templates/src/raw/how-contact-tracing-works/template.json
  packages/templates/src/raw/los-angeles-city-guide/index.js
  packages/templates/src/raw/los-angeles-city-guide/template.json
  packages/templates/src/raw/rock-music-festival/index.js
  packages/templates/src/raw/rock-music-festival/template.json
  packages/templates/src/raw/summer-fashion-collection/index.js
  packages/templates/src/raw/summer-fashion-collection/template.json
Labels: Group: Page Templates, Group: Templates, Package: Templates, cla: yes

#8563 Editor: Stop importing Moveable dynamically
  assets/src/edit-story/components/moveable/index.js
  packages/e2e-tests/src/specs/editor/media/insertWebMVideo.js
Labels: Group: Workspace, Type: Bug, cla: yes

#8537 Packages: Move `karma-fixtures` to new structure
  assets/src/dashboard/karma/fixture.js
  assets/src/edit-story/karma/fixture/fixture.js
  karma-dashboard.config.cjs
  karma-edit-story.config.cjs
  package-lock.json
  package.json
  packages/karma-fixture/README.md
  packages/karma-fixture/package.json
  packages/karma-fixture/src/actPromise.js
  packages/karma-fixture/src/client_with_context.html
  packages/karma-fixture/src/componentStub.js
  packages/karma-fixture/src/events.js
  packages/karma-fixture/src/index.js
  packages/karma-fixture/src/init.js
Labels: P3, Type: Infrastructure, cla: yes

#8382 Right Click Menu: Foreground Media Menu
  assets/src/edit-story/app/rightClickMenu/constants.js
  assets/src/edit-story/app/rightClickMenu/provider.js
  assets/src/edit-story/app/rightClickMenu/test/useRightClickMenu.js
  assets/src/edit-story/components/canvas/karma/rightClickMenu.karma.js
  assets/src/edit-story/components/keyboardShortcutsMenu/keyboardShortcutList.js
  assets/src/edit-story/elements/video/icon.js
  assets/src/edit-story/karma/fixture/containers/rightClickMenu.js
Labels: Group: Context Menu, Pod: Pea, Type: Enhancement, cla: yes

#8571 Pre-Publish Checklist: Fix false positive for poster attribute
  assets/src/edit-story/components/checklist/checks/test/videoElementMissingPoster.js
  assets/src/edit-story/components/checklist/checks/videoElementMissingPoster.js
Labels: Group: Pre-Publish Checklist, Pod: WP & Infra, Type: Bug, cla: yes

#8575 Composer: Remove obsolete `provide` config
  composer.json
  composer.lock
Labels: Dependencies, cla: yes

#8579 Remove GIF optimization feature flag code
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/index.js
  assets/src/edit-story/components/library/panes/media/local/mediaPane.js
  includes/Experiments.php
Labels: Group: Video Optimization, P2, Pod: WP & Infra, Type: Code Quality, cla: yes

#8583 Improve admin menu icon styling on WordPress.com
  assets/src/dashboard/style.css
  assets/src/edit-story/style.css
Labels: Group: WordPress, P3, Pod: WP & Infra, Type: Bug, cla: yes

#8541 Media: Backfill audio information for existing videos
  .phpstorm.meta.php
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/app/api/test/_utils.js
  assets/src/edit-story/app/media/local/actions.js
  assets/src/edit-story/app/media/local/reducer.js
  assets/src/edit-story/app/media/local/test/useContextValueProvider.js
  assets/src/edit-story/app/media/local/typedefs.js
  assets/src/edit-story/app/media/local/types.js
  assets/src/edit-story/app/media/local/useContextValueProvider.js
  assets/src/edit-story/app/media/test/useUploadMedia.js
  assets/src/edit-story/app/media/useUploadMedia.js
  assets/src/edit-story/app/media/utils/getResourceFromAttachment.js
  assets/src/edit-story/app/media/utils/getResourceFromMediaPicker.js
  assets/src/edit-story/app/media/utils/useDetectVideoHasAudio.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/index.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/test/useMediaUploadQueue.js
  assets/src/edit-story/components/library/test/_utils/mediaResponseWithPdfAndImage.json
  assets/src/edit-story/karma/fixture/db/getMediaResponse.js
  includes/Media/Media.php
  includes/Media/Video_Muting.php
  includes/Plugin.php
  includes/templates/admin/edit-story.php
  includes/uninstall.php
  packages/media/src/createResource.js
  tests/phpunit/tests/Integrations/Jetpack.php
  tests/phpunit/tests/Media/Media.php
  tests/phpunit/tests/Media/Video_Muting.php
  tests/phpunit/tests/Migrations/Add_Poster_Generation_Media_Source.php
  tests/phpunit/tests/Migrations/Add_VideoPress_Poster_Generation_Media_Source.php
  tests/phpunit/tests/Migrations/Remove_Unneeded_Attachment_Meta.php
  tests/phpunit/tests/REST_API/Stories_Media_Controller.php
Labels: Group: Media, Type: Enhancement, cla: yes

#8539 Stickers: Enable panel by default
  includes/Experiments.php
Labels: Elements: Stickers, Pod: Pea, Type: Enhancement, cla: yes

#8285 Improve Text Presets smart color performance
  assets/src/edit-story/components/library/panes/text/karma/textPane.karma.js
  assets/src/edit-story/components/library/panes/text/textIcon.js
  assets/src/edit-story/components/library/panes/text/textPane.js
  assets/src/edit-story/components/library/panes/text/useInsertPreset.js
  assets/src/edit-story/components/library/test/text/textPane.js
  assets/src/edit-story/components/library/text/fontPreview.js
  assets/src/edit-story/utils/usePageAsCanvas.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#8581 Story Locking: Fix blurry avatars
  assets/src/dashboard/app/serializers/stories.js
  assets/src/edit-story/app/story/effects/useLoadStory.js
  assets/src/edit-story/components/postLock/postLock.js
Labels: Group: Post Locking, P2, Pod: WP & Infra, Type: Bug, cla: yes

#8553 Bug: Fix Inconsistent Secondary Menu Popup Toggles
  assets/src/edit-story/components/carousel/secondaryMenu.js
Labels: Type: Bug, cla: yes, Pod: Pea, Group: Pre-Publish Checklist, Group: Help Center, Group: Keyboard Shortcuts

#8558 Add `@web-stories-wp` prefix to karma packages name
  karma-dashboard.config.cjs
  karma-edit-story.config.cjs
  package-lock.json
  package.json
  packages/karma-cuj-reporter/README.md
  packages/karma-cuj-reporter/package.json
  packages/karma-cuj-reporter/src/index.cjs
  packages/karma-failed-tests-reporter/README.md
  packages/karma-failed-tests-reporter/package.json
  packages/karma-failed-tests-reporter/src/index.cjs
  packages/karma-puppeteer-client/package.json
  packages/karma-puppeteer-client/src/client.js
  packages/karma-puppeteer-client/src/index.cjs
  packages/karma-puppeteer-launcher/package.json
  packages/karma-puppeteer-launcher/src/index.cjs
Labels: cla: yes, Type: Infrastructure

#8530 Fix eyedropper test
  assets/src/edit-story/components/canvas/karma/keys.karma.js
  assets/src/edit-story/components/colorPicker/currentColorPicker.js
  assets/src/edit-story/components/colorPicker/karma/eyedropper.karma.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8580 Delete terms on plugin uninstall
  includes/uninstall.php
  phpstan.neon.dist
  tests/phpstan/src/GetTermsDynamicFunctionReturnTypeExtension.php
  tests/phpunit/tests/Uninstall.php
Labels: Type: Enhancement, cla: yes, P2, Group: WordPress, Pod: WP & Infra

#8590 Right Click Menu: Background Media menu
  assets/src/edit-story/app/rightClickMenu/constants.js
  assets/src/edit-story/app/rightClickMenu/provider.js
  assets/src/edit-story/app/rightClickMenu/test/useRightClickMenu.js
  assets/src/edit-story/components/canvas/karma/rightClickMenu.karma.js
  assets/src/edit-story/elements/media/edit.js
  assets/src/edit-story/elements/media/scalePanel.js
  assets/src/edit-story/karma/fixture/containers/rightClickMenu.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu

#8597 Fix text preset related Karma tests
  assets/src/edit-story/components/library/panes/text/karma/textPane.karma.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8600 Activation Notice: Externalize dependencies
  __mocks__/@wordpress/element.js
  package-lock.json
  packages/activation-notice/package.json
  packages/activation-notice/src/app/components/link.js
  packages/activation-notice/src/app/components/step1.js
  packages/activation-notice/src/app/components/step2.js
  packages/activation-notice/src/app/components/step3.js
  webpack.config.cjs
Labels: cla: yes, Type: Code Quality, Pod: WP & Infra, Package: Activation Notice

#8578 CTA (Outlink) improvements
  assets/src/edit-story/components/canvas/pageAttachment/arrowBar.svg
  assets/src/edit-story/components/canvas/pageAttachment/defaultIcon.svg
  assets/src/edit-story/components/canvas/pageAttachment/index.js
  assets/src/edit-story/components/canvas/pageAttachment/karma/pageAttachment.cuj.karma.js
  assets/src/edit-story/components/form/index.js
  assets/src/edit-story/components/form/linkIcon.js
  assets/src/edit-story/components/panels/design/link/link.js
  assets/src/edit-story/components/panels/design/pageAttachment/pageAttachment.js
  assets/src/edit-story/constants/index.js
  assets/src/edit-story/output/page.js
  assets/src/edit-story/output/test/page.js
  includes/KSES.php
  packages/migration/src/migrate.js
  packages/migration/src/migrations/test/v0032_pageOutlinkTheme.js
  packages/migration/src/migrations/v0032_pageOutlinkTheme.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus, Group: Page Attachment

#8573 Create story-editor and wp-story-editor packages
  .eslintrc
  .github/workflows/tests-karma-editor.yml
  .storybook/main.cjs
  .storybook/preview.js
  .storybook/stories/playground/index.js
  assets/src/dashboard/app/api/useStoryApi.js
  assets/src/dashboard/app/api/useTemplateApi.js
  assets/src/dashboard/app/font/fontProvider.js
  assets/src/dashboard/app/views/exploreTemplates/content/index.js
  assets/src/dashboard/app/views/exploreTemplates/content/test/content.js
  assets/src/dashboard/app/views/myStories/content/test/content.js
  assets/src/dashboard/app/views/savedTemplates/content/index.js
  assets/src/dashboard/app/views/savedTemplates/content/test/content.js
  assets/src/dashboard/app/views/savedTemplates/test/savedTemplates.js
  assets/src/dashboard/app/views/shared/useTelemetryOptIn.js
  assets/src/dashboard/app/views/templateDetails/content/detailsGallery/stories/index.js
  assets/src/dashboard/app/views/templateDetails/content/relatedGrid/stories/index.js
  assets/src/dashboard/app/views/templateDetails/content/relatedGrid/test/relatedGrid.js
  assets/src/dashboard/app/views/templateDetails/content/stories/index.js
  assets/src/dashboard/app/views/templateDetails/index.js
  assets/src/dashboard/components/cardGallery/index.js
  assets/src/dashboard/components/cardGallery/stories/index.js
  assets/src/dashboard/components/cardGallery/test/cardGallery.js
  assets/src/dashboard/components/cardGridItem/cardPreview.js
  assets/src/dashboard/types.js
  codecov.yml
  docs/external-template-creation.md
  docs/migrations.md
  docs/page-templates.md
  docs/quick-actions.md
  karma-edit-story.config.cjs
  package-lock.json
  package.json
  packages/story-editor/README.md
  packages/story-editor/package.json
  packages/story-editor/src/components/helpCenter/quickTip/index.js
  packages/story-editor/src/components/library/panes/pageTemplates/karma/pageTemplatesPane.karma.js
  packages/story-editor/src/components/mediaPicker/useMediaPicker.js
  packages/story-editor/src/dataUtils/formattedTemplatesArray.js
  packages/story-editor/src/index.js
  packages/story-editor/src/karma/fixture/fixture.js
  packages/wp-story-editor/README.md
  packages/wp-story-editor/package.json
  packages/wp-story-editor/src/index.js
  packages/wp-story-editor/src/publicPath.js
  packages/wp-story-editor/src/style.css
  webpack.config.cjs
Labels: cla: yes, Type: Infrastructure, Package: Story Editor

#8608 Checklist: Extract shared component for video checks
  assets/src/edit-story/components/checklist/checks/imageElementResolution.js
  assets/src/edit-story/components/checklist/checks/shared/videoChecklistCard.js
  assets/src/edit-story/components/checklist/checks/videoElementLength.js
  assets/src/edit-story/components/checklist/checks/videoElementMissingCaptions.js
  assets/src/edit-story/components/checklist/checks/videoElementMissingDescription.js
  assets/src/edit-story/components/checklist/checks/videoElementMissingPoster.js
  assets/src/edit-story/components/checklist/checks/videoElementResolution.js
  assets/src/edit-story/components/checklist/constants.js
Labels: cla: yes, Type: Code Quality, Group: Pre-Publish Checklist

#8604 Code quality: Split the Media class into multiple classes
  .phpstorm.meta.php
  includes/Discovery.php
  includes/Integrations/Jetpack.php
  includes/Media/Image_Sizes.php
  includes/Media/Media.php
  includes/Media/Media_Source_Taxonomy.php
  includes/Media/Video/Captions.php
  includes/Media/Video/Muting.php
  includes/Media/Video/Optimization.php
  includes/Media/Video/Poster.php
  includes/Migrations/Add_Media_Source.php
  includes/Migrations/Migration_Meta_To_Term.php
  includes/Migrations/Remove_Unneeded_Attachment_Meta.php
  includes/Model/Story.php
  includes/Plugin.php
  includes/REST_API/Autosaves_Controller.php
  includes/REST_API/Stories_Controller.php
  includes/REST_API/Stories_Media_Controller.php
  includes/Traits/Publisher.php
  includes/uninstall.php
  tests/phpunit/tests/Admin/Admin.php
  tests/phpunit/tests/Integrations/Jetpack.php
  tests/phpunit/tests/Media/Image_Sizes.php
  tests/phpunit/tests/Media/Media.php
  tests/phpunit/tests/Media/Media_Source_Taxonomy.php
  tests/phpunit/tests/Media/Video/Captions.php
  tests/phpunit/tests/Media/Video/Muting.php
  tests/phpunit/tests/Media/Video/Optimization.php
  tests/phpunit/tests/Media/Video/Poster.php
  tests/phpunit/tests/Migrations/Add_Media_Source_Editor.php
  tests/phpunit/tests/Migrations/Add_Media_Source_Gif_Conversion.php
  tests/phpunit/tests/Migrations/Add_Media_Source_Source_Image.php
  tests/phpunit/tests/Migrations/Add_Media_Source_Source_Video.php
  tests/phpunit/tests/Migrations/Add_Media_Source_Video_Optimization.php
  tests/phpunit/tests/Migrations/Add_Poster_Generation_Media_Source.php
  tests/phpunit/tests/Migrations/Add_VideoPress_Poster_Generation_Media_Source.php
  tests/phpunit/tests/Migrations/Remove_Unneeded_Attachment_Meta.php
  tests/phpunit/tests/Uninstall.php
Labels: cla: yes, Group: Media, P2, PHP, Type: Code Quality, Pod: WP & Infra

#8514 Editor: reduce number of fields in API responses
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/app/story/actions/useSaveStory.js
  includes/templates/admin/edit-story.php
Labels: Type: Enhancement, cla: yes, Type: Performance, Pod: WP & Infra

#8606 Right Click Menu: Background right click menu - replace background image
  assets/src/edit-story/app/highlights/quickActions/useQuickActions.js
  assets/src/edit-story/app/rightClickMenu/provider.js
  assets/src/edit-story/components/canvas/karma/rightClickMenu.karma.js
  assets/src/edit-story/components/library/panes/media/local/mediaPane.js
  assets/src/edit-story/karma/fixture/containers/rightClickMenu.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu

#8540 Templates: fixes few typos and inconsistencies in content
  packages/templates/src/raw/12-hours-in-barcelona/template.json
  packages/templates/src/raw/album-releases/template.json
  packages/templates/src/raw/baking-bread-guide/template.json
  packages/templates/src/raw/belly-fat-workout/template.json
  packages/templates/src/raw/fitness-apps-ranked/template.json
  packages/templates/src/raw/indoor-garden-oasis/template.json
  packages/templates/src/raw/pizzas-in-nyc/template.json
  packages/templates/src/raw/sangria-artichoke/template.json
  packages/templates/src/raw/street-style-on-the-go/template.json
  packages/templates/src/raw/ultimate-comparison/template.json
  packages/templates/src/raw/ways-to-eat-avocado/template.json
Labels: Type: Enhancement, cla: yes, Group: Templates, Package: Templates

#8634 Enable Video Muting by default
  includes/Experiments.php
Labels: Type: Enhancement, cla: yes, Elements: Video, Pod: WP & Infra, Group: Video Optimization

#8635 Refactoring: Move `react-modal` export to `design-system` package
  assets/src/dashboard/app/views/editorSettings/test/editorSettings.js
  assets/src/dashboard/index.js
  assets/src/dashboard/karma/fixture.js
  package-lock.json
  package.json
  packages/design-system/src/index.js
  packages/story-editor/package.json
  packages/story-editor/src/components/header/test/buttons.js
  packages/story-editor/src/components/library/panes/media/local/test/videoOptimizationDialog.js
  packages/story-editor/src/components/library/test/deleteDialog.js
  packages/story-editor/src/components/library/test/mediaEditDialog.js
  packages/story-editor/src/components/postLock/test/postLock.js
  packages/story-editor/src/components/statusCheck/test/statusCheck.js
  packages/story-editor/src/index.js
  packages/story-editor/src/karma/fixture/fixture.js
  packages/wp-story-editor/package.json
  packages/wp-story-editor/src/index.js
Labels: cla: yes, Type: Infrastructure, Package: Story Editor

#8443 Checklist: Add new AMP validation check
  assets/src/edit-story/components/checklist/checklistContent/accessibilityChecks.js
  assets/src/edit-story/components/checklist/checklistContent/designChecks.js
  assets/src/edit-story/components/checklist/checklistContent/priorityChecks.js
  assets/src/edit-story/components/checklist/checks/storyAmpValidationErrors.js
  assets/src/edit-story/components/checklist/checks/storyPagesCount.js
  assets/src/edit-story/components/checklist/checks/test/storyAmpValidationErrors.js
  assets/src/edit-story/components/checklist/constants.js
  assets/src/edit-story/components/header/buttons/buttonWithChecklistWarning.js
  includes/Admin/Editor.php
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Pre-Publish Checklist

#8636 Refactoring: Change script handle from `edit-story` to `wp-story-editor` in webpack and other places
  includes/Admin/Editor.php
  karma-edit-story.config.cjs
  web-stories.php
  webpack.config.cjs
Labels: cla: yes, Type: Infrastructure, Package: Story Editor

#8637 Refactoring: Move `localStore` utils to `design-system` package
  assets/src/dashboard/app/views/shared/useTelemetryOptIn.js
  packages/design-system/src/index.js
  packages/design-system/src/utils/localStore.js
  packages/story-editor/src/app/helpCenter/provider.js
  packages/story-editor/src/app/media/useUploadMedia.js
  packages/story-editor/src/components/library/karma/libraryTabs.karma.js
  packages/story-editor/src/components/library/panes/media/local/stories/videoOptimizationDialog.js
  packages/story-editor/src/components/library/panes/media/local/test/videoOptimizationDialog.js
  packages/story-editor/src/components/library/panes/media/local/videoOptimizationDialog.js
  packages/story-editor/src/components/library/panes/media/media3p/karma/mediaFetching.karma.js
  packages/story-editor/src/components/library/panes/media/media3p/termsDialog.js
  packages/story-editor/src/components/library/panes/text/textSets/textSetsPane.js
  packages/story-editor/src/components/library/test/termsDialog.js
  packages/story-editor/src/components/panels/design/preset/confirmationDialog.js
  packages/story-editor/src/components/panels/design/preset/presetPanel.js
  packages/story-editor/src/components/panels/panel/panel.js
  packages/story-editor/src/index.js
Labels: cla: yes, Type: Infrastructure, Package: Story Editor

#8623 Add GitHub action to update browserslist db
  .github/workflows/update-browserslist.yml
Labels: cla: yes, Type: Infrastructure, Pod: WP & Infra

#8644 Enable video cache feature by default
  includes/Experiments.php
Labels: Type: Enhancement, cla: yes, Group: Settings, Pod: WP & Infra

#8648 Add changelog for v1.10.0
  readme.txt
Labels: Type: Documentation, cla: yes, Type: Release

#8605 Right Click Menu: Text Element Menu v2
  packages/design-system/src/components/contextMenu/menu.js
  packages/story-editor/src/app/rightClickMenu/constants.js
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/app/rightClickMenu/test/useRightClickMenu.js
  packages/story-editor/src/app/rightClickMenu/test/utils.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/panels/design/preset/useAddPreset.js
  packages/story-editor/src/elements/text/constants.js
  packages/story-editor/src/karma/fixture/containers/rightClickMenu.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu

#8601 Right Click Menu: Update docs
  docs/right-click-menu.md
Labels: cla: yes, Type: Code Quality, Pod: Pea, Group: Context Menu

#8346 Pre-Publish Checklist: Only show cards if user has the required permission to fix the issue
  docs/checklist.md
  packages/story-editor/src/components/checklist/checklistContent/accessibilityChecks.js
  packages/story-editor/src/components/checklist/checklistContent/designChecks.js
  packages/story-editor/src/components/checklist/checklistContent/priorityChecks.js
  packages/story-editor/src/components/checklist/checks/imageElementResolution.js
  packages/story-editor/src/components/checklist/checks/storyPagesCount.js
  packages/story-editor/src/components/checklist/checks/test/imageElementResolution.js
  packages/story-editor/src/components/checklist/checks/test/storyPagesCount.js
  packages/story-editor/src/components/checklist/checks/test/videoElementResolution.js
  packages/story-editor/src/components/checklist/checks/videoElementResolution.js
  packages/story-editor/src/components/checklist/constants.js
  packages/story-editor/src/components/checklist/karma/checklist.karma.js
  packages/story-editor/src/karma/fixture/containers/checklist.js
  packages/story-editor/src/karma/fixture/containers/documentPanel.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Pre-Publish Checklist

#8639 PHPCS: Update configuration and address errors
  .github/workflows/lint-php.yml
  composer.json
  includes/Admin/Dashboard.php
  includes/Admin/Editor.php
  includes/Admin/TinyMCE.php
  includes/Assets.php
  includes/Integrations/Site_Kit.php
  includes/Migrations/Yoast_Reindex_Stories.php
  includes/REST_API/Embed_Controller.php
  includes/REST_API/Stories_Controller.php
  includes/namespace.php
  includes/templates/admin/edit-story.php
  includes/uninstall.php
  phpcs.xml.dist
  uninstall.php
Labels: cla: yes, Type: Infrastructure, Pod: WP & Infra

#8642 Allow hiding 3rd party media tab
  includes/Admin/Editor.php
  packages/e2e-tests/src/plugins/web-stories-disable-media3p.php
  packages/e2e-tests/src/specs/editor/media/insert3PMedia.js
  packages/story-editor/src/components/library/libraryProvider.js
  packages/story-editor/src/components/library/test/useLibrary.js
  packages/story-editor/src/karma/fixture/fixture.js
Labels: Type: Enhancement, cla: yes, Group: Media, P2, Group: Integration, Pod: WP & Infra, Group: 3P Media, Group: Library

#8654 Fix checklist karma tests
  packages/story-editor/src/components/checklist/constants.js
  packages/story-editor/src/components/checklist/karma/checklist.karma.js
Labels: cla: yes, Type: Infrastructure, Pod: WP & Infra

#8615 Right Click Menu: Page v2
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/app/rightClickMenu/test/useRightClickMenu.js
  packages/story-editor/src/components/canvas/karma/backgroundCopyPaste.karma.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu

#8591 Infer User Capabilities from REST API Responses
  includes/Admin/Editor.php
  includes/REST_API/Stories_Base_Controller.php
  packages/dashboard/src/app/api/test/apiProvider.js
  packages/dashboard/src/app/serializers/stories.js
  packages/dashboard/src/app/serializers/test/stories.js
  packages/dashboard/src/app/views/myStories/content/storyGridItem/components.js
  packages/dashboard/src/app/views/myStories/content/storyGridItem/storyDisplayContent.js
  packages/dashboard/src/app/views/myStories/content/test/content.js
  packages/dashboard/src/app/views/myStories/content/test/storiesView.js
  packages/dashboard/src/components/popoverMenu/story-menu-generator.js
  packages/dashboard/src/components/popoverMenu/test/story-menu-generator.js
  packages/dashboard/src/constants/stories.js
  packages/dashboard/src/dataUtils/formattedStoriesArray.js
  packages/story-editor/src/app/story/effects/useHistoryReplay.js
  packages/story-editor/src/app/story/effects/useLoadStory.js
  packages/story-editor/src/app/story/useStoryReducer/actions.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/restore.js
  packages/story-editor/src/app/story/useStoryReducer/test/restore.js
  packages/story-editor/src/app/story/useStoryReducer/useStoryReducer.js
  packages/story-editor/src/components/header/buttons/publish.js
  packages/story-editor/src/components/header/test/buttons.js
  packages/story-editor/src/components/panels/document/publish/publish.js
  packages/story-editor/src/components/panels/document/publish/test/publish.js
  packages/story-editor/src/components/panels/document/status/status.js
  packages/story-editor/src/components/panels/document/status/test/status.js
  packages/story-editor/src/karma/fixture/fixture.js
  tests/phpunit/tests/REST_API/Stories_Controller.php
Labels: Type: Enhancement, cla: yes, P2, Group: Dashboard, Group: WordPress, Pod: WP & Infra, Group: Workspace

#8629 Fix canvas image generation for retina screens
  packages/story-editor/src/components/colorPicker/eyedropper.js
  packages/story-editor/src/utils/usePageAsCanvas.js
Labels: Type: Bug, cla: yes, Pod: Prometheus, Group: Workspace

#8594 Story Locking: Fix crash if there is no user avatar
  packages/dashboard/src/app/serializers/stories.js
  packages/dashboard/src/app/serializers/test/stories.js
  packages/dashboard/src/app/views/myStories/content/storyGridItem/storyDisplayContent.js
Labels: cla: yes, P2, Pod: WP & Infra, Group: Post Locking

#8640 Dashboard: Replace `query-string` package with `addQueryArgs`
  package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/app/api/fetchAllFromPages.js
  packages/dashboard/src/app/api/test/wpAdapter.js
  packages/dashboard/src/app/api/useCategoriesApi.js
  packages/dashboard/src/app/api/useMediaApi.js
  packages/dashboard/src/app/api/useSettingsApi.js
  packages/dashboard/src/app/api/useStoryApi.js
  packages/dashboard/src/app/api/useTagsApi.js
  packages/dashboard/src/app/api/useTemplateApi.js
  packages/dashboard/src/app/api/wpAdapter.js
  packages/dashboard/src/app/router/routerProvider.js
  packages/dashboard/src/app/views/templateDetails/karma/templateDetails.karma.js
Labels: Type: Enhancement, cla: yes, JavaScript, Type: Code Quality, P3, Pod: WP & Infra

#8598 Dashboard: remove `canReadPrivatePosts` capability check
  includes/Admin/Dashboard.php
  includes/REST_API/Stories_Controller.php
  packages/dashboard/src/app/api/useStoryApi.js
  packages/dashboard/src/app/reducer/stories.js
  packages/dashboard/src/app/reducer/test/stories.js
  packages/dashboard/src/app/views/myStories/header/index.js
  packages/dashboard/src/app/views/myStories/header/test/header.js
  packages/dashboard/src/app/views/myStories/karma/myStories.karma.js
  packages/dashboard/src/constants/stories.js
  packages/dashboard/src/dataUtils/formattedStoriesArray.js
  packages/dashboard/src/karma/apiProviderFixture.js
  packages/dashboard/src/testUtils/renderWithProviders.js
  packages/dashboard/src/utils/test/useDashboardResultsLabel.js
  tests/phpunit/tests/REST_API/Stories_Controller.php
Labels: Type: Enhancement, cla: yes, Group: Dashboard, Type: Code Quality, Pod: WP & Infra

#8632 Right Click Menu: Shape menu
  packages/story-editor/src/app/rightClickMenu/constants.js
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/app/rightClickMenu/test/useRightClickMenu.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu

#8650 Right Click Menu: Add snackbars to right click menu actions
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/app/rightClickMenu/reducer.js
  packages/story-editor/src/app/rightClickMenu/test/useRightClickMenu.js
  packages/story-editor/src/components/panels/design/preset/useAddPreset.js
  packages/story-editor/src/components/panels/design/preset/useDeletePreset.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu

#8660 Right Click Menu: Add context menu shortcuts to keyboard shortcuts popup
  packages/story-editor/src/app/rightClickMenu/constants.js
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/components/keyboardShortcutsMenu/keyboardShortcutList.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu

#8335 Update tab rendering logic and interaction
  packages/e2e-tests/src/specs/editor/media/insert3PMedia.js
  packages/story-editor/src/components/canvas/karma/cloneSelection.karma.js
  packages/story-editor/src/components/inspector/inspectorContent.js
  packages/story-editor/src/components/library/constants.js
  packages/story-editor/src/components/library/karma/libraryTabs.karma.js
  packages/story-editor/src/components/library/libraryPanes.js
  packages/story-editor/src/components/library/libraryProvider.js
  packages/story-editor/src/components/library/panes/media/media3p/media3pPane.js
  packages/story-editor/src/components/library/panes/media/media3p/providerPanel.js
  packages/story-editor/src/components/library/panes/media/media3p/providerTab.js
  packages/story-editor/src/components/library/panes/media/media3p/providerTabList.js
  packages/story-editor/src/components/library/panes/media/media3p/test/media3pPane.js
  packages/story-editor/src/components/library/test/useLibrary.js
  packages/story-editor/src/components/tabview/index.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#8678 Disable flaky clone element test
  packages/story-editor/src/components/canvas/karma/cloneSelection.karma.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8680 Fixed import error
  packages/story-editor/src/app/rightClickMenu/provider.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8560 Added basic color picker
  packages/design-system/src/components/button/button.js
  packages/design-system/src/components/button/stories/index.js
  packages/design-system/src/components/button/toggleButton.js
  packages/design-system/src/icons/index.js
  packages/design-system/src/icons/pattern_linear.svg
  packages/design-system/src/icons/pattern_radial.svg
  packages/design-system/src/icons/pattern_solid.svg
  packages/patterns/src/hasGradient.js
  packages/story-editor/src/components/canvas/karma/keys.karma.js
  packages/story-editor/src/components/colorPicker/addCustomColor.js
  packages/story-editor/src/components/colorPicker/basicColorList.js
  packages/story-editor/src/components/colorPicker/basicColorPicker.js
  packages/story-editor/src/components/colorPicker/colorPicker.js
  packages/story-editor/src/components/colorPicker/constants.js
  packages/story-editor/src/components/colorPicker/currentColorPicker.js
  packages/story-editor/src/components/colorPicker/customColorPicker.js
  packages/story-editor/src/components/colorPicker/editablePreview.js
  packages/story-editor/src/components/colorPicker/gradientPicker.js
  packages/story-editor/src/components/colorPicker/header.js
  packages/story-editor/src/components/colorPicker/karma/eyedropper.karma.js
  packages/story-editor/src/components/colorPicker/patternTypePicker.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/addStopByPointer.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/footerInteraction.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/headerInteraction.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/moveStopByPointer.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/onclose.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/onload.js
  packages/story-editor/src/components/form/color/color.js
  packages/story-editor/src/components/form/color/colorInput.js
  packages/story-editor/src/components/form/color/test/colorInput.js
  packages/story-editor/src/components/library/test/_utils/mediaResponseWithPdfAndImage.json
  packages/story-editor/src/components/panels/design/filter/filter.js
  packages/story-editor/src/components/panels/design/pageBackground/pageBackground.js
  packages/story-editor/src/components/panels/design/preset/colorPreset/colorPresetActions.js
  packages/story-editor/src/components/panels/design/preset/karma/colorPickerActions.karma.js
  packages/story-editor/src/components/panels/design/preset/test/colorPresetActions.js
  packages/story-editor/src/components/panels/design/shapeStyle/shapeStyle.js
  packages/story-editor/src/components/panels/design/textBox/color.js
  packages/story-editor/src/components/panels/design/textStyle/color.js
  packages/story-editor/src/components/panels/shared/getColorPickerActions.js
  packages/story-editor/src/components/richText/karma/multiSelection.karma.js
  packages/story-editor/src/components/richText/karma/singleSelection.karma.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#8662 Animations: Set Initial Opacity 0 for fly in
  packages/animation/src/effects/flyIn/index.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Package: Animation

#8572 Bug: Scroll To Top Button Visible When It Shouldn't Be
  packages/dashboard/src/components/layout/provider.js
  packages/dashboard/src/components/pageStructure/index.js
  packages/dashboard/src/components/scrollToTop/index.js
Labels: Type: Bug, cla: yes, Group: Dashboard, Pod: Pea, Bug Bash: 1.10

#8569 Bug: Fix title showing on hover of grid items
  packages/dashboard/src/app/views/myStories/content/storyGridItem/index.js
Labels: Type: Bug, cla: yes, Group: Dashboard, Pod: Pea, Bug Bash: 1.10

#8683 Media: Add `baseColor` to `createResource`
  packages/media/src/createResource.js
  packages/story-editor/src/app/media/media3p/api/test/useMedia3pApi.js
  packages/story-editor/src/app/media/utils/getResourceFromMedia3p.js
  packages/story-editor/src/app/media/utils/test/getResourceFromMedia3p.js
Labels: cla: yes, Type: Code Quality

#8688 Canvas: disable delete button when there is only one page
  packages/story-editor/src/components/canvas/pagemenu/pageMenu.js
Labels: Type: Enhancement, cla: yes

#8686 Silence `renderToStaticMarkup` / `useLayoutEffect` console warnings
  packages/react/src/index.js
  packages/react/src/react-dom.js
  packages/react/src/renderToStaticMarkup.js
Labels: Type: Enhancement, cla: yes, JavaScript, Type: Code Quality, P3, Pod: WP & Infra

#8522 Support callback refs in highlightable subcomponents
  packages/design-system/src/components/dropDown/index.js
  packages/design-system/src/components/mediaInput/index.js
  packages/story-editor/src/components/form/advancedDropDown/dropDown.js
  packages/story-editor/src/components/tabview/index.js
Labels: cla: yes, Type: Code Quality

#8717 Settings: Remove unneeded `add_action` call
  includes/Settings.php
  tests/phpunit/tests/Settings.php
Labels: cla: yes, PHP, Type: Code Quality

#8682 Right Click Menu: Add tracking
  packages/design-system/src/components/snackbar/snackbarMessage.js
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/app/rightClickMenu/test/useRightClickMenu.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu

#8723 REST API: Simplify `story_author` enum logic
  includes/REST_API/Stories_Controller.php
  includes/Story_Post_Type.php
  tests/phpunit/tests/REST_API/Stories_Controller.php
  tests/phpunit/tests/Story_Post_Type.php
Labels: cla: yes, Type: Code Quality, Pod: WP & Infra

#8720 Media Library: Show video without delay if missing poster
  packages/story-editor/src/components/library/panes/media/common/innerElement.js
Labels: Type: Bug, cla: yes, Group: Media, Pod: WP & Infra

#8714 Flakey test: should not allow adding link in Page Attachment area
  packages/story-editor/src/components/panels/design/link/karma/link.karma.js
Labels: Type: Bug, cla: yes, Needs Tests, Pod: Prometheus

#8721 Media: Add `isMuted` property to `getVideoResource`
  packages/story-editor/src/app/media/utils/getResourceFromLocalFile.js
Labels: cla: yes, Group: Media, Elements: Video

#8730 Local Environment: Increase `max_allowed_packet` MySQL config
  bin/local-env/docker-compose.yml
Labels: cla: yes, Type: Infrastructure, Pod: WP & Infra

#8722 Frontend: remove `/stories/` redirect
  includes/Story_Post_Type.php
  tests/phpunit/tests/Story_Post_Type.php
Labels: Type: Enhancement, cla: yes, P2, Group: WordPress, Pod: WP & Infra

#8700 Dashboard: Move story duplication to the server
  includes/Admin/Dashboard.php
  includes/REST_API/Stories_Base_Controller.php
  packages/dashboard/src/app/api/apiProvider.js
  packages/dashboard/src/app/api/test/apiProvider.js
  packages/dashboard/src/app/api/useStoryApi.js
  packages/dashboard/src/app/reducer/test/stories.js
  packages/dashboard/src/app/serializers/stories.js
  packages/dashboard/src/app/serializers/test/stories.js
  packages/dashboard/src/app/textContent/index.js
  packages/dashboard/src/dataUtils/formattedStoriesArray.js
  tests/phpunit/tests/REST_API/Stories_Controller.php
Labels: Type: Enhancement, cla: yes, P2, PHP, Group: Dashboard, Group: WordPress, Pod: WP & Infra, Package: Dashboard

#8734 Code Quality: Styled Components Warning in Sticker Panel
  packages/story-editor/src/components/library/panes/shapes/stickerPreview.js
Labels: cla: yes, Type: Code Quality, Pod: Pea

#8735 Remove Out of Date Page Templates Test
  packages/story-editor/src/components/library/panes/pageTemplates/test/pageTemplatesPane.js
Labels: cla: yes, Type: Code Quality, Pod: Pea, Group: Page Templates

#8523 Refactor callers of useFocusHighlight() and useInputEventHandlers()
  packages/design-system/src/components/input/index.js
  packages/design-system/src/components/textArea/index.js
  packages/story-editor/src/components/canvas/karma/quickActions.karma.js
  packages/story-editor/src/components/header/title.js
  packages/story-editor/src/components/header/use.js
  packages/story-editor/src/components/library/libraryLayout.js
  packages/story-editor/src/components/panels/design/animation/animation.js
  packages/story-editor/src/components/panels/design/captions/captions.js
  packages/story-editor/src/components/panels/design/imageAccessibility/imageAccessibility.js
  packages/story-editor/src/components/panels/design/link/link.js
  packages/story-editor/src/components/panels/design/pageBackground/pageBackground.js
  packages/story-editor/src/components/panels/design/shapeStyle/shapeStyle.js
  packages/story-editor/src/components/panels/design/textStyle/textStyle.js
  packages/story-editor/src/components/panels/design/videoAccessibility/videoAccessibility.js
  packages/story-editor/src/components/panels/document/excerpt/excerpt.js
  packages/story-editor/src/components/panels/document/publish/publish.js
Labels: cla: yes, Type: Code Quality

#8741 Skip two flaky "Adding texts consecutively" tests
  packages/story-editor/src/components/library/panes/text/karma/textPane.karma.js
Labels: cla: yes, Type: Infrastructure

#8739 Skip flaky test: "Link Panel CUJ.... should display the link tooltip correctly"
  packages/story-editor/src/components/panels/design/link/karma/link.karma.js
Labels: cla: yes, Type: Infrastructure

#8679 Right Click Menus: remove unneeded actions
  docs/right-click-menu.md
  packages/story-editor/src/app/rightClickMenu/constants.js
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/app/rightClickMenu/reducer.js
  packages/story-editor/src/app/rightClickMenu/test/useRightClickMenu.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/elements/gif/constants.js
  packages/story-editor/src/elements/image/constants.js
  packages/story-editor/src/elements/shape/constants.js
  packages/story-editor/src/elements/shared/constants.js
  packages/story-editor/src/elements/text/constants.js
  packages/story-editor/src/elements/video/constants.js
  packages/story-editor/src/karma/fixture/containers/rightClickMenu.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu

#8690 Design System: Update context menu styling
  packages/design-system/src/components/contextMenu/menu.js
  packages/design-system/src/components/contextMenu/menuItem.js
  packages/story-editor/src/app/rightClickMenu/constants.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/karma/fixture/containers/rightClickMenu.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Design System, Group: Context Menu

#8684 ESLint: Add rule to force the usage of `@wordpress/element`
  .eslintrc
Labels: cla: yes, Type: Infrastructure, Pod: WP & Infra

#8743 Improve handling of images with spaces in file name
  packages/media/src/calculateSrcSet.js
  packages/media/src/test/calculateSrcSet.js
Labels: Type: Bug, cla: yes, Group: Media, P2, Pod: WP & Infra

#8631 Keyboard Shortcuts: Accessibility updates
  packages/story-editor/src/components/keyboardShortcutsMenu/headerShortcut.js
  packages/story-editor/src/components/keyboardShortcutsMenu/index.js
  packages/story-editor/src/components/keyboardShortcutsMenu/karma/keyboardShortcuts.karma.js
  packages/story-editor/src/components/keyboardShortcutsMenu/landmarkShortcuts.js
  packages/story-editor/src/components/keyboardShortcutsMenu/popup.js
  packages/story-editor/src/components/keyboardShortcutsMenu/shortcutLabel.js
  packages/story-editor/src/components/keyboardShortcutsMenu/shortcutMenu.js
  packages/story-editor/src/components/keyboardShortcutsMenu/shortcutMenuSection.js
  packages/story-editor/src/components/keyboardShortcutsMenu/stories/index.js
  packages/story-editor/src/components/toggleButton/index.js
  packages/story-editor/src/karma/fixture/containers/keyboardShortcuts.js
Labels: Type: Enhancement, Accessibility, cla: yes, Pod: Pea, Group: Keyboard Shortcuts

#8750 Fix incorrect import
  .eslintrc
  packages/story-editor/src/components/canvas/test/useCanvasKeys.js
Labels: cla: yes, Type: Infrastructure, Pod: WP & Infra

#8749 Fix "sizes" attribute for background images
  packages/story-editor/src/elements/image/output.js
  packages/story-editor/src/elements/image/test/output.js
Labels: Type: Bug, cla: yes

#8724 PHP: Remove return types from filter callbacks
  includes/Admin/Admin.php
  includes/Admin/Cross_Origin_Isolation.php
  includes/Admin/Editor.php
  includes/Admin/PluginActionLinks.php
  includes/Admin/PluginRowMeta.php
  includes/Admin/Site_Health.php
  includes/Admin/TinyMCE.php
  includes/Integrations/AMP.php
  includes/Integrations/Core_Themes_Support.php
  includes/Integrations/Jetpack.php
  includes/Integrations/NextGen_Gallery.php
  includes/Integrations/Site_Kit.php
  includes/KSES.php
  includes/Media/Image_Sizes.php
  includes/Media/Media_Source_Taxonomy.php
  includes/Media/Video/Captions.php
  includes/Media/Video/Muting.php
  includes/Media/Video/Poster.php
  includes/Register_Widget.php
  includes/Renderer/Archives.php
  includes/Renderer/Feed.php
  includes/Renderer/Oembed.php
  includes/Renderer/Single.php
  includes/Story_Post_Type.php
Labels: Type: Bug, cla: yes, P1, Group: Integration, Group: WordPress, Pod: WP & Infra

#8751 Use file-loader for importing images
  .gitignore
  .storybook/main.cjs
  includes/Admin/Dashboard.php
  includes/Admin/Editor.php
  package-lock.json
  package.json
  packages/dashboard/src/app/views/shared/telemetryBanner.js
  packages/dashboard/src/images/analytics-banner-bg.png
  packages/dashboard/src/karma/fixture.js
  packages/story-editor/src/app/api/apiProvider.js
  packages/story-editor/src/app/api/test/apiProvider.js
  packages/story-editor/src/app/api/utils/removeImagesFromPageTemplates.js
  packages/story-editor/src/app/api/utils/test/removeImagesFromPageTemplates.js
  packages/story-editor/src/images/grid-placeholder.png
  tests/js/imageMock.js
  tests/js/jest.config.js
  tests/phpstan/bootstrap.php
  web-stories.php
  webpack.config.cjs
Labels: cla: yes, Type: Infrastructure, Pod: WP & Infra

#8731 Media Hotlinking: add REST API endpoint for validation
  .phpstorm.meta.php
  includes/Admin/Editor.php
  includes/Plugin.php
  includes/REST_API/Hotlinking_Controller.php
  tests/phpunit/tests/REST_API/Hotlinking_Controller.php
Labels: Type: Enhancement, cla: yes, P2, PHP, Elements: Video, Elements: Image, Pod: WP & Infra

#8769 E2E Tests: Fix flakey Web Stories widget block test
  packages/e2e-tests/src/specs/wordpress/blockWidget.js
Labels: cla: yes, Type: Infrastructure, Pod: WP & Infra, Package: E2E Tests

#8775 Tests: Fix Percy Flakiness in Media Library
  percy.config.yml
Labels: cla: yes, Type: Infrastructure, Pod: WP & Infra

#8780 Code Quality: Remove dead sticker experiment code
  docs/external-template-creation.md
  includes/Experiments.php
  packages/story-editor/src/components/library/karma/shapes/shapes.karma.js
  packages/story-editor/src/components/library/panes/shapes/shapesPane.js
Labels: cla: yes, Type: Code Quality, Pod: Pea, Package: Stickers

#8719 Design System: Show context menu in a portal
  packages/dashboard/src/app/views/editorSettings/publisherLogo/popoverLogoContextMenu.js
  packages/dashboard/src/components/storyMenu/index.js
  packages/design-system/src/components/contextMenu/animationContainer.js
  packages/design-system/src/components/contextMenu/contextMenu.js
  packages/design-system/src/components/contextMenu/index.js
  packages/design-system/src/components/contextMenu/mask.js
  packages/design-system/src/components/contextMenu/menu.js
  packages/design-system/src/components/contextMenu/stories/index.js
  packages/design-system/src/components/contextMenu/test/contextMenu.js
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/app/rightClickMenu/test/useRightClickMenu.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/canvas/rightClickMenu.js
  packages/story-editor/src/karma/fixture/containers/canvas.js
  packages/story-editor/src/karma/fixture/containers/rightClickMenu.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu

#8770 Media: Fix FFmpeg memory leaks
  packages/story-editor/src/app/media/utils/useFFmpeg.js
Labels: Type: Bug, cla: yes, Group: Media, Pod: WP & Infra, Group: Video Optimization

#8748 Add a simple issue template for epics
  .github/ISSUE_TEMPLATE/epic.md
Labels: Type: Documentation, cla: yes

#8755 Design System: Indicator for links opening in new page
  packages/dashboard/src/app/views/editorSettings/adManagement/test/adManagement.js
  packages/dashboard/src/app/views/editorSettings/test/editorSettings.js
  packages/dashboard/src/components/pageStructure/index.js
  packages/dashboard/src/components/pageStructure/navigationComponents.js
  packages/design-system/src/components/contextMenu/menu.js
  packages/design-system/src/components/typography/link/index.js
  packages/design-system/src/components/typography/link/stories/index.js
  packages/design-system/src/icons/index.js
  packages/design-system/src/icons/launch.svg
  packages/story-editor/src/components/library/test/__snapshots__/termsDialog.js.snap
  packages/story-editor/src/components/library/test/termsDialog.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Package: Design System

#8752 Fix flaky cloning test
  packages/story-editor/src/components/canvas/karma/cloneSelection.karma.js
Labels: Type: Bug, cla: yes

#8747 Dashboard: Use Images for Explore Template Grid View
  packages/dashboard/src/app/views/exploreTemplates/content/components.js
  packages/dashboard/src/app/views/exploreTemplates/content/index.js
  packages/dashboard/src/app/views/exploreTemplates/content/templateGridItem.js
  packages/dashboard/src/app/views/exploreTemplates/content/templateGridView.js
  packages/dashboard/src/app/views/exploreTemplates/content/test/content.js
  packages/dashboard/src/app/views/exploreTemplates/index.js
  packages/dashboard/src/app/views/exploreTemplates/karma/exploreTemplates.karma.js
  packages/dashboard/src/app/views/myStories/content/storyGridItem/components.js
  packages/dashboard/src/app/views/myStories/content/storyGridItem/index.js
  packages/dashboard/src/app/views/myStories/content/storyGridView/index.js
  packages/dashboard/src/app/views/myStories/karma/myStories.karma.js
  packages/dashboard/src/app/views/savedTemplates/test/savedTemplates.js
  packages/dashboard/src/app/views/shared/grid/components.js
  packages/dashboard/src/app/views/shared/index.js
  packages/dashboard/src/app/views/shared/savedTemplateGridView.js
  packages/dashboard/src/app/views/shared/stories/templateGridView.js
  packages/dashboard/src/app/views/shared/templateGridView.js
  packages/dashboard/src/app/views/templateDetails/content/relatedGrid/index.js
  packages/dashboard/src/app/views/templateDetails/karma/templateDetails.karma.js
  packages/dashboard/src/components/cardGrid/index.js
  packages/dashboard/src/components/cardGrid/stories/index.js
  packages/dashboard/src/components/cardGridItem/cardPreview.js
  packages/dashboard/src/components/cardGridItem/cardTitle.js
  packages/dashboard/src/components/cardGridItem/focusableGridItem.js
  packages/dashboard/src/components/cardGridItem/index.js
  packages/dashboard/src/components/cardGridItem/stories/index.js
  packages/dashboard/src/components/cardGridItem/test/cardTitle.js
  packages/dashboard/src/components/cardGridItem/types.js
  packages/dashboard/src/components/index.js
  packages/dashboard/src/dataUtils/formattedTemplatesArray.js
  packages/templates/README.md
  packages/templates/src/cli.js
  packages/templates/src/raw/indoor-garden-oasis/metaData.js
  packages/templates/src/raw/plant-based-dyes/metaData.js
Labels: cla: yes, Group: Dashboard, Type: Performance, Pod: Pea, Package: Dashboard

#8788 Temporarily disable unit tests against trunk
  .github/workflows/tests-unit-php.yml
Labels: cla: yes, Type: Infrastructure, Pod: WP & Infra

#8791 E2E tests: Flaky Preview with development mode screenshot
  packages/e2e-tests/src/specs/editor/editor.js
Labels: cla: yes, Type: Infrastructure, P3, Pod: WP & Infra, Package: E2E Tests

#8785 KSES: Fix typo to allow `amp-story-page-outlink`
  includes/KSES.php
  tests/phpunit/tests/KSES.php
Labels: Type: Bug, cla: yes, AMP Output, Pod: WP & Infra

#8767 Editor: Make secondary nav button padding consistent
  packages/story-editor/src/components/carousel/secondaryMenu.js
  packages/story-editor/src/components/helpCenter/toggle/index.js
  packages/story-editor/src/components/keyboardShortcutsMenu/index.js
Labels: cla: yes

#8787 Add changelog for v1.10.1
  readme.txt
Labels: Type: Documentation, cla: yes, Type: Release

#8783 Dashboard: Update Grid Item UX for links
  .eslintrc
  packages/dashboard/src/app/views/myStories/content/storiesView/index.js
  packages/dashboard/src/app/views/myStories/content/storyGridItem/components.js
  packages/dashboard/src/app/views/myStories/content/storyGridItem/index.js
  packages/dashboard/src/app/views/myStories/content/storyGridItem/storyDisplayContent.js
  packages/dashboard/src/app/views/myStories/content/storyGridView/index.js
  packages/dashboard/src/app/views/myStories/content/storyListItem/index.js
  packages/dashboard/src/app/views/myStories/karma/myStories.karma.js
  packages/dashboard/src/app/views/shared/grid/components.js
  packages/dashboard/src/components/storyMenu/index.js
  packages/dashboard/src/types.js
  packages/design-system/src/components/contextMenu/menuItem.js
  packages/design-system/src/components/keyboard/gridview/utils.js
  packages/design-system/src/components/typography/index.js
  packages/design-system/src/components/typography/link/index.js
Labels: Type: Enhancement, cla: yes, Group: Dashboard, Pod: Pea

#8801 Dashboard: Replace Template Details with Images
  packages/dashboard/src/app/api/test/__snapshots__/useTemplateApi.js.snap
  packages/dashboard/src/app/api/test/useTemplateApi.js
  packages/dashboard/src/app/api/useTemplateApi.js
  packages/dashboard/src/app/serializers/index.js
  packages/dashboard/src/app/serializers/templates.js
  packages/dashboard/src/app/serializers/test/templates.js
  packages/dashboard/src/app/views/exploreTemplates/content/templateGridItem.js
  packages/dashboard/src/app/views/exploreTemplates/content/templateGridView.js
  packages/dashboard/src/app/views/exploreTemplates/index.js
  packages/dashboard/src/app/views/savedTemplates/test/savedTemplates.js
  packages/dashboard/src/app/views/templateDetails/content/detailsGallery/index.js
  packages/dashboard/src/app/views/templateDetails/content/detailsGallery/stories/index.js
  packages/dashboard/src/app/views/templateDetails/content/relatedGrid/stories/index.js
  packages/dashboard/src/app/views/templateDetails/content/relatedGrid/test/relatedGrid.js
  packages/dashboard/src/app/views/templateDetails/content/stories/index.js
  packages/dashboard/src/app/views/templateDetails/index.js
  packages/dashboard/src/app/views/templateDetails/karma/templateDetails.karma.js
  packages/dashboard/src/components/cardGallery/components.js
  packages/dashboard/src/components/cardGallery/index.js
  packages/dashboard/src/components/cardGallery/stories/index.js
  packages/dashboard/src/components/cardGallery/test/cardGallery.js
  packages/dashboard/src/components/navProvider.js
  packages/dashboard/src/components/pageStructure/index.js
  packages/dashboard/src/components/pageStructure/test/pageStructure.js
  packages/dashboard/src/dataUtils/completeTemplateObject.js
  packages/dashboard/src/dataUtils/formattedTemplatesArray.js
  packages/dashboard/src/types.js
  packages/design-system/src/components/contextMenu/menuItem.js
  packages/design-system/src/components/typography/index.js
  packages/design-system/src/components/typography/link/index.js
Labels: cla: yes, Group: Templates, Type: Performance, Pod: Pea, Package: Dashboard

#8799 Testing for basic color picker
  packages/story-editor/src/components/colorPicker/basicColorList.js
  packages/story-editor/src/components/colorPicker/basicColorPicker.js
  packages/story-editor/src/components/colorPicker/karma/colorPicker.karma.js
  packages/story-editor/src/components/colorPicker/karma/eyedropper.karma.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/_utils.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/addStopByPointer.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/footerInteraction.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/headerInteraction.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/manipulateGradient.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/manipulateStopByKeyboard.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/moveStopByPointer.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/onclose.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/onload.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/savedColors.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/selectStop.js
  packages/story-editor/src/components/panels/design/preset/karma/colorPickerActions.karma.js
  packages/story-editor/src/components/richText/karma/multiSelection.karma.js
  packages/story-editor/src/components/richText/karma/singleSelection.karma.js
  packages/story-editor/src/karma/fixture/containers/common/color.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#8855 Added feature flag for Taxonomy support
  includes/Experiments.php
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Taxonomies

#8825 Text Sets Pane: Add empty state
  packages/story-editor/src/components/emptyContentMessage.js
  packages/story-editor/src/components/library/libraryProvider.js
  packages/story-editor/src/components/library/panes/text/textSets/textSetsPane.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Text Sets

#8816 Canvas: fix disabling nav buttons if there's no page
  packages/design-system/src/components/button/button.js
  packages/story-editor/src/components/canvas/pagenav/index.js
Labels: Type: Bug, Accessibility, cla: yes, Group: Canvas

#8742 Color Picker accessibility improvements
  packages/story-editor/src/components/colorPicker/basicColorList.js
  packages/story-editor/src/utils/useRovingTabIndex.js
Labels: Type: Enhancement, Accessibility, cla: yes, Pod: Prometheus

#8806 Media hotlinking: use the hotlink endpoint
  includes/REST_API/Hotlinking_Controller.php
  packages/media/src/getFileExtFromUrl.js
  packages/media/src/index.js
  packages/media/src/test/getFileExtFromUrl.js
  packages/story-editor/src/app/api/apiProvider.js
  packages/story-editor/src/components/library/panes/media/local/hotlink/hotlinkModal.js
  packages/story-editor/src/components/library/panes/media/local/hotlink/useInsert.js
  packages/story-editor/src/components/library/panes/media/local/karma/hotlink.karma.js
  packages/story-editor/src/karma/fixture/fixture.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#8697 Editor: Hide upload buttons for users without upload capabilities
  packages/design-system/src/components/mediaInput/index.js
  packages/design-system/src/components/mediaInput/stories/index.js
  packages/design-system/src/components/mediaInput/test/mediaInput.js
  packages/e2e-tests/src/specs/editor/inspector.js
  packages/story-editor/src/components/checklist/karma/checklist.karma.js
  packages/story-editor/src/components/form/linkIcon.js
  packages/story-editor/src/components/library/panes/media/local/mediaPane.js
  packages/story-editor/src/components/library/panes/media/local/missingUploadPermissionDialog.js
  packages/story-editor/src/components/library/panes/media/local/stories/missingUploadPermissionDialog.js
  packages/story-editor/src/components/panels/design/captions/captions.js
  packages/story-editor/src/components/panels/design/captions/test/captions.js
  packages/story-editor/src/components/panels/design/videoAccessibility/videoAccessibility.js
  packages/story-editor/src/components/panels/document/publish/publish.js
  packages/story-editor/src/components/panels/document/publish/test/publish.js
Labels: Type: Bug, cla: yes, Group: Media, P2, Group: Document Panel, Pod: WP & Infra

#8813 Carousel: Cache previews as static images
  packages/story-editor/src/components/carousel/carouselPage.js
  packages/story-editor/src/components/carousel/pagepreview/index.js
Labels: cla: yes, Type: Performance, Pod: Prometheus

#8800 Editor: Use `prettifyShortcut` for keyboard shortcuts and right click menu shortcuts
  packages/design-system/src/components/keyboard/index.js
  packages/story-editor/src/app/rightClickMenu/constants.js
  packages/story-editor/src/components/keyboardShortcutsMenu/keyboardShortcutList.js
Labels: cla: yes, Type: Code Quality, Pod: Pea, Group: Context Menu, Group: Keyboard Shortcuts

#8843 Hide permalink input when using ugly permalinks
  packages/story-editor/src/components/panels/document/slug/slug.js
  packages/story-editor/src/components/panels/document/slug/test/slug.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#8858 Bug: Checklist intercepting pointer events when closed
  packages/story-editor/src/components/checklist/videoOptimizationCheckbox/index.js
  packages/story-editor/src/components/checklist/videoOptimizationCheckbox/test/index.js
Labels: Type: Bug, cla: yes, Pod: Pea, Group: Pre-Publish Checklist, Package: Story Editor

#8869 Design System: Fix forwardRef in context menu link
  .eslintrc
  packages/design-system/src/components/typography/link/index.js
Labels: Type: Bug, cla: yes, Package: Design System, Group: Context Menu

#8888 Docs: Add FAQ item about compatibility PPC
  build/en/docs/index.njk
  public/docs/index.html
Labels: cla: yes, Website

#8852 Bug: Fix stickers horizontal drag handle
  packages/story-editor/src/components/canvas/singleSelectionMoveable/useResize.js
Labels: Type: Bug, cla: yes, Pod: Pea, Elements: Stickers, Package: Story Editor

#8782 Right Click Menu: Enable right click menu
  includes/Experiments.php
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/app/rightClickMenu/test/useRightClickMenu.js
  packages/story-editor/src/app/story/constants.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu
