Repository GoogleForCreators/web-stories-wp, pull requests merged in 2021-10, with the labels that each got.

#9225 Disable flaky smart color and taxonomy tests
  packages/story-editor/src/components/library/panes/text/karma/textPane.karma.js
  packages/story-editor/src/components/library/panes/text/karma/textSets.cuj.karma.js
  packages/story-editor/src/components/panels/document/taxonomies/karma/taxonomies.karma.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#9194 Video: Update right click menu
  packages/story-editor/src/app/rightClickMenu/constants.js
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/app/rightClickMenu/test/useRightClickMenu.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#9168 Canvas to image improvements / Safari images fix
  package-lock.json
  packages/story-editor/package.json
  packages/story-editor/src/components/colorPicker/basicColorPicker.js
  packages/story-editor/src/components/library/panes/text/karma/textSets.cuj.karma.js
  packages/story-editor/src/elements/media/imageDisplay.js
  patches/html-to-image+1.8.5.patch
Labels: Type: Bug, Type: Enhancement, cla: yes, Pod: Prometheus

#9223 Taxonomies: Undo term submission for free form input
  packages/story-editor/src/components/form/hierarchical/index.js
  packages/story-editor/src/components/form/tags/input.js
  packages/story-editor/src/components/form/tags/test/input.js
  packages/story-editor/src/components/panels/document/taxonomies/FlatTermSelector.js
  packages/story-editor/src/components/panels/document/taxonomies/test/taxonomies.js
Labels: Type: Bug, Type: Enhancement, cla: yes, Pod: Pea

#9231 Code Quality: Remove `Template_Post_Type`
  .phpstorm.meta.php
  includes/Admin/Dashboard.php
  includes/Plugin.php
  includes/REST_API/Template_Autosaves_Controller.php
  includes/REST_API/Template_Lock_Controller.php
  includes/Template_Post_Type.php
  includes/uninstall.php
  tests/phpunit/integration/tests/Uninstall.php
Labels: cla: yes, Group: Templates, P2, PHP, Group: WordPress, Type: Code Quality, Pod: WP & Infra

#9189 Update video trimmer buttons
  packages/story-editor/src/components/videoTrim/useVideoNode.js
  packages/story-editor/src/components/videoTrim/videoTrimmer.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#9234 Fix dashboard invalid dom nesting warning
  packages/dashboard/src/app/views/editorSettings/archive/index.js
Labels: cla: yes, Group: Dashboard, Type: Code Quality

#9239 Dashboard: Prevent publisher logos state from doubling
  packages/dashboard/src/app/reducer/publisherLogos.js
Labels: Type: Bug, cla: yes, Group: Dashboard, Group: Publisher Logos

#9211 Taxonomy: Add "Most Used" Tags section
  packages/story-editor/src/app/taxonomy/taxonomyProvider.js
  packages/story-editor/src/app/taxonomy/test/useTaxonomy.js
  packages/story-editor/src/components/panels/document/taxonomies/FlatTermSelector.js
  packages/story-editor/src/components/panels/document/taxonomies/HierarchicalTermSelector.js
  packages/story-editor/src/components/panels/document/taxonomies/karma/taxonomies.karma.js
  packages/story-editor/src/components/panels/document/taxonomies/shared.js
  packages/story-editor/src/components/panels/document/taxonomies/test/taxonomies.js
  packages/story-editor/src/karma/fixture/fixture.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Taxonomies

#9242 Story Auto Analytics: Enable by default
  includes/Experiments.php
Labels: Type: Enhancement, cla: yes, P2, Group: Settings, Group: Analytics

#9212 Taxonomy: Autocomplete Options for Flat Terms
  packages/e2e-tests/src/specs/editor/taxonomy.js
  packages/story-editor/src/app/taxonomy/taxonomyProvider.js
  packages/story-editor/src/app/taxonomy/test/useTaxonomy.js
  packages/story-editor/src/components/form/stories/tags.js
  packages/story-editor/src/components/form/tags/input.js
  packages/story-editor/src/components/form/tags/reducer.js
  packages/story-editor/src/components/form/tags/test/input.js
  packages/story-editor/src/components/form/tags/test/reducer.js
  packages/story-editor/src/components/panels/document/taxonomies/FlatTermSelector.js
  packages/story-editor/src/components/panels/document/taxonomies/taxonomies.js
  packages/story-editor/src/karma/fixture/containers/documentPanel/categoriesAndTags.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Taxonomies

#9235 Dashboard: Add `pending` stories to dashboard
  includes/REST_API/Stories_Controller.php
  packages/dashboard/src/app/views/myStories/content/storyGridItem/storyDisplayContent.js
  packages/dashboard/src/app/views/myStories/content/storyListItem/index.js
  packages/dashboard/src/app/views/myStories/karma/myStories.karma.js
  packages/dashboard/src/constants/stories.js
  tests/phpunit/integration/tests/REST_API/Stories_Controller.php
Labels: Type: Enhancement, cla: yes, Group: Dashboard, Pod: Pea

#9243 Taxonomy: Enable Feature Flag
  includes/Experiments.php
Labels: cla: yes, Pod: Pea, Group: Taxonomies

#9233 Bundling: Remove chunk hashes from file names
  includes/Assets.php
  webpack.config.cjs
Labels: cla: yes, P2, Type: Infrastructure, Pod: WP & Infra

#9043 Video: Display captions using `<amp-story-captions>`
  composer.json
  composer.lock
  includes/AMP/Sanitization.php
  includes/Experiments.php
  includes/Integrations/AMP.php
  includes/KSES.php
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
  packages/story-editor/src/app/highlights/quickActions/utils/getResetProperties.js
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/app/rightClickMenu/test/utils.js
  packages/story-editor/src/app/rightClickMenu/utils.js
  packages/story-editor/src/app/story/actions/useAutoSave.js
  packages/story-editor/src/app/story/actions/useSaveStory.js
  packages/story-editor/src/app/story/index.js
  packages/story-editor/src/app/story/utils/getStoryPropsToSave.js
  packages/story-editor/src/components/canvas/useInsertTextSet.js
  packages/story-editor/src/elements/constants.js
  packages/story-editor/src/elements/elementTypes.js
  packages/story-editor/src/elements/index.js
  packages/story-editor/src/elements/video/output.js
  packages/story-editor/src/elements/video/test/output.js
  packages/story-editor/src/output/element.js
  packages/story-editor/src/output/page.js
  packages/story-editor/src/output/story.js
  packages/story-editor/src/output/test/page.js
  packages/story-editor/src/output/utils/getStoryMarkup.js
  packages/story-editor/src/output/utils/getUsedAmpExtensions.js
  packages/story-editor/src/output/utils/styles.js
  packages/story-editor/src/output/utils/test/getUsedAmpExtensions.js
  patches/amp-wp-allow-amp-story-captions.patch
  tests/phpunit/integration/tests/AMP/Sanitization.php
  tests/phpunit/integration/tests/KSES.php
Labels: cla: yes, Group: Media, Elements: Video, AMP Output, Pod: WP & Infra

#9230 Embeds: Fix appearance in legacy AMP reader mode template
  includes/Renderer/Stories/Renderer.php
Labels: Type: Bug, cla: yes, P2, Group: Integration, Group: WordPress, AMP Output, Pod: WP & Infra

#9228 KSES: Extend allowlist to fix templates usage
  includes/KSES.php
  tests/phpunit/integration/data/multipleBlueRings.svg
  tests/phpunit/integration/tests/KSES.php
Labels: Type: Bug, cla: yes, Group: Templates, Group: WordPress, Pod: WP & Infra

#9219 Video Trimming: Keep video unmuted
  packages/story-editor/src/elements/video/trim.js
Labels: Type: Bug, cla: yes, Elements: Video, Group: Video Optimization

#9260 Fix REST API preloading in dashboard and editor
  includes/Admin/Dashboard.php
  includes/templates/admin/edit-story.php
  packages/dashboard/src/app/api/useStoryApi.js
  packages/dashboard/src/constants/stories.js
  packages/wp-story-editor/src/api/constants/index.js
  packages/wp-story-editor/src/api/media.js
Labels: Type: Bug, cla: yes, Group: Dashboard, Group: WordPress, Pod: WP & Infra, Group: Workspace

#9213 Added focus management to trim component
  packages/story-editor/src/components/videoTrim/slider.js
  packages/story-editor/src/components/videoTrim/trimmerComponents.js
  packages/story-editor/src/components/videoTrim/videoTrimmer.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#9270 Pre-Publish Checklist: Fix incorrect check for site title
  packages/story-editor/src/components/checklist/checks/storyMissingPublisherName.js
Labels: Type: Bug, cla: yes, Group: Pre-Publish Checklist

#9251 Video Trimming: Enable by default
  includes/Experiments.php
  packages/story-editor/src/components/videoTrim/provider.js
  packages/story-editor/src/components/videoTrim/useVideoTrimMode.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9275 Taxonomies: Add error logging and fix proptype warning
  packages/story-editor/src/app/taxonomy/taxonomyProvider.js
  packages/story-editor/src/components/form/hierarchical/test/hierarchical.js
Labels: cla: yes, Type: Code Quality, Pod: Pea, Group: Taxonomies

#9262 Add changelog for 1.12.0 release
  includes/Experiments.php
  readme.txt
Labels: Type: Documentation, cla: yes, Type: Release

#9214 Taxonomies: Add e2e test for custom taxonomies
  packages/e2e-tests/src/plugins/web-stories-taxonomies.php
  packages/e2e-tests/src/specs/editor/taxonomy.js
Labels: cla: yes, Type: Infrastructure, PHP, Pod: WP & Infra

#9293 `ServiceBasedPlugin`: Don't resolve service IDs as callables
  includes/Infrastructure/ServiceBasedPlugin.php
Labels: Type: Bug, cla: yes, Group: WordPress, Pod: WP & Infra

#9259 E2E Tests: Add test for pre-publish checklist for contributors
  packages/e2e-tests/src/specs/editor/prepublishChecklist.js
  packages/story-editor/src/components/checklist/karma/checklist.karma.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Package: E2E Tests

#9303 Taxonomies: Enable e2e tests for contributor role
  packages/e2e-tests/src/specs/editor/taxonomy.js
Labels: cla: yes, Type: Code Quality, Pod: Pea, Package: E2E Tests, Group: Taxonomies
