Repository GoogleForCreators/web-stories-wp, pull requests merged in 2021-11, with the labels that each got.

#9488 Fix: Media Accessibility Panel UI Simplifications
  packages/story-editor/src/components/colorPicker/currentColorPicker.js
  packages/story-editor/src/components/eyedropper/index.js
  packages/story-editor/src/components/form/color/color.js
  packages/story-editor/src/components/panels/design/filter/filter.js
  packages/story-editor/src/components/panels/design/imageAccessibility/imageAccessibility.js
  packages/story-editor/src/components/panels/design/videoAccessibility/test/videoAccessibility.js
  packages/story-editor/src/components/panels/design/videoAccessibility/videoAccessibility.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9570 Do not add `noreferrer` to same-origin links
  includes/AMP/Traits/Sanitization_Utils.php
  tests/phpunit/unit/tests/AMP/Story_Sanitizer.php
Labels: Type: Bug, cla: yes, AMP Output, Group: Links, Pod: WP & Infra, Group: Page Attachment

#9591 Fix failing monetization E2E test
  packages/e2e-tests/src/specs/dashboard/settings/adminUser/monitization.js
  packages/e2e-tests/src/specs/dashboard/settings/adminUser/videoSettings.js
Labels: Type: Bug, cla: yes

#9597 Update PHPStan to version 1.0.0
  composer.json
  composer.lock
  includes/AMP/Sanitization.php
  includes/Admin/Admin.php
  includes/Analytics.php
  includes/Discovery.php
  includes/Experiments.php
  includes/Infrastructure/Injector/SimpleInjector.php
  includes/Media/Image_Sizes.php
  includes/Media/Video/Poster.php
  includes/Model/Story.php
  phpstan.neon.dist
  tests/phpstan/stubs/wordpress-override.php
  tests/phpunit/integration/tests/Experiments.php
Labels: cla: yes, Type: Infrastructure, Type: Code Quality, Pod: WP & Infra

#9565 Inspector: Update tertiary color in the design system (dark mode)
  packages/design-system/src/theme/colors.js
  packages/e2e-tests/src/specs/dashboard/settings/adminUser/monetization.js
  packages/story-editor/src/components/form/dateTime/timeZone.js
Labels: Type: Bug, Accessibility, cla: yes, Group: Design Panel, Group: Document Panel, Pod: Pea, Group: Design System

#9602 Remove Document_Parser trait
  includes/REST_API/Embed_Controller.php
  includes/REST_API/Link_Controller.php
  includes/Traits/Document_Parser.php
Labels: cla: yes, PHP, Group: WordPress, Type: Code Quality, P3, Pod: WP & Infra

#9572 Publisher Logos: Fix race condition on multi-upload
  includes/REST_API/Publisher_Logos_Controller.php
  packages/wp-dashboard/src/api/hooks/usePublisherLogosApi.js
  packages/wp-dashboard/src/api/publisherLogo.js
  packages/wp-dashboard/src/components/editorSettings/editorSettings.js
  tests/phpunit/integration/tests/REST_API/Publisher_Logos_Controller.php
Labels: Type: Bug, cla: yes, Group: WordPress, Group: Settings, Pod: WP & Infra, Group: Publisher Logos

#9587 Fix duplicate fullbleed container landmark regions
  packages/e2e-tests/src/config/bootstrap.js
  packages/story-editor/src/components/canvas/displayLayer.js
  packages/story-editor/src/components/canvas/editLayer.js
  packages/story-editor/src/components/canvas/framesLayer.js
  packages/story-editor/src/components/canvas/layout.js
  packages/story-editor/src/karma/fixture/containers/canvas.js
Labels: Type: Bug, Accessibility, cla: yes, Pod: Pea, Group: Workspace, Package: E2E Tests, Package: Story Editor

#9601 Karma: Fix mocked media responses
  packages/story-editor/src/karma/fixture/db/getMediaResponse.js
Labels: cla: yes, Type: Code Quality

#9594 Convert Types PHP trait to class
  includes/Admin/Dashboard.php
  includes/Admin/Editor.php
  includes/Integrations/Jetpack.php
  includes/Media/Types.php
  includes/Plugin.php
  includes/REST_API/Hotlinking_Controller.php
  includes/REST_API/Stories_Media_Controller.php
  tests/phpunit/integration/tests/Admin/Dashboard.php
  tests/phpunit/integration/tests/Admin/Editor.php
  tests/phpunit/integration/tests/Integrations/Jetpack.php
  tests/phpunit/integration/tests/Media/Types.php
Labels: Type: Enhancement, cla: yes, PHP, Type: Code Quality, P3, Pod: WP & Infra

#9596 Decoupling: Remove usage of `wp:*` from taxonomy added in `story-editor`
  packages/story-editor/src/app/taxonomy/taxonomyProvider.js
  packages/story-editor/src/app/taxonomy/test/useTaxonomy.js
  packages/wp-story-editor/src/api/taxonomy.js
Labels: cla: yes, Package: Story Editor, Group: Taxonomies, Package: WP Story Editor

#9618 Add changelog for v1.14.0
  readme.txt
Labels: Type: Documentation, cla: yes, Type: Release

#9441 Performance tracking using Event Timing API
  packages/story-editor/src/components/canvas/frameElement.js
  packages/story-editor/src/components/canvas/pagemenu/pageMenu.js
  packages/story-editor/src/components/canvas/pagemenu/pageMenuButton.js
  packages/story-editor/src/components/canvas/pagenav/index.js
  packages/story-editor/src/components/carousel/pagepreview/index.js
  packages/story-editor/src/components/library/panes/shared/libraryMoveable.js
  packages/story-editor/src/components/panels/design/layer/layer.js
  packages/story-editor/src/components/panels/design/sizePosition/sizePosition.js
  packages/story-editor/src/components/tabview/index.js
  packages/story-editor/src/constants/performanceTrackingEvents.js
  packages/story-editor/src/masks/frame.js
  packages/story-editor/src/utils/usePerformanceTracking.js
  packages/tracking/src/index.js
  packages/tracking/src/test/trackTiming.js
  packages/tracking/src/trackTiming.js
Labels: cla: yes, Type: Performance, Pod: Prometheus

#9620 E2E Tests: skip flakey telemetry banner test
  packages/e2e-tests/src/specs/dashboard/telemetryBanner.js
Labels: cla: yes, Pod: WP & Infra, Package: E2E Tests

#9593 Add `rest_namespace` to registing post types and taxonomies
  includes/Media/Media_Source_Taxonomy.php
  includes/Page_Template_Post_Type.php
  includes/Post_Type_Base.php
  includes/REST_API/Stories_Base_Controller.php
  includes/REST_API/Stories_Terms_Controller.php
  includes/Story_Post_Type.php
  includes/Taxonomy/Category_Taxonomy.php
  includes/Taxonomy/Tag_Taxonomy.php
  includes/Taxonomy/Taxonomy_Base.php
  tests/phpunit/integration/includes/Fixture/DummyTaxonomy.php
Labels: Type: Enhancement, cla: yes, PHP, Group: WordPress, Type: Code Quality, Pod: WP & Infra

#9576 Added video frame strip to the trim rail background
  packages/media/src/generateVideoStrip.js
  packages/media/src/index.js
  packages/story-editor/src/components/videoTrim/constants.js
  packages/story-editor/src/components/videoTrim/trimmerComponents.js
  packages/story-editor/src/components/videoTrim/useRailBackground.js
  packages/story-editor/src/components/videoTrim/videoTrimmer.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9586 Layers Panel: constrain max height of layer panel
  packages/story-editor/src/components/panels/design/layer/layerPanel.js
  packages/story-editor/src/components/tabview/index.js
Labels: Type: Bug, cla: yes, Group: Design Panel, Pod: Pea, Bug Bash: 1.14.0

#9590 Added duration to video trimmer component
  packages/story-editor/src/components/videoTrim/trimmerComponents.js
  packages/story-editor/src/components/videoTrim/videoTrimmer.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9626 Decoupling: Sweep out leftover `_links` and `_embedded` from `story-editor`
  packages/story-editor/src/components/checklist/karma/checklist.karma.js
  packages/story-editor/src/components/library/test/_utils/mediaResponseWithPdfAndImage.json
  packages/story-editor/src/components/panels/document/taxonomies/shared.js
  packages/story-editor/src/karma/fixture/db/storyResponse.js
  packages/story-editor/src/karma/fixture/fixture.js
Labels: cla: yes, Type: Code Quality, Package: Story Editor

#9625 Fixed flaky karma tests
  packages/story-editor/src/components/canvas/karma/canvasKeys.karma.js
  packages/story-editor/src/components/library/panes/text/karma/textPane.karma.js
  packages/story-editor/src/components/library/panes/text/karma/textSets.cuj.karma.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#9613 Layers Panel: Remove cursor from whole header
  packages/story-editor/src/components/panels/panel/shared/title.js
Labels: Type: Bug, cla: yes, Group: Design Panel, Pod: Pea, Bug Bash: 1.14.0

#9579 UI Simplification: Text Panel
  packages/design-system/src/components/pill/pill.js
  packages/design-system/src/components/pill/pillGroup.js
  packages/story-editor/src/components/inspector/design/getDesignPanelsForSelection.js
  packages/story-editor/src/components/library/panes/text/useInsertPreset.js
  packages/story-editor/src/components/panels/design/index.js
  packages/story-editor/src/components/panels/design/sizePosition/karma/borderRadius.karma.js
  packages/story-editor/src/components/panels/design/textBox/index.js
  packages/story-editor/src/components/panels/design/textBox/textBox.js
  packages/story-editor/src/components/panels/design/textStyle/backgroundColor.js
  packages/story-editor/src/components/panels/design/textStyle/color.js
  packages/story-editor/src/components/panels/design/textStyle/padding.js
  packages/story-editor/src/components/panels/design/textStyle/panelHeader.js
  packages/story-editor/src/components/panels/design/textStyle/test/textBox.js
  packages/story-editor/src/components/panels/design/textStyle/test/textStyle.js
  packages/story-editor/src/components/panels/design/textStyle/textStyle.js
  packages/story-editor/src/components/panels/design/textStyle/utils.js
  packages/story-editor/src/components/panels/design/types.js
  packages/story-editor/src/karma/fixture/containers/designPanel/index.js
  packages/story-editor/src/karma/fixture/containers/designPanel/textBox.js
  packages/story-editor/src/karma/fixture/containers/designPanel/textStyle.js
  packages/story-editor/src/utils/useApplyTextAutoStyle.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9502 Support password protected and pending stories
  includes/AMP/Output_Buffer.php
  includes/Admin/Admin.php
  includes/Admin/Cross_Origin_Isolation.php
  includes/Admin/Dashboard.php
  includes/Admin/Editor.php
  includes/Admin/ImgAreaSelect_Patch.php
  includes/Admin/Meta_Boxes.php
  includes/Admin/TinyMCE.php
  includes/Block/Web_Stories_Block.php
  includes/Context.php
  includes/Embed_Base.php
  includes/Integrations/AMP.php
  includes/Integrations/Jetpack.php
  includes/Integrations/New_Relic.php
  includes/Integrations/Site_Kit.php
  includes/Media/Media_Source_Taxonomy.php
  includes/Plugin.php
  includes/Renderer/Archives.php
  includes/Renderer/Single.php
  includes/Renderer/Stories/Carousel_Renderer.php
  includes/Renderer/Stories/Renderer.php
  includes/Renderer/Story/Embed.php
  includes/Traits/Amp.php
  includes/Traits/Screen.php
  includes/compat/amp.php
  includes/uninstall.php
  packages/e2e-test-utils/src/previewStory.js
  packages/e2e-test-utils/src/setAnalyticsCode.js
  packages/e2e-tests/src/specs/dashboard/telemetryBanner.js
  packages/e2e-tests/src/specs/editor/contributorUser.js
  packages/e2e-tests/src/specs/editor/passwordProtected.js
  packages/e2e-tests/src/specs/editor/prepublishChecklist.js
  packages/story-editor/src/components/checklist/reviewChecklistDialog.js
  packages/story-editor/src/components/header/buttons/buttonWithChecklistWarning.js
  packages/story-editor/src/components/header/buttons/publish.js
  packages/story-editor/src/components/header/test/buttons.js
  packages/story-editor/src/components/panels/document/publish/publish.js
  packages/story-editor/src/components/panels/document/status/status.js
  packages/story-editor/src/components/panels/document/status/test/status.js
  packages/story-editor/src/utils/useRefreshPostEditURL.js
  tests/phpunit/integration/tests/Admin/Admin.php
  tests/phpunit/integration/tests/Admin/Cross_Origin_Isolation.php
  tests/phpunit/integration/tests/Admin/Dashboard.php
  tests/phpunit/integration/tests/Admin/Editor.php
  tests/phpunit/integration/tests/Admin/ImgAreaSelect_Patch.php
  tests/phpunit/integration/tests/Admin/TinyMCE.php
  tests/phpunit/integration/tests/Context.php
  tests/phpunit/integration/tests/Integrations/Jetpack.php
  tests/phpunit/integration/tests/Integrations/Site_Kit.php
  tests/phpunit/integration/tests/Media/Video/Poster.php
  tests/phpunit/integration/tests/Migrations/Add_Media_Source_Editor.php
  tests/phpunit/integration/tests/Migrations/Add_Media_Source_Gif_Conversion.php
  tests/phpunit/integration/tests/Migrations/Add_Media_Source_Source_Image.php
  tests/phpunit/integration/tests/Migrations/Add_Media_Source_Source_Video.php
  tests/phpunit/integration/tests/Migrations/Add_Media_Source_Video_Optimization.php
  tests/phpunit/integration/tests/Migrations/Add_Poster_Generation_Media_Source.php
  tests/phpunit/integration/tests/Migrations/Add_VideoPress_Poster_Generation_Media_Source.php
  tests/phpunit/integration/tests/Renderer/Single.php
  tests/phpunit/integration/tests/Renderer/Story/Embed.php
  tests/phpunit/integration/tests/Uninstall.php
Labels: Type: Enhancement, cla: yes, P2, Type: Infrastructure, Group: WordPress, Pod: WP & Infra

#9623 Template Layout panel: Tabbing Focus in FireFox
  packages/story-editor/src/components/library/panes/pageTemplates/defaultTemplates.js
  packages/story-editor/src/components/library/panes/pageTemplates/savedTemplates.js
Labels: Type: Bug, Accessibility, cla: yes, Pod: Pea, Group: Page Templates, Bug Bash: 1.14.0

#9588 Dashboard: Add height and width attributes to grid images
  packages/dashboard/src/app/views/exploreTemplates/content/templateGridItem.js
  packages/dashboard/src/app/views/myStories/content/storyGridItem/index.js
  packages/dashboard/src/components/cardGallery/index.js
  packages/dashboard/src/constants/index.js
Labels: Type: Bug, cla: yes, Group: Dashboard, Pod: Pea

#9634 Decoupling: Change legacy `edit-story` strings to `story-editor`
  .distignore
  .github/workflows/tests-karma-editor.yml
  docs/integration-tests.md
  karma-story-editor.config.cjs
  package.json
  packages/dashboard/src/app/views/myStories/content/storyGridItem/index.js
  packages/dashboard/src/app/views/myStories/karma/myStories.karma.js
  packages/story-editor/src/components/previewPage/previewPage.js
Labels: cla: yes, Type: Code Quality, Package: Story Editor

#9599 Dashboard: 4:6 ratio for story grid item display
  packages/dashboard/src/app/views/exploreTemplates/content/templateGridView.js
  packages/dashboard/src/app/views/exploreTemplates/content/test/content.js
  packages/dashboard/src/app/views/myStories/content/storyGridItem/index.js
  packages/dashboard/src/app/views/myStories/content/storyGridView/index.js
  packages/dashboard/src/app/views/myStories/content/test/content.js
  packages/dashboard/src/app/views/myStories/content/test/storiesView.js
  packages/dashboard/src/app/views/shared/grid/components.js
  packages/dashboard/src/app/views/templateDetails/content/relatedGrid/test/relatedGrid.js
  packages/dashboard/src/components/cardGrid/index.js
  packages/dashboard/src/components/cardGrid/test/card-grid.js
  packages/dashboard/src/constants/pageStructure.js
  packages/dashboard/src/storybookUtils/index.js
  packages/dashboard/src/types.js
  packages/dashboard/src/utils/index.js
  packages/dashboard/src/utils/test/usePagePreviewSize.js
  packages/dashboard/src/utils/usePagePreviewSize.js
Labels: Type: Bug, cla: yes, Group: Dashboard, Pod: Pea

#9569 Storybook: Improve story editor playground
  .storybook/manager-head.html
  .storybook/stories/playground/index.js
  .storybook/stories/playground/story-editor/getDummyMedia.js
  .storybook/stories/playground/story-editor/header/buttons/index.js
  .storybook/stories/playground/story-editor/header/buttons/preview.js
  .storybook/stories/playground/story-editor/header/buttons/saveButton.js
  .storybook/stories/playground/story-editor/header/index.js
  .storybook/stories/playground/story-editor/index.js
  .storybook/stories/playground/story-editor/preview.js
  package-lock.json
  package.json
  packages/story-editor/src/components/library/constants.js
  packages/story-editor/src/defaultConfig.js
  packages/story-editor/src/karma/fixture/fixture.js
  packages/story-editor/src/output/story.js
  packages/story-editor/src/storyEditor.js
  packages/story-editor/src/utils/deepMerge.js
  packages/story-editor/src/utils/test/deepMerge.js
Labels: Type: Enhancement, cla: yes, Type: Infrastructure, Package: Story Editor

#9578 Hotlinking: Perform CORS proxy requirement check
  packages/media/src/createResource.js
  packages/media/src/types.js
  packages/story-editor/src/app/media/media3p/api/test/useMedia3pApi.js
  packages/story-editor/src/app/media/utils/getResourceFromUrl.js
  packages/story-editor/src/app/media/utils/test/getResourceFromMedia3p.js
  packages/story-editor/src/components/library/panes/media/local/hotlink/useInsert.js
  packages/story-editor/src/components/library/panes/media/local/karma/hotlink.karma.js
  packages/story-editor/src/utils/useCORSProxy.js
Labels: Type: Enhancement, cla: yes, Group: Media

#9653 Prevent history pollution caused by media backfilling
  packages/story-editor/src/app/story/useStoryReducer/reducers/deleteElementsByResourceId.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/updateElementsByResourceId.js
  packages/story-editor/src/app/story/useStoryReducer/test/arrangeElement.js
  packages/story-editor/src/app/story/useStoryReducer/test/arrangePage.js
  packages/story-editor/src/app/story/useStoryReducer/test/arrangeSelection.js
  packages/story-editor/src/app/story/useStoryReducer/test/clearBackgroundElement.js
  packages/story-editor/src/app/story/useStoryReducer/test/combineElements.js
  packages/story-editor/src/app/story/useStoryReducer/test/deleteElementsById.js
  packages/story-editor/src/app/story/useStoryReducer/test/deleteElementsByResourceId.js
  packages/story-editor/src/app/story/useStoryReducer/test/deleteSelectedElements.js
  packages/story-editor/src/app/story/useStoryReducer/test/reducer.js
  packages/story-editor/src/app/story/useStoryReducer/test/setBackgroundElement.js
  packages/story-editor/src/app/story/useStoryReducer/test/updateElementById.js
  packages/story-editor/src/app/story/useStoryReducer/test/updateElementsById.js
  packages/story-editor/src/app/story/useStoryReducer/test/updateElementsByResourceId.js
  packages/story-editor/src/app/story/useStoryReducer/test/updatePageProperties.js
  packages/story-editor/src/app/story/useStoryReducer/test/updateSelectedElements.js
Labels: Type: Bug, cla: yes, Group: Media, Group: History, Pod: WP & Infra

#9603 Layers Panel: Remove blue line
  packages/story-editor/src/components/panels/design/layer/layerPanel.js
  packages/story-editor/src/components/panels/panel/panel.js
  packages/story-editor/src/components/panels/panel/shared/handle.js
  packages/story-editor/src/components/panels/panel/shared/title.js
Labels: Type: Bug, cla: yes, Group: Design Panel, Pod: Pea, Bug Bash: 1.14.0

#9652 Code quality: Refactor media reducer to reduce complexity
  packages/story-editor/src/app/media/local/constants.js
  packages/story-editor/src/app/media/local/reducer.js
  packages/story-editor/src/app/media/local/reducers/addAudioProcessing.js
  packages/story-editor/src/app/media/local/reducers/addPosterProcessing.js
  packages/story-editor/src/app/media/local/reducers/fetchMedia.js
  packages/story-editor/src/app/media/local/reducers/index.js
  packages/story-editor/src/app/media/local/reducers/prependMedia.js
  packages/story-editor/src/app/media/local/reducers/removeAudioProcessing.js
  packages/story-editor/src/app/media/local/reducers/removePosterProcessing.js
  packages/story-editor/src/app/media/local/reducers/resetFilters.js
  packages/story-editor/src/app/media/local/reducers/setMedia.js
  packages/story-editor/src/app/media/local/reducers/setMediaType.js
  packages/story-editor/src/app/media/local/reducers/setSearchTerm.js
  packages/story-editor/src/app/media/local/reducers/setupState.js
  packages/story-editor/src/app/media/media3p/providerReducer.js
  packages/story-editor/src/app/media/pagination/constants.js
  packages/story-editor/src/app/media/pagination/reducer.js
Labels: cla: yes, Group: Media, P2, JavaScript, Type: Code Quality, Pod: WP & Infra

#9631 Templates: Update CLI script to generate screenshots with different dimensions
  packages/templates/src/cli.js
Labels: cla: yes, Type: Code Quality, Pod: Pea, Package: Templates

#9617 UI Simplifications: Border Panel
  packages/design-system/src/icons/border.svg
  packages/design-system/src/icons/index.js
  packages/e2e-tests/src/specs/dashboard/templates/useTemplate.js
  packages/story-editor/src/components/form/stackable/index.js
  packages/story-editor/src/components/form/stackable/stackableGroup.js
  packages/story-editor/src/components/form/stackable/stackableInput.js
  packages/story-editor/src/components/panels/design/border/border.js
  packages/story-editor/src/components/panels/design/border/borderWidth.js
  packages/story-editor/src/components/panels/design/sizePosition/radius.js
Labels: Type: Enhancement, cla: yes

#9679 Added unit tests for video trimmer
  packages/story-editor/src/components/colorPicker/test/colorPicker/_utils.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/addStopByPointer.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/moveStopByPointer.js
  packages/story-editor/src/components/videoTrim/provider.js
  packages/story-editor/src/components/videoTrim/slider.js
  packages/story-editor/src/components/videoTrim/test/useVideoNode.js
  packages/story-editor/src/components/videoTrim/test/useVideoTrimMode.js
  packages/story-editor/src/components/videoTrim/test/videoTrimmer.js
  packages/story-editor/src/components/videoTrim/trimmerComponents.js
  packages/story-editor/src/components/videoTrim/useVideoTrimMode.js
  packages/story-editor/src/components/videoTrim/videoTrimmer.js
  packages/story-editor/src/testUtils/firePointerEvent.js
  packages/story-editor/src/testUtils/index.js
  tests/js/jest.config.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9630 Design System: Snackbar Accessibility
  packages/dashboard/src/app/api/useApiAlerts.js
  packages/dashboard/src/app/views/myStories/content/storiesView/index.js
  packages/dashboard/src/app/views/templateDetails/index.js
  packages/design-system/src/components/snackbar/constants.js
  packages/design-system/src/components/snackbar/snackbarContainer.js
  packages/design-system/src/components/snackbar/snackbarMessage.js
  packages/design-system/src/components/snackbar/stories/index.js
  packages/design-system/src/components/snackbar/test/snackbarContainer.js
  packages/design-system/src/components/snackbar/test/snackbarMessage.js
  packages/design-system/src/contexts/snackbar/snackbarProvider.js
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
  packages/story-editor/src/app/media/media3p/useFetchCategoriesEffect.js
  packages/story-editor/src/app/media/media3p/useFetchMediaEffect.js
  packages/story-editor/src/app/media/test/useUploadMedia.js
  packages/story-editor/src/app/media/useUploadMedia.js
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/app/story/actions/useSaveStory.js
  packages/story-editor/src/components/canvas/karma/quickActions.karma.js
  packages/story-editor/src/components/library/panes/media/local/deleteDialog.js
  packages/story-editor/src/components/library/panes/media/local/mediaEditDialog.js
  packages/story-editor/src/components/library/panes/media/local/mediaPane.js
  packages/story-editor/src/components/library/panes/pageTemplates/defaultTemplateList.js
  packages/story-editor/src/components/library/panes/pageTemplates/karma/savedPageTemplates.karma.js
  packages/story-editor/src/components/library/panes/pageTemplates/savedTemplates.js
  packages/story-editor/src/components/library/panes/pageTemplates/templateList.js
  packages/story-editor/src/components/library/panes/pageTemplates/templateSave.js
  packages/wp-dashboard/src/api/hooks/useApiAlerts.js
  packages/wp-dashboard/src/effects/useMediaOptimization.js
  packages/wp-dashboard/src/effects/useTelemetryOptIn.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Design System

#9656 Dashboard: Next and Previous page buttons should retain focus
  packages/dashboard/src/app/views/exploreTemplates/content/templateGridItem.js
  packages/dashboard/src/app/views/exploreTemplates/content/templateGridView.js
  packages/dashboard/src/app/views/templateDetails/content/detailsGallery/index.js
  packages/dashboard/src/app/views/templateDetails/content/index.js
Labels: Accessibility, cla: yes, Group: Dashboard, Pod: Pea, Bug Bash: 1.14.0

#9681 CORS Proxy: Use file stream
  composer.json
  includes/REST_API/Hotlinking_Controller.php
Labels: Type: Enhancement, cla: yes, Group: Media, PHP, Group: WordPress

#9692 Design System: update color to disable in context menu
  packages/design-system/src/components/contextMenu/menu.js
Labels: Type: Enhancement, Accessibility, cla: yes, Pod: Pea, Group: Design System, Bug Bash: 1.11.0

#9651 UI Simplification: Saved Styles
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/components/form/color/colorInput.js
  packages/story-editor/src/components/inspector/design/getDesignPanelsForSelection.js
  packages/story-editor/src/components/panels/design/index.js
  packages/story-editor/src/components/panels/design/preset/header.js
  packages/story-editor/src/components/panels/design/preset/karma/stylePresets.karma.js
  packages/story-editor/src/components/panels/design/preset/presetPanel.js
  packages/story-editor/src/components/panels/design/preset/resize.js
  packages/story-editor/src/components/panels/design/preset/useDeletePreset.js
  packages/story-editor/src/components/panels/design/textStyle/karma/stylePresets.karma.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/confirmationDialog.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/constants.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/header.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/index.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/stories/confirmationDialog.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/styleGroup.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/styleItem.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/styleManager.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/stylePresets.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/useApplyStyle.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/useDeleteStyle.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/useKeyboardNavigation.js
  packages/story-editor/src/components/panels/design/textStyle/test/stylePresetPanel.js
  packages/story-editor/src/components/panels/design/textStyle/test/textBox.js
  packages/story-editor/src/components/panels/design/textStyle/test/textStyle.js
  packages/story-editor/src/components/panels/design/textStyle/textStyle.js
  packages/story-editor/src/components/panels/design/types.js
  packages/story-editor/src/constants/index.js
  packages/story-editor/src/elements/text/constants.js
  packages/story-editor/src/karma/fixture/containers/designPanel/index.js
  packages/story-editor/src/karma/fixture/containers/designPanel/textStyle.js
  packages/story-editor/src/karma/fixture/containers/designPanel/textStylePreset.js
  packages/story-editor/src/utils/presetUtils.js
  packages/story-editor/src/utils/test/presetUtils.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9669 3P Media: Update label for search results
  packages/story-editor/src/components/library/panes/media/media3p/providerPanel.js
  packages/story-editor/src/components/library/panes/media/media3p/test/media3pPane.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: 3P Media

#9654 Checklist: Add check for elements with links that take up > 80% screen
  packages/story-editor/src/components/checklist/checklistContent/accessibilityChecks.js
  packages/story-editor/src/components/checklist/checks/elementLinkTappableRegionTooBig.js
  packages/story-editor/src/components/checklist/checks/test/elementLinkTappableRegionTooBig.js
  packages/story-editor/src/components/checklist/constants.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Pre-Publish Checklist

#9694 Workspace: Don't throw errors for falsey values in context selectors
  packages/animation/src/components/test/useStoryAnimationContext.js
  packages/animation/src/components/useStoryAnimationContext.js
  packages/story-editor/src/app/helpCenter/useHelpCenter/index.js
  packages/story-editor/src/app/highlights/useHighlights.js
  packages/story-editor/src/app/rightClickMenu/useRightClickMenu.js
  packages/story-editor/src/components/checklist/checklistContext/useChecklist.js
  packages/story-editor/src/components/checklist/checkpointContext/checkpointContext.js
  packages/story-editor/src/components/keyboardShortcutsMenu/keyboardShortcutsMenuContext/useKeyboardShortcutsMenu.js
Labels: Type: Bug, cla: yes, Type: Code Quality, Pod: Pea, Group: Workspace

#9673 Workspace: Fix template usage e2e test and improve color picker accessibility
  packages/e2e-tests/src/specs/dashboard/templates/useTemplate.js
  packages/story-editor/src/components/colorPicker/basicColorList.js
  packages/story-editor/src/components/colorPicker/basicColorPicker.js
  packages/story-editor/src/components/colorPicker/colorAdd.js
Labels: Type: Bug, cla: yes, Type: Code Quality, Pod: Pea, Package: E2E Tests

#9697 Hotlinking: Add Karma test for CORS proxy
  packages/story-editor/src/components/library/panes/media/local/karma/hotlink.karma.js
  packages/story-editor/src/karma/fixture/fixture.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9690 Workspace UX: Move Page Menu
  packages/design-system/src/components/contextMenu/animationContainer.js
  packages/design-system/src/components/contextMenu/contextMenu.js
  packages/design-system/src/components/contextMenu/styled.js
  packages/story-editor/src/components/canvas/framesLayer.js
  packages/story-editor/src/components/canvas/karma/backgroundCopyPaste.karma.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/canvas/karma/selection.karma.js
  packages/story-editor/src/components/canvas/layout.js
  packages/story-editor/src/components/canvas/navLayer.js
  packages/story-editor/src/components/canvas/pageSideMenu.js
  packages/story-editor/src/components/canvas/pagemenu/pageMenu.js
  packages/story-editor/src/components/canvas/pagemenu/pageMenuButton.js
  packages/story-editor/src/components/checklist/karma/checklist.karma.js
  packages/story-editor/src/components/checklist/karma/prepublishSelect.karma.js
  packages/story-editor/src/components/header/buttons/historyButtons.js
  packages/story-editor/src/components/header/buttons/index.js
  packages/story-editor/src/components/library/panes/text/karma/textSets.cuj.karma.js
  packages/story-editor/src/components/panels/design/layer/karma/layer.karma.js
  packages/story-editor/src/karma/copyAndPaste.cuj.karma.js
  packages/story-editor/src/karma/duplicate.cuj.karma.js
  packages/story-editor/src/karma/fixture/components/header/buttons/index.js
  packages/story-editor/src/karma/fixture/containers/canvas.js
  packages/wp-story-editor/src/components/header/buttons/index.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9534 Quick Actions: Add Replace Media Functionality
  packages/design-system/src/components/contextMenu/menu.js
  packages/story-editor/src/app/highlights/quickActions/test/useQuickActions.js
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
  packages/story-editor/src/components/canvas/karma/quickActions.karma.js
  packages/story-editor/src/components/layout/index.js
  packages/story-editor/src/karma/fixture/fixture.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Quick Action Menu

#9672 Page Templates: Default view set in localStorage
  packages/design-system/src/utils/localStore.js
  packages/story-editor/src/components/library/panes/pageTemplates/pageTemplatesPane.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Library, Group: Page Templates

#9722 Fix TextEdit Karma tests using shortcuts
  packages/story-editor/src/elements/text/karma/edit.karma.js
Labels: cla: yes, Type: Code Quality, Pod: Prometheus

#9707 Color Picker: Fix navigation with arrow keys
  packages/story-editor/src/components/colorPicker/basicColorList.js
Labels: Type: Bug, Accessibility, cla: yes, Pod: Prometheus, Group: Patterns

#9706 Context Menu: Placement Update
  packages/design-system/src/components/contextMenu/contextMenu.js
  packages/design-system/src/components/contextMenu/menu.js
  packages/design-system/src/components/contextMenu/styled.js
  packages/story-editor/src/components/canvas/rightClickMenu.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu

#9714 Canvas: Add keyboard shortcut that opens the context menu
  packages/design-system/src/components/contextMenu/menu.js
  packages/design-system/src/components/contextMenu/menuItem.js
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/components/canvas/framesLayer.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/canvas/rightClickMenu.js
  packages/story-editor/src/components/keyboardShortcutsMenu/keyboardShortcutList.js
Labels: Accessibility, cla: yes, Pod: Pea, Group: Context Menu, Group: Keyboard Shortcuts

#9711 Fix flaky link Tooltip test
  packages/story-editor/src/components/library/panes/media/local/karma/hotlink.karma.js
  packages/story-editor/src/components/panels/design/link/karma/link.karma.js
Labels: Type: Bug, cla: yes, Type: Code Quality, Pod: Prometheus

#9705 Shapes: Update Circle Path
  packages/story-editor/src/masks/constants.js
Labels: Type: Bug, cla: yes, Elements: Shape, Group: Design Panel, Pod: Pea, Bug Bash: 1.14.0

#9407 Links: Increase icon crop size from 32px to 96px
  packages/story-editor/src/components/form/linkIcon.js
Labels: Type: Enhancement, cla: yes, Group: Links

#9726 Fix Karma tests related to text inline styles
  packages/story-editor/src/components/richText/karma/_utils.js
  packages/story-editor/src/components/richText/karma/inlineSelection.karma.js
  packages/story-editor/src/elements/text/karma/edit.karma.js
Labels: cla: yes, Type: Code Quality, Pod: Prometheus

#9737 Lints: Remove '--syntax' flag in `lint-staged` config
  package.json
Labels: cla: yes

#9738 E2E Test : Fix pageTemplate test
  packages/e2e-tests/src/specs/editor/pageTemplates.js
Labels: cla: yes, Type: Infrastructure, Package: E2E Tests

#9734 Code Quality: Fix 3P Media Integration Tests
  packages/story-editor/src/components/library/panes/media/media3p/karma/mediaFetching.karma.js
  packages/story-editor/src/karma/fixture/containers/container.js
  packages/story-editor/src/karma/fixture/containers/library/index.js
Labels: cla: yes, Type: Infrastructure, Type: Code Quality, Pod: Pea, Group: 3P Media

#9723 Code Quality: Adopt PHPStan level 9
  includes/AMP/Sanitization.php
  includes/AdSense.php
  includes/Ad_Manager.php
  includes/Admin/Cross_Origin_Isolation.php
  includes/Admin/Customizer.php
  includes/Admin/ImgAreaSelect_Patch.php
  includes/Admin/Meta_Boxes.php
  includes/Analytics.php
  includes/Assets.php
  includes/Database_Upgrader.php
  includes/Experiments.php
  includes/Infrastructure/ServiceBasedPlugin.php
  includes/Integrations/AMP.php
  includes/Integrations/Core_Themes_Support.php
  includes/Integrations/Jetpack.php
  includes/Integrations/NextGen_Gallery.php
  includes/Integrations/Site_Kit.php
  includes/KSES.php
  includes/Locale.php
  includes/Media/Media_Source_Taxonomy.php
  includes/Media/Types.php
  includes/Media/Video/Captions.php
  includes/Media/Video/Muting.php
  includes/Media/Video/Poster.php
  includes/Model/Story.php
  includes/REST_API/Embed_Controller.php
  includes/REST_API/Hotlinking_Controller.php
  includes/REST_API/Link_Controller.php
  includes/REST_API/Page_Template_Controller.php
  includes/REST_API/Publisher_Logos_Controller.php
  includes/REST_API/Status_Check_Controller.php
  includes/REST_API/Stories_Autosaves_Controller.php
  includes/REST_API/Stories_Base_Controller.php
  includes/REST_API/Stories_Controller.php
  includes/REST_API/Stories_Lock_Controller.php
  includes/REST_API/Stories_Media_Controller.php
  includes/REST_API/Stories_Users_Controller.php
  includes/Renderer/Oembed.php
  includes/Renderer/Stories/FieldStateFactory/Factory.php
  includes/Renderer/Story/HTML.php
  includes/Settings.php
  includes/Stories_Script_Data.php
  includes/Tracking.php
  includes/namespace.php
  phpstan.neon.dist
  tests/phpstan/src/ApplyFiltersDynamicFunctionReturnTypeExtension.php
  tests/phpunit/integration/tests/Integrations/Jetpack.php
Labels: cla: yes, Type: Code Quality

#9668 Design System: Improve tooltips position in RTL
  packages/design-system/src/components/popup/utils/getOffset.js
  packages/design-system/src/components/tooltip/index.js
  packages/story-editor/src/components/panels/design/sizePosition/radius.js
  packages/story-editor/src/components/panels/design/sizePosition/sizePosition.js
Labels: Type: Bug, cla: yes, Internationalization (I18N), Group: Design Panel, Pod: Pea, Group: Design System

#9757 Media: fetching local media karma test
  packages/story-editor/src/components/library/panes/media/local/karma/mediaFetching.karma.js
  packages/story-editor/src/karma/fixture/fixture.js
  packages/story-editor/src/karma/fixture/index.js
Labels: Type: Enhancement, cla: yes, Type: Code Quality, Pod: Pea

#9758 Media: Adjust `needsProxy` check for poster images for base color generation
  packages/story-editor/src/components/canvas/useInsertElement.js
  packages/story-editor/src/components/library/panes/media/local/hotlink/useInsert.js
  packages/story-editor/src/utils/useCORSProxy.js
Labels: Type: Enhancement, cla: yes, Group: Media

#9730 Media: Use `color` field instead of `baseColor` for 3P resources
  packages/story-editor/src/app/media/utils/getResourceFromMedia3p.js
  packages/story-editor/src/app/media/utils/test/getResourceFromMedia3p.js
Labels: Type: Enhancement, cla: yes, P2, Pod: WP & Infra, Group: 3P Media, Group: Library

#9741 Pre-Publish Checklist: Show contrast error when there's a contrast problem
  packages/story-editor/src/components/checklist/checks/pageBackgroundLowTextContrast/check.js
  packages/story-editor/src/utils/contrastUtils.js
Labels: Type: Bug, cla: yes, Pod: Pea, Group: Pre-Publish Checklist

#9703 Supporting qualifying outbound links (rel attribute)
  packages/story-editor/src/components/elementLink/index.js
  packages/story-editor/src/components/elementLink/output.js
  packages/story-editor/src/components/elementLink/test/output.js
  packages/story-editor/src/components/panels/design/link/link.js
  packages/story-editor/src/components/panels/design/pageAttachment/pageAttachment.js
  packages/story-editor/src/components/panels/shared/index.js
  packages/story-editor/src/components/panels/shared/linkRelations.js
  packages/story-editor/src/components/panels/shared/test/linkRelations.js
  packages/story-editor/src/output/page.js
  packages/story-editor/src/output/test/page.js
  packages/story-editor/src/types.js
Labels: Type: Enhancement, cla: yes, P2, Group: Links, Pod: WP & Infra, Group: Workspace

#9765 Media: Use `postProcessingResource` for `isMuted` backfilling
  packages/story-editor/src/app/highlights/quickActions/test/useQuickActions.js
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
Labels: cla: yes, Type: Code Quality

#9688 Media: Use base color while loading in assets
  packages/story-editor/src/components/library/panes/media/common/innerElement.js
  packages/story-editor/src/components/library/panes/media/common/mediaElement.js
Labels: Type: Enhancement, cla: yes, Group: Media, P2, Pod: WP & Infra

#9760 Fixing carousel cache
  packages/story-editor/src/components/footer/carousel/carouselPage.js
  packages/story-editor/src/components/footer/carousel/carouselProvider.js
  packages/story-editor/src/components/footer/carousel/useCarouselCache.js
  packages/story-editor/src/components/footer/pagepreview/index.js
Labels: Type: Bug, cla: yes, Type: Performance, Group: Carousel, Pod: Prometheus

#9764 Media: Display tooltip for library videos being processed
  packages/story-editor/src/components/library/panes/media/common/mediaElement.js
Labels: Type: Enhancement, cla: yes, Group: Media, P2, Pod: WP & Infra, Group: Video Optimization

#9735 Checklist: Update 'tappable region too large' copy
  packages/story-editor/src/components/checklist/constants.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Pre-Publish Checklist

#9753 Add video playback shortcut for canvas element
  packages/story-editor/src/elements/video/controls.js
  packages/story-editor/src/elements/video/karma/elementMinSizeAndPlayback.karma.js
  packages/story-editor/src/elements/video/playPauseButton.js
Labels: Type: Enhancement, Accessibility, cla: yes, Elements: Video, Group: Canvas

#9736 Expanded canvas sizing
  packages/story-editor/src/app/layout/useZoomSetting.js
  packages/story-editor/src/components/canvas/layout.js
  packages/story-editor/src/components/footer/carousel/constants.js
  packages/story-editor/src/components/footer/secondaryMenu.js
  packages/story-editor/src/components/footer/useFooterHeight.js
Labels: Type: Enhancement, cla: yes, Group: Canvas, Pod: Prometheus, Group: Workspace

#9713 Use CORS Proxy for Link Icons
  packages/story-editor/src/components/elementLink/index.js
  packages/story-editor/src/components/panels/design/link/link.js
  packages/story-editor/src/components/panels/design/link/test/link.js
  packages/story-editor/src/components/panels/design/pageAttachment/pageAttachment.js
  packages/story-editor/src/types.js
Labels: Type: Enhancement, cla: yes, Group: Links, Group: Design Panel, Pod: WP & Infra, Group: Page Attachment

#9724 Editor: Add collapsing carousel
  packages/story-editor/src/app/layout/layoutProvider.js
  packages/story-editor/src/app/layout/useCarouselDrawer.js
  packages/story-editor/src/app/layout/useZoomSetting.js
  packages/story-editor/src/components/canvas/layout.js
  packages/story-editor/src/components/checklist/toggle/index.js
  packages/story-editor/src/components/footer/carousel/carouselContainer.js
  packages/story-editor/src/components/footer/carousel/carouselDrawer.js
  packages/story-editor/src/components/footer/carousel/carouselDrawerIcon.js
  packages/story-editor/src/components/footer/carousel/carouselLayout.js
  packages/story-editor/src/components/footer/carousel/carouselList.js
  packages/story-editor/src/components/footer/carousel/constants.js
  packages/story-editor/src/components/footer/carousel/karma/carouselDrawer.karma.js
  packages/story-editor/src/components/footer/carousel/karma/carouselNavigation.karma.js
  packages/story-editor/src/components/footer/carousel/useCarouselKeys.js
  packages/story-editor/src/components/footer/carousel/useCarouselScroll.js
  packages/story-editor/src/components/footer/carousel/useCarouselSizing.js
  packages/story-editor/src/components/footer/constants.js
  packages/story-editor/src/components/footer/footerLayout.js
  packages/story-editor/src/components/footer/primaryMenu.js
  packages/story-editor/src/components/footer/secondaryMenu.js
  packages/story-editor/src/components/footer/useFooterHeight.js
  packages/story-editor/src/components/helpCenter/toggle/index.js
  packages/story-editor/src/components/keyboardShortcutsMenu/index.js
  packages/story-editor/src/components/richText/karma/_utils.js
  packages/story-editor/src/components/richText/karma/inlineSelection.karma.js
  packages/story-editor/src/components/richText/karma/inlineStyleOverride.karma.js
  packages/story-editor/src/components/richText/karma/multiSelection.karma.js
  packages/story-editor/src/components/richText/karma/singleSelection.karma.js
  packages/story-editor/src/constants/index.js
  packages/story-editor/src/karma/fixture/containers/carousel.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9793 Update Template Tag "Grey" to "Gray"
  packages/templates/src/raw/doers-get-more-done/metaData.js
  packages/templates/src/raw/magazine-article/metaData.js
Labels: Type: Bug, cla: yes, Pod: Pea, Package: Templates, Bug Bash: 1.15.0

#9789 Karma: Skip Flakey Media Fetch Test
  packages/story-editor/src/components/library/panes/media/local/karma/mediaFetching.karma.js
Labels: cla: yes, Type: Code Quality, Pod: Pea

#9796 GitHub Actions: Fix GCS upload
  .github/workflows/build-and-deploy.yml
  .github/workflows/tests-e2e.yml
Labels: cla: yes, Type: Infrastructure

#9800 Workflow: Leave PR comments with links to ZIP files
  .github/workflows/build-and-deploy.yml
Labels: cla: yes, Type: Infrastructure

#9778 Sanitization: Improve grid placeholder image removal
  includes/AMP/Traits/Sanitization_Utils.php
  tests/phpunit/unit/tests/AMP/Story_Sanitizer.php
Labels: Type: Enhancement, cla: yes, AMP Output, Pod: WP & Infra

#9816 PHPStan: Apply new hook docs rule & related fixes
  composer.json
  composer.lock
  includes/AMP/Sanitization.php
  includes/Infrastructure/ServiceBasedPlugin.php
  includes/REST_API/Stories_Lock_Controller.php
  includes/REST_API/Stories_Media_Controller.php
  phpstan.neon.dist
  tests/phpstan/src/ApplyFiltersDynamicFunctionReturnTypeExtension.php
  tests/phpstan/src/GetPostDynamicFunctionReturnTypeExtension.php
  tests/phpstan/src/GetPostsDynamicFunctionReturnTypeExtension.php
  tests/phpstan/src/GetTermsDynamicFunctionReturnTypeExtension.php
  tests/phpstan/src/HookDocBlock.php
  tests/phpstan/src/HookDocsParamException.php
  tests/phpstan/src/HookDocsRule.php
  tests/phpstan/src/IsWpErrorFunctionTypeSpecifyingExtension.php
  tests/phpstan/src/ServiceContainerDynamicReturnTypeExtension.php
  tests/phpstan/src/ServicesDynamicReturnTypeExtension.php
Labels: cla: yes, Type: Code Quality

#9721 Smart text style: ignore selected element in contrast calculation
  packages/story-editor/src/utils/useApplyTextAutoStyle.js
  packages/story-editor/src/utils/usePageAsCanvas.js
Labels: Type: Bug, cla: yes, Group: Autosmartness, Group: Workspace

#9751 Explore Templates: Enable Template Search
  includes/Experiments.php
  packages/dashboard/src/app/views/exploreTemplates/index.js
Labels: Type: Enhancement, cla: yes, Group: Templates, Pod: Pea, Package: Dashboard

#9787 Fixed missing ref causing karma errors
  packages/story-editor/src/components/canvas/karma/selection.karma.js
  packages/story-editor/src/components/canvas/layout.js
  packages/story-editor/src/components/richText/karma/inlineSelection.karma.js
  packages/story-editor/src/components/richText/karma/inlineStyleOverride.karma.js
  packages/story-editor/src/components/richText/karma/multiSelection.karma.js
  packages/story-editor/src/components/richText/karma/singleSelection.karma.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#9791 Videos: Move trimmer from now-obsolete menu area to footer
  packages/story-editor/src/components/canvas/editLayer.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#9824 Hotlinking: add telemetry
  packages/story-editor/src/components/library/panes/media/local/hotlink/useInsert.js
  packages/tracking/src/isTrackingEnabled.js
Labels: Type: Enhancement, cla: yes, Group: Media, Group: Telemetry

#9801 Output: Improve AMP validation and sanitization for some attributes
  includes/AMP/Sanitization.php
  includes/AMP/Traits/Sanitization_Utils.php
  includes/Integrations/AMP.php
  includes/Model/Story.php
  packages/story-editor/src/components/elementLink/output.js
  packages/story-editor/src/components/elementLink/test/output.js
  packages/story-editor/src/elements/text/output.js
  packages/story-editor/src/elements/text/test/output.js
  packages/story-editor/src/elements/text/test/util.js
  packages/story-editor/src/elements/text/util.js
  packages/story-editor/src/output/element.js
  packages/story-editor/src/output/test/__snapshots__/textElement.js.snap
  packages/story-editor/src/output/test/textElement.js
  tests/phpunit/unit/tests/AMP/Story_Sanitizer.php
Labels: Type: Enhancement, cla: yes, AMP Output, Pod: WP & Infra

#9827 PHP Tests: Test against PHP 8.1
  .github/workflows/tests-unit-php.yml
  composer.json
  composer.lock
  includes/AMP/Optimization.php
  patches/amp-wp-allow-amp-story-captions.patch
  scoper.inc.php
  tests/phpunit/integration/tests/AMP/Optimization.php
  tests/phpunit/integration/tests/AMP/Sanitization.php
  web-stories.php
Labels: cla: yes, Type: Infrastructure, PHP, Pod: WP & Infra

#9748 Editor: Improve behavior when right-clicking on multiple elements
  packages/design-system/src/components/contextMenu/contextMenu.js
  packages/design-system/src/components/contextMenu/mask.js
  packages/design-system/src/components/contextMenu/menu.js
  packages/design-system/src/components/contextMenu/test/contextMenu.js
  packages/design-system/src/utils/index.js
  packages/design-system/src/utils/test/useComposeRefs.js
  packages/design-system/src/utils/test/useMouseDownOutside.js
  packages/design-system/src/utils/useComposeRefs.js
  packages/design-system/src/utils/useMouseDownOutsideRef.js
  packages/story-editor/src/components/canvas/selectionCanvas.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu

#9776 Editor: Allow disabling drop-targeting using the modifier key
  packages/story-editor/src/components/canvas/utils/useSnapping.js
  packages/story-editor/src/components/dropTargets/provider.js
  packages/story-editor/src/components/keyboardShortcutsMenu/keyboardShortcutList.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9831 Explore Templates: Update See Details button styling
  packages/dashboard/src/app/views/exploreTemplates/content/templateGridItem.js
Labels: Type: Enhancement, cla: yes, Group: Dashboard, P3, Pod: Pea, Bug Bash 1.5.0

#9795 Media: Enable Hotlinking by default
  includes/Experiments.php
  packages/e2e-test-utils/src/uploadMedia.js
  packages/e2e-tests/src/specs/editor/media/insertMediaFromDialog.js
  packages/e2e-tests/src/specs/editor/media/insertMovVideo.js
  packages/e2e-tests/src/specs/editor/media/svg.js
Labels: Type: Enhancement, cla: yes, Pod: Prometheus

#9752 Decoupling: Make dashboard API Callbacks optional
  packages/dashboard/src/app/api/useStoryApi.js
  packages/dashboard/src/app/api/useUsersApi.js
  packages/dashboard/src/app/views/exploreTemplates/content/templateGridItem.js
  packages/dashboard/src/app/views/exploreTemplates/content/templateGridView.js
  packages/dashboard/src/app/views/myStories/header/index.js
  packages/dashboard/src/app/views/myStories/index.js
  packages/dashboard/src/app/views/templateDetails/header/index.js
  packages/dashboard/src/app/views/templateDetails/index.js
  packages/dashboard/src/constants/stories.js
  packages/dashboard/src/karma/fixture.js
  packages/dashboard/src/testUtils/renderWithProviders.js
Labels: cla: yes, Group: Dashboard, Package: Dashboard, Package: WP Dashboard

#9820 Video Captions: Avoid covering tappable areas
  packages/story-editor/src/output/page.js
  packages/story-editor/src/output/utils/styles.js
Labels: Type: Bug, Pod: WP & Infra

#9826 Editor: Support publishing pending stories
  packages/e2e-tests/src/specs/editor/pendingStories.js
  packages/story-editor/src/app/story/actions/useSaveStory.js
  packages/story-editor/src/components/header/buttons/buttonWithChecklistWarning.js
  packages/story-editor/src/components/header/buttons/publish.js
  packages/story-editor/src/components/header/buttons/test/preview.js
  packages/story-editor/src/components/header/buttons/test/publish.js
  packages/story-editor/src/components/header/buttons/test/switchToDraft.js
  packages/story-editor/src/components/header/buttons/test/update.js
  packages/story-editor/src/components/header/buttons/update.js
  packages/story-editor/src/components/header/test/buttons.js
  packages/story-editor/src/karma/fixture/components/header/buttons/index.js
  packages/wp-story-editor/src/components/documentPane/status/status.js
  packages/wp-story-editor/src/components/documentPane/status/test/status.js
  packages/wp-story-editor/src/components/header/buttons/index.js
  packages/wp-story-editor/src/components/header/buttons/test/buttons.js
  packages/wp-story-editor/src/components/postLock/test/postLock.js
  packages/wp-story-editor/src/components/postPublishDialog/test/postPublishDialog.js
  packages/wp-story-editor/src/components/statusCheck/test/statusCheck.js
Labels: Type: Enhancement, cla: yes, Group: WordPress, Group: Document Panel, Pod: WP & Infra

#9644 Decoupling: Setup storybook playground for dashboard
  .storybook/stories/playground/dashboard/index.js
  .storybook/stories/playground/dashboard/theme.js
  .storybook/stories/playground/story-editor/header/buttons/preview.js
  package-lock.json
  package.json
  packages/dashboard/src/dashboard.js
  packages/dashboard/src/defaultConfig.js
  packages/design-system/src/utils/deepMerge.js
  packages/design-system/src/utils/index.js
  packages/design-system/src/utils/test/deepMerge.js
  packages/story-editor/src/storyEditor.js
Labels: cla: yes, Group: Dashboard, Package: Dashboard, Package: WP Dashboard

#9849 Infrastructure: Update `eslint-plugin-jest`
  .eslintrc
  package-lock.json
  package.json
  packages/e2e-tests/src/config/bootstrap.js
  packages/e2e-tests/src/specs/dashboard/dashboard.js
  packages/e2e-tests/src/specs/dashboard/settings/adminUser/publisherLogo.js
  packages/e2e-tests/src/specs/dashboard/settings/authorUser.js
  packages/e2e-tests/src/specs/dashboard/settings/contributorUser.js
  packages/e2e-tests/src/specs/dashboard/settings/editorUser.js
  packages/e2e-tests/src/specs/editor/authorUser.js
  packages/e2e-tests/src/specs/editor/contributorUser.js
  packages/e2e-tests/src/specs/editor/editor.js
  packages/e2e-tests/src/specs/editor/inspector.js
  packages/e2e-tests/src/specs/editor/media/insert3PMedia.js
  packages/e2e-tests/src/specs/editor/media/insertMediaFromDialog.js
  packages/e2e-tests/src/specs/editor/media/svg.js
  packages/e2e-tests/src/specs/editor/metaBoxes.js
  packages/e2e-tests/src/specs/editor/prePublishChecklist/contributerUser.js
  packages/e2e-tests/src/specs/editor/publishingFlow.js
  packages/e2e-tests/src/specs/editor/taxonomy.js
  packages/e2e-tests/src/specs/integrations/amp.js
  packages/e2e-tests/src/specs/integrations/sitekit.js
  packages/e2e-tests/src/specs/wordpress/archive.js
  packages/e2e-tests/src/specs/wordpress/blockWidget.js
  packages/e2e-tests/src/specs/wordpress/getStartedStory.js
  packages/e2e-tests/src/specs/wordpress/pluginActivation.js
  packages/e2e-tests/src/specs/wordpress/postLocking.js
  packages/e2e-tests/src/specs/wordpress/quickEdit.js
  packages/e2e-tests/src/specs/wordpress/tinymce.js
  packages/e2e-tests/src/specs/wordpress/webStoriesBlock.js
  packages/e2e-tests/src/specs/wordpress/widget.js
  patches/eslint-plugin-react-hooks+4.3.0.patch
Labels: cla: yes, Type: Infrastructure, Dependencies, JavaScript, Pod: WP & Infra

#9850 Editor: handle empty status as draft status in more places
  packages/story-editor/src/components/autoSaveHandler/index.js
  packages/story-editor/src/components/header/buttons/preview.js
  packages/story-editor/src/components/header/buttons/test/update.js
  packages/story-editor/src/components/header/buttons/update.js
  packages/wp-story-editor/src/api/story.js
Labels: Type: Bug, cla: yes, Group: Editing, Type: Infrastructure

#9847 Add changelog for v1.15.0
  readme.txt
Labels: Type: Documentation, cla: yes, Type: Release

#9830 Carousel: Fix incorrect attribute usage for disabling the button
  packages/story-editor/src/components/footer/carousel/carouselScroll.js
Labels: Type: Bug, cla: yes, Pod: Prometheus
