Repository GoogleForCreators/web-stories-wp, pull requests merged in 2021-05, with the labels that each got.

#7326 Set story description size to 200
  assets/src/edit-story/components/panels/document/excerpt/excerpt.js
Labels: Pod: Prometheus, Type: Bug, cla: yes

#7354 Use full paths for native ESM imports
  .eslintrc
  packages/commander/src/index.js
Labels: P1, Pod: WP & Infra, Type: Bug, Type: Infrastructure, cla: yes

#7205 Accessibility: Text Set Labels
  assets/src/edit-story/components/library/panes/text/textSets/textSet.js
  assets/src/edit-story/components/library/panes/text/textSets/textSets.js
  assets/src/edit-story/components/library/panes/text/textSets/textSetsPane.js
  packages/text-sets/src/loadTextSets.js
  packages/text-sets/src/raw/contact.json
  packages/text-sets/src/raw/cover.json
  packages/text-sets/src/raw/editorial.json
  packages/text-sets/src/raw/list.json
  packages/text-sets/src/raw/quote.json
  packages/text-sets/src/raw/section_header.json
  packages/text-sets/src/raw/step.json
  packages/text-sets/src/raw/table.json
Labels: Accessibility, Group: Text Sets, Package: Text Sets, Pod: Pea, cla: yes

#7279 Render lightbox on top of other elements in the page
  assets/src/web-stories-block/css/lightbox.css
Labels: Group: Blocks, Group: WordPress, Pod: WP & Infra, Type: Enhancement, Type: Infrastructure, cla: yes

#7269 Local Environment: Use latest Docker image again
  bin/local-env/docker-compose.yml
  bin/local-env/includes.sh
  bin/local-env/install-wordpress.sh
Labels: P2, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7270 Update eslint-config-prettier to version 8.2
  .eslintrc
  package-lock.json
  package.json
Labels: P3, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7286 Task: Clean-up Dialog Props
  .storybook/preview.js
  assets/src/dashboard/app/index.js
  assets/src/design-system/components/index.js
  assets/src/design-system/components/modal/index.js
  assets/src/edit-story/components/carousel/primaryMenu.js
  assets/src/edit-story/components/dialog/dialog.js
  assets/src/edit-story/components/dialog/stories/index.js
  assets/src/edit-story/components/header/buttons/index.js
  assets/src/edit-story/components/header/buttons/preview.js
  assets/src/edit-story/components/header/buttons/publish.js
  assets/src/edit-story/components/header/postPublishDialog.js
  assets/src/edit-story/components/header/previewErrorDialog.js
  assets/src/edit-story/components/header/stories/postPublishDialog.js
  assets/src/edit-story/components/header/stories/previewErrorDialog.js
  assets/src/edit-story/components/header/stories/titleMissingDialog.js
  assets/src/edit-story/components/header/titleMissingDialog.js
  assets/src/edit-story/components/inspector/prepublish/reviewChecklistDialog.js
  assets/src/edit-story/components/inspector/stories/reviewChecklistDialog.js
  assets/src/edit-story/components/library/panes/media/local/deleteDialog.js
  assets/src/edit-story/components/library/panes/media/local/mediaEditDialog.js
  assets/src/edit-story/components/library/panes/media/local/mediaPane.js
  assets/src/edit-story/components/library/panes/media/local/missingUploadPermissionDialog.js
  assets/src/edit-story/components/library/panes/media/local/stories/missingUploadPermissionDialog.js
  assets/src/edit-story/components/library/panes/media/local/videoOptimizationDialog.js
  assets/src/edit-story/components/library/panes/media/media3p/termsDialog.js
  assets/src/edit-story/components/modal/index.js
  assets/src/edit-story/components/modal/stories/index.js
  assets/src/edit-story/components/postLock/postLock.js
  assets/src/edit-story/components/postLock/postLockDialog.js
  assets/src/edit-story/components/postLock/postTakeOverDialog.js
  assets/src/edit-story/components/postLock/stories/postLockDialog.js
  assets/src/edit-story/components/postLock/stories/postTakeOverDialog.js
  assets/src/edit-story/components/statusCheck/statusCheck.js
  assets/src/edit-story/components/statusCheck/statusCheckFailed.js
  assets/src/edit-story/components/statusCheck/stories/statusCheckFailed.js
  assets/src/edit-story/editorApp.js
Labels: Group: Design System, Group: Workspace, Pod: Pea, Type: Code Quality, cla: yes

#7321 PPC: Add check for unoptimized video
  assets/src/edit-story/app/media/utils/useFFmpeg.js
  assets/src/edit-story/app/media/utils/useProcessVideo.js
  assets/src/edit-story/app/prepublish/components/videoOptimization.js
  assets/src/edit-story/app/prepublish/constants.js
  assets/src/edit-story/app/prepublish/guidance/index.js
  assets/src/edit-story/app/prepublish/guidance/media.js
  assets/src/edit-story/app/prepublish/guidance/test/media.js
  assets/src/edit-story/app/prepublish/index.js
  assets/src/edit-story/components/inspector/prepublish/checklistTab.js
  assets/src/edit-story/components/inspector/prepublish/test/checklistTab.js
Labels: Group: Pre-Publish Panel, Group: Video Optimization, Pod: Pea, Type: Enhancement, cla: yes

#7229 Workspace: Add `useLiveRegion` hook to application where needed
  assets/src/design-system/components/dropDown/useDropDown.js
  assets/src/design-system/components/search/useSearch.js
  assets/src/design-system/components/snackbar/snackbarMessage.js
  assets/src/design-system/utils/useLiveRegion.js
Labels: Accessibility, Group: Workspace, Pod: Pea, Type: Enhancement, cla: yes

#7339 Media: Improve compatibility with other plugins filtering GUID and mime types
  assets/src/edit-story/app/media/utils/getResourceFromAttachment.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/test/useMediaUploadQueue.js
  assets/src/edit-story/karma/fixture/db/getMediaResponse.js
  includes/Traits/Types.php
Labels: Group: Media, Group: WordPress, P2, Pod: WP & Infra, Type: Bug, cla: yes

#7327 Update @percy/puppeteer to 2.0
  packages/e2e-tests/package.json
  packages/e2e-tests/src/specs/dashboard/dashboard.js
  packages/e2e-tests/src/specs/dashboard/noJS.js
  packages/e2e-tests/src/specs/dashboard/templates/useTemplate.js
  packages/e2e-tests/src/specs/editor/editor.js
  packages/e2e-tests/src/specs/editor/media/svg.js
  packages/e2e-tests/src/specs/editor/metaBoxes.js
  packages/e2e-tests/src/specs/editor/noJS.js
  packages/e2e-tests/src/specs/wordpress/getStartedStory.js
  packages/e2e-tests/src/specs/wordpress/pluginActivation.js
  packages/e2e-tests/src/specs/wordpress/postLocking.js
  packages/e2e-tests/src/specs/wordpress/tinymce.js
  percy.config.yml
Labels: FIXIT, Package: E2E Tests, Pod: WP & Infra, Type: Infrastructure, cla: yes

#6964 Embeds: Improve default WordPress oEmbed appearance
  includes/Story_Post_Type.php
  includes/templates/frontend/embed-web-story.php
  tests/phpunit/tests/Story_Post_Type.php
Labels: Group: Blocks, Group: WordPress, PHP, Pod: WP & Infra, Type: Enhancement, Type: Infrastructure, cla: yes

#7264 Set `amp-story[publisher]` dynamically on the frontend
  includes/AMP/Integration/AMP_Story_Sanitizer.php
  includes/AMP/Story_Sanitizer.php
  includes/AMP/Traits/Sanitization_Utils.php
  includes/Integrations/AMP.php
  includes/Story_Renderer/HTML.php
  includes/Traits/Publisher.php
  tests/phpunit/tests/AMP/Story_Sanitizer.php
  tests/phpunit/tests/Story_Renderer/HTML.php
Labels: AMP Output, Group: WordPress, P2, Pod: WP & Infra, Type: Enhancement, cla: yes

#7288 Move Story_Renderer and Stories_Renderer to Renderer namespace
  includes/Admin.php
  includes/Admin/Editor.php
  includes/Embed_Base.php
  includes/Integrations/Core_Themes_Support.php
  includes/Renderer/Renderer.php
  includes/Renderer/Stories/Carousel_Renderer.php
  includes/Renderer/Stories/FieldState/BaseFieldState.php
  includes/Renderer/Stories/FieldState/CarouselView.php
  includes/Renderer/Stories/FieldState/CircleView.php
  includes/Renderer/Stories/FieldState/GridView.php
  includes/Renderer/Stories/FieldState/ListView.php
  includes/Renderer/Stories/FieldStateFactory/Factory.php
  includes/Renderer/Stories/Fields/BaseField.php
  includes/Renderer/Stories/Generic_Renderer.php
  includes/Renderer/Stories/Renderer.php
  includes/Renderer/Story/Embed.php
  includes/Renderer/Story/HTML.php
  includes/Renderer/Story/Image.php
  includes/Story_Query.php
  includes/Traits/Stories_Script_Data.php
  includes/templates/frontend/embed-web-story.php
  includes/templates/frontend/single-web-story.php
  phpstan.neon.dist
  tests/phpunit/includes/Test_Renderer.php
  tests/phpunit/tests/Block/Web_Stories_Block.php
  tests/phpunit/tests/Renderer/Renderer.php
  tests/phpunit/tests/Renderer/Stories/Carousel_Renderer.php
  tests/phpunit/tests/Renderer/Stories/Fields/BaseField.php
  tests/phpunit/tests/Renderer/Stories/Generic_Renderer.php
  tests/phpunit/tests/Renderer/Stories/Renderer.php
  tests/phpunit/tests/Renderer/Story/Embed.php
  tests/phpunit/tests/Renderer/Story/HTML.php
  tests/phpunit/tests/Renderer/Story/Image.php
  tests/phpunit/tests/Shortcode/Embed_Shortcode.php
  tests/phpunit/tests/Story_Query.php
Labels: PHP, Pod: WP & Infra, Type: Code Quality, Type: Infrastructure, cla: yes

#7368 Bug Bash: fix video not optimized check
  assets/src/edit-story/app/prepublish/guidance/media.js
Labels: cla: yes

#7275 Move classes to Admin namespace.
  .phpstorm.meta.php
  composer.json
  includes/Admin/Activation_Flag.php
  includes/Admin/Activation_Notice.php
  includes/Admin/Admin.php
  includes/Admin/Customizer.php
  includes/Admin/Dashboard.php
  includes/Admin/Editor.php
  includes/Admin/Meta_Boxes.php
  includes/Admin/TinyMCE.php
  includes/Integrations/Core_Themes_Support.php
  includes/Plugin.php
  includes/functions.php
  tests/phpunit/tests/Admin/Activation_Flag.php
  tests/phpunit/tests/Admin/Activation_Notice.php
  tests/phpunit/tests/Admin/Admin.php
  tests/phpunit/tests/Admin/Customizer.php
  tests/phpunit/tests/Admin/Dashboard.php
  tests/phpunit/tests/Admin/Editor.php
  tests/phpunit/tests/Admin/Meta_Boxes.php
  tests/phpunit/tests/Admin/TinyMCE.php
  tests/phpunit/tests/Integrations/Core_Themes_Support.php
Labels: cla: yes

#7378 E2E Tests: Fix percy import
  packages/e2e-tests/src/specs/editor/prepublishChecklist.js
Labels: Package: E2E Tests, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7382 Story Locking: Fix JSDoc warnings
  assets/src/edit-story/components/postLock/postLockDialog.js
  assets/src/edit-story/components/postLock/postTakeOverDialog.js
Labels: Pod: WP & Infra, Type: Code Quality, cla: yes

#7289 E2E Tests: Improve flakey Publishing Flow test
  packages/e2e-tests/src/specs/editor/publishingFlow.js
  packages/e2e-tests/src/specs/wordpress/webStoriesBlock.js
Labels: P2, Package: E2E Tests, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7388 Composer: update autoloader for latest AMP plugin changes
  composer.json
  composer.lock
Labels: FIXIT, Group: WordPress, PHP, Pod: WP & Infra, Type: Bug, Type: Infrastructure, cla: yes

#7396 Text Sets: Bugfix - text sets toggle crashing app
  assets/src/edit-story/utils/getInUseFonts.js
  assets/src/edit-story/utils/test/getInUseFonts.js
Labels: Group: Text Sets, P0, Pod: Pea, Type: Bug, cla: yes

#7369 Code Quality: Simplify bezier deps
  assets/src/dashboard/components/pageStructure/index.js
  assets/src/design-system/components/contextMenu/animatedContextMenu.js
  assets/src/design-system/components/loadingSpinner/index.js
  assets/src/design-system/theme/constants/index.js
  assets/src/design-system/theme/index.js
  assets/src/edit-story/components/helpCenter/menu/transitioner.js
  assets/src/edit-story/components/helpCenter/navigator/bottomNavigation.js
  assets/src/edit-story/components/helpCenter/navigator/utils.js
  assets/src/edit-story/components/helpCenter/popup.js
  assets/src/edit-story/components/helpCenter/quickTip/transitioner.js
  assets/src/edit-story/components/helpCenter/toggle/index.js
  assets/src/edit-story/components/keyboardShortcutsMenu/popup.js
Labels: FIXIT, Pod: Pea, Type: Code Quality, cla: yes

#7213 Dashboard: Redirect users to templates on first load if they have no stories
  assets/src/dashboard/app/api/test/apiProvider.js
  assets/src/dashboard/app/api/useStoryApi.js
  assets/src/dashboard/app/index.js
Labels: Package: Dashboard, Pod: Pea, Type: Enhancement, cla: yes

#7318 Enable custom page templates feature
  assets/src/design-system/components/snackbar/snackbarMessage.js
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/components/library/panes/pageTemplates/karma/pageTemplatesPane.karma.js
  assets/src/edit-story/components/library/panes/pageTemplates/savedTemplates.js
  assets/src/edit-story/components/library/panes/pageTemplates/templateSave.js
  assets/src/edit-story/elements/utils/duplicatePage.js
  assets/src/edit-story/karma/fixture/containers/library/pageTemplates.js
  assets/src/edit-story/karma/fixture/db/singleSavedTemplate.js
  assets/src/edit-story/karma/fixture/fixture.js
  includes/Experiments.php
Labels: Group: Page Templates, Pod: Prometheus, Type: Enhancement, cla: yes

#7341 Add back "Set as background" button
  assets/src/edit-story/components/panels/design/sizePosition/sizePosition.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#7387 Fix nested buttons issue for Swatch
  assets/src/design-system/components/swatch/swatch.js
  assets/src/edit-story/components/form/color/colorInput.js
Labels: FIXIT, Pod: Prometheus, Type: Bug, cla: yes

#7379 Prepublish Checklist: Empty State
  assets/src/design-system/icons/checkmark_circle.svg
  assets/src/design-system/icons/index.js
  assets/src/edit-story/components/inspector/karma/checklistTab.karma.js
  assets/src/edit-story/components/inspector/karma/inspectorTabs.karma.js
  assets/src/edit-story/components/inspector/karma/prepublishSelect.karma.js
  assets/src/edit-story/components/inspector/prepublish/components/autoVideoOptimization.js
  assets/src/edit-story/components/inspector/prepublish/components/checklistIcon.js
  assets/src/edit-story/components/inspector/prepublish/components/checklistTab.js
  assets/src/edit-story/components/inspector/prepublish/components/emptyChecklist.js
  assets/src/edit-story/components/inspector/prepublish/components/index.js
  assets/src/edit-story/components/inspector/prepublish/components/reviewChecklistDialog.js
  assets/src/edit-story/components/inspector/prepublish/components/styles.js
  assets/src/edit-story/components/inspector/prepublish/constants.js
  assets/src/edit-story/components/inspector/prepublish/index.js
  assets/src/edit-story/components/inspector/prepublish/prepublishInspector.js
  assets/src/edit-story/components/inspector/prepublish/test/checklistTab.js
  assets/src/edit-story/components/inspector/stories/checklistTab.js
  assets/src/edit-story/components/inspector/stories/reviewChecklistDialog.js
  assets/src/edit-story/components/panels/panel/panel.js
  assets/src/edit-story/components/panels/panel/shared/title.js
  assets/src/edit-story/components/panels/panel/simplePanel.js
  assets/src/edit-story/karma/fixture/containers/checklistPanel.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7401 Add `.phpstorm.meta.php` to `.distignore` file
  .distignore
Labels: FIXIT, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7390 Upgrade to puppeteer 9.1.1
  package-lock.json
  package.json
  packages/e2e-tests/package.json
  packages/e2e-tests/src/config/bootstrap.js
  packages/e2e-tests/src/specs/editor/publishingFlow.js
  packages/karma-puppeteer-launcher/package.json
  patches/puppeteer+9.1.1.patch
Labels: FIXIT, Package: E2E Test Utils, Package: E2E Tests, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7284 Added delayed tooltip
  assets/src/design-system/components/tooltip/index.js
  assets/src/edit-story/components/library/libraryProvider.js
  assets/src/edit-story/components/tabview/index.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#7347 Library: Text Presets - button text not centered vertically in firefox
  assets/src/edit-story/components/library/text/fontPreview.js
Labels: Elements: Text, FIXIT, Package: Editor, Pod: Pea, cla: yes

#7363 Fix Media resizing in edit mode
  assets/src/edit-story/components/canvas/editElement.js
  assets/src/edit-story/elements/image/edit.js
  assets/src/edit-story/elements/media/edit.js
  assets/src/edit-story/elements/media/editCropMoveable.js
  assets/src/edit-story/elements/video/edit.js
Labels: FIXIT, Pod: Prometheus, Type: Bug, cla: yes

#7364 Use new data when changing Link value
  assets/src/edit-story/components/panels/design/link/link.js
Labels: FIXIT, Pod: Prometheus, Type: Bug, cla: yes

#7384 Fix colour picker inputs' design
  assets/src/edit-story/components/colorPicker/editablePreview.js
Labels: FIXIT, Type: Bug, cla: yes

#7383 Remove all illegal characters from slug
  assets/src/edit-story/utils/cleanForSlug.js
  assets/src/edit-story/utils/test/cleanForSlug.js
Labels: FIXIT, Pod: Prometheus, Type: Bug, cla: yes

#7424 Pin AMP plugin at 2.1.0
  composer.json
  composer.lock
  web-stories.php
Labels: Group: Integration, Pod: WP & Infra, Type: Enhancement, Type: Infrastructure, cla: yes

#7414 E2E Tests: Temporarily disable flaky tests, pending further investigation
  packages/e2e-tests/src/specs/editor/publishingFlow.js
  packages/e2e-tests/src/specs/wordpress/webStoriesBlock.js
Labels: Package: E2E Tests, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7403 Allow WebP images if supported by WP
  includes/Traits/Types.php
Labels: Group: WordPress, P2, Pod: WP & Infra, Type: Enhancement, cla: yes

#7405 Pre-Publish Checklist: Remove extraneous size check
  assets/src/edit-story/app/prepublish/guidance/media.js
  assets/src/edit-story/app/prepublish/guidance/test/media.js
Labels: Type: Code Quality, cla: yes

#7353 Fix Animations: 0ms duration not persisted
  assets/src/edit-story/components/panels/design/animation/effectInput.js
  assets/src/edit-story/components/panels/design/animation/test/effectInput.js
Labels: FIXIT, Group: Animations, Group: Design Panel, Pod: Pea, Type: Bug, cla: yes

#7380 Fix: Border radius not respected while animating
  assets/src/edit-story/elements/shape/output.js
Labels: AMP Output, FIXIT, Pod: Pea, Type: Bug, cla: yes

#7346 Design System: Slightly hide anti aliasing on `Pill`
  assets/src/design-system/components/pill/pill.js
Labels: FIXIT, Group: Design System, Pod: Pea, Type: Bug, cla: yes

#7447 Babel: Remove `loose` config option
  babel.config.cjs
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#7409 Dashboard: Remove deprecated theme and icons
  assets/src/dashboard/app/views/editorSettings/components.js
  assets/src/dashboard/components/fileUpload/index.js
  assets/src/dashboard/icons/arrowAlphaAscending.svg
  assets/src/dashboard/icons/arrowAlphaDescending.svg
  assets/src/dashboard/icons/arrowDownward.svg
  assets/src/dashboard/icons/bookmarkFill.svg
  assets/src/dashboard/icons/bookmarkOutline.svg
  assets/src/dashboard/icons/checkmark.svg
  assets/src/dashboard/icons/chevronLeft.svg
  assets/src/dashboard/icons/close.svg
  assets/src/dashboard/icons/download.svg
  assets/src/dashboard/icons/dropDownArrow.svg
  assets/src/dashboard/icons/dropUpArrow.svg
  assets/src/dashboard/icons/grid.svg
  assets/src/dashboard/icons/index.js
  assets/src/dashboard/icons/leftArrow.svg
  assets/src/dashboard/icons/list.svg
  assets/src/dashboard/icons/playArrow.svg
  assets/src/dashboard/icons/rightArrow.svg
  assets/src/dashboard/icons/search.svg
  assets/src/dashboard/icons/upload.svg
  assets/src/dashboard/theme.js
  assets/src/dashboard/utils/visuallyHiddenStyles.js
Labels: FIXIT, Group: Dashboard, Pod: Pea, Type: Code Quality, cla: yes

#7407 Workspace: Fix some proptype warnings
  assets/src/animation/components/stories/index.js
  assets/src/animation/constants.js
  assets/src/animation/effects/drop/stories/index.js
  assets/src/animation/effects/fadeIn/stories/index.js
  assets/src/animation/effects/flyIn/stories/index.js
  assets/src/animation/effects/pan/stories/index.js
  assets/src/animation/effects/pulse/stories/index.js
  assets/src/animation/effects/rotateIn/stories/index.js
  assets/src/animation/effects/twirlIn/stories/index.js
  assets/src/animation/effects/whooshIn/stories/index.js
  assets/src/animation/effects/zoom/stories/index.js
  assets/src/animation/parts/blinkOn/stories/index.js
  assets/src/animation/parts/bounce/stories/index.js
  assets/src/animation/parts/fade/stories/index.js
  assets/src/animation/parts/flip/stories/index.js
  assets/src/animation/parts/floatOn/stories/index.js
  assets/src/animation/parts/move/stories/index.js
  assets/src/animation/parts/pulse/stories/index.js
  assets/src/animation/parts/spin/stories/index.js
  assets/src/animation/parts/zoom/stories/index.js
  assets/src/edit-story/components/form/filterToggle/filterToggle.js
  assets/src/edit-story/components/panels/document/slug/slug.js
  assets/src/edit-story/types.js
  packages/templates/src/raw/beauty.json
  packages/templates/src/raw/diy.json
  packages/templates/src/raw/entertainment.json
  packages/templates/src/raw/fashion.json
  packages/templates/src/raw/fitness.json
  packages/templates/src/raw/travel.json
  packages/templates/src/raw/wellbeing.json
Labels: FIXIT, Group: Design System, Group: Workspace, Pod: Pea, Type: Code Quality, cla: yes

#7400 Reset zoom to fit when starting drag or inserting element from library
  assets/src/edit-story/app/layout/context.js
  assets/src/edit-story/components/canvas/test/useInsertElement.js
  assets/src/edit-story/components/canvas/useInsertElement.js
  assets/src/edit-story/components/library/panes/shared/libraryMoveable.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#7402 Fix focus colour in the design and library panels
  assets/src/design-system/components/checkbox/index.js
  assets/src/design-system/components/input/index.js
  assets/src/design-system/components/pill/pill.js
  assets/src/design-system/components/pill/pillGroup.js
  assets/src/design-system/components/search/input/index.js
  assets/src/design-system/components/swatch/swatch.js
  assets/src/design-system/components/textArea/index.js
  assets/src/edit-story/components/colorPicker/editablePreview.js
  assets/src/edit-story/components/form/advancedDropDown/dropDown.js
  assets/src/edit-story/components/form/color/colorInput.js
  assets/src/edit-story/components/form/color/opacityInput.js
  assets/src/edit-story/components/form/filterToggle/filterToggle.js
  assets/src/edit-story/components/form/link.js
  assets/src/edit-story/components/form/media.js
  assets/src/edit-story/components/form/radioGroup/index.js
  assets/src/edit-story/components/form/select/select.js
  assets/src/edit-story/components/form/switch.js
  assets/src/edit-story/components/form/textArea.js
  assets/src/edit-story/components/helpCenter/navigator/components.js
  assets/src/edit-story/components/inspector/prepublish/components/styles.js
  assets/src/edit-story/components/library/common/searchInput.js
  assets/src/edit-story/components/library/panes/media/local/mediaPane.js
  assets/src/edit-story/components/library/panes/media/media3p/providerTab.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplate.js
  assets/src/edit-story/components/library/panes/pageTemplates/templateSave.js
  assets/src/edit-story/components/library/panes/shapes/shapePreview.js
  assets/src/edit-story/components/library/panes/text/textSets/textSet.js
  assets/src/edit-story/components/library/text/fontPreview.js
  assets/src/edit-story/components/panels/design/alignment/alignment.js
  assets/src/edit-story/components/panels/design/animation/effectChooserDropdown/effectChooserDropdown.js
  assets/src/edit-story/components/panels/design/animation/effectChooserDropdown/styles.js
  assets/src/edit-story/components/panels/design/animation/effectInput.js
  assets/src/edit-story/components/panels/design/border/borderWidth.js
  assets/src/edit-story/components/panels/design/borderRadius/borderRadius.js
  assets/src/edit-story/components/panels/design/captions/captions.js
  assets/src/edit-story/components/panels/design/layerStyle/layerStyle.js
  assets/src/edit-story/components/panels/design/link/link.js
  assets/src/edit-story/components/panels/design/pageBackground/pageBackground.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/color.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/colorAdd.js
  assets/src/edit-story/components/panels/design/preset/header.js
  assets/src/edit-story/components/panels/design/preset/stylePreset/styleItem.js
  assets/src/edit-story/components/panels/design/shapeStyle/shapeStyle.js
  assets/src/edit-story/components/panels/design/sizePosition/sizePosition.js
  assets/src/edit-story/components/panels/design/textBox/color.js
  assets/src/edit-story/components/panels/design/textBox/padding.js
  assets/src/edit-story/components/panels/design/textStyle/color.js
  assets/src/edit-story/components/panels/design/textStyle/font.js
  assets/src/edit-story/components/panels/design/textStyle/style.js
  assets/src/edit-story/components/panels/design/videoOptions/videoOptions.js
  assets/src/edit-story/components/panels/document/pageAdvancement/pageAdvancement.js
  assets/src/edit-story/components/panels/document/publish/publishTime.js
  assets/src/edit-story/components/panels/document/slug/slug.js
  assets/src/edit-story/components/panels/panel/shared/title.js
  assets/src/edit-story/components/panels/shared/flipControls.js
  assets/src/edit-story/components/panels/shared/index.js
  assets/src/edit-story/components/panels/shared/styles.js
Labels: FIXIT, Pod: Prometheus, Type: Bug, cla: yes

#7376 Fixed rtl placement for popups
  assets/src/edit-story/components/colorPicker/karma/colorPicker.karma.js
  assets/src/edit-story/components/colorPicker/pointer.js
  assets/src/edit-story/components/popup/index.js
  assets/src/edit-story/components/popup/utils.js
  assets/src/edit-story/karma/fixture/containers/common/color.js
  assets/src/edit-story/karma/fixture/containers/designPanel/pageBackground.js
  assets/src/edit-story/karma/fixture/containers/designPanel/textStyle.js
Labels: Internationalization (I18N), Pod: Prometheus, Type: Bug, cla: yes

#7408 Stickers: Update Radish and Sunburst
  package-lock.json
  packages/stickers/src/cooking/radishLarge.js
  packages/stickers/src/fashion/starburstWithArrow.js
Labels: Bug Bash: 1.7-A, Package: Stickers, Pod: Pea, Type: Bug, cla: yes

#7392 Layer Panel: Add a max draggable height
  assets/src/edit-story/components/colorPicker/editablePreview.js
  assets/src/edit-story/components/panels/design/layer/karma/layer.karma.js
  assets/src/edit-story/components/panels/design/layer/layerPanel.js
  assets/src/edit-story/components/panels/panel/panel.js
Labels: Group: Design Panel, Pod: Pea, Type: Enhancement, cla: yes

#7406 Bugfix: Dashboard Grid Focus Trap
  assets/src/dashboard/app/views/myStories/content/storiesView/index.js
  assets/src/dashboard/app/views/shared/storyGridView.js
  assets/src/dashboard/components/scrollToTop/index.js
Labels: Accessibility, FIXIT, Group: Dashboard, Pod: Pea, cla: yes

#7404 Text Sets A11Y
  assets/src/edit-story/components/library/panes/shared/chipGroup/index.js
  assets/src/edit-story/components/library/panes/text/textSets/textSetsPane.js
Labels: Accessibility, FIXIT, Group: Text Sets, P2, Pod: Pea, Type: Bug, cla: yes

#7448 Task: swap out colors that were switched during template updates
  packages/templates/src/index.js
Labels: FIXIT, Group: Templates, Pod: Pea, Type: Task, cla: yes

#7462 Dismiss Quick Tips in E2E test
  .github/workflows/tests-e2e.yml
  assets/src/edit-story/app/helpCenter/useHelpCenter/effects.js
  docs/environment-variables.md
  webpack.config.cjs
Labels: Package: E2E Test Utils, Package: E2E Tests, Pod: WP & Infra, Type: Enhancement, Type: Infrastructure, cla: yes

#7463 Activation Notice: Use Google Sans font
  includes/Admin/Activation_Notice.php
  packages/activation-notice/src/theme.js
  tests/phpunit/tests/Admin/Activation_Notice.php
Labels: P1, Package: Activation Notice, Type: Infrastructure, cla: yes

#7452 Fixed replacement flip
  assets/src/edit-story/components/canvas/displayElement.js
  assets/src/edit-story/components/dropTargets/karma/dropTarget.karma.js
  assets/src/edit-story/elements/shared/getTransformFlip.js
  assets/src/edit-story/masks/display.js
Labels: FIXIT, Pod: Prometheus, Type: Bug, cla: yes

#7483 Custom Meta Boxes: Remove feature flag code
  assets/src/edit-story/app/story/effects/test/useSaveMetaBoxes.js
  assets/src/edit-story/integrations/wordpress/metaBoxes/metaBoxesProvider.js
  includes/Admin/Editor.php
Labels: Group: Integration, Group: WordPress, Type: Code Quality, cla: yes

#7479 Page Templates: Add envelope support to REST API endpoint
  includes/Page_Template_Post_Type.php
  includes/REST_API/Page_Template_Controller.php
  tests/phpunit/tests/REST_API/Page_Template_Controller.php
Labels: Group: WordPress, Pod: WP & Infra, Type: Enhancement, cla: yes

#7485 Update changelog for 1.7.0 release
  readme.txt
Labels: Type: Documentation, Type: Release, cla: yes

#7489 Call `setup_new_site()` upon plugin activation
  includes/namespace.php
Labels: Pod: WP & Infra, Type: Bug, cla: yes

#7501 Media Library: Only render video duration if set.
  assets/src/edit-story/components/library/panes/media/common/innerElement.js
Labels: Group: Media, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7272 E2E Tests: Add test around cross-origin isolation
  assets/src/edit-story/app/media/media3p/api/test/useMedia3pApi.js
  assets/src/edit-story/app/media/utils/getResourceFromMedia3p.js
  assets/src/edit-story/app/media/utils/test/getResourceFromMedia3p.js
  includes/User/Preferences.php
  packages/e2e-tests/src/specs/editor/editor.js
  packages/e2e-tests/src/specs/editor/media/insert3PMedia.js
Labels: P2, Package: E2E Tests, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7503 Plugin: Fix logic for plugin activation/deactivation
  includes/Database_Upgrader.php
  includes/Page_Template_Post_Type.php
  includes/Story_Post_Type.php
  includes/Template_Post_Type.php
  includes/User/Capabilities.php
  includes/namespace.php
  web-stories.php
Labels: Group: WordPress, PHP, Pod: WP & Infra, Type: Bug, Type: Code Quality, cla: yes

#7511 Fix AMP plugin version comparison
  includes/Integrations/AMP.php
Labels: AMP Output, Pod: WP & Infra, Type: Bug, cla: yes

#7515 Cherry-pick changes for 1.7.0
  includes/Integrations/AMP.php
  readme.txt
Labels: cla: yes

#7450 Docs: Add Shape Documentation and SVG Normalization Script
  bin/normalize-path.js
  docs/external-template-creation.md
Labels: Elements: Shape, Package: Editor, Type: Documentation, cla: no

#7492 PPC Video Optimization: Ignore local files
  assets/src/edit-story/app/prepublish/guidance/media.js
  assets/src/edit-story/app/prepublish/guidance/test/media.js
Labels: Group: Pre-Publish Panel, Group: Video Optimization, Pod: Pea, cla: yes

#7518 Update fmpeg.wasm to v0.9.8
  includes/Admin/Editor.php
  package-lock.json
  package.json
Labels: Dependencies, Pod: WP & Infra, Type: Enhancement, cla: yes

#7491 Stickers: Add Human Readable Names
  assets/src/edit-story/elements/sticker/layer.js
  docs/external-template-creation.md
  package-lock.json
  packages/stickers/package.json
  packages/stickers/src/beauty/cta.js
  packages/stickers/src/beauty/heart.js
  packages/stickers/src/cooking/arrow.js
  packages/stickers/src/cooking/artichoke.js
  packages/stickers/src/cooking/carrot.js
  packages/stickers/src/cooking/persimmon.js
  packages/stickers/src/cooking/radish.js
  packages/stickers/src/cooking/radishLarge.js
  packages/stickers/src/diy/facebookIcon.js
  packages/stickers/src/diy/instagramIcon.js
  packages/stickers/src/diy/orangeCross.js
  packages/stickers/src/diy/orangeDot.js
  packages/stickers/src/diy/plus.js
  packages/stickers/src/diy/rightArrow.js
  packages/stickers/src/diy/twitterIcon.js
  packages/stickers/src/diy/youTubeIcon.js
  packages/stickers/src/entertainment/entertainmentStar.js
  packages/stickers/src/entertainment/musicNote.js
  packages/stickers/src/fashion/arrowDark.js
  packages/stickers/src/fashion/arrowLight.js
  packages/stickers/src/fashion/starburst.js
  packages/stickers/src/fashion/starburstSolid.js
  packages/stickers/src/fashion/starburstWithArrow.js
  packages/stickers/src/fitness/cta.js
  packages/stickers/src/index.js
  packages/stickers/src/sampleSticker.js
  packages/stickers/src/travel/facebookIcon.js
  packages/stickers/src/travel/instagramIcon.js
  packages/stickers/src/travel/mapFill.js
  packages/stickers/src/travel/twitterIcon.js
  packages/stickers/src/travel/youTubeIcon.js
  packages/stickers/src/wellbeing/arrowDark.js
  packages/stickers/src/wellbeing/arrowLight.js
  packages/stickers/src/wellbeing/cta.js
Labels: Accessibility, Elements: Stickers, Pod: Pea, Type: Enhancement, cla: yes

#7513 Settings: Add additional helpful messaging for AdSense
  assets/src/dashboard/app/views/editorSettings/adManagement/adNetwork/index.js
  assets/src/dashboard/app/views/editorSettings/adManagement/googleAdSense/index.js
Labels: Group: Settings, Monetization, P2, Pod: WP & Infra, cla: yes

#7517 Workspace: Fix grammar of error messages that use lists
  assets/src/edit-story/app/uploader/test/useUploader.js
  assets/src/edit-story/app/uploader/useUploader.js
  assets/src/edit-story/components/library/panes/media/local/mediaPane.js
  assets/src/edit-story/components/library/panes/text/textSets/textSetsPane.js
  assets/src/edit-story/components/panels/design/link/link.js
  assets/src/edit-story/components/panels/design/videoAccessibility/videoAccessibility.js
  assets/src/edit-story/components/panels/document/publish/publish.js
  assets/src/edit-story/components/uploadDropTarget/message.js
  packages/i18n/README.md
  packages/i18n/src/index.js
  packages/i18n/src/test/translateToExclusiveList.js
  packages/i18n/src/test/translateToInclusiveList.js
  packages/i18n/src/translateToExclusiveList.js
  packages/i18n/src/translateToInclusiveList.js
Labels: Group: Media, Internationalization (I18N), P3, Pod: Pea, Type: Enhancement, cla: yes

#7559 KSES: add `will-change` to allowlist
  includes/KSES.php
  tests/phpunit/tests/KSES.php
Labels: PHP, Pod: WP & Infra, Type: Bug, cla: yes

#7490 Fix: focusing on media input buttons when highlighted from checklist
  assets/src/design-system/components/mediaInput/index.js
  assets/src/edit-story/components/form/media.js
  assets/src/edit-story/components/inspector/karma/prepublishSelect.karma.js
  assets/src/edit-story/components/inspector/prepublish/components/checklistTab.js
  assets/src/edit-story/components/panels/document/publish/publish.js
Labels: Bug Bash: 1.7-A, Group: Pre-Publish Panel, P3, Pod: Pea, Type: Bug, Type: Enhancement, cla: yes

#7477 Pagination for saved page templates
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/components/library/libraryProvider.js
  assets/src/edit-story/components/library/panes/pageTemplates/karma/pageTemplatesPane.karma.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplatesPane.js
  assets/src/edit-story/components/library/panes/pageTemplates/savedTemplates.js
  assets/src/edit-story/components/library/panes/pageTemplates/templateList.js
  assets/src/edit-story/karma/fixture/fixture.js
Labels: Group: Page Templates, Pod: Prometheus, Type: Enhancement, cla: yes

#7377 Added tooltips for border toggles
  assets/src/edit-story/components/panels/design/border/borderWidth.js
  assets/src/edit-story/components/panels/design/borderRadius/borderRadius.js
  assets/src/edit-story/karma/fixture/containers/designPanel/border.js
  assets/src/edit-story/karma/fixture/containers/designPanel/borderRadius.js
Labels: Pod: Prometheus, Type: Bug, cla: yes

#7476 Don't set resource width/height to inserted element size
  assets/src/edit-story/components/canvas/test/getElementProperties.js
  assets/src/edit-story/components/canvas/useInsertElement.js
  assets/src/edit-story/components/inspector/karma/prepublishSelect.karma.js
Labels: Group: Canvas, Group: Media, Type: Bug, cla: yes

#7521 Disable ESM modules in AMP optimizer
  includes/AMP/Optimization.php
  includes/Integrations/AMP.php
  tests/phpunit/tests/AMP/Optimization.php
Labels: AMP Output, Needs Tests, Type: Bug, cla: yes

#7565 Update ffmpeg to v0.10.0
  includes/Admin/Editor.php
  package-lock.json
  package.json
Labels: Dependencies, JavaScript, Pod: WP & Infra, cla: yes

#7564 PPC: Tweak video optimization language
  assets/src/edit-story/app/prepublish/components/videoOptimization.js
  assets/src/edit-story/app/prepublish/constants.js
  assets/src/edit-story/app/prepublish/guidance/media.js
  assets/src/edit-story/app/prepublish/guidance/test/media.js
Labels: Group: Media, Group: Pre-Publish Panel, Group: Video Optimization, Type: Enhancement, cla: yes

#7522 Quick Actions: Default actions
  assets/src/design-system/components/contextMenu/menuItem.js
  assets/src/edit-story/components/canvas/karma/quickActions.karma.js
  assets/src/edit-story/components/inspector/inspectorLayout.js
  assets/src/edit-story/components/inspector/inspectorProvider.js
  assets/src/edit-story/components/library/libraryLayout.js
  assets/src/edit-story/components/library/libraryPanes.js
  assets/src/edit-story/components/library/libraryProvider.js
  assets/src/edit-story/components/tabview/index.js
  assets/src/edit-story/karma/fixture/containers/designPanel/pageBackground.js
Labels: Group: Quick Action Menu, Pod: Pea, Type: Enhancement, cla: yes

#7563 Quick Menus: Menu Positioning
  assets/src/design-system/components/contextMenu/menuItem.js
  assets/src/edit-story/app/highlights/quickActions/useQuickActions.js
  assets/src/edit-story/components/canvas/displayLayer.js
Labels: Group: Quick Action Menu, Internationalization (I18N), Pod: Pea, Type: Enhancement, cla: yes

#7535 Quick Actions: Foreground image actions
  assets/src/design-system/components/contextMenu/menuItem.js
  assets/src/design-system/components/dropDown/index.js
  assets/src/design-system/components/tooltip/index.js
  assets/src/edit-story/app/highlights/quickActions/test/useQuickActions.js
  assets/src/edit-story/app/highlights/quickActions/useQuickActions.js
  assets/src/edit-story/app/highlights/states.js
  assets/src/edit-story/components/canvas/karma/quickActions.karma.js
  assets/src/edit-story/components/form/link.js
  assets/src/edit-story/components/library/libraryLayout.js
  assets/src/edit-story/components/library/libraryPanes.js
  assets/src/edit-story/components/panels/design/animation/animation.js
  assets/src/edit-story/components/panels/design/animation/effectChooserDropdown/effectChooserDropdown.js
  assets/src/edit-story/components/panels/design/link/link.js
  assets/src/edit-story/karma/fixture/containers/canvas.js
  assets/src/edit-story/karma/fixture/containers/library/index.js
  assets/src/edit-story/karma/fixture/containers/quickActionMenu.js
Labels: Group: Quick Action Menu, Pod: Pea, Type: Enhancement, cla: yes

#7619 Local Env: set custom anchor for WP-CLI
  bin/local-env/install-wordpress.sh
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#7603 Update AMP to 2.1.2
  composer.json
  composer.lock
  web-stories.php
Labels: Dependencies, P1, Pod: WP & Infra, Type: Enhancement, cla: yes

#7605 Media: Add `crossorigin` attribute in WordPress media modal
  includes/Admin/Cross_Origin_Isolation.php
  tests/phpunit/tests/Admin/Cross_Origin_Isolation.php
Labels: Group: WordPress, P1, Pod: WP & Infra, Type: Bug, cla: yes

#7395 Editor: Enable video optimization in pre-publish checklist by default
  assets/src/edit-story/components/inspector/design/getDesignPanelsForSelection.js
  assets/src/edit-story/components/panels/design/index.js
  assets/src/edit-story/components/panels/design/types.js
  assets/src/edit-story/components/panels/design/videoProcessing/index.js
  assets/src/edit-story/components/panels/design/videoProcessing/videoProcessing.js
  assets/src/edit-story/elements/video/constants.js
  includes/Experiments.php
Labels: Group: Design Panel, Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7536 Dashboard: Expand Karma tests
  assets/src/dashboard/app/views/myStories/karma/myStories.karma.js
  assets/src/dashboard/components/storyMenu/test/storyMenu.js
  assets/src/design-system/components/contextMenu/menu.js
  assets/src/design-system/components/contextMenu/menuItem.js
  assets/src/design-system/components/contextMenu/test/contextMenu.js
Labels: Group: Dashboard, Pod: Pea, Type: Code Quality, Type: Enhancement, cla: yes

#7614 Prepublish Checklist: Add check for video posters
  assets/src/edit-story/app/highlights/states.js
  assets/src/edit-story/app/prepublish/constants.js
  assets/src/edit-story/app/prepublish/guidance/index.js
  assets/src/edit-story/app/prepublish/guidance/media.js
  assets/src/edit-story/app/prepublish/guidance/test/media.js
  assets/src/edit-story/components/inspector/karma/prepublishSelect.karma.js
  assets/src/edit-story/components/panels/design/videoAccessibility/videoAccessibility.js
Labels: Group: Pre-Publish Panel, P1, Pod: Pea, Type: Enhancement, cla: yes

#7628 Quick Actions: Disable `Clear animation` action when no animations are applied
  assets/src/edit-story/app/highlights/quickActions/test/useQuickActions.js
  assets/src/edit-story/app/highlights/quickActions/useQuickActions.js
  assets/src/edit-story/components/canvas/karma/quickActions.karma.js
  assets/src/edit-story/karma/fixture/containers/quickActionMenu.js
Labels: Group: Quick Action Menu, Pod: Pea, Type: Enhancement, cla: yes

#7617 Animations: dynamically import polyfill when needed
  assets/src/animation/components/provider.js
Labels: Browser Issues, Group: Animations, Type: Performance, cla: yes

#7531 KSES: Improve compatibility for WP 5.4.1+
  includes/KSES.php
  tests/phpunit/tests/REST_API/Autosaves_Controller.php
Labels: Group: WordPress, Pod: WP & Infra, Type: Enhancement, cla: yes

#7627 Templates: Reset page/element selection and `globalStoryStyles`
  packages/templates/src/raw/beauty.json
  packages/templates/src/raw/cooking.json
  packages/templates/src/raw/diy.json
  packages/templates/src/raw/entertainment.json
  packages/templates/src/raw/fashion.json
  packages/templates/src/raw/fitness.json
  packages/templates/src/raw/travel.json
  packages/templates/src/raw/wellbeing.json
  packages/templates/src/test/raw.js
Labels: Group: Templates, Package: Templates, Type: Code Quality, cla: yes

#7629 Quick menu: shape quick actions
  assets/src/edit-story/app/highlights/quickActions/test/useQuickActions.js
  assets/src/edit-story/app/highlights/quickActions/useQuickActions.js
  assets/src/edit-story/app/highlights/states.js
  assets/src/edit-story/components/canvas/karma/quickActions.karma.js
  assets/src/edit-story/components/panels/design/animation/animation.js
  assets/src/edit-story/components/panels/design/link/link.js
  assets/src/edit-story/components/panels/design/shapeStyle/shapeStyle.js
  assets/src/edit-story/karma/fixture/containers/designPanel/index.js
  assets/src/edit-story/karma/fixture/containers/designPanel/shapeStyle.js
  assets/src/edit-story/karma/fixture/containers/quickActionMenu.js
Labels: Group: Quick Action Menu, Pod: Pea, cla: yes

#7702 Help Center: Update Link Tip Copy
  assets/src/edit-story/components/helpCenter/constants.js
Labels: Group: FTUE, Pod: Pea, Type: Bug, cla: yes

#7678 Quick Action Menu: Keep element selected when clicking in between the buttons
  assets/src/edit-story/components/canvas/displayLayer.js
Labels: Group: Quick Action Menu, Pod: Pea, Type: Enhancement, cla: yes

#7704 Limit disabling ESM to the singular web-story template
  includes/Integrations/AMP.php
Labels: cla: yes

#7618 Fix rotate handle position for non-zero rotation
  assets/src/edit-story/components/moveable/moveStyle.js
Labels: Group: Canvas, Type: Bug, cla: yes

#7676 Pre-Publish Checklist: Video Optimization displays thumbnail for missing poster
  assets/src/edit-story/app/prepublish/components/videoOptimization.js
Labels: Group: Pre-Publish Panel, Group: Video Optimization, P2, Pod: Pea, Type: Bug, cla: yes

#7570 Add relevant data to Site Health screen
  .phpstorm.meta.php
  includes/Admin/Site_Health.php
  includes/Plugin.php
  tests/phpunit/tests/Admin/Site_Health.php
Labels: Group: WordPress, P3, Pod: WP & Infra, Type: Enhancement, cla: yes

#7534 Animation: Update Background animation ease default from `linear` to `ease-in-out`
  assets/src/animation/constants.js
  assets/src/animation/effects/backgroundPan/index.js
  assets/src/animation/effects/backgroundPanAndZoom/index.js
  assets/src/animation/effects/backgroundZoom/index.js
  assets/src/edit-story/components/panels/design/animation/animation.js
Labels: Group: Animations, Pod: Pea, Type: Enhancement, cla: yes

#7497 Help Center: Karma Tests and Experiment Clean-up
  assets/src/edit-story/components/helpCenter/index.js
  assets/src/edit-story/components/helpCenter/karma/helpCenter.karma.js
  assets/src/edit-story/components/inspector/karma/prepublishSelect.karma.js
  assets/src/edit-story/components/library/panes/media/local/karma/mediaFetching.karma.js
  assets/src/edit-story/components/library/panes/pageTemplates/karma/pageTemplatesPane.karma.js
  assets/src/edit-story/components/panels/design/border/karma/border.karma.js
  assets/src/edit-story/components/panels/design/borderRadius/karma/borderRadius.karma.js
  assets/src/edit-story/karma/fixture/containers/editor.js
  assets/src/edit-story/karma/fixture/containers/helpCenter.js
  assets/src/edit-story/karma/fixture/fixture.js
  includes/Experiments.php
Labels: Group: FTUE, Pod: Pea, Type: Code Quality, cla: yes

#6672 Add eslint-plugin-styled-components-a11y
  .eslintrc
  assets/src/dashboard/components/cardGrid/index.js
  assets/src/dashboard/components/cardGridItem/cardPreview.js
  assets/src/design-system/components/banner/stories/index.js
  assets/src/design-system/components/contextMenu/mask.js
  assets/src/design-system/components/tooltip/stories/index.js
  assets/src/design-system/components/typography/link/stories/index.js
  assets/src/design-system/components/typography/text/index.js
  assets/src/edit-story/components/canvas/editElement.js
  assets/src/edit-story/components/canvas/frameElement.js
  assets/src/edit-story/components/colorPicker/gradientStop.js
  assets/src/edit-story/components/elementLink/frame.js
  assets/src/edit-story/components/form/advancedDropDown/dropDown.js
  assets/src/edit-story/components/library/panes/media/common/innerElement.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplate.js
  assets/src/edit-story/components/library/panes/text/textSets/textSet.js
  assets/src/edit-story/components/overlay/index.js
  assets/src/edit-story/components/panels/panel/shared/handle.js
  assets/src/edit-story/components/reorderable/reorderableSeparator.js
  assets/src/edit-story/elements/media/edit.js
  assets/src/edit-story/elements/media/visibleImage.js
  assets/src/edit-story/elements/text/edit.js
  assets/src/edit-story/elements/video/display.js
  package-lock.json
  package.json
  packages/tracking/src/trackClick.js
Labels: Pod: WP & Infra, Type: Code Quality, Type: Infrastructure, cla: yes

#7467 Redesign: ask for confirmation when deleting global presets.
  assets/src/edit-story/components/panels/design/preset/confirmationDialog.js
  assets/src/edit-story/components/panels/design/preset/karma/colorPresets.karma.js
  assets/src/edit-story/components/panels/design/preset/karma/stylePresets.karma.js
  assets/src/edit-story/components/panels/design/preset/presetPanel.js
  assets/src/edit-story/components/panels/design/preset/stories/confirmationDialog.js
  assets/src/edit-story/components/panels/design/preset/test/colorPresetPanel.js
  assets/src/edit-story/utils/localStore.js
Labels: Group: Saved Colors, Group: Saved Styles, Pod: Prometheus, Type: Enhancement, cla: yes

#7719 Use attrs for avoiding creation of excess classes by Styled Components
  assets/src/edit-story/components/canvas/displayElement.js
  assets/src/edit-story/components/canvas/singleSelectionMoveable/index.js
  assets/src/edit-story/elements/text/display.js
Labels: Pod: Prometheus, Type: Code Quality, Type: Performance, cla: yes

#7633 Dashboard Settings / Design System: Bugfix for button edge case
  assets/src/design-system/components/button/button.js
Labels: Group: Dashboard, Pod: Pea, Type: Bug, cla: yes

#7681 Documentation: Add quick action docs
  docs/quick-actions.md
Labels: Group: Quick Action Menu, Pod: Pea, Type: Documentation, cla: yes

#7706 Design System: Update snackbar styling
  assets/src/design-system/components/snackbar/snackbarContainer.js
  assets/src/design-system/components/snackbar/snackbarMessage.js
Labels: Group: Design System, Group: Quick Action Menu, Pod: Pea, Type: Enhancement, cla: yes

#7705 Quick Action Menus: Hide Clear Button When Irrelevant
  assets/src/edit-story/app/highlights/quickActions/constants.js
  assets/src/edit-story/app/highlights/quickActions/test/useQuickActions.js
  assets/src/edit-story/app/highlights/quickActions/useQuickActions.js
  assets/src/edit-story/components/canvas/karma/quickActions.karma.js
Labels: Group: Quick Action Menu, Pod: Pea, Type: Enhancement, cla: yes

#7696 Fix lazy loading fonts preview by reducing re-renders
  assets/src/edit-story/components/form/advancedDropDown/dropDown.js
  assets/src/edit-story/components/form/advancedDropDown/list/list.js
  assets/src/edit-story/components/form/advancedDropDown/utils.js
Labels: Group: Fonts, Type: Bug, cla: yes

#7568 Use ratio to calculate shape dimensions correctly
  assets/src/edit-story/elements/shape/icon.js
Labels: Group: Design Panel, Pod: Prometheus, Type: Bug, cla: yes

#7499 Disable the button for saving a page template for a blank page
  assets/src/design-system/theme/colors.js
  assets/src/edit-story/components/library/panes/pageTemplates/karma/pageTemplatesPane.karma.js
  assets/src/edit-story/components/library/panes/pageTemplates/templateSave.js
Labels: Group: Page Templates, Pod: Prometheus, Type: Enhancement, cla: yes

#7757 PHP: remove direct phpunit/phpunit dependency
  composer.json
  composer.lock
Labels: P2, PHP, Pod: WP & Infra, Type: Code Quality, Type: Infrastructure, cla: yes

#7758 E2E Tests: retry flaky tests
  packages/e2e-tests/src/config/bootstrap.js
Labels: P2, Package: E2E Tests, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7749 AMP: add `class_exists` check for AMP configuration class
  includes/Integrations/AMP.php
Labels: AMP Output, Pod: WP & Infra, Type: Bug, cla: yes

#7765 Fix text element issues with transformations
  assets/src/edit-story/components/canvas/displayElement.js
  assets/src/edit-story/components/canvas/singleSelectionMoveable/index.js
  assets/src/edit-story/elements/text/display.js
Labels: Pod: Prometheus, Type: Bug, cla: yes

#7680 Animation: Update Scale Animation Defaults
  assets/src/animation/effects/zoom/animationProps.js
  assets/src/animation/effects/zoom/index.js
Labels: Group: Animations, Pod: Pea, Type: Enhancement, cla: yes

#7612 Animations: Switch zoom-in/out behavior
  assets/src/animation/effects/zoom/index.js
Labels: Group: Animations, Pod: Pea, Type: Bug, cla: yes

#7679 Animation: Update Background Zoom Animation
  assets/src/animation/effects/backgroundPan/animationProps.js
  assets/src/animation/effects/backgroundPan/index.js
  assets/src/animation/effects/backgroundPanAndZoom/index.js
  assets/src/animation/effects/backgroundZoom/animationProps.js
  assets/src/animation/effects/backgroundZoom/index.js
Labels: Package: Animation, Pod: Pea, Type: Enhancement, cla: yes

#7703 Animation: Update Defaults for Pulse
  assets/src/animation/effects/pulse/animationProps.js
  assets/src/animation/effects/pulse/index.js
  assets/src/animation/parts/pulse/index.js
  assets/src/animation/parts/pulse/test/index.js
Labels: Group: Animations, Pod: Pea, Type: Enhancement, cla: yes

#7725 Assets: Use central class for registering scripts and styles
  .phpstorm.meta.php
  includes/AMP_Story_Player_Assets.php
  includes/Admin/Activation_Notice.php
  includes/Admin/Dashboard.php
  includes/Admin/Editor.php
  includes/Admin/Google_Fonts.php
  includes/Admin/TinyMCE.php
  includes/Assets.php
  includes/Block/Web_Stories_Block.php
  includes/Embed_Base.php
  includes/Integrations/Core_Themes_Support.php
  includes/Plugin.php
  includes/Register_Font.php
  includes/Register_Widget.php
  includes/Renderer/Archives.php
  includes/Renderer/Stories/Carousel_Renderer.php
  includes/Renderer/Stories/Generic_Renderer.php
  includes/Renderer/Stories/Renderer.php
  includes/Renderer/Story/Embed.php
  includes/Tracking.php
  includes/Traits/Assets.php
  includes/Widgets/Stories.php
  tests/phpunit/tests/AMP_Story_Player_Assets.php
  tests/phpunit/tests/Admin/Activation_Notice.php
  tests/phpunit/tests/Admin/Dashboard.php
  tests/phpunit/tests/Admin/Editor.php
  tests/phpunit/tests/Admin/TinyMCE.php
  tests/phpunit/tests/Assets.php
  tests/phpunit/tests/Block/Web_Stories_Block.php
  tests/phpunit/tests/Integrations/Core_Themes_Support.php
  tests/phpunit/tests/Renderer/Stories/Carousel_Renderer.php
  tests/phpunit/tests/Renderer/Stories/Generic_Renderer.php
  tests/phpunit/tests/Renderer/Stories/Renderer.php
  tests/phpunit/tests/Renderer/Story/Embed.php
  tests/phpunit/tests/Shortcode/Embed_Shortcode.php
  tests/phpunit/tests/Tracking.php
  tests/phpunit/tests/Widgets/Stories.php
Labels: Group: WordPress, PHP, Pod: WP & Infra, Type: Code Quality, cla: yes

#7569 Pinch to Zoom (desktop)
  assets/src/edit-story/app/layout/useZoomSetting.js
  assets/src/edit-story/components/canvas/layout.js
  assets/src/edit-story/components/canvas/usePinchToZoom.js
  assets/src/edit-story/components/carousel/zoomSelector/zoomSelector.js
  assets/src/edit-story/constants/index.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#7623 Quick Menu: Keyboard functionality
  assets/src/design-system/components/contextMenu/menu.js
  assets/src/edit-story/components/canvas/displayLayer.js
  assets/src/edit-story/components/canvas/navLayer.js
  assets/src/edit-story/components/helpCenter/constants.js
  assets/src/edit-story/constants/index.js
Labels: Group: Quick Action Menu, Pod: Pea, Type: Enhancement, cla: yes
