Repository GoogleForCreators/web-stories-wp, pull requests merged in 2021-12, with the labels that each got.

#9825 Decoupling: Help Center
  packages/story-editor/src/app/helpCenter/provider.js
  packages/story-editor/src/app/helpCenter/useHelpCenter/effects.js
  packages/story-editor/src/app/helpCenter/useHelpCenter/test/effects.js
  packages/story-editor/src/components/helpCenter/companion/index.js
  packages/story-editor/src/components/helpCenter/constants.js
  packages/story-editor/src/components/helpCenter/karma/helpCenter.karma.js
  packages/story-editor/src/components/helpCenter/menu/index.js
  packages/story-editor/src/components/helpCenter/menu/tips.js
  packages/wp-story-editor/src/constants/index.js
  packages/wp-story-editor/src/constants/tips.js
  packages/wp-story-editor/src/index.js
Labels: Type: Enhancement, cla: yes, Type: Code Quality, Package: Story Editor, Package: WP Story Editor

#9855 Improve compatibility with Sage theme
  includes/Renderer/Single.php
  includes/templates/frontend/single-web-story.php
Labels: Type: Bug, cla: yes, Group: Integration, Group: WordPress, Pod: WP & Infra

#9871 CSS-in-JS: Remove incorrect tagged template literal usage
  packages/story-editor/src/components/canvas/layout.js
Labels: Type: Bug, cla: yes, Type: Code Quality

#9860 Quick Actions: Update 'confirm text' for replacing media quick action
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
  packages/story-editor/src/components/panels/design/videoAccessibility/karma/videoPoster.karma.js
  packages/story-editor/src/karma/fixture/fixture.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Quick Action Menu, Bug Bash: 1.15.0

#9883 Storybook: Make storybook `story-editor` search field work
  .storybook/stories/playground/story-editor/index.js
Labels: cla: yes, Package: Story Editor

#9844 Dashboard: Remove Excess Header Render
  packages/dashboard/src/app/views/myStories/content/index.js
  packages/dashboard/src/app/views/myStories/header/index.js
  packages/dashboard/src/app/views/myStories/header/test/header.js
  packages/dashboard/src/app/views/myStories/index.js
  packages/dashboard/src/utils/useStoryView.js
Labels: cla: yes, Group: Dashboard, Type: Performance, Package: Dashboard

#9780 Media fetching karma test
  .github/workflows/build-and-deploy.yml
  packages/story-editor/src/components/library/panes/media/common/paginatedMediaGallery.js
  packages/story-editor/src/components/library/panes/media/local/karma/mediaFetching.karma.js
  packages/story-editor/src/components/library/panes/media/media3p/karma/mediaFetching.karma.js
  percy.config.yml
Labels: cla: yes, Type: Code Quality, Pod: Pea

#9893 Code quality: Remove feature artifacts
  includes/Experiments.php
  includes/Story_Post_Type.php
  includes/uninstall.php
  packages/e2e-tests/src/specs/wordpress/archive.js
  packages/story-editor/src/app/story/actions/useAutoSave.js
  packages/story-editor/src/app/story/actions/useSaveStory.js
  packages/story-editor/src/app/story/utils/getStoryPropsToSave.js
  packages/story-editor/src/elements/video/output.js
  packages/story-editor/src/elements/video/test/output.js
  packages/story-editor/src/output/element.js
  packages/story-editor/src/output/page.js
  packages/story-editor/src/output/story.js
  packages/story-editor/src/output/test/page.js
  packages/story-editor/src/output/utils/getStoryMarkup.js
  packages/story-editor/src/output/utils/getUsedAmpExtensions.js
  packages/story-editor/src/output/utils/test/getUsedAmpExtensions.js
  packages/wp-dashboard/src/components/editorSettings/archive/index.js
  packages/wp-dashboard/src/components/editorSettings/archive/stories/index.js
  packages/wp-dashboard/src/components/editorSettings/archive/test/archive.js
Labels: cla: yes, Type: Code Quality

#9868 Media: Measure time to generate base color
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/index.js
  packages/story-editor/src/utils/getMediaBaseColor.js
Labels: Type: Enhancement, cla: yes, Group: Media, P3, Pod: WP & Infra, Group: Library

#9832 Right Click Menu: Add `Duplicate Element` action
  packages/story-editor/src/app/rightClickMenu/constants.js
  packages/story-editor/src/app/rightClickMenu/provider.js
  packages/story-editor/src/app/rightClickMenu/test/useRightClickMenu.js
  packages/story-editor/src/components/canvas/framesLayer.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/canvas/multiSelectionMoveable/index.js
  packages/story-editor/src/components/canvas/selection.js
  packages/story-editor/src/components/moveable/index.js
  packages/story-editor/src/components/overlay/index.js
Labels: Type: Enhancement, cla: yes, Pod: Pea, Group: Context Menu

#9887 Design System: add `onClear` to search input
  packages/dashboard/src/app/views/exploreTemplates/header/index.js
  packages/dashboard/src/app/views/myStories/header/index.js
  packages/dashboard/src/app/views/shared/pageHeading.js
  packages/design-system/src/components/search/search.js
  packages/design-system/src/components/search/stories/index.js
Labels: cla: yes, Type: Code Quality, Pod: Pea

#9881 Decoupling: Initialize dashboard from PHP
  includes/Admin/Dashboard.php
  includes/templates/admin/dashboard.php
  packages/wp-dashboard/src/index.js
  packages/wp-dashboard/src/publicPath.js
  packages/wp-dashboard/src/setLocaleData.js
  tests/js/setup-globals.js
Labels: Type: Enhancement, cla: yes, Group: Dashboard, Package: Dashboard, Package: WP Dashboard

#9876 Decoupling: Refactor demo story parameter logic
  includes/templates/admin/edit-story.php
  packages/wp-story-editor/src/api/story.js
Labels: cla: yes, PHP, Type: Code Quality, Package: Story Editor, Package: WP Story Editor

#9867 Media: Re-use existing `isMuted` value on upload
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/index.js
  packages/story-editor/src/app/media/utils/useProcessMedia.js
Labels: cla: yes, Group: Media, Type: Performance, Pod: WP & Infra

#9873 Text element display: add missing units for padding in Text Display
  packages/story-editor/src/elements/text/display.js
  packages/story-editor/src/elements/text/edit.js
  packages/story-editor/src/elements/text/frame.js
  packages/story-editor/src/elements/text/test/util.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#9895 Hotfix: Validate hex color string in `SkeletonPage`
  packages/story-editor/src/components/footer/carousel/skeletonPage.js
  packages/story-editor/src/output/utils/styles.js
  packages/story-editor/src/utils/isHexColorString.js
Labels: Type: Bug, cla: yes, Group: Media, Group: Carousel

#9862 Sanitization: Update AMP PHP Toolbox to v0.9.1
  composer.lock
  includes/AMP/Canonical_Sanitizer.php
  includes/AMP/Meta_Sanitizer.php
  includes/AMP/Optimization.php
  includes/AMP/Sanitization.php
Labels: Type: Bug, cla: yes, AMP Output, Pod: WP & Infra

#9898 Migrate saved page templates upon loading
  packages/story-editor/src/components/library/panes/pageTemplates/pageTemplatesPane.js
  packages/story-editor/src/components/library/panes/pageTemplates/templateList.js
  packages/story-editor/src/components/library/panes/pageTemplates/templateSave.js
Labels: Type: Bug, cla: yes, Group: Library, Group: Page Templates

#9934 Templates: remove `enableExploreTemplatesSearch` feature flag
  includes/Experiments.php
  packages/dashboard/src/app/views/exploreTemplates/header/index.js
  packages/dashboard/src/app/views/exploreTemplates/karma/exploreTemplates.karma.js
Labels: Group: Dashboard, Type: Code Quality, Pod: Pea

#9882 Media Panel: Reduce re-rendering of `InnerElement`
  packages/story-editor/src/components/canvas/karma/backgroundCopyPaste.karma.js
  packages/story-editor/src/components/canvas/multiSelectionMoveable/useDrag.js
  packages/story-editor/src/components/canvas/singleSelectionMoveable/useDrag.js
  packages/story-editor/src/components/dropTargets/useDropTargets.js
  packages/story-editor/src/components/footer/carousel/karma/carouselDrawer.karma.js
  packages/story-editor/src/components/footer/carousel/karma/carouselNavigation.karma.js
  packages/story-editor/src/components/library/panes/media/common/innerElement.js
  packages/story-editor/src/components/library/panes/media/common/mediaElement.js
  packages/story-editor/src/components/library/panes/media/media3p/karma/mediaFetching.karma.js
  packages/story-editor/src/components/library/panes/pageTemplates/karma/defaultPageTemplates.karma.js
  packages/story-editor/src/components/library/panes/shared/libraryMoveable.js
  packages/story-editor/src/components/panels/design/link/karma/link.karma.js
  packages/story-editor/src/elements/text/karma/edit.karma.js
  packages/story-editor/src/elements/video/karma/autoplay.karma.js
  packages/story-editor/src/karma/copyAndPaste.cuj.karma.js
  packages/story-editor/src/masks/frame.js
  packages/story-editor/src/utils/useCORSProxy.js
Labels: Type: Enhancement, cla: yes, Type: Performance, Pod: Prometheus

#9833 Editor: Fix position and layering of page attachment layer
  packages/story-editor/src/components/canvas/layout.js
  packages/story-editor/src/components/canvas/pageAttachment/index.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#9759 Video: Show correct flip state of video when in trim mode
  packages/media/src/generateVideoStrip.js
  packages/story-editor/src/components/videoTrim/test/useVideoTrimMode.js
  packages/story-editor/src/components/videoTrim/useVideoTrimMode.js
  packages/story-editor/src/elements/video/trim.js
Labels: Type: Bug, cla: yes, Elements: Video

#9823 Selection Panel: adjust bottom margin
  packages/story-editor/src/components/panels/design/sizePosition/sizePosition.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#9877 Update the title of the Text Box & Saved Styles box to bold
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/stylePresets.js
  packages/story-editor/src/components/panels/design/textStyle/textStyle.js
Labels: Type: Enhancement, cla: yes, Group: Design Panel, Pod: Prometheus

#9699 Media: Improve video captions appearance in editor
  includes/Experiments.php
  packages/story-editor/src/app/layout/test/useZoomSetting.js
  packages/story-editor/src/app/layout/useZoomSetting.js
  packages/story-editor/src/components/canvas/canvasLayout.js
  packages/story-editor/src/components/canvas/displayLayer.js
  packages/story-editor/src/components/canvas/videoCaptions/cue.js
  packages/story-editor/src/components/canvas/videoCaptions/index.js
  packages/story-editor/src/components/canvas/videoCaptions/parseTimestamp.js
  packages/story-editor/src/components/canvas/videoCaptions/test/parseTimestamp.js
  packages/story-editor/src/components/canvas/videoCaptions/trackRenderer.js
  packages/story-editor/src/components/canvas/videoCaptions/videoCaptionsLayer.js
  packages/story-editor/src/elements/video/display.js
Labels: Type: Enhancement, cla: yes, Group: Media, Elements: Video, Group: Workspace

#9828 Design Panel: Adjust general padding and Selection panel grid
  packages/story-editor/src/components/panels/design/sizePosition/sizePosition.js
  packages/story-editor/src/components/panels/panel/shared/content.js
  packages/story-editor/src/components/panels/panel/shared/title.js
Labels: Type: Bug, cla: yes, Pod: Prometheus

#9935 Media: Use smaller images for base color generation
  packages/story-editor/src/app/media/local/useContextValueProvider.js
  packages/story-editor/src/app/media/utils/useDetectBaseColor.js
Labels: Type: Enhancement, Group: Media

#9941 Media Library: Display BlurHash placeholders if available
  packages/media/src/createResource.js
  packages/media/src/types.js
  packages/story-editor/package.json
  packages/story-editor/src/app/media/media3p/api/test/useMedia3pApi.js
  packages/story-editor/src/app/media/utils/getResourceFromMedia3p.js
  packages/story-editor/src/app/media/utils/test/getResourceFromMedia3p.js
  packages/story-editor/src/components/library/panes/media/common/mediaElement.js
Labels: Type: Enhancement, Group: Media

#9939 Media Library: Fix styling of search results count
  packages/story-editor/src/components/library/panes/media/local/mediaPane.js
Labels: Type: Enhancement, Group: Media, Group: Library

#9892 E2E Tests: Add tests for deleting/renaming/duplicating stories
  packages/e2e-tests/src/specs/dashboard/myStories.js
Labels: cla: yes, Type: Code Quality, Package: E2E Tests

#9869 Storybook: Fix broken build
  packages/story-editor/src/components/panels/shared/index.js
Labels: cla: yes, Type: Infrastructure, Package: WP Story Editor

#9947 Editor: Fixed karma tests for carousel navigation
  packages/story-editor/src/components/footer/carousel/karma/carouselNavigation.karma.js
Labels: Type: Bug, Pod: Prometheus

#9926 Dashboard: Fix Color Contrast in Filter Counts
  packages/dashboard/src/app/views/myStories/header/index.js
Labels: Type: Bug, Accessibility, Group: Dashboard, Pod: Pea, Package: Dashboard

#9907 Media: Various improvements to upload handling
  packages/story-editor/src/app/media/local/useContextValueProvider.js
  packages/story-editor/src/app/media/test/useUploadMedia.js
  packages/story-editor/src/app/media/useUploadMedia.js
  packages/story-editor/src/app/media/utils/getResourceFromLocalFile.js
  packages/story-editor/src/app/media/utils/test/useProcessMedia.js
  packages/story-editor/src/app/media/utils/useDetectBaseColor.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/constants.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/index.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/reducer.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/test/reducer.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/test/useMediaUploadQueue.js
  packages/story-editor/src/app/media/utils/useProcessMedia.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/updateElementsByResourceId.js
  packages/story-editor/src/app/story/useStoryReducer/test/updateElementsByResourceId.js
  packages/story-editor/src/components/canvas/test/useInsertElement.js
  packages/story-editor/src/components/canvas/useInsertElement.js
  packages/story-editor/src/components/canvas/utils/getElementProperties.js
  packages/story-editor/src/components/canvas/utils/test/getElementProperties.js
  packages/story-editor/src/components/checklist/checks/videoOptimization.js
  packages/story-editor/src/components/dropTargets/provider.js
  packages/story-editor/src/components/library/panes/media/common/mediaElement.js
  packages/story-editor/src/components/library/panes/media/common/test/accessibility.js
  packages/story-editor/src/components/library/panes/media/local/hotlink/useInsert.js
  packages/story-editor/src/components/library/panes/media/media3p/providerPanel.js
  packages/story-editor/src/components/library/panes/media/media3p/test/media3pPane.js
  packages/story-editor/src/components/library/test/mediaElement.js
  packages/story-editor/src/components/panels/design/videoOptions/test/videoOptions.js
  packages/story-editor/src/components/panels/design/videoOptions/videoOptions.js
  packages/story-editor/src/components/videoTrim/test/useVideoTrimMode.js
  packages/story-editor/src/components/videoTrim/useVideoTrimMode.js
  packages/story-editor/src/elements/media/imageDisplay.js
Labels: Type: Enhancement, cla: yes, Group: Media

#9946 Media3p: flakey karma tests
  packages/story-editor/src/components/library/panes/media/media3p/karma/mediaFetching.karma.js
Labels: Type: Bug, Group: Media, Type: Code Quality, Pod: Pea, Group: Library, Group: Workspace

#9951 Fix `findDOMNode` warnings that clutter the console
  package-lock.json
  packages/design-system/src/components/loadingBar/index.js
  packages/design-system/src/components/snackbar/snackbarContainer.js
  packages/story-editor/src/components/circularProgress/index.js
  packages/story-editor/src/components/colorPicker/colorPicker.js
  packages/story-editor/src/components/footer/carousel/carouselLayout.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/styleManager.js
  packages/story-editor/src/components/transition/scheduledTransition.js
  packages/story-editor/src/elements/video/playPauseButton.js
Labels: Type: Enhancement, Type: Code Quality, Pod: Pea, Group: Design System, Package: Design System

#9948 Decoupling: Improve story editor storybook
  .storybook/stories/playground/story-editor/api/index.js
  .storybook/stories/playground/story-editor/api/media.js
  .storybook/stories/playground/story-editor/api/story.js
  .storybook/stories/playground/story-editor/constants.js
  .storybook/stories/playground/story-editor/index.js
  .storybook/stories/playground/story-editor/preview.js
  package-lock.json
  package.json
Labels: Package: Story Editor

#9961 Media: Use smaller video poster image size for base color generation
  packages/story-editor/src/app/media/utils/useDetectBaseColor.js
  packages/wp-story-editor/src/api/media.js
Labels: Type: Enhancement, Group: Media, Type: Performance, Pod: WP & Infra

#9973 Update Composer dependencies
  composer.json
  composer.lock
Labels: Type: Infrastructure, Dependencies, PHP, Pod: WP & Infra

#9972 Packages: Reorganize CLI scripts
  .eslintrc
  .github/workflows/tests-unit-js.yml
  package-lock.json
  package.json
  packages/fonts/package.json
  packages/fonts/scripts/cli.js
  packages/fonts/scripts/utils/buildFonts.js
  packages/fonts/scripts/utils/constants.js
  packages/fonts/scripts/utils/getFontFallback.js
  packages/fonts/scripts/utils/getFontMetrics.js
  packages/fonts/scripts/utils/normalizeFont.js
  packages/fonts/scripts/utils/test/buildFonts.js
  packages/fonts/scripts/utils/test/fixtures/abezee.ttf
  packages/fonts/scripts/utils/test/getFontFallback.js
  packages/fonts/scripts/utils/test/getFontMetrics.js
  packages/fonts/scripts/utils/test/normalizeFont.js
  packages/migration/rollup.config.migrate.js
  packages/templates/package.json
  packages/templates/scripts/cli.js
  packages/text-sets/package.json
  packages/text-sets/scripts/cli.js
Labels: Type: Infrastructure, Pod: WP & Infra, Package: Fonts, Package: Templates, Package: Text Sets, Package: Migration

#9955 Code Quality: Increase aXe Coverage in Story Editor
  packages/stickers/src/art-books-gift-guide/handHeldSign.js
  packages/story-editor/src/app/media/media3p/attribution.js
  packages/story-editor/src/components/canvas/karma/carousel.karma.js
  packages/story-editor/src/components/canvas/karma/quickActions.karma.js
  packages/story-editor/src/components/checklist/karma/checklist.karma.js
  packages/story-editor/src/components/colorPicker/karma/colorPicker.karma.js
  packages/story-editor/src/components/footer/karma/footerMenu.karma.js
  packages/story-editor/src/components/helpCenter/karma/helpCenter.karma.js
  packages/story-editor/src/components/helpCenter/menu/index.js
  packages/story-editor/src/components/inspector/karma/inspectorTabs.karma.js
  packages/story-editor/src/components/keyboardShortcutsMenu/karma/keyboardShortcuts.karma.js
  packages/story-editor/src/components/library/karma/libraryTabs.karma.js
  packages/story-editor/src/components/library/karma/mediaTab.karma.js
  packages/story-editor/src/components/library/panes/media/media3p/providerTabList.js
  packages/story-editor/src/components/library/panes/shapes/shapePreview.js
  packages/story-editor/src/components/library/panes/text/textSets/textSets.js
  packages/story-editor/src/components/library/panes/text/textSets/textSetsPane.js
  packages/story-editor/src/karma/fixture/containers/library/text.js
Labels: Accessibility, Type: Code Quality, Pod: Pea, Package: Story Editor

#9924 Edit Media Dialog: Use Text Area for Video Description
  packages/story-editor/src/components/library/panes/media/local/mediaEditDialog.js
Labels: Type: Bug, Group: Media, Pod: Pea, Group: Library

#9971 Embeds: Disable Customizer integration for block themes
  includes/Admin/Customizer.php
  tests/phpunit/integration/tests/Admin/Customizer.php
Labels: Type: Enhancement, Group: WordPress, Pod: WP & Infra

#9992 Improve block styling in Twenty Twenty-Two theme
  packages/stories-block/src/css/common.css
Labels: Type: Bug, Group: WordPress, Pod: WP & Infra

#9949 Decoupling: Make some `story-editor` api callbacks optional
  .storybook/stories/playground/story-editor/index.js
  packages/story-editor/src/app/currentUser/currentUserProvider.js
  packages/story-editor/src/app/media/local/useContextValueProvider.js
  packages/story-editor/src/app/media/utils/useDetectBaseColor.js
  packages/story-editor/src/app/story/effects/useLoadStory.js
  packages/story-editor/src/components/library/libraryPanes.js
  packages/story-editor/src/components/library/libraryProvider.js
  packages/story-editor/src/components/library/panes/pageTemplates/pageTemplatesPane.js
  packages/story-editor/src/components/panels/design/link/link.js
  packages/story-editor/src/components/panels/design/pageAttachment/pageAttachment.js
  packages/story-editor/src/components/videoTrim/useVideoTrimMode.js
Labels: Type: Enhancement, Package: Story Editor

#9994 Code Quality: Remove unneeded `setProperties` function
  packages/story-editor/src/app/media/utils/useDetectBaseColor.js
  packages/story-editor/src/app/media/utils/useDetectVideoHasAudio.js
  packages/story-editor/src/app/media/utils/useUploadVideoFrame.js
Labels: JavaScript, Type: Code Quality, Package: Story Editor

#9997 Karma: Altered carousel test setup to be more reliable
  packages/story-editor/src/components/footer/carousel/karma/carouselDrawer.karma.js
Labels: Type: Bug, Pod: Prometheus

#10004 Update references to landig page repo
  .github/workflows/plugin-release.yml
  docs/cdn.md
  docs/external-template-creation.md
  packages/templates/README.md
  packages/text-sets/README.md
  packages/text-sets/scripts/cli.js
Labels: Type: Documentation, Website

#9991 Media: Add filter to disable potentially expensive tax query
  includes/Media/Media_Source_Taxonomy.php
  tests/phpunit/integration/tests/Media/Media_Source_Taxonomy.php
Labels: Group: Media, PHP, Group: WordPress, Type: Performance, Pod: WP & Infra

#9986 Code Quality: Increase aXe Coverage in Story Editor
  packages/design-system/src/components/slider/index.js
  packages/story-editor/src/components/footer/carousel/karma/carouselDrawer.karma.js
  packages/story-editor/src/components/footer/gridview/karma/gridView.karma.js
  packages/story-editor/src/elements/image/karma/edit.karma.js
  packages/story-editor/src/elements/media/edit.js
Labels: Accessibility, Type: Code Quality, Pod: Pea, Package: Story Editor

#10003 Update AMP Toolbox to v0.9.3
  composer.lock
Labels: Type: Infrastructure, AMP Output, Pod: WP & Infra

#9875 Dashboard: display template details in modal
  packages/dashboard/src/app/router/index.js
  packages/dashboard/src/app/router/route.js
  packages/dashboard/src/app/router/test/route.js
  packages/dashboard/src/app/views/exploreTemplates/content/index.js
  packages/dashboard/src/app/views/exploreTemplates/content/stories/index.js
  packages/dashboard/src/app/views/exploreTemplates/content/templateGridItem.js
  packages/dashboard/src/app/views/exploreTemplates/content/templateGridView.js
  packages/dashboard/src/app/views/exploreTemplates/index.js
  packages/dashboard/src/app/views/exploreTemplates/karma/exploreTemplates.karma.js
  packages/dashboard/src/app/views/exploreTemplates/modal/index.js
  packages/dashboard/src/app/views/exploreTemplates/modal/templateDetails/components.js
  packages/dashboard/src/app/views/exploreTemplates/modal/templateDetails/content/index.js
  packages/dashboard/src/app/views/exploreTemplates/modal/templateDetails/content/stories/index.js
  packages/dashboard/src/app/views/exploreTemplates/modal/templateDetails/header/index.js
  packages/dashboard/src/app/views/exploreTemplates/modal/templateDetails/header/stories/index.js
  packages/dashboard/src/app/views/exploreTemplates/modal/templateDetails/header/test/header.js
  packages/dashboard/src/app/views/exploreTemplates/modal/templateDetails/karma/templateDetails.karma.js
  packages/dashboard/src/app/views/index.js
  packages/dashboard/src/app/views/myStories/index.js
  packages/dashboard/src/app/views/shared/karma/telemetryBanner.karma.js
  packages/dashboard/src/app/views/templateDetails/content/index.js
  packages/dashboard/src/app/views/templateDetails/content/relatedGrid/index.js
  packages/dashboard/src/app/views/templateDetails/content/relatedGrid/test/relatedGrid.js
  packages/dashboard/src/app/views/templateDetails/content/stories/index.js
  packages/dashboard/src/app/views/templateDetails/header/index.js
  packages/dashboard/src/app/views/templateDetails/header/stories/index.js
  packages/dashboard/src/app/views/templateDetails/index.js
  packages/dashboard/src/app/views/templateDetails/karma/templateDetails.karma.js
  packages/dashboard/src/app/views/templateDetails/test/index.js
  packages/dashboard/src/app/views/templateDetails/utils.js
  packages/dashboard/src/components/interfaceSkeleton/index.js
  packages/dashboard/src/types.js
  packages/e2e-tests/src/specs/dashboard/templates/useTemplate.js
  packages/story-editor/src/components/library/panes/media/local/mediaPane.js
Labels: Type: Enhancement, Accessibility, cla: yes, Group: Dashboard, Pod: Pea

#9866 Bugfix: Prevent Shape Layer Icons getting cut off in Firefox
  packages/story-editor/src/components/panels/design/layer/layer.js
  packages/story-editor/src/elements/shape/icon.js
Labels: Type: Bug, cla: yes, Group: Design Panel, Pod: Pea

#9990 Use capabilities query if available
  includes/REST_API/Stories_Users_Controller.php
  tests/phpunit/integration/tests/REST_API/Stories_Users_Controller.php
Labels: Type: Enhancement

#9974 REST API: Cater for changes to author queries in WordPress 5.9
  includes/REST_API/Stories_Users_Controller.php
  tests/phpunit/integration/tests/REST_API/Stories_Users_Controller.php
Labels: Type: Enhancement, Group: WordPress, Type: Code Quality, Pod: WP & Infra

#10012 Add integration to disable conditional featured images plugin
  .phpstorm.meta.php
  includes/Integrations/Conditional_Featured_Image.php
  includes/Plugin.php
  tests/phpunit/integration/tests/Integrations/Conditional_Featured_Image.php
Labels: Type: Enhancement, Group: Integration, Group: WordPress, Pod: WP & Infra

#10013 Decoupling: Use camel casing for expected API response from story editor API callbacks part - 2
  packages/media/src/calculateSrcSet.js
  packages/media/src/getSmallestUrlForWidth.js
  packages/media/src/test/calculateSrcSet.js
  packages/media/src/test/getSmallestUrlForWidth.js
  packages/media/src/test/normalizeResourceSizes.js
  packages/media/src/types.js
  packages/migration/src/migrate.js
  packages/migration/src/migrations/test/v0037_camelCaseResourceSizes.js
  packages/migration/src/migrations/v0037_camelCaseResourceSizes.js
  packages/story-editor/src/app/api/test/_utils.js
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
  packages/story-editor/src/app/media/local/test/useContextValueProvider.js
  packages/story-editor/src/app/media/media3p/api/test/useMedia3pApi.js
  packages/story-editor/src/app/media/typedefs.js
  packages/story-editor/src/app/media/utils/getResourceFromMedia3p.js
  packages/story-editor/src/app/media/utils/test/getResourceFromMedia3p.js
  packages/story-editor/src/components/canvas/test/useInsertElement.js
  packages/story-editor/src/components/library/panes/media/common/test/accessibility.js
  packages/story-editor/src/components/library/panes/media/common/test/paginatedMediaGallery.js
  packages/story-editor/src/components/library/panes/media/local/mediaPane.js
  packages/story-editor/src/components/library/panes/media/media3p/test/accesibility.js
  packages/story-editor/src/elements/image/test/output.js
  packages/story-editor/src/elements/media/test/display.js
  packages/story-editor/src/karma/fixture/db/getMediaResponse.js
  packages/story-editor/src/karma/fixture/fixture.js
  packages/wp-story-editor/src/api/utils/getResourceFromAttachment.js
Labels: Package: Story Editor, Package: WP Story Editor

#9942 Text style: adjust margin calculation
  packages/story-editor/src/components/panels/design/textStyle/karma/textStyle.other.karma.js
  packages/story-editor/src/elements/shared/index.js
  packages/story-editor/src/elements/text/display.js
  packages/story-editor/src/elements/text/edit.js
  packages/story-editor/src/elements/text/frame.js
  packages/story-editor/src/karma/fixture/containers/designPanel/textStyle.js
Labels: Type: Bug, Pod: Prometheus

#10048 Design System: Fix commented out tests (Dropdown)
  packages/design-system/src/components/dropDown/test/dropDown.js
  packages/design-system/src/components/keyboard/test/index.js
Labels: Type: Code Quality, Pod: Pea, Group: Design System

#10050 Design System: Switch - allow axe test to pick up background color
  packages/design-system/src/components/switch/index.js
  packages/story-editor/src/components/inspector/karma/inspectorTabs.karma.js
Labels: Accessibility, Type: Code Quality, Pod: Pea, Group: Design System
