Repository GoogleForCreators/web-stories-wp, pull requests merged in 2021-07, with the labels that each got.

#8136 E2E Tests: Run against WordPress 5.8 RC
  .github/workflows/tests-e2e.yml
  bin/local-env/install-wordpress.sh
  packages/e2e-tests/src/specs/wordpress/widget.js
Labels: P2, Pod: WP & Infra, Type: Infrastructure, cla: yes

#8127 PPC 2.0: Update title length check in pre-publish checklist from 40 to 70 characters
  assets/src/edit-story/app/prepublish/constants.js
  assets/src/edit-story/app/prepublish/guidance/test/general.js
  assets/src/edit-story/app/prepublish/test/__snapshots__/getPrepublishErrors.js.snap
  assets/src/edit-story/components/checklist/checks/imageElementResolution.js
  assets/src/edit-story/components/checklist/checks/pageTooMuchText.js
  assets/src/edit-story/components/checklist/checks/publisherLogoSize.js
  assets/src/edit-story/components/checklist/checks/storyMissingTitle.js
  assets/src/edit-story/components/checklist/checks/storyPosterAspectRatio.js
  assets/src/edit-story/components/checklist/checks/storyPosterAttached.js
  assets/src/edit-story/components/checklist/checks/storyPosterPortraitSize.js
  assets/src/edit-story/components/checklist/constants.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Enhancement, cla: yes

#8128 PPC 2.0: Add checkbox to Enable Auto Video Optimization
  assets/src/edit-story/components/checklist/accessibilityChecks.js
  assets/src/edit-story/components/checklist/videoOptimizationCheckbox/index.js
  assets/src/edit-story/components/checklist/videoOptimizationCheckbox/test/index.js
  assets/src/edit-story/components/checklistCard/styles.js
  assets/src/edit-story/components/helpCenter/navigator/constants.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Enhancement, cla: yes

#8167 PPC V 2.0: Expand Panels When Checkpoint is Hit
  assets/src/edit-story/components/checklist/checklist.js
  assets/src/edit-story/components/checklist/constants.js
  assets/src/edit-story/components/checklist/karma/checklist.karma.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Enhancement, cla: yes

#8079 PPCv2.0: Add video optimization card to new checklist
  assets/src/edit-story/app/media/useUploadMedia.js
  assets/src/edit-story/components/checklist/checklistContent/priorityChecks.js
  assets/src/edit-story/components/checklist/checks/test/videoOptimization.js
  assets/src/edit-story/components/checklist/checks/videoOptimization.js
  includes/Experiments.php
Labels: Group: Pre-Publish Checklist, Group: Video Optimization, Pod: Pea, Type: Enhancement, cla: yes

#8173 PPC: Batch video optimization suggestions
  assets/src/edit-story/components/checklist/checks/videoOptimization.js
Labels: Group: Pre-Publish Checklist, Group: Video Optimization, Pod: Pea, Type: Enhancement, cla: yes

#8172 PPC 2.0: Popup Height on smaller screens
  assets/src/edit-story/components/carousel/karma/popups.karma.js
  assets/src/edit-story/components/carousel/secondaryMenu.js
  assets/src/edit-story/components/checklist/checklist.js
  assets/src/edit-story/components/checklist/checklistContent/accessibilityChecks.js
  assets/src/edit-story/components/checklist/checklistContent/designChecks.js
  assets/src/edit-story/components/checklist/checklistContent/priorityChecks.js
  assets/src/edit-story/components/checklist/karma/checklist.karma.js
  assets/src/edit-story/components/checklist/styles.js
  assets/src/edit-story/components/helpCenter/index.js
  assets/src/edit-story/components/helpCenter/navigator/index.js
  assets/src/edit-story/components/tablist/index.js
  assets/src/edit-story/components/tablist/stories/index.js
  assets/src/edit-story/components/tablist/styles.js
  assets/src/edit-story/components/tablist/tablistPanel.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Enhancement, cla: yes

#7970 Use register_block_type_from_metadata function
  assets/src/web-stories-block/block/block.js
  assets/src/web-stories-block/block/index.js
  assets/src/web-stories-block/block/transforms.js
  blocks/embed/block.json
  includes/Block/Web_Stories_Block.php
  package-lock.json
  tests/phpunit/tests/Block/Web_Stories_Block.php
Labels: Group: WordPress, P4, Pod: WP & Infra, Type: Enhancement, cla: yes

#8166 Disable cross-origin isolation for contributors
  assets/src/edit-story/app/media/test/useUploadMedia.js
  assets/src/edit-story/app/media/useUploadMedia.js
  assets/src/edit-story/app/media/utils/test/useFFmpeg.js
  assets/src/edit-story/app/media/utils/useFFmpeg.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/index.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/test/useMediaUploadQueue.js
  assets/src/edit-story/components/checklist/checklistContent/priorityChecks.js
  assets/src/edit-story/components/library/panes/media/local/mediaPane.js
  includes/Admin/Cross_Origin_Isolation.php
  tests/phpunit/tests/Admin/Cross_Origin_Isolation.php
  tests/phpunit/tests/User/Preferences.php
Labels: Group: WordPress, Group: Workspace, Pod: WP & Infra, Type: Bug, cla: yes

#8189 Workflows: Use built-in cache support in `actions/setup-node`
  .github/workflows/build-and-deploy.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/lint-css-js-md.yml
  .github/workflows/lint-i18n.yml
  .github/workflows/plugin-release.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-karma-dashboard.yml
  .github/workflows/tests-karma-editor.yml
  .github/workflows/tests-unit-js.yml
  .github/workflows/update-google-fonts.yml
  .github/workflows/update-templates.yml
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#8188 User Preferences: Fix `auth_callback` permission check
  includes/User/Preferences.php
  tests/phpunit/tests/User/Preferences.php
Labels: Group: WordPress, PHP, Pod: WP & Infra, Type: Infrastructure, cla: yes

#8169 Ensure `rel=canonical` exists for drafts
  includes/AMP/Canonical_Sanitizer.php
  tests/phpunit/tests/AMP/Canonical_Sanitizer.php
Labels: AMP Output, Group: WordPress, Pod: WP & Infra, Type: Enhancement, cla: yes

#8191 Code Quality: Fix ref in Font Picker
  assets/src/edit-story/components/panels/design/textStyle/font.js
  assets/src/edit-story/components/panels/design/textStyle/fontPicker.js
Labels: Pod: Pea, Type: Code Quality, cla: yes

#8194 Update AMP Plugin & Toolbox to 2.1.3 / 0.6.0
  composer.json
  composer.lock
  includes/AMP/Optimization.php
  tests/phpunit/tests/AMP/Optimization.php
  web-stories.php
Labels: AMP Output, P1, Pod: WP & Infra, Type: Enhancement, cla: yes

#8203 Dashboard: fail if media response is not an array
  assets/src/dashboard/app/api/useMediaApi.js
  assets/src/dashboard/app/serializers/test/publisherLogo.js
  assets/src/dashboard/app/serializers/test/stories.js
Labels: Group: Dashboard, Group: Settings, Type: Bug, cla: yes

#8214 Ensure SVG sizes are integers
  includes/Media/SVG.php
  tests/phpunit/data/why.svg
  tests/phpunit/tests/Media/SVG.php
Labels: Group: Media, Pod: WP & Infra, Type: Code Quality, cla: yes

#8219 Update e2e test to 5.8-rc2
  .github/workflows/tests-e2e.yml
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#8220 Remove `id` attributes from existing templates
  docs/external-template-creation.md
  packages/templates/src/raw/doers-get-more-done/template.json
  packages/templates/src/raw/experience-thailand/template.json
  packages/templates/src/raw/fashion-on-the-go/template.json
  packages/templates/src/raw/food-and-stuff/template.json
  packages/templates/src/raw/fresh-and-bright/template.json
  packages/templates/src/raw/no-days-off/template.json
  packages/templates/src/raw/sleep/template.json
  packages/templates/src/raw/weekly-entertainment/template.json
  packages/templates/src/test/raw.js
Labels: Group: Templates, Package: Templates, cla: yes

#8223 Fix E2E tests in WordPress 5.8
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/insertBlock.js
Labels: P2, Package: E2E Test Utils, Package: E2E Tests, Pod: WP & Infra, Type: Enhancement, Type: Infrastructure, cla: yes

#8215 E2E Tests: Improve flakey .mov insertion test
  packages/e2e-tests/src/specs/editor/media/insertMovVideo.js
Labels: Package: E2E Tests, Pod: WP & Infra, Type: Code Quality, cla: yes

#8212 PPC 2.0: Fix accessibility issues in the new checklist
  assets/src/edit-story/components/carousel/carouselPage.js
  assets/src/edit-story/components/checklist/checklist.js
  assets/src/edit-story/components/checklist/styles.js
  assets/src/edit-story/components/helpCenter/navigator/topNavigation.js
  assets/src/edit-story/components/inspector/prepublish/components/autoVideoOptimization.js
  assets/src/edit-story/components/tablist/styles.js
  assets/src/edit-story/components/tablist/tablistPanel.js
  assets/src/edit-story/masks/display.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Code Quality, cla: yes

#8178 PPC 2.0: Add tests and update existing tests for new checklist
  assets/src/edit-story/components/checklist/checkpointContext/test/checkpointContext.js
  assets/src/edit-story/components/checklist/karma/checklist.karma.js
  assets/src/edit-story/components/checklistCard/checklistCard.js
  assets/src/edit-story/components/tablist/tablistPanel.js
  assets/src/edit-story/karma/fixture/containers/checklist.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Code Quality, cla: yes

#8213 Bugfix: Prevent 2 popups open at once in carousel
  assets/src/edit-story/components/carousel/carouselContainer.js
  assets/src/edit-story/components/carousel/karma/popups.karma.js
  assets/src/edit-story/components/carousel/secondaryMenu.js
  assets/src/edit-story/components/keyboardShortcutsMenu/index.js
  assets/src/edit-story/components/keyboardShortcutsMenu/karma/keyboardShortcuts.karma.js
  assets/src/edit-story/components/keyboardShortcutsMenu/keyboardShortcutsMenuContext/context.js
  assets/src/edit-story/components/keyboardShortcutsMenu/keyboardShortcutsMenuContext/index.js
  assets/src/edit-story/components/keyboardShortcutsMenu/keyboardShortcutsMenuContext/provider.js
  assets/src/edit-story/components/keyboardShortcutsMenu/keyboardShortcutsMenuContext/useKeyboardShortcutsMenu.js
  assets/src/edit-story/karma/fixture/containers/carousel.js
  assets/src/edit-story/karma/fixture/containers/editor.js
  assets/src/edit-story/karma/fixture/containers/keyboardShortcuts.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Bug, cla: yes

#8226 PPC: Video Optimization Bulk Optimize Button Count
  assets/src/edit-story/components/checklist/checks/videoOptimization.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Enhancement, cla: yes

#8099 Render "sizes" attribute for amp-img
  assets/src/edit-story/elements/image/output.js
  assets/src/edit-story/elements/image/test/output.js
  includes/KSES.php
  tests/phpunit/tests/KSES.php
Labels: AMP Output, Type: Bug, cla: yes

#8165 Ad Manager: support MCM slot IDs
  assets/src/dashboard/utils/test/validateAdManagerSlotIdFormat.js
  assets/src/dashboard/utils/validateAdManagerSlotIdFormat.js
Labels: Group: Dashboard, Group: Settings, Type: Enhancement, cla: yes

#8176 Set PPC video optimization feature flag to true
  includes/Experiments.php
Labels: Group: Video Optimization, Pod: Pea, Type: Code Quality, cla: yes

#8207 Mute story player when closing lightbox
  packages/stories-lightbox/src/web-stories-lightbox.js
Labels: Group: Blocks, Pod: WP & Infra, Type: Bug, cla: yes

#8227 AMP Sanitization: Never remove `amp` attribute
  includes/AMP/Traits/Sanitization_Utils.php
  includes/Renderer/Story/HTML.php
  tests/phpunit/tests/AMP/Story_Sanitizer.php
  tests/phpunit/tests/Renderer/Story/HTML.php
Labels: AMP Output, Pod: Pea, Type: Enhancement, cla: yes

#8067 Editor: crop story poster image and publisher logo upon selection
  assets/src/edit-story/components/form/media.js
  assets/src/edit-story/components/mediaPicker/test/useMediaPicker.js
  assets/src/edit-story/components/mediaPicker/useMediaPicker.js
  assets/src/edit-story/components/mediaPicker/utils/calculateImageSelectOptions.js
  assets/src/edit-story/components/mediaPicker/utils/index.js
  assets/src/edit-story/components/mediaPicker/utils/mustBeCropped.js
  assets/src/edit-story/components/mediaPicker/utils/test/calculateImageSelectOptions.js
  assets/src/edit-story/components/mediaPicker/utils/test/mustBeCropped.js
  assets/src/edit-story/components/panels/design/link/link.js
  assets/src/edit-story/components/panels/design/videoAccessibility/karma/videoPoster.karma.js
  assets/src/edit-story/components/panels/design/videoAccessibility/test/videoAccessibility.js
  assets/src/edit-story/components/panels/design/videoAccessibility/videoAccessibility.js
  assets/src/edit-story/components/panels/document/publish/publish.js
Labels: Group: Document Panel, Group: Media, Group: WordPress, P1, Pod: WP & Infra, Type: Enhancement, cla: yes

#8216 Improve handling of `blob:` URLs and uploads in progress
  assets/src/edit-story/app/media/local/useContextValueProvider.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/index.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/test/useMediaUploadQueue.js
  assets/src/edit-story/elements/gif/output.js
  assets/src/edit-story/elements/gif/test/output.js
  assets/src/edit-story/elements/image/output.js
  assets/src/edit-story/elements/image/test/output.js
  assets/src/edit-story/elements/video/output.js
  assets/src/edit-story/elements/video/test/output.js
  includes/AMP/Integration/AMP_Story_Sanitizer.php
  includes/AMP/Story_Sanitizer.php
  includes/AMP/Traits/Sanitization_Utils.php
  packages/media/src/blob/index.js
  tests/phpunit/tests/AMP/Story_Sanitizer.php
Labels: Group: Media, Pod: WP & Infra, Type: Bug, cla: yes

#8235 Video Optimization: ensure original file name is kept
  packages/media/src/getFileName.js
  packages/media/src/test/getFileName.js
Labels: Elements: Video, Group: Media, Group: Video Optimization, Pod: WP & Infra, Type: Bug, cla: yes

#8118 Text presets: smart color
  assets/src/edit-story/components/canvas/karma/rtl.karma.js
  assets/src/edit-story/components/canvas/karma/selection.karma.js
  assets/src/edit-story/components/library/libraryProvider.js
  assets/src/edit-story/components/library/panes/pageTemplates/karma/pageTemplatesPane.karma.js
  assets/src/edit-story/components/library/panes/text/karma/textPane.karma.js
  assets/src/edit-story/components/library/panes/text/textIcon.js
  assets/src/edit-story/components/library/panes/text/textPane.js
  assets/src/edit-story/components/library/panes/text/textPresets.js
  assets/src/edit-story/components/library/panes/text/useInsertPreset.js
  assets/src/edit-story/components/library/test/text/textPane.js
  assets/src/edit-story/components/library/test/text/textTab.js
  assets/src/edit-story/components/panels/design/alignment/karma/alignment.karma.js
  assets/src/edit-story/components/panels/design/animation/karma/animation.karma.js
  assets/src/edit-story/components/panels/design/border/karma/border.karma.js
  assets/src/edit-story/components/panels/design/borderRadius/karma/borderRadius.karma.js
  assets/src/edit-story/components/panels/design/link/karma/link.karma.js
  assets/src/edit-story/components/panels/design/preset/karma/colorPickerActions.karma.js
  assets/src/edit-story/components/panels/design/preset/karma/colorPresets.karma.js
  assets/src/edit-story/components/panels/design/preset/karma/stylePresets.karma.js
  assets/src/edit-story/components/panels/design/sizePosition/karma/sizePosition.karma.js
  assets/src/edit-story/components/panels/design/textStyle/karma/textStyle.other.karma.js
  assets/src/edit-story/components/richText/karma/_utils.js
  assets/src/edit-story/components/richText/karma/multiSelection.karma.js
  assets/src/edit-story/elements/text/karma/edit.karma.js
  assets/src/edit-story/utils/contrastUtils.js
  assets/src/edit-story/utils/usePageAsCanvas.js
  includes/Experiments.php
  package-lock.json
  package.json
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#8242 Block: Uncontrolled input warning
  assets/src/web-stories-block/block/components/storiesInspectorControls.js
  packages/e2e-tests/src/specs/wordpress/webStoriesBlock.js
Labels: Group: Blocks, Group: WordPress, P2, Pod: WP & Infra, Type: Bug, cla: yes

#7961 Add eyedropper
  assets/src/edit-story/app/canvas/canvasProvider.js
  assets/src/edit-story/components/canvas/canvasLayout.js
  assets/src/edit-story/components/canvas/eyedropperLayer.js
  assets/src/edit-story/components/canvas/layout.js
  assets/src/edit-story/components/canvas/utils/getColorFromPixelData.js
  assets/src/edit-story/components/colorPicker/colorPicker.js
  assets/src/edit-story/components/colorPicker/currentColorPicker.js
  assets/src/edit-story/components/colorPicker/eyedropper.js
  assets/src/edit-story/components/colorPicker/karma/eyedropper.karma.js
  assets/src/edit-story/components/form/color/colorInput.js
  assets/src/edit-story/components/popup/index.js
  assets/src/edit-story/karma/fixture/containers/common/color.js
  includes/Experiments.php
  package-lock.json
Labels: Group: Workspace, Pod: Prometheus, Type: Enhancement, cla: yes

#8252 Check for `posterId` in `useProcessMedia`
  assets/src/edit-story/app/media/utils/useProcessMedia.js
Labels: Elements: GIF, Elements: Video, Group: Video Optimization, Pod: WP & Infra, Type: Enhancement, cla: yes

#8250 Video optimization: Video changes dimensions when processing start
  assets/src/edit-story/app/media/utils/useProcessMedia.js
Labels: Elements: Video, Group: Video Optimization, P2, Pod: WP & Infra, Type: Bug, cla: yes

#8236 Media: ensure mime types list is an array
  includes/Traits/Types.php
Labels: Group: Media, Pod: WP & Infra, Type: Code Quality, cla: yes

#8256 Code Quality: Fix ref in Font Picker (Attempt 2)
  assets/src/edit-story/components/panels/design/textStyle/test/textStyle.js
Labels: Pod: Pea, Type: Code Quality, cla: yes

#8229 Enable GIF optimization by default
  includes/Experiments.php
Labels: Elements: GIF, Group: Media, Group: Video Optimization, Pod: WP & Infra, cla: yes

#8258 Perf: Reduce FontPicker impact on text selection latency
  assets/src/edit-story/components/panels/design/textStyle/fontPicker.js
Labels: Group: Design Panel, Group: Fonts, Group: Selection, Type: Performance, cla: yes

#8263 Fix eyedropper style
  assets/src/edit-story/components/colorPicker/currentColorPicker.js
Labels: Pod: Prometheus, Type: Bug, cla: yes

#8267 Fix block interaction issues on mobile
  assets/src/web-stories-block/css/core-themes/twentytwentyone.css
  assets/src/web-stories-block/css/lightbox.css
Labels: Browser Issues, Group: Blocks, Pod: WP & Infra, Type: Bug, Type: UX Quality, cla: yes

#8291 Use get_base_url method
  includes/Admin/Activation_Notice.php
  includes/Admin/Dashboard.php
  includes/Admin/Editor.php
  includes/Admin/TinyMCE.php
  includes/Block/Web_Stories_Block.php
Labels: Pod: WP & Infra, Type: Code Quality, cla: yes

#8277 Dev Tools: Add Template checkbox to prepare JSON for export as template
  assets/src/edit-story/components/devTools/devTools.js
  docs/external-template-creation.md
Labels: Group: Templates, Type: Enhancement, cla: yes

#8287 Code Quality: Address excess re-render of `updateCurrentUser`
  assets/src/edit-story/app/helpCenter/provider.js
Labels: Group: FTUE, Pod: Pea, Type: Code Quality, cla: yes

#8288 Add embed post link to REST API
  assets/src/edit-story/app/story/actions/useSaveStory.js
  assets/src/edit-story/app/story/effects/useLoadStory.js
  assets/src/edit-story/components/header/buttons/index.js
  assets/src/edit-story/components/header/postPublishDialog.js
  assets/src/edit-story/components/header/test/buttons.js
  includes/REST_API/Stories_Controller.php
  tests/phpunit/tests/REST_API/Stories_Controller.php
Labels: Pod: WP & Infra, Type: Code Quality, Type: Infrastructure, cla: yes

#8268 REST API: Add post edit link to stories
  assets/src/dashboard/app/api/apiProvider.js
  assets/src/dashboard/app/api/test/apiProvider.js
  assets/src/dashboard/app/api/useStoryApi.js
  assets/src/dashboard/app/reducer/stories.js
  assets/src/dashboard/app/serializers/stories.js
  assets/src/dashboard/app/serializers/test/stories.js
  assets/src/dashboard/dataUtils/formattedStoriesArray.js
  assets/src/dashboard/karma/fixture.js
  assets/src/edit-story/app/story/actions/useSaveStory.js
  assets/src/edit-story/app/story/effects/useLoadStory.js
  assets/src/edit-story/components/header/buttons/publish.js
  assets/src/edit-story/components/header/test/buttons.js
  assets/src/edit-story/utils/useRefreshPostEditURL.js
  assets/src/web-stories-block/block/api/apiProvider.js
  assets/src/web-stories-block/block/api/useStoryApi.js
  includes/Admin/Dashboard.php
  includes/Block/Web_Stories_Block.php
  includes/REST_API/Stories_Controller.php
  tests/phpunit/tests/REST_API/Stories_Controller.php
Labels: Group: Dashboard, Group: WordPress, Group: Workspace, Pod: WP & Infra, Type: Code Quality, Type: Enhancement, cla: yes

#8317 Memoize help center components
  assets/src/edit-story/components/helpCenter/companion/index.js
  assets/src/edit-story/components/helpCenter/index.js
  assets/src/edit-story/components/helpCenter/navigator/index.js
  assets/src/edit-story/components/helpCenter/navigator/stories/index.js
Labels: Group: FTUE, Type: Performance, cla: yes

#8313 Memoize SVG React components
  .storybook/main.cjs
  assets/src/web-stories-block/block/block-types/story-embed-block/edit.js
  assets/src/web-stories-block/block/edit.js
  assets/src/web-stories-block/block/index.js
  webpack.config.cjs
Labels: Pod: WP & Infra, Type: Infrastructure, Type: Performance, cla: yes

#8319 Add changelog for 1.9.0 release
  readme.txt
Labels: Type: Documentation, Type: Release, cla: yes

#8322 Pre-Publish Checklist: Update selectors in checks
  assets/src/edit-story/components/checklist/checks/elementLinkTappableRegionTooSmall.js
  assets/src/edit-story/components/checklist/checks/imageElementMissingAlt.js
  assets/src/edit-story/components/checklist/checks/imageElementResolution.js
  assets/src/edit-story/components/checklist/checks/pageBackgroundLowTextContrast/component.js
  assets/src/edit-story/components/checklist/checks/pageTooLittleText.js
  assets/src/edit-story/components/checklist/checks/pageTooManyLinks.js
  assets/src/edit-story/components/checklist/checks/pageTooMuchText.js
  assets/src/edit-story/components/checklist/checks/publisherLogoSize.js
  assets/src/edit-story/components/checklist/checks/storyMissingExerpt.js
  assets/src/edit-story/components/checklist/checks/storyMissingTitle.js
  assets/src/edit-story/components/checklist/checks/storyPagesCount.js
  assets/src/edit-story/components/checklist/checks/storyPosterAspectRatio.js
  assets/src/edit-story/components/checklist/checks/storyPosterAttached.js
  assets/src/edit-story/components/checklist/checks/storyPosterPortraitSize.js
  assets/src/edit-story/components/checklist/checks/storyTitleLength.js
  assets/src/edit-story/components/checklist/checks/test/publisherLogoSize.js
  assets/src/edit-story/components/checklist/checks/test/storyMissingExcerpt.js
  assets/src/edit-story/components/checklist/checks/test/storyMissingTitle.js
  assets/src/edit-story/components/checklist/checks/test/storyPagesCount.js
  assets/src/edit-story/components/checklist/checks/test/storyPosterAspectRatio.js
  assets/src/edit-story/components/checklist/checks/test/storyPosterPortraitSize.js
  assets/src/edit-story/components/checklist/checks/test/storyTitleLength.js
  assets/src/edit-story/components/checklist/checks/textElementFontSizeTooSmall.js
  assets/src/edit-story/components/checklist/checks/videoElementLength.js
  assets/src/edit-story/components/checklist/checks/videoElementMissingCaptions.js
  assets/src/edit-story/components/checklist/checks/videoElementMissingDescription.js
  assets/src/edit-story/components/checklist/checks/videoElementMissingPoster.js
  assets/src/edit-story/components/checklist/checks/videoElementResolution.js
  assets/src/edit-story/components/checklist/checks/videoOptimization.js
  assets/src/edit-story/components/checklist/utils/filterStoryElements.js
  assets/src/edit-story/components/checklist/utils/filterStoryPages.js
  assets/src/edit-story/components/checklist/utils/test/filterStoryElements.js
  assets/src/edit-story/components/checklist/utils/test/filterStoryPages.js
Labels: Pod: Pea, Type: Code Quality, Type: Performance, cla: yes

#8324 Dashboard: remove usage of `stripHTML`
  assets/src/dashboard/app/views/myStories/karma/myStories.karma.js
  assets/src/dashboard/app/views/templateDetails/karma/templateDetails.karma.js
Labels: Package: Dashboard, Pod: Pea, Type: Code Quality, cla: yes

#8326 Change E2E test to run on WP 5.8-RC3
  .github/workflows/tests-e2e.yml
Labels: cla: yes

#8314 Make `setCurrentPage` no-op if page is already selected
  assets/src/edit-story/app/story/useStoryReducer/reducers/setCurrentPage.js
  assets/src/edit-story/app/story/useStoryReducer/test/setCurrentPage.js
  assets/src/edit-story/components/canvas/karma/carousel.karma.js
Labels: Group: Workspace, Pod: WP & Infra, Type: Performance, cla: yes

#8332 Quick action menu: remove feature flag
  assets/src/edit-story/components/canvas/karma/quickActions.karma.js
  assets/src/edit-story/components/canvas/navLayer.js
  includes/Experiments.php
Labels: Group: Quick Action Menu, Pod: Pea, Type: Enhancement, cla: yes

#8341 Dashboard: remove usage of `getResourceFromLocalFile`
  assets/src/dashboard/app/views/editorSettings/publisherLogo/stories/index.js
  assets/src/dashboard/utils/index.js
Labels: Package: Dashboard, Pod: Pea, Type: Code Quality, cla: yes

#8329 Video Optimization: Improve snackbar message upon failure
  assets/src/edit-story/app/media/useUploadMedia.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/index.js
Labels: Group: Video Optimization, P2, Pod: WP & Infra, Type: Bug, cla: yes

#8343 PPC 2.0: thumbnails in checklist ignore page background
  assets/src/edit-story/components/thumbnail/styles.js
Labels: Bug Bash: 1.9, Group: Pre-Publish Checklist, Pod: Pea, Type: Bug, cla: yes

#8274 Dashboard: Now with Poster Images and Faster Content Rendering
  assets/src/dashboard/app/api/test/apiProvider.js
  assets/src/dashboard/app/serializers/stories.js
  assets/src/dashboard/app/views/myStories/content/index.js
  assets/src/dashboard/app/views/myStories/content/listView/index.js
  assets/src/dashboard/app/views/myStories/content/stories/index.js
  assets/src/dashboard/app/views/myStories/content/storiesView/index.js
  assets/src/dashboard/app/views/myStories/content/storyGridItem/index.js
  assets/src/dashboard/app/views/myStories/content/storyGridView/index.js
  assets/src/dashboard/app/views/myStories/content/storyGridView/stories/index.js
  assets/src/dashboard/app/views/myStories/index.js
  assets/src/dashboard/app/views/myStories/karma/myStories.karma.js
  assets/src/dashboard/app/views/shared/index.js
  assets/src/dashboard/components/cardGrid/index.js
  assets/src/dashboard/components/cardGrid/stories/index.js
  assets/src/dashboard/components/cardGridItem/index.js
  assets/src/dashboard/components/cardGridItem/stories/index.js
  assets/src/dashboard/components/cardGridItem/storyCardPreview.js
  assets/src/dashboard/components/index.js
  assets/src/dashboard/components/scrollToTop/index.js
  assets/src/dashboard/components/storyMenu/index.js
  assets/src/dashboard/components/storyMenu/test/storyMenu.js
  assets/src/dashboard/dataUtils/formattedStoriesArray.js
  assets/src/dashboard/utils/usePagePreviewSize.js
  packages/design-system/src/theme/colors.js
Labels: Group: Dashboard, Pod: Pea, Type: Performance, cla: yes

#8270 Animation: Add opacity to scale in animation
  packages/animation/src/effects/zoom/index.js
Labels: Package: Animation, Pod: Pea, cla: yes

#8333 Prettier Loading Screens
  assets/src/dashboard/style.css
  assets/src/edit-story/style.css
Labels: Pod: Pea, Type: Enhancement, cla: yes

#8340 Mark Coverr videos as having no sound
  assets/src/edit-story/app/media/local/test/useContextValueProvider.js
  assets/src/edit-story/app/media/media3p/api/test/useMedia3pApi.js
  assets/src/edit-story/app/media/utils/getResourceFromMedia3p.js
  assets/src/edit-story/app/media/utils/test/getResourceFromMedia3p.js
  assets/src/edit-story/components/checklist/checks/videoElementMissingCaptions.js
  assets/src/edit-story/elements/video/display.js
  assets/src/edit-story/elements/video/output.js
  assets/src/edit-story/elements/video/test/output.js
  packages/media/src/createResource.js
  packages/migration/src/migrate.js
  packages/migration/src/migrations/test/v0030_mark3pVideoAsMuted.js
  packages/migration/src/migrations/v0030_mark3pVideoAsMuted.js
Labels: Group: 3P Media, Group: Pre-Publish Checklist, P2, Pod: WP & Infra, Type: Enhancement, cla: yes

#8331 Media Library: Hide edit/delete options if lacking permissions
  assets/src/edit-story/components/library/panes/media/common/mediaElement.js
  assets/src/edit-story/components/library/panes/media/common/mediaGallery.js
  assets/src/edit-story/components/library/panes/media/common/paginatedMediaGallery.js
  assets/src/edit-story/components/library/panes/media/local/mediaPane.js
  assets/src/edit-story/components/library/test/mediaElement.js
Labels: Group: Library, Group: Media, P2, Pod: WP & Infra, Type: Enhancement, cla: yes

#8365 Use WP 5.8-RC4 for E2E Test
  .github/workflows/tests-e2e.yml
Labels: Package: E2E Tests, Pod: WP & Infra, cla: yes

#8177 Pre-Publish Checklist: Remove video optimization feature flag
  assets/src/edit-story/components/checklist/checks/videoOptimization.js
  includes/Experiments.php
Labels: Group: Video Optimization, Pod: Pea, Type: Code Quality, cla: yes

#8273 Settings: Optimize publisher logos image sizes
  assets/src/dashboard/app/views/editorSettings/components.js
Labels: Group: Settings, Pod: Pea, cla: yes

#8366 Output: add amp-video extension for gif elements
  assets/src/edit-story/output/utils/getUsedAmpExtensions.js
  assets/src/edit-story/output/utils/test/getUsedAmpExtensions.js
Labels: AMP Output, Type: Enhancement, cla: yes

#7742 Dynamically import polyfills for Safari
  assets/src/dashboard/index.js
  assets/src/dashboard/publicPath.js
  assets/src/edit-story/components/colorPicker/eyedropper.js
  assets/src/edit-story/components/helpCenter/navigator/index.js
  assets/src/edit-story/components/helpCenter/navigator/utils.js
  assets/src/edit-story/components/library/panes/text/textPane.js
  assets/src/edit-story/index.js
  assets/src/edit-story/publicPath.js
  assets/src/web-stories-block/index.js
  assets/src/web-stories-block/publicPath.js
  packages/animation/src/components/provider.js
  packages/design-system/src/theme/global/overrideFocusOutline.js
  packages/design-system/src/utils/useResizeEffect.js
  tests/js/setup-globals.js
Labels: Browser Issues, Type: Code Quality, Type: Performance, cla: yes

#8316 Prevent some unnecessary re-renders in design panel / story provider
  assets/src/edit-story/app/story/storyProvider.js
  assets/src/edit-story/components/inspector/design/useDesignPanels.js
Labels: Group: Workspace, Type: Performance, cla: yes

#8370 Prevent duplicate image sources and ensure correct types
  includes/AMP/Integration/AMP_Story_Sanitizer.php
  includes/AMP/Story_Sanitizer.php
  includes/AMP/Traits/Sanitization_Utils.php
  packages/media/src/calculateSrcSet.js
  packages/media/src/createResource.js
  packages/media/src/normalizeResourceSizes.js
  packages/media/src/test/calculateSrcSet.js
  packages/media/src/test/normalizeResourceSizes.js
  packages/migration/src/migrate.js
  packages/migration/src/migrations/test/v0031_normalizeResourceSizes.js
  packages/migration/src/migrations/v0031_normalizeResourceSizes.js
  tests/phpunit/tests/AMP/Story_Sanitizer.php
Labels: AMP Output, Group: Media, Pod: WP & Infra, Type: Bug, cla: yes

#8385 DevTools: Add 'pageTemplateType' property to all page elements
  assets/src/edit-story/components/devTools/devTools.js
Labels: Type: Enhancement, cla: yes

#8384 Ensure `amp-video` v0.1 is being used
  includes/AMP/Sanitization.php
  tests/phpunit/tests/AMP/Sanitization.php
Labels: AMP Output, Pod: WP & Infra, Type: Bug, cla: yes

#8389 Always pass selector to `useStory()`/`useCurrentUser()`
  assets/src/edit-story/app/media/utils/useFFmpeg.js
  assets/src/edit-story/components/devTools/devTools.js
  assets/src/edit-story/components/panels/design/pageBackground/pageBackground.js
  assets/src/edit-story/components/postLock/postLock.js
Labels: Type: Code Quality, Type: Performance, cla: yes

#8386 Fix I18N lint workflow
  .github/workflows/lint-i18n.yml
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#8337 Preview: Ensure filter is masked
  assets/src/edit-story/output/element.js
Labels: Pod: Prometheus, Type: Bug, cla: yes

#8393 Use `rest_is_field_included` function in REST API controllers.
  includes/REST_API/Autosaves_Controller.php
  includes/REST_API/Embed_Controller.php
  includes/REST_API/Link_Controller.php
  includes/REST_API/Lock_Controller.php
  includes/REST_API/Status_Check_Controller.php
  includes/REST_API/Stories_Base_Controller.php
  includes/REST_API/Stories_Controller.php
Labels: P2, PHP, Pod: WP & Infra, Type: Code Quality, Type: Enhancement, cla: yes

#8361 Pre-Publish Checklist: Limit story poster check to 1 at a time
  assets/src/edit-story/components/checklist/checklistContent/priorityChecks.js
  assets/src/edit-story/components/checklist/checks/storyPosterPortraitSize.js
  assets/src/edit-story/components/checklist/checks/storyPosterSize.js
  assets/src/edit-story/components/checklist/checks/test/storyPosterAspectRatio.js
  assets/src/edit-story/components/checklist/checks/test/storyPosterSize.js
  assets/src/edit-story/components/checklist/constants.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Enhancement, cla: yes

#8360 Move AMP sanitization to output buffer
  .phpstorm.meta.php
  includes/AMP/Output_Buffer.php
  includes/AMP/Sanitization.php
  includes/Admin/Cross_Origin_Isolation.php
  includes/Exception/FailedToMakeInstance.php
  includes/Exception/InvalidEventProperties.php
  includes/Exception/InvalidService.php
  includes/Exception/SanitizationException.php
  includes/Infrastructure/Conditional.php
  includes/Integrations/New_Relic.php
  includes/Plugin.php
  includes/Renderer/Story/HTML.php
  includes/templates/frontend/single-web-story.php
  phpstan.neon.dist
  scoper.inc.php
  tests/phpunit/bootstrap.php
  tests/phpunit/tests/AMP/Output_Buffer.php
  tests/phpunit/tests/AMP/Sanitization.php
  tests/phpunit/tests/Admin/Cross_Origin_Isolation.php
  tests/phpunit/tests/Integrations/New_Relic.php
  tests/phpunit/tests/Media/SVG.php
  tests/phpunit/tests/REST_API/Autosaves_Controller.php
  tests/phpunit/tests/REST_API/Embed_Controller.php
  tests/phpunit/tests/REST_API/Link_Controller.php
  tests/phpunit/tests/REST_API/Stories_Controller.php
  tests/phpunit/tests/Renderer/Story/HTML.php
Labels: AMP Output, Group: WordPress, Pod: WP & Infra, Type: Enhancement, cla: yes

#8400 E2E Tests: run against WordPress 5.8 stable
  .github/workflows/tests-e2e.yml
  packages/e2e-test-utils/src/minWPVersionRequired.js
  packages/e2e-tests/src/specs/wordpress/blockWidget.js
Labels: P2, Package: E2E Test Utils, Package: E2E Tests, Pod: WP & Infra, Type: Infrastructure, cla: yes

#8225 Bug: PPCv2.0 Checklist Panel Focus Border
  assets/src/edit-story/components/checklistCard/styles.js
  assets/src/edit-story/components/tablist/styles.js
  assets/src/edit-story/components/tablist/tablistPanel.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Bug, cla: yes

#8403 Update composer dependencies
  composer.json
  composer.lock
  scoper.inc.php
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#8342 Mark videos in templates as having no sound
  packages/templates/src/raw/baking-bread-guide/template.json
  packages/templates/src/raw/belly-fat-workout/template.json
  packages/templates/src/raw/kitchen-stories/template.json
  packages/templates/src/raw/pizzas-in-nyc/template.json
  packages/templates/src/raw/sangria-artichoke/template.json
  packages/templates/src/test/raw.js
Labels: Group: Templates, P2, Package: Templates, Type: Enhancement, cla: yes

#8437 Media: Replace `wp_get_object_terms()` with `get_the_terms()`
  includes/Media/Media.php
Labels: Group: WordPress, Pod: WP & Infra, Type: Code Quality, Type: Performance, cla: yes

#8387 Cross-Origin Isolation: do not use `DOMDocument` for DOM manipulation
  includes/Admin/Cross_Origin_Isolation.php
  tests/phpunit/data/cross_origin_content.html
  tests/phpunit/tests/Admin/Cross_Origin_Isolation.php
Labels: Group: Editing, Group: Video Optimization, Pod: WP & Infra, Type: Bug, Type: Performance, cla: yes

#8416 Right Click Menu: Fix broken test that was skipped
  assets/src/edit-story/karma/fixture/containers/rightClickMenu.js
Labels: Group: Context Menu, Pod: Pea, Type: Code Quality, cla: yes

#8438 Media: Simplify REST API schema to reduce database queries
  includes/REST_API/Stories_Media_Controller.php
  tests/phpunit/tests/REST_API/Stories_Media_Controller.php
Labels: Group: WordPress, Pod: WP & Infra, Type: Enhancement, Type: Performance, cla: yes

#8092 Story Ad Tool: Ad assets for new ad template
  public/static/main/images/templates/ad-with-multiple-images/page01_bg.mp4
Labels: Status: Blocked, Website, cla: yes

#8345 Dashboard: Snackbars for Successful Setting Saves
  assets/src/dashboard/app/api/useApiAlerts.js
  assets/src/dashboard/app/api/useMediaApi.js
  assets/src/dashboard/app/api/useSettingsApi.js
  assets/src/dashboard/app/reducer/settings.js
  assets/src/dashboard/app/reducer/test/settings.js
  assets/src/dashboard/app/textContent/index.js
  assets/src/dashboard/app/views/editorSettings/karma/editorSettings.karma.js
  assets/src/dashboard/app/views/shared/useMediaOptimization.js
  assets/src/dashboard/app/views/shared/useTelemetryOptIn.js
  assets/src/dashboard/karma/apiProviderFixture.js
Labels: Group: Dashboard, Pod: Pea, Type: Enhancement, cla: yes

#8415 Dashboard: Template Details UI follow up
  assets/src/dashboard/app/views/templateDetails/components.js
  assets/src/dashboard/app/views/templateDetails/content/detailsGallery/index.js
  assets/src/dashboard/components/cardGallery/components.js
  assets/src/dashboard/components/cardGallery/index.js
  assets/src/dashboard/components/cardGallery/test/cardGallery.js
Labels: Package: Dashboard, Pod: Pea, Type: Enhancement, cla: yes

#8454 Ad Templates: Add video poster image
  public/static/main/images/templates/ad-with-multiple-images/page01_bg-poster.jpg
Labels: Group: Templates, Package: Templates, Website, cla: yes

#8338 Auto-advancement: use media length over default duration
  assets/src/edit-story/output/page.js
  assets/src/edit-story/output/test/page.js
Labels: Pod: Prometheus, Type: Bug, Type: Enhancement, cla: yes

#8358 Use 3:4 ratio for displaying poster image
  assets/src/edit-story/components/panels/design/videoAccessibility/videoAccessibility.js
  assets/src/edit-story/components/panels/document/publish/publish.js
  packages/design-system/src/components/mediaInput/index.js
Labels: Pod: Prometheus, Type: Bug, cla: yes

#8436 Add filter for Ad Manager configuration
  includes/Ad_Manager.php
Labels: AMP Output, Group: WordPress, Monetization, Type: Enhancement, cla: yes

#8397 Dashboard: Make card preview more similar to Google Search/Discover
  assets/src/dashboard/app/views/myStories/content/stories/index.js
  assets/src/dashboard/app/views/myStories/content/storyGridItem/components.js
  assets/src/dashboard/app/views/myStories/content/storyGridItem/index.js
  assets/src/dashboard/app/views/myStories/content/storyGridItem/storyDisplayContent.js
  assets/src/dashboard/app/views/myStories/content/test/content.js
  assets/src/dashboard/app/views/myStories/content/test/storiesView.js
  assets/src/dashboard/app/views/myStories/karma/myStories.karma.js
  assets/src/dashboard/components/cardGridItem/index.js
  assets/src/dashboard/components/cardGridItem/storyCardPreview.js
  assets/src/dashboard/components/index.js
  assets/src/dashboard/components/inlineInputForm/index.js
  assets/src/dashboard/components/popoverMenu/story-menu-generator.js
  assets/src/dashboard/components/storyMenu/index.js
  assets/src/dashboard/storybookUtils/index.js
  packages/design-system/src/theme/colors.js
  packages/e2e-tests/src/specs/wordpress/postLocking.js
Labels: Group: Dashboard, Pod: Pea, Type: Enhancement, cla: yes

#8498 Code Quality: Remove some unused constants and exports
  assets/src/dashboard/app/index.js
  assets/src/dashboard/constants/direction.js
  assets/src/dashboard/constants/index.js
  assets/src/dashboard/constants/pageStructure.js
  assets/src/dashboard/constants/settings.js
  assets/src/dashboard/constants/stories.js
  assets/src/dashboard/types.js
  assets/src/dashboard/utils/getCurrentYAxis.js
  assets/src/dashboard/utils/index.js
  assets/src/edit-story/app/media/media3p/api/media3pApiProvider.js
  assets/src/edit-story/components/keyboardShortcutsMenu/constants.js
  assets/src/edit-story/components/panels/design/animation/effectChooserDropdown/effectChooserElements.js
  assets/src/edit-story/components/workspace/index.js
  assets/src/edit-story/elements/media/index.js
  assets/src/edit-story/output/index.js
  assets/src/edit-story/types.js
  packages/animation/src/parts/index.js
  packages/design-system/src/components/button/constants.js
  packages/design-system/src/components/dropDown/constants.js
  packages/design-system/src/components/menu/list/index.js
  packages/design-system/src/components/menu/useDropDownMenu.js
  packages/design-system/src/testUtils/sampleData.js
  packages/migration/src/migrations/v0006_tmpShapeBgToResource.js
  packages/units/src/constants.js
Labels: Type: Code Quality, cla: yes

#8455 Use `rest_parse_embed_param()` in `rest_preload_api_request()`
  includes/namespace.php
Labels: Group: WordPress, PHP, Pod: WP & Infra, Type: Code Quality, cla: yes

#8457 Update templates to use TT for uppercase text
  includes/Demo_Content.php
  includes/data/stories/demo.json
  packages/templates/src/raw/album-releases/template.json
  packages/templates/src/raw/baking-bread-guide/template.json
  packages/templates/src/raw/doers-get-more-done/template.json
  packages/templates/src/raw/experience-thailand/template.json
  packages/templates/src/raw/fashion-on-the-go/template.json
  packages/templates/src/raw/food-and-stuff/template.json
  packages/templates/src/raw/fresh-and-bright/template.json
  packages/templates/src/raw/kitchen-stories/template.json
  packages/templates/src/raw/no-days-off/template.json
  packages/templates/src/raw/sangria-artichoke/template.json
  packages/templates/src/raw/sleep/template.json
  packages/templates/src/raw/ways-to-eat-avocado/template.json
  packages/templates/src/raw/weekly-entertainment/template.json
Labels: Group: Page Templates, Package: Templates, Type: Enhancement, cla: yes

#8490 Update text-sets to use TT for all caps words
  packages/text-sets/src/raw/contact.json
  packages/text-sets/src/raw/cover.json
  packages/text-sets/src/raw/editorial.json
  packages/text-sets/src/raw/list.json
  packages/text-sets/src/raw/quote.json
  packages/text-sets/src/raw/section_header.json
  packages/text-sets/src/raw/step.json
  packages/text-sets/src/raw/table.json
Labels: Group: Text Sets, Package: Text Sets, Type: Enhancement, cla: yes

#8500 Try/cache clearing post type
  includes/REST_API/Stories_Users_Controller.php
  includes/Story_Post_Type.php
  tests/phpunit/tests/REST_API/Stories_Users_Controller.php
Labels: cla: yes

#8371 Allow creators to mute audio on their videos
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/app/api/test/apiProvider.js
  assets/src/edit-story/app/api/utils/flatternFormData.js
  assets/src/edit-story/app/api/utils/index.js
  assets/src/edit-story/app/api/utils/removeImagesFromPageTemplates.js
  assets/src/edit-story/app/api/utils/test/flatternFormData.js
  assets/src/edit-story/app/api/utils/test/removeImagesFromPageTemplates.js
  assets/src/edit-story/app/media/local/useContextValueProvider.js
  assets/src/edit-story/app/media/useUploadMedia.js
  assets/src/edit-story/app/media/utils/getResourceFromAttachment.js
  assets/src/edit-story/app/media/utils/getResourceFromMediaPicker.js
  assets/src/edit-story/app/media/utils/test/useProcessMedia.js
  assets/src/edit-story/app/media/utils/useDetectVideoHasAudio.js
  assets/src/edit-story/app/media/utils/useFFmpeg.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/index.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/reducer.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/test/reducer.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/test/useMediaUploadQueue.js
  assets/src/edit-story/app/media/utils/useProcessMedia.js
  assets/src/edit-story/components/canvas/useUploadWithPreview.js
  assets/src/edit-story/components/library/panes/media/local/mediaPane.js
  assets/src/edit-story/components/panels/design/videoOptions/test/videoOptions.js
  assets/src/edit-story/components/panels/design/videoOptions/videoOptions.js
  includes/Experiments.php
  includes/Media/Media.php
  includes/uninstall.php
  packages/media/src/fetchRemoteBlob.js
  packages/media/src/fetchRemoteFile.js
  packages/media/src/hasVideoGotAudio.js
  packages/media/src/index.js
  tests/phpunit/data/video-no-sound.mp4
  tests/phpunit/tests/Media/Media.php
Labels: Elements: Video, Group: Design Panel, Group: Video Optimization, P1, Pod: WP & Infra, Type: Enhancement, cla: yes

#8503 TinyMCE Button: Improve unit tests
  packages/tinymce-button/src/components/test/Modal.js
Labels: Group: WordPress, cla: yes

#8347 Added skeleton thumbnails until first idle frame
  assets/src/edit-story/components/carousel/carouselList.js
  assets/src/edit-story/components/carousel/carouselPage.js
  assets/src/edit-story/components/carousel/carouselProvider.js
  assets/src/edit-story/components/carousel/skeletonPage.js
  assets/src/edit-story/utils/idleCallback.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#8508 Update all `@storybook` packages
  package-lock.json
  package.json
Labels: Dependencies, JavaScript, cla: yes

#8510 Dependencies: Remove unused packages
  package-lock.json
  package.json
Labels: Dependencies, Type: Code Quality, cla: yes

#8328 Enable eyedropper
  assets/src/edit-story/components/canvas/eyedropperLayer.js
  assets/src/edit-story/components/colorPicker/eyedropper.js
  assets/src/edit-story/components/colorPicker/karma/eyedropper.karma.js
  includes/Experiments.php
  package-lock.json
  package.json
  patches/html-to-image+1.6.2.patch
Labels: Group: Workspace, Pod: Prometheus, Type: Enhancement, cla: yes

#8330 Video Optimization: Improve handling of files exceeding upload limit
  assets/src/edit-story/app/uploader/test/useUploader.js
  assets/src/edit-story/app/uploader/useUploader.js
Labels: Group: Media, Group: Video Optimization, P2, Pod: WP & Infra, Type: Enhancement, cla: yes

#8445 Admin: Further improve some database queries
  assets/src/dashboard/app/api/useStoryApi.js
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/app/api/test/apiProvider.js
  assets/src/edit-story/app/media/utils/getResourceFromAttachment.js
  includes/Admin/Dashboard.php
  includes/Infrastructure/Delayed.php
  includes/Media/Media.php
  includes/REST_API/Autosaves_Controller.php
  includes/REST_API/Embed_Controller.php
  includes/REST_API/Link_Controller.php
  includes/REST_API/Lock_Controller.php
  includes/REST_API/Page_Template_Controller.php
  includes/REST_API/REST_Controller.php
  includes/REST_API/Status_Check_Controller.php
  includes/REST_API/Stories_Base_Controller.php
  includes/REST_API/Stories_Controller.php
  includes/REST_API/Stories_Media_Controller.php
  includes/REST_API/Stories_Settings_Controller.php
  includes/REST_API/Stories_Users_Controller.php
  includes/Story_Post_Type.php
  includes/templates/admin/edit-story.php
  tests/phpunit/tests/REST_API/Stories_Users_Controller.php
Labels: Pod: WP & Infra, Type: Code Quality, Type: Performance, cla: yes

#8509 Update all `@wordpress` packages
  package-lock.json
  package.json
  packages/activation-notice/package.json
  packages/animation/package.json
  packages/e2e-test-utils/package.json
  packages/i18n/package.json
  packages/stories-block/package.json
  packages/stories-carousel/package.json
  packages/stories-lightbox/package.json
  packages/tinymce-button/package.json
  packages/widget/package.json
Labels: Dependencies, JavaScript, cla: yes

#8320 Performance: Use dynamic imports
  assets/src/edit-story/components/canvas/test/multiSelectionMoveable.js
  assets/src/edit-story/components/canvas/test/singleSelectionMoveable.js
  assets/src/edit-story/components/colorPicker/currentColorPicker.js
  assets/src/edit-story/components/colorPicker/editablePreview.js
  assets/src/edit-story/components/colorPicker/test/colorPicker/addStopByPointer.js
  assets/src/edit-story/components/colorPicker/test/colorPicker/footerInteraction.js
  assets/src/edit-story/components/colorPicker/test/colorPicker/headerInteraction.js
  assets/src/edit-story/components/colorPicker/test/colorPicker/manipulateStopByKeyboard.js
  assets/src/edit-story/components/colorPicker/test/colorPicker/moveStopByPointer.js
  assets/src/edit-story/components/colorPicker/test/colorPicker/onload.js
  assets/src/edit-story/components/colorPicker/test/colorPicker/selectStop.js
  assets/src/edit-story/components/form/color/colorInput.js
  assets/src/edit-story/components/form/color/test/colorInput.js
  assets/src/edit-story/components/form/dateTime/datePicker.js
  assets/src/edit-story/components/library/panes/text/karma/textPane.karma.js
  assets/src/edit-story/components/moveable/index.js
  assets/src/edit-story/components/panels/document/publish/publishTime.js
  assets/src/edit-story/components/panels/document/publish/test/publish.js
  assets/src/edit-story/elements/media/useAverageColor.js
  assets/src/edit-story/utils/getMediaBaseColor.js
  assets/src/edit-story/utils/usePageAsCanvas.js
  packages/e2e-tests/src/specs/editor/media/insert3PMedia.js
  packages/e2e-tests/src/specs/editor/media/insertMediaFromDialog.js
  packages/e2e-tests/src/specs/editor/media/insertMediaFromLibrary.js
  packages/e2e-tests/src/specs/editor/media/insertMovVideo.js
  packages/e2e-tests/src/specs/editor/media/insertWebMVideo.js
  packages/e2e-tests/src/specs/editor/media/svg.js
Labels: Pod: Prometheus, Type: Performance, cla: yes

#8478 Checklist: Remove Experiment
  assets/src/edit-story/components/canvas/karma/quickActions.karma.js
  assets/src/edit-story/components/carousel/karma/popups.karma.js
  assets/src/edit-story/components/carousel/secondaryMenu.js
  assets/src/edit-story/components/checklist/checks/pageBackgroundLowTextContrast/check.js
  assets/src/edit-story/components/checklist/karma/checklist.karma.js
  assets/src/edit-story/components/checklist/karma/prepublishSelect.karma.js
  assets/src/edit-story/components/header/buttons/buttonWithChecklistWarning.js
  assets/src/edit-story/components/header/buttons/publish.js
  assets/src/edit-story/components/header/test/buttons.js
  includes/Experiments.php
  packages/design-system/src/components/contextMenu/menuItem.js
Labels: Group: Pre-Publish Checklist, Pod: Pea, Type: Code Quality, cla: yes

#8515 Disable flakey widget block e2e test
  packages/e2e-tests/src/specs/wordpress/blockWidget.js
Labels: Package: E2E Tests, cla: yes

#8516 Media: Fix karma fixtures for video muting
  assets/src/edit-story/app/api/test/_utils.js
  assets/src/edit-story/components/library/test/_utils/mediaResponseWithPdfAndImage.json
  assets/src/edit-story/karma/fixture/db/getMediaResponse.js
Labels: JavaScript, Pod: WP & Infra, Type: Infrastructure, cla: yes
