Repository GoogleForCreators/web-stories-wp, pull requests merged in 2021-04, with the labels that each got.

#6778 Media: Check cross-origin isolation requirement for video optimization
  assets/src/edit-story/app/media/utils/test/useFFmpeg.js
  assets/src/edit-story/app/media/utils/useFFmpeg.js
Labels: Browser Issues, Group: Video Optimization, Pod: WP & Infra, Status: Blocked, Type: Bug, cla: yes

#6944 Moved keyboard shortcuts to left side
  assets/src/edit-story/components/canvas/navLayer.js
  assets/src/edit-story/components/carousel/carouselLayout.js
  assets/src/edit-story/components/carousel/primaryMenu.js
  assets/src/edit-story/components/carousel/secondaryMenu.js
  assets/src/edit-story/components/helpCenter/index.js
  assets/src/edit-story/components/keyboardShortcutsMenu/index.js
  assets/src/edit-story/components/keyboardShortcutsMenu/popup.js
  assets/src/edit-story/components/keyboardShortcutsMenu/shortcutMenu.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#6993 Fix some of the skipped tests + Use visible page as the fullbleed container
  assets/src/edit-story/components/canvas/framesLayer.js
  assets/src/edit-story/components/canvas/karma/backgroundCopyPaste.karma.js
  assets/src/edit-story/components/canvas/layout.js
  assets/src/edit-story/components/dropTargets/karma/order.karma.js
  assets/src/edit-story/components/library/karma/mediaTab.karma.js
  assets/src/edit-story/components/library/panes/text/karma/textPane.karma.js
  assets/src/edit-story/components/panels/design/filter/karma/filter.karma.js
  assets/src/edit-story/elements/image/karma/resourceLoading.karma.js
  assets/src/edit-story/karma/copyAndPaste.cuj.karma.js
Labels: Pod: Prometheus, Type: Bug, Type: Code Quality, cla: yes

#6994 Try: Fix flaky link tooltip test
  assets/src/edit-story/components/dropTargets/karma/order.karma.js
  assets/src/edit-story/components/panels/design/filter/karma/filter.karma.js
  assets/src/edit-story/components/panels/design/link/karma/link.karma.js
Labels: Pod: Prometheus, Type: Bug, Type: Code Quality, cla: yes

#6903 Always display the design space guideline when an element is being transformed
  assets/src/edit-story/app/canvas/useCanvasKeys.js
  assets/src/edit-story/components/canvas/framesLayer.js
  assets/src/edit-story/components/canvas/multiSelectionMoveable/index.js
  assets/src/edit-story/components/canvas/singleSelectionMoveable/index.js
  assets/src/edit-story/components/canvas/test/useCanvasKeys.js
  assets/src/edit-story/components/canvas/utils/useSnapping.js
  assets/src/edit-story/components/library/panes/shared/libraryMoveable.js
  assets/src/edit-story/components/panels/design/link/karma/link.karma.js
  assets/src/edit-story/components/transform/transformProvider.js
Labels: Pod: Prometheus, Type: Bug, cla: yes

#6983 Widget: Skip flakey customizer e2e test
  packages/e2e-tests/src/specs/wordpress/widget.js
Labels: Package: E2E Tests, Pod: WP & Infra, Type: Bug, Type: Infrastructure, cla: yes

#6978 Animations: Pan + Zoom Updates
  assets/src/animation/effects/backgroundPanAndZoom/animationProps.js
  assets/src/animation/effects/backgroundPanAndZoom/index.js
  assets/src/animation/utils/getMediaOrigin.js
  assets/src/animation/utils/test/getMediaOrigin.js
  assets/src/edit-story/components/panels/design/animation/effectChooserDropdown/dropdownConstants.js
  assets/src/edit-story/components/panels/design/animation/effectChooserDropdown/effectChooserDropdown.js
  assets/src/edit-story/components/panels/design/animation/effectChooserDropdown/types.js
  assets/src/edit-story/components/panels/design/animation/effectChooserDropdown/utils.js
Labels: Package: Animation, Package: Editor, Pod: Pea, Type: Enhancement, cla: yes

#6980 Fix scroll reset on zoom setting change
  assets/src/edit-story/app/layout/layoutProvider.js
  assets/src/edit-story/app/layout/useScrollOffset.js
  assets/src/edit-story/app/layout/useZoomSetting.js
  assets/src/edit-story/components/canvas/framesLayer.js
  assets/src/edit-story/components/canvas/layout.js
Labels: Pod: Prometheus, Type: Bug, Type: Enhancement, cla: yes

#6942 Canvas: Update zoom dropdown to align with help center
  assets/src/design-system/components/menu/components.js
  assets/src/design-system/components/menu/list/components.js
  assets/src/edit-story/components/carousel/zoomSelector/zoomSelector.js
  assets/src/edit-story/components/helpCenter/toggle/index.js
Labels: Group: Canvas, Group: Workspace, P2, Pod: Pea, Pod: Prometheus, Type: Enhancement, cla: yes

#6857 Replace amp-story-bookend with amp-story-social-share
  composer.json
  composer.lock
  includes/AMP/Canonical_Sanitizer.php
  includes/AMP/Meta_Sanitizer.php
  includes/AMP/Sanitization.php
  includes/Analytics.php
  includes/Story_Renderer/HTML.php
  tests/phpunit/tests/Story_Renderer/HTML.php
Labels: AMP Output, Group: WordPress, P1, Pod: WP & Infra, Type: Enhancement, cla: yes

#6991 Fixed lasso selection
  assets/src/edit-story/components/canvas/karma/lasso.karma.js
  assets/src/edit-story/components/canvas/layout.js
  assets/src/edit-story/components/canvas/selectionCanvas.js
Labels: Pod: Prometheus, Type: Bug, cla: yes

#6960 Page Layouts: Toggle layout assets
  assets/images/editor/grid-placeholder.png
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/app/api/removeImagesFromPageLayouts.js
  assets/src/edit-story/app/api/test/apiProvider.js
  assets/src/edit-story/app/api/test/removeImagesFromPageLayouts.js
  assets/src/edit-story/components/library/panes/pageLayouts/pageLayouts.js
  assets/src/edit-story/components/library/panes/pageLayouts/pageLayoutsPane.js
  assets/src/edit-story/components/library/panes/text/textSets/textSetsPane.js
Labels: Group: Page Layouts, Pod: Pea, Type: Enhancement, cla: yes

#6957 Editor: Update rogue Roboto to the Google Sans
  .storybook/preview-head.html
  assets/src/design-system/components/pill/pill.js
  assets/src/edit-story/components/canvas/pageAttachment/index.js
  assets/src/edit-story/components/form/advancedDropDown/list/styled.js
  assets/src/edit-story/components/form/advancedDropDown/searchInput.js
  assets/src/edit-story/components/header/title.js
  assets/src/edit-story/components/layout/index.js
  assets/src/edit-story/components/library/panes/media/media3p/media3pPane.js
  assets/src/edit-story/components/library/panes/media/media3p/providerTab.js
  assets/src/edit-story/components/panels/design/animation/karma/animation.karma.js
  assets/src/edit-story/karma/fixture/fixture.js
  assets/src/karma-fixture/client_with_context.html
  includes/Story_Post_Type.php
Labels: Package: Editor, Pod: Pea, Type: Enhancement, cla: yes

#7067 Code Quality: Remove storyAnimTool and associated code
  assets/src/dashboard/app/index.js
  assets/src/dashboard/app/views/index.js
  assets/src/dashboard/app/views/storyAnimTool/components.js
  assets/src/dashboard/app/views/storyAnimTool/emitter.js
  assets/src/dashboard/app/views/storyAnimTool/index.js
  assets/src/dashboard/app/views/storyAnimTool/timeline/components.js
  assets/src/dashboard/app/views/storyAnimTool/timeline/index.js
  assets/src/dashboard/app/views/storyAnimTool/updateTemplateForm.js
  assets/src/dashboard/constants/index.js
Labels: Group: Animations, Pod: Pea, Type: Code Quality, cla: yes

#7066 Code Quality: Remove duplicate focus selector in typography Link
  assets/src/design-system/components/typography/link/index.js
  assets/src/edit-story/components/library/test/__snapshots__/termsDialog.js.snap
Labels: Group: Design System, Pod: Pea, Type: Code Quality, cla: yes

#7106 Bugfix: Fix failing text preset karma test
  assets/src/edit-story/components/library/panes/text/karma/textPane.karma.js
Labels: P1, Pod: Pea, Type: Bug, cla: yes

#7028 Library dragging: fix an issue where clone disrupts other functionality
  assets/src/edit-story/components/library/panes/shapes/shapePreview.js
  assets/src/edit-story/components/library/panes/shared/libraryMoveable.js
  assets/src/edit-story/components/library/panes/text/textSets/test/textSet.js
Labels: Group: Library, Pod: Prometheus, Type: Bug, cla: yes

#7156 Code Quality: Remove hard coded reference to widget class
  includes/Register_Widget.php
Labels: Group: Widgets, Pod: WP & Infra, Type: Code Quality, cla: yes

#7069 Fix animation options karma test
  assets/src/design-system/components/popup/index.js
  assets/src/design-system/utils/useResizeEffect.js
  assets/src/edit-story/components/panels/design/animation/animation.js
  assets/src/edit-story/components/panels/design/animation/effectChooserDropdown/effectChooserDropdown.js
  assets/src/edit-story/components/panels/design/animation/karma/animation.karma.js
  assets/src/edit-story/components/popup/index.js
  docs/integration-tests.md
  packages/e2e-tests/src/specs/editor/media/insertMediaFromDialog.js
Labels: P1, Pod: Pea, Type: Bug, cla: yes

#7153 Plugin: Prevent removing read capabilities on plugin deactivation
  includes/Story_Post_Type.php
  tests/phpunit/tests/Story_Post_Type.php
Labels: Group: WordPress, P1, Pod: WP & Infra, Type: Bug, cla: yes

#7161 Add feature flag for custom Page Templates
  includes/Experiments.php
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#7155 Custom Page Templates: Set up Custom Post Type
  includes/Page_Template_Post_Type.php
  includes/Plugin.php
  includes/REST_API/Stories_Base_Controller.php
  includes/REST_API/Stories_Controller.php
  tests/phpunit/tests/Page_Template_Post_Type.php
Labels: Group: Page Templates, P2, Pod: WP & Infra, Type: Enhancement, Type: Infrastructure, cla: yes

#7088 Improve PHPStorm and PHPStan intergrations
  .phpstorm.meta.php
  includes/Database_Upgrader.php
  includes/functions.php
  includes/namespace.php
  includes/uninstall.php
  phpstan.neon.dist
  tests/phpstan/src/ServiceContainerDynamicReturnTypeExtension.php
  tests/phpstan/src/ServicesDynamicReturnTypeExtension.php
Labels: Group: WordPress, P2, PHP, Pod: WP & Infra, Type: Code Quality, Type: Infrastructure, cla: yes

#7152 Classic Editor: Prevent TinyMCE button from being loaded on frontend
  includes/Admin.php
  includes/Admin/Cross_Origin_Isolation.php
  includes/Dashboard.php
  includes/Integrations/AMP.php
  includes/Integrations/Jetpack.php
  includes/Media.php
  includes/Meta_Boxes.php
  includes/Story_Post_Type.php
  includes/TinyMCE.php
  includes/Traits/Screen.php
  tests/phpunit/tests/Admin/Cross_Origin_Isolation.php
  tests/phpunit/tests/TinyMCE.php
Labels: Group: Classic Editor, P1, Package: TinyMCE Button, Pod: WP & Infra, Type: Bug, cla: yes

#6849 Bugfix: Link URLs default to https instead of http
  assets/src/edit-story/components/form/stories/link.js
  assets/src/edit-story/components/panels/design/link/karma/link.karma.js
  assets/src/edit-story/utils/url.js
Labels: Group: Design System, Group: Document Panel, Pod: Pea, Pod: Prometheus, Type: Bug, Type: Enhancement, cla: yes

#7186 AMP Toolbox: ensure top-level resources folder is included
  composer.json
  composer.lock
  includes/AMP/Optimization.php
  scoper.inc.php
  tests/phpunit/tests/AMP/Optimization.php
  web-stories.php
Labels: AMP Output, Pod: WP & Infra, Type: Bug, cla: yes

#7187 Skip post from AMP if plugin is older than bundled version
  includes/Integrations/AMP.php
Labels: AMP Output, Group: WordPress, Pod: WP & Infra, Type: Bug, cla: yes

#6961 Enable Pan & Zoom animation feature
  assets/src/edit-story/components/panels/design/animation/effectChooserDropdown/dropdownConstants.js
Labels: Group: Animations, Pod: Pea, Type: Enhancement, cla: yes

#7070 Code Quality: Remove out of date dashboard preview experiment
  assets/src/dashboard/app/api/useStoryApi.js
  assets/src/dashboard/app/reducer/stories.js
  assets/src/dashboard/app/reducer/test/stories.js
  assets/src/dashboard/app/serializers/index.js
  assets/src/dashboard/app/serializers/storyPreview.js
  assets/src/dashboard/app/views/exploreTemplates/index.js
  assets/src/dashboard/app/views/index.js
  assets/src/dashboard/app/views/myStories/content/index.js
  assets/src/dashboard/app/views/myStories/content/stories/index.js
  assets/src/dashboard/app/views/myStories/content/storiesView/index.js
  assets/src/dashboard/app/views/myStories/index.js
  assets/src/dashboard/app/views/myStories/karma/myStories.karma.js
  assets/src/dashboard/app/views/previewStory/index.js
  assets/src/dashboard/app/views/previewStory/stories/previewStory.js
  assets/src/dashboard/app/views/previewStory/test/index.js
  assets/src/dashboard/app/views/savedTemplates/content/index.js
  assets/src/dashboard/app/views/savedTemplates/index.js
  assets/src/dashboard/app/views/shared/savedTemplateGridView.js
  assets/src/dashboard/app/views/shared/storyGridView.js
  assets/src/dashboard/app/views/templateDetails/index.js
  assets/src/dashboard/app/views/templateDetails/karma/templateDetails.karma.js
  assets/src/dashboard/components/popoverMenu/test/story-menu-generator.js
  assets/src/dashboard/constants/stories.js
  assets/src/dashboard/karma/apiProviderFixture.js
  assets/src/dashboard/utils/useStoryView.js
  assets/src/dashboard/utils/useTemplateView.js
  includes/Experiments.php
Labels: Group: Dashboard, Pod: Pea, Type: Code Quality, cla: yes

#7170 Update Figure for Template Beauty (Page 8)
  public/static/main/images/templates/beauty/beauty_page8_figure.jpg
Labels: Group: Templates, Pod: Pea, cla: yes

#7129 Bugfix: Animation direction tooltips showing for enabled direction
  assets/src/edit-story/components/panels/design/animation/directionRadioInput.js
Labels: Bug Bash: 1.6, Group: Animations, P1, Pod: Pea, Type: Bug, cla: yes

#7147 Aborted transform handler if no target
  assets/src/edit-story/elements/text/display.js
Labels: Pod: Prometheus, Type: Bug, cla: yes

#7109 Make canvas zoom permanent
  assets/src/edit-story/app/layout/layoutProvider.js
  assets/src/edit-story/app/layout/useZoomSetting.js
  assets/src/edit-story/components/canvas/karma/backgroundCopyPaste.karma.js
  assets/src/edit-story/components/carousel/karma/zoomSelector.karma.js
  assets/src/edit-story/components/carousel/primaryMenu.js
  assets/src/edit-story/components/carousel/zoomSelector/zoomSelector.js
  assets/src/edit-story/components/dropTargets/karma/order.karma.js
  assets/src/edit-story/components/library/panes/text/karma/textSets.cuj.karma.js
  assets/src/edit-story/components/panels/design/filter/karma/filter.karma.js
  assets/src/edit-story/elements/video/karma/autoplay.karma.js
  assets/src/edit-story/karma/copyAndPaste.cuj.karma.js
  assets/src/edit-story/karma/elementTransform.cuj.karma.js
  assets/src/edit-story/karma/fixture/containers/canvas.js
  assets/src/edit-story/karma/fixture/containers/carousel.js
  assets/src/karma-fixture/init.js
  docs/integration-tests.md
  includes/Experiments.php
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#7188 Enable video optimization feature by default
  includes/Experiments.php
Labels: Group: Video Optimization, Pod: WP & Infra, Type: Enhancement, cla: yes

#7086 Video Optimization: Add missing `crossorigin` attributes
  assets/src/design-system/components/mediaInput/index.js
  assets/src/edit-story/app/media/utils/getResourceFromMedia3p.js
  assets/src/edit-story/app/media/utils/preloadImage.js
  assets/src/edit-story/app/media/utils/test/getResourceFromMedia3p.js
  assets/src/edit-story/components/helpCenter/quickTip/index.js
  assets/src/edit-story/components/library/panes/media/common/innerElement.js
  assets/src/edit-story/components/library/panes/media/local/mediaEditDialog.js
  assets/src/edit-story/components/postLock/postLockDialog.js
  assets/src/edit-story/components/postLock/postTakeOverDialog.js
  assets/src/edit-story/elements/media/edit.js
  assets/src/edit-story/elements/media/imageDisplay.js
  assets/src/edit-story/elements/media/visibleImage.js
  assets/src/edit-story/elements/video/display.js
  packages/templates/src/getTemplates.js
Labels: Elements: Video, Group: Video Optimization, P1, Pod: WP & Infra, Type: Bug, cla: yes

#7195 Update changelog for 1.6.0 release
  readme.txt
Labels: Type: Documentation, Type: Release, cla: yes

#7198 Code Quality: use injector instead of service container for now
  includes/Database_Upgrader.php
  includes/functions.php
  includes/namespace.php
Labels: Pod: WP & Infra, Type: Bug, Type: Code Quality, Type: Infrastructure, cla: yes

#7199 FFmpeg: avoid errors when dimension is not divisible by 2
  assets/src/edit-story/app/media/utils/useFFmpeg.js
Labels: Group: Video Optimization, Pod: WP & Infra, Type: Bug, cla: yes

#7201 Preserve translator comments again
  webpack.config.cjs
Labels: Internationalization (I18N), Pod: WP & Infra, Type: Infrastructure, cla: yes

#7192 Fix Copy & Paste Background Animation Karma Tests
  assets/src/edit-story/karma/copyAndPaste.cuj.karma.js
Labels: Group: Animations, P1, Pod: Pea, Type: Bug, Type: Code Quality, cla: yes

#7202 Help Center: Add image for 'embed' tip
  public/static/main/images/help-center/story_embed_module_1.png
Labels: Group: FTUE, Pod: Pea, Type: Enhancement, cla: yes

#7191 Template Updates: Fitness Asset
  public/static/main/images/templates/fitness/fitness_page6_watch.png
Labels: Group: Templates, Pod: Pea, Type: Enhancement, Website, cla: yes

#7135 BugFix: Enable tooltip test
  assets/src/edit-story/components/panels/design/link/karma/link.karma.js
  packages/karma-puppeteer-client/README.md
Labels: P1, Pod: Pea, Type: Bug, cla: yes

#7221 Story Post Type: Add new post type labels
  includes/Page_Template_Post_Type.php
  includes/Story_Post_Type.php
  includes/Template_Post_Type.php
Labels: Group: WordPress, Pod: WP & Infra, Type: Enhancement, cla: yes

#7217 Design System: Move `useLiveRegion` to design system and fix Snackbar stories
  .github/PULL_REQUEST_TEMPLATE.md
  assets/src/design-system/components/snackbar/snackbarContainer.js
  assets/src/design-system/components/snackbar/stories/index.js
  assets/src/design-system/testUtils/index.js
  assets/src/design-system/testUtils/queryById.js
  assets/src/design-system/utils/index.js
  assets/src/design-system/utils/test/useLiveRegion.js
  assets/src/design-system/utils/useLiveRegion.js
  assets/src/edit-story/components/reorderable/useReordering.js
  docs/README.md
  docs/accessibility-guidelines.md
  docs/accessibility-testing.md
Labels: Accessibility, Group: Design System, Pod: Pea, Type: Enhancement, cla: yes

#7157 Select page after detaching background media
  assets/src/edit-story/app/story/useStoryReducer/reducers/setBackgroundElement.js
  assets/src/edit-story/app/story/useStoryReducer/test/clearBackgroundElement.js
  assets/src/edit-story/components/panels/design/pageBackground/karma/pageBackground.karma.js
  assets/src/edit-story/components/panels/design/pageBackground/pageBackground.js
  assets/src/edit-story/karma/fixture/containers/designPanel/pageBackground.js
Labels: Group: Design Panel, Group: Media, Group: Page, Pod: Prometheus, Type: Enhancement, cla: yes

#7162 Update Page Layouts to Page Templates
  assets/src/dashboard/dataUtils/formattedTemplatesArray.js
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/app/api/removeImagesFromPageTemplates.js
  assets/src/edit-story/app/api/test/apiProvider.js
  assets/src/edit-story/app/api/test/removeImagesFromPageTemplates.js
  assets/src/edit-story/components/library/libraryProvider.js
  assets/src/edit-story/components/library/panes/pageTemplates/confirmPageTemplateDialog.js
  assets/src/edit-story/components/library/panes/pageTemplates/constants.js
  assets/src/edit-story/components/library/panes/pageTemplates/index.js
  assets/src/edit-story/components/library/panes/pageTemplates/karma/pageTemplatesPane.karma.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplate.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplates.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplatesIcon.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplatesPane.js
  assets/src/edit-story/components/library/panes/pageTemplates/paneId.js
  assets/src/edit-story/components/library/panes/pageTemplates/stories/confirmPageTemplateDialog.js
  assets/src/edit-story/components/library/panes/pageTemplates/test/pageTemplatesPane.js
  assets/src/edit-story/components/library/test/useLibrary.js
  assets/src/edit-story/karma/fixture/containers/library/index.js
  assets/src/edit-story/karma/fixture/containers/library/pageTemplates.js
  assets/src/edit-story/karma/fixture/fixture.js
  docs/README.md
  docs/page-layouts.md
  docs/page-templates.md
  packages/templates/README.md
  packages/templates/src/raw/beauty.json
  packages/templates/src/raw/cooking.json
  packages/templates/src/raw/diy.json
  packages/templates/src/raw/entertainment.json
  packages/templates/src/raw/fashion.json
  packages/templates/src/raw/fitness.json
  packages/templates/src/raw/travel.json
  packages/templates/src/raw/wellbeing.json
  packages/templates/src/test/raw.js
  readme.txt
Labels: Group: Page Templates, Pod: Prometheus, Type: Enhancement, cla: yes

#7039 Update Moveable to 0.27.6
  assets/src/edit-story/components/moveable/moveStyle.js
  assets/src/edit-story/components/panels/design/textStyle/useRichTextFormatting.js
  assets/src/edit-story/components/richText/karma/_utils.js
  assets/src/edit-story/components/richText/karma/inlineSelection.karma.js
  assets/src/edit-story/elements/text/karma/edit.karma.js
  assets/src/edit-story/karma/elementTransform.cuj.karma.js
  package-lock.json
  package.json
Labels: Pod: Prometheus, Type: Code Quality, Type: Enhancement, cla: yes

#7203 Help Center: Add 'Embed Web Story' quick tip
  assets/src/edit-story/components/helpCenter/constants.js
  assets/src/edit-story/components/helpCenter/quickTip/index.js
Labels: Group: FTUE, Pod: Pea, Type: Enhancement, cla: yes

#7197 Bug: useRovingKeyIndex RTL direction odd
  assets/src/edit-story/utils/test/useRovingTabIndex.js
  assets/src/edit-story/utils/useRovingTabIndex.js
Labels: Accessibility, Group: Editing, Pod: Pea, Type: Bug, cla: yes

#7222 Readme: Restore `Requires at least` header
  readme.txt
Labels: P1, Pod: WP & Infra, Type: Infrastructure, cla: yes

#6988 Docs: Revise template creation manual
  docs/external-template-creation.md
Labels: Type: Documentation, cla: yes

#7240 Prepublish Checklist: Minor style tweaks
  assets/src/edit-story/components/inspector/prepublish/checklistTab.js
  assets/src/edit-story/components/inspector/prepublish/styles.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7223 Bugfix: Dashboard Settings Publisher Logo Upload
  assets/src/dashboard/app/api/useSettingsApi.js
Labels: Group: Dashboard, Pod: Pea, Type: Bug, cla: yes

#6990 Remove DEPRECATED_THEME from Dashboard
  .storybook/preview.js
  assets/src/dashboard/app/index.js
  assets/src/dashboard/app/views/shared/bodyViewOptions.js
  assets/src/dashboard/components/button/index.js
  assets/src/dashboard/components/button/stories/index.js
  assets/src/dashboard/components/button/test/button.js
  assets/src/dashboard/components/cardGridItem/cardTitle.js
  assets/src/dashboard/components/colorDot.js
  assets/src/dashboard/components/colorList/index.js
  assets/src/dashboard/components/fileUpload/index.js
  assets/src/dashboard/components/index.js
  assets/src/dashboard/components/multiPartPill/index.js
  assets/src/dashboard/components/multiPartPill/stories/index.js
  assets/src/dashboard/components/pageStructure/menuButton.js
  assets/src/dashboard/components/popoverMenu/index.js
  assets/src/dashboard/components/popoverMenu/menu.js
  assets/src/dashboard/components/popoverMenu/popover.js
  assets/src/dashboard/components/popoverMenu/popoverCard.js
  assets/src/dashboard/components/popoverMenu/popoverStandard.js
  assets/src/dashboard/components/popoverMenu/shadow.js
  assets/src/dashboard/components/popoverMenu/stories/index.js
  assets/src/dashboard/components/popoverMenu/test/popover-menu.js
  assets/src/dashboard/components/storyMenu/index.js
  assets/src/dashboard/components/table/index.js
  assets/src/dashboard/components/types.js
  assets/src/dashboard/components/typography/index.js
  assets/src/dashboard/components/typography/stories/index.js
  assets/src/dashboard/components/viewStyleBar/index.js
  assets/src/dashboard/testUtils/renderWithProviders.js
Labels: Group: Dashboard, Group: Design System, Pod: Pea, Type: Code Quality, Type: Enhancement, cla: yes

#7204 Remove 'Increase video or image size on the page' check
  assets/src/edit-story/app/prepublish/guidance/index.js
  assets/src/edit-story/app/prepublish/guidance/media.js
  assets/src/edit-story/app/prepublish/guidance/test/media.js
  assets/src/edit-story/components/inspector/karma/prepublishSelect.karma.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7241 Prepublish Checklist: Try Checkpoint State Management
  assets/src/edit-story/components/inspector/prepublish/prepublishChecklistProvider.js
  assets/src/edit-story/components/inspector/prepublish/prepublishCheckpointState.js
  assets/src/edit-story/components/inspector/prepublish/test/prepublishChecklistProvider.js
  assets/src/edit-story/components/inspector/prepublish/usePrepublishChecklist.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7130 Media: Implement MVP for optimizing an existing video
  assets/src/edit-story/app/media/local/test/useContextValueProvider.js
  assets/src/edit-story/app/media/local/useContextValueProvider.js
  assets/src/edit-story/app/media/media3p/api/test/useMedia3pApi.js
  assets/src/edit-story/app/media/useUploadMedia.js
  assets/src/edit-story/app/media/utils/createResource.js
  assets/src/edit-story/app/media/utils/fetchRemoteFile.js
  assets/src/edit-story/app/media/utils/getResourceFromAttachment.js
  assets/src/edit-story/app/media/utils/getResourceFromMediaPicker.js
  assets/src/edit-story/app/media/utils/test/getResourceFromMedia3p.js
  assets/src/edit-story/app/media/utils/test/useProcessVideo.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/index.js
  assets/src/edit-story/app/media/utils/useMediaUploadQueue/reducer.js
  assets/src/edit-story/app/media/utils/useProcessVideo.js
  assets/src/edit-story/components/inspector/design/getDesignPanelsForSelection.js
  assets/src/edit-story/components/panels/design/index.js
  assets/src/edit-story/components/panels/design/types.js
  assets/src/edit-story/components/panels/design/videoProcessing/index.js
  assets/src/edit-story/components/panels/design/videoProcessing/videoProcessing.js
  assets/src/edit-story/elements/video/index.js
  assets/src/edit-story/types.js
  includes/Database_Upgrader.php
  includes/Experiments.php
  includes/Media.php
  tests/phpunit/tests/Media.php
  web-stories.php
Labels: Elements: Video, Group: Media, Group: Video Optimization, P2, Pod: WP & Infra, cla: yes

#7220 Redesign: provider tabs for 3rd party media
  assets/src/edit-story/components/library/panes/media/media3p/media3pPane.js
  assets/src/edit-story/components/library/panes/media/media3p/providerTab.js
Labels: Group: Library, Pod: Prometheus, Type: Enhancement, cla: yes

#7214 Editor: Make Help Center Text Selectable
  assets/src/edit-story/components/helpCenter/menu/index.js
  assets/src/edit-story/components/helpCenter/quickTip/index.js
Labels: Group: FTUE, Pod: Pea, Type: Bug, cla: yes

#7233 Code Quality: Remove Extraneous Prop
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/app/api/test/apiProvider.js
Labels: Type: Code Quality, cla: yes

#7208 Page Templates: Saved page templates
  assets/src/edit-story/components/library/panes/pageTemplates/defaultTemplates.js
  assets/src/edit-story/components/library/panes/pageTemplates/illustration.svg
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplates.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplatesPane.js
  assets/src/edit-story/components/library/panes/pageTemplates/savedTemplates.js
  assets/src/edit-story/components/library/panes/pageTemplates/templateSave.js
Labels: Group: Page Templates, Pod: Prometheus, Type: Enhancement, cla: yes

#7265 Packages: Move stickers to new structure
  assets/src/edit-story/components/canvas/useInsertElement.js
  assets/src/edit-story/components/library/panes/shapes/shapesPane.js
  assets/src/edit-story/components/library/panes/shapes/stickerButton.js
  assets/src/edit-story/components/panels/design/sizePosition/sizePosition.js
  assets/src/edit-story/elements/sticker/display.js
  assets/src/edit-story/elements/sticker/icon.js
  assets/src/edit-story/elements/sticker/output.js
  docs/external-template-creation.md
  package-lock.json
  package.json
  packages/stickers/README.md
  packages/stickers/package.json
  packages/stickers/src/beautyHeart.js
  packages/stickers/src/cooking/arrow.js
  packages/stickers/src/cooking/artichoke.js
  packages/stickers/src/cooking/carrot.js
  packages/stickers/src/cooking/index.js
  packages/stickers/src/cooking/persimmon.js
  packages/stickers/src/cooking/radish.js
  packages/stickers/src/cooking/radishLarge.js
  packages/stickers/src/fashion/arrowDark.js
  packages/stickers/src/fashion/arrowLight.js
  packages/stickers/src/fashion/index.js
  packages/stickers/src/fashion/starburst.js
  packages/stickers/src/fashion/starburstSolid.js
  packages/stickers/src/fashion/starburstWithArrow.js
  packages/stickers/src/index.js
  packages/stickers/src/sampleSticker.js
  packages/stickers/src/wellbeing/arrowDark.js
  packages/stickers/src/wellbeing/arrowLight.js
  packages/stickers/src/wellbeing/cta.js
  packages/stickers/src/wellbeing/index.js
  packages/templates/README.md
Labels: Elements: Stickers, P2, Package: Stickers, Pod: WP & Infra, Type: Infrastructure, cla: yes

#7261 Pre-publish Checklist: remove 'Turn off Page Attachment or remove conflicting links' checks
  assets/src/edit-story/app/prepublish/constants.js
  assets/src/edit-story/app/prepublish/error/index.js
  assets/src/edit-story/app/prepublish/error/metadata.js
  assets/src/edit-story/app/prepublish/error/test/metadata.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7278 Delete page template post type on uninstall
  includes/uninstall.php
Labels: Group: WordPress, PHP, Pod: WP & Infra, Type: Bug, Type: Infrastructure, cla: yes

#7260 Pre-publish Checklist: Update main and helper copy text
  assets/src/edit-story/app/prepublish/constants.js
  assets/src/edit-story/app/prepublish/error/test/metadata.js
  assets/src/edit-story/app/prepublish/guidance/test/general.js
  assets/src/edit-story/app/prepublish/guidance/test/media.js
  assets/src/edit-story/app/prepublish/test/__snapshots__/getPrepublishErrors.js.snap
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7239 3P Media: Fix pill styling
  assets/src/edit-story/app/media/media3p/attribution.js
Labels: Pod: Pea, Type: Bug, cla: yes

#7168 Template Updates: Entertainment
  packages/stickers/src/entertainment/entertainmentStar.js
  packages/stickers/src/entertainment/index.js
  packages/stickers/src/entertainment/musicNote.js
  packages/stickers/src/index.js
  packages/templates/src/raw/entertainment.json
Labels: Group: Page Templates, Pod: Pea, Type: Enhancement, cla: yes

#7259 Editor: Add Story Triggers
  assets/src/edit-story/app/story/storyProvider.js
  assets/src/edit-story/app/story/storyTriggers/index.js
  assets/src/edit-story/app/story/storyTriggers/storyEvents/index.js
  assets/src/edit-story/app/story/storyTriggers/storyEvents/onInitialElementAddedRegister.js
  assets/src/edit-story/app/story/storyTriggers/storyEvents/propTypes.js
  assets/src/edit-story/app/story/storyTriggers/storyEvents/test/onInitialElementAddedRegister.js
  assets/src/edit-story/app/story/storyTriggers/storyEvents/types.js
  assets/src/edit-story/app/story/storyTriggers/storyTriggersProvider.js
  assets/src/edit-story/app/story/storyTriggers/test/useStoryTriggers.js
  assets/src/edit-story/app/story/storyTriggers/useStoryTriggers.js
Labels: Group: Pre-Publish Panel, Package: Editor, Pod: Pea, Type: Enhancement, cla: yes

#7285 Prepublish Checklist: New dialog to review on early publish
  assets/src/edit-story/components/inspector/prepublish/reviewChecklistDialog.js
  assets/src/edit-story/components/inspector/stories/reviewChecklistDialog.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7282 Bug: Stickers Scrollable Quick Fix
  assets/src/edit-story/components/library/panes/shapes/shapesPane.js
  assets/src/edit-story/components/library/panes/shared/index.js
Labels: Elements: Stickers, Group: Templates, Package: Editor, Type: Bug, cla: yes

#7262 Block: Remove DEPRECATED_THEME usage
  assets/src/web-stories-block/block/block-types/selected-stories/edit.js
  assets/src/web-stories-block/block/block-types/selected-stories/storyPreview.js
Labels: Group: Blocks, P2, Type: Code Quality, Type: Enhancement, cla: yes

#7254 Redesign: Reorder panels for all elements
  assets/src/edit-story/components/inspector/design/getDesignPanelsForSelection.js
  assets/src/edit-story/components/panels/design/types.js
Labels: Group: Design Panel, Pod: Prometheus, Type: Enhancement, cla: yes

#7263 Google Sans stylesheet handle not prefixed
  includes/Dashboard.php
  includes/Plugin.php
  includes/Register_Font.php
  includes/Story_Post_Type.php
  tests/phpunit/includes/Capabilities_Setup.php
  tests/phpunit/tests/Dashboard.php
  tests/phpunit/tests/Register_Font.php
  tests/phpunit/tests/Story_Post_Type.php
Labels: Group: WordPress, P3, PHP, Pod: WP & Infra, Type: Code Quality, cla: yes

#7287 Added a simplified dropdown as `Select`
  assets/src/design-system/components/dropDown/select/components.js
  assets/src/design-system/components/dropDown/select/index.js
  assets/src/edit-story/components/form/index.js
  assets/src/edit-story/components/form/select/index.js
  assets/src/edit-story/components/form/select/select.js
  assets/src/edit-story/components/library/panes/media/local/mediaPane.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplatesPane.js
  assets/src/edit-story/components/panels/design/preset/colorPreset/colorPresetActions.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#7218 Code Quality: Refactor Database_Upgrader class
  includes/Database_Upgrader.php
  includes/Infrastructure/ServiceBasedPlugin.php
  includes/Interfaces/Migration.php
  includes/Migrations/Add_Media_Source_Editor.php
  includes/Migrations/Add_Media_Source_Source_Video.php
  includes/Migrations/Add_Media_Source_Video_Optimization.php
  includes/Migrations/Add_Poster_Generation_Media_Source.php
  includes/Migrations/Add_Stories_Caps.php
  includes/Migrations/Migrate_Base.php
  includes/Migrations/Remove_Broken_Text_Styles.php
  includes/Migrations/Remove_Unneeded_Attachment_Meta.php
  includes/Migrations/Replace_Conic_Style_Presets.php
  includes/Migrations/Rewrite_Flush.php
  includes/Migrations/Unify_Color_Presets.php
  includes/Migrations/Update_1.php
  includes/Migrations/Update_Publisher_Logos.php
  includes/Migrations/Yoast_Reindex_Stories.php
  includes/namespace.php
  tests/phpunit/tests/Database_Upgrader.php
  tests/phpunit/tests/Migrations/Add_Media_Source_Editor.php
  tests/phpunit/tests/Migrations/Add_Media_Source_Source_Video.php
  tests/phpunit/tests/Migrations/Add_Media_Source_Video_Optimization.php
  tests/phpunit/tests/Migrations/Add_Poster_Generation_Media_Source.php
  tests/phpunit/tests/Migrations/Remove_Broken_Text_Styles.php
  tests/phpunit/tests/Migrations/Remove_Unneeded_Attachment_Meta.php
  tests/phpunit/tests/Migrations/Replace_Conic_Style_Presets.php
  tests/phpunit/tests/Migrations/Unify_Color_Presets.php
  tests/phpunit/tests/Migrations/Update_Publisher_Logos.php
Labels: P3, PHP, Pod: WP & Infra, Type: Code Quality, cla: yes

#7297 PPC: Trigger checklist item calculations after initial element added
  assets/src/edit-story/app/index.js
  assets/src/edit-story/app/prepublish/getPrepublishErrors.js
  assets/src/edit-story/app/story/index.js
  assets/src/edit-story/app/story/storyTriggers/index.js
  assets/src/edit-story/components/inspector/karma/inspectorTabs.karma.js
  assets/src/edit-story/components/inspector/karma/prepublishSelect.karma.js
  assets/src/edit-story/components/inspector/prepublish/checklistTab.js
  assets/src/edit-story/components/inspector/prepublish/prepublishChecklistProvider.js
  assets/src/edit-story/components/inspector/prepublish/prepublishCheckpointState.js
  assets/src/edit-story/components/inspector/prepublish/test/prepublishChecklistProvider.js
  assets/src/edit-story/components/panels/panel/index.js
  assets/src/edit-story/karma/fixture/containers/checklistPanel.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7296 Pre-publish Checklist: Add triggers for page additions
  assets/src/edit-story/app/story/storyTriggers/storyEvents/index.js
  assets/src/edit-story/app/story/storyTriggers/storyEvents/onPageAddedRegister.js
  assets/src/edit-story/app/story/storyTriggers/storyEvents/test/onPageAddedRegister.js
  assets/src/edit-story/app/story/storyTriggers/storyEvents/types.js
  assets/src/edit-story/app/story/storyTriggers/storyTriggersProvider.js
  assets/src/edit-story/components/inspector/karma/prepublishSelect.karma.js
  assets/src/edit-story/components/inspector/prepublish/prepublishChecklistProvider.js
  assets/src/edit-story/components/inspector/prepublish/prepublishCheckpointState.js
  assets/src/edit-story/components/inspector/prepublish/test/prepublishChecklistProvider.js
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7308 Use "Poster image" instead of "Cover image"
  assets/src/edit-story/components/panels/document/publish/publish.js
Labels: Pod: Prometheus, Type: Enhancement, cla: yes

#7268 Page templates: adding and displaying custom templates
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/components/library/panes/pageTemplates/defaultTemplates.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplate.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplatesPane.js
  assets/src/edit-story/components/library/panes/pageTemplates/savedTemplates.js
  assets/src/edit-story/components/library/panes/pageTemplates/templateList.js
  assets/src/edit-story/components/library/panes/pageTemplates/templateSave.js
  assets/src/edit-story/components/library/panes/pageTemplates/useTemplateActions.js
Labels: Group: Page Templates, Pod: Prometheus, Type: Enhancement, cla: yes

#7292 Upgrade the WordPress coding standards.
  composer.json
  composer.lock
  includes/Customizer.php
  includes/REST_API/Stories_Controller.php
  includes/Shortcode/Stories_Shortcode.php
  includes/Widgets/Stories.php
  phpcs.xml.dist
  tests/phpunit/tests/AMP/Optimization.php
Labels: Pod: WP & Infra, Type: Code Quality, Type: Infrastructure, cla: yes

#7319 Use new test class.
  tests/phpunit/tests/Activation_Notice.php
  tests/phpunit/tests/AdSense.php
  tests/phpunit/tests/Ad_Manager.php
  tests/phpunit/tests/Analytics.php
  tests/phpunit/tests/Database_Upgrader.php
  tests/phpunit/tests/Discovery.php
  tests/phpunit/tests/Experiments.php
  tests/phpunit/tests/KSES.php
  tests/phpunit/tests/Media.php
  tests/phpunit/tests/Migrations/Add_Media_Source_Editor.php
  tests/phpunit/tests/Migrations/Add_Media_Source_Source_Video.php
  tests/phpunit/tests/Migrations/Add_Media_Source_Video_Optimization.php
  tests/phpunit/tests/Migrations/Add_Poster_Generation_Media_Source.php
  tests/phpunit/tests/Migrations/Remove_Broken_Text_Styles.php
  tests/phpunit/tests/Migrations/Remove_Unneeded_Attachment_Meta.php
  tests/phpunit/tests/Migrations/Replace_Conic_Style_Presets.php
  tests/phpunit/tests/Migrations/Unify_Color_Presets.php
  tests/phpunit/tests/Migrations/Update_Publisher_Logos.php
  tests/phpunit/tests/Register_Font.php
  tests/phpunit/tests/SVG.php
  tests/phpunit/tests/Story_Post_Type.php
  tests/phpunit/tests/Story_Renderer/HTML.php
  tests/phpunit/tests/TinyMCE.php
Labels: Pod: WP & Infra, Type: Infrastructure, cla: yes

#7267 Pre-publish Checklist: Add toggle to enable auto media optimization
  assets/src/design-system/components/toggle/index.js
  assets/src/edit-story/app/currentUser/currentUserProvider.js
  assets/src/edit-story/components/inspector/karma/checklistTab.karma.js
  assets/src/edit-story/components/inspector/prepublish/autoVideoOptimization.js
  assets/src/edit-story/components/inspector/prepublish/checklistTab.js
  assets/src/edit-story/components/inspector/prepublish/prepublishInspector.js
  assets/src/edit-story/components/inspector/prepublish/styles.js
  assets/src/edit-story/components/inspector/prepublish/test/checklistTab.js
  assets/src/edit-story/components/library/panes/pageTemplates/templateSave.js
  assets/src/edit-story/karma/fixture/containers/checklistPanel.js
  assets/src/edit-story/karma/fixture/fixture.js
  composer.json
  includes/Story_Post_Type.php
Labels: Group: Pre-Publish Panel, Pod: Pea, Type: Enhancement, cla: yes

#7316 E2E Tests: Add e2e tests for publisher logo file upload
  assets/src/dashboard/components/fileUpload/index.js
  assets/src/design-system/components/contextMenu/animatedContextMenu.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/uploadPublisherLogo.js
  packages/e2e-test-utils/src/visitSettings.js
  packages/e2e-tests/src/assets/its-a-walk-off.gif
  packages/e2e-tests/src/assets/yay-fox.gif
  packages/e2e-tests/src/specs/dashboard/publisherLogo.js
Labels: Package: E2E Tests, Pod: Pea, Type: Code Quality, cla: yes

#7329 Revert "E2E Tests: Add e2e tests for publisher logo file upload"
  assets/src/dashboard/components/fileUpload/index.js
  assets/src/design-system/components/contextMenu/animatedContextMenu.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/uploadPublisherLogo.js
  packages/e2e-test-utils/src/visitSettings.js
  packages/e2e-tests/src/assets/its-a-walk-off.gif
  packages/e2e-tests/src/assets/yay-fox.gif
  packages/e2e-tests/src/specs/dashboard/publisherLogo.js
Labels: cla: yes

#7290 Page templates: allow removing saved templates
  assets/src/edit-story/app/api/apiProvider.js
  assets/src/edit-story/components/library/libraryProvider.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplate.js
  assets/src/edit-story/components/library/panes/pageTemplates/savedTemplates.js
  assets/src/edit-story/components/library/panes/pageTemplates/templateList.js
  assets/src/edit-story/components/library/panes/pageTemplates/templateSave.js
  assets/src/edit-story/components/library/panes/shared/virtualizedPanelGrid/components.js
  assets/src/edit-story/elements/utils/duplicatePage.js
Labels: Group: Page Templates, Pod: Prometheus, Type: Enhancement, cla: yes

#7307 Apply page template: create new instead of replacing
  assets/src/edit-story/app/story/useStoryReducer/reducers/addPage.js
  assets/src/edit-story/components/library/panes/pageTemplates/confirmPageTemplateDialog.js
  assets/src/edit-story/components/library/panes/pageTemplates/karma/pageTemplatesPane.karma.js
  assets/src/edit-story/components/library/panes/pageTemplates/stories/confirmPageTemplateDialog.js
  assets/src/edit-story/components/library/panes/pageTemplates/templateList.js
  assets/src/edit-story/components/panels/design/animation/animation.js
Labels: Group: Page Templates, Pod: Prometheus, Type: Enhancement, cla: yes

#7324 Restyle the Save template button
  assets/src/edit-story/components/library/panes/pageTemplates/illustration.svg
  assets/src/edit-story/components/library/panes/pageTemplates/images/illustration.svg
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplate.js
  assets/src/edit-story/components/library/panes/pageTemplates/pageTemplatesPane.js
  assets/src/edit-story/components/library/panes/pageTemplates/savedTemplates.js
  assets/src/edit-story/components/library/panes/pageTemplates/templateList.js
  assets/src/edit-story/components/library/panes/pageTemplates/templateSave.js
  assets/src/edit-story/components/library/panes/pageTemplates/test/pageTemplatesPane.js
  assets/src/edit-story/karma/fixture/fixture.js
Labels: Group: Page Templates, Pod: Prometheus, Type: Enhancement, cla: yes

#7335 Video optimization: Change ffmpeg config to 720p@24fps
  assets/src/edit-story/app/media/utils/useFFmpeg.js
Labels: Type: Enhancement, cla: yes

#7343 Prepublish Checklist: Add optimize video button
  assets/src/edit-story/app/media/utils/useProcessVideo.js
  assets/src/edit-story/app/prepublish/components/videoOptimization.js
  assets/src/edit-story/app/prepublish/guidance/media.js
  assets/src/edit-story/components/inspector/prepublish/checklistTab.js
  assets/src/edit-story/components/inspector/prepublish/test/checklistTab.js
Labels: Group: Pre-Publish Panel, Group: Video Optimization, Pod: Pea, Type: Enhancement, cla: yes
