Repository GoogleForCreators/web-stories-wp, pull requests merged in 2022-05, with the labels that each got.

#11205 Font Check: Automatically update font metrics
  packages/e2e-tests/src/specs/editor/fontCheck/fontCheckMetrics.js
  packages/story-editor/src/app/story/effects/useHistoryEntry.js
  packages/story-editor/src/components/devTools/devTools.js
  packages/story-editor/src/index.js
  packages/wp-story-editor/src/components/fontCheck/index.js
  packages/wp-story-editor/src/components/fontCheck/test/fontCheck.js
Labels: Type: Enhancement, Group: Fonts, Needs Tests, Pod: WP

#11345 Shopping: Support custom CTA text
  includes/KSES.php
  packages/output/src/page.js
  packages/output/src/test/page.js
  packages/output/src/utils/shoppingAttachment.js
  packages/story-editor/src/components/canvas/displayLayer.js
  packages/story-editor/src/components/canvas/shoppingPageAttachment/index.js
  packages/story-editor/src/components/panels/design/pageAttachment/pageAttachment.js
  tests/phpunit/integration/tests/KSES.php
Labels: Type: Enhancement, Pod: WP, Group: Shopping

#11221 Media: Add support for hotlinking audio files
  includes/Experiments.php
  includes/REST_API/Hotlinking_Controller.php
  packages/e2e-tests/src/plugins/web-stories-hotlink.php
  packages/e2e-tests/src/specs/editor/backgroundAudio.js
  packages/elements/src/types.js
  packages/story-editor/src/components/panels/design/pageBackgroundAudio/backgroundAudio.js
  packages/story-editor/src/components/panels/shared/backgroundAudioPanelContent.js
  packages/story-editor/src/components/panels/shared/captionsPanelContent.js
  packages/story-editor/src/components/panels/shared/hotlinkModal.js
Labels: Type: Enhancement, Group: Media, P2, Pod: WP, Group: Background Audio

#11408 E2E Tests: split into 4 shards
  .github/workflows/tests-e2e.yml
Labels: Type: Infrastructure, Pod: WP

#11430 ESLint: Enforce promises from async testing library utils in Karma tests
  .eslintrc
  packages/dashboard/src/app/views/exploreTemplates/karma/exploreTemplates.karma.js
  packages/dashboard/src/app/views/myStories/karma/myStories.karma.js
  packages/dashboard/src/app/views/myStories/karma/myStoriesList.karma.js
  packages/story-editor/src/components/checklist/karma/checklist.karma.js
  packages/story-editor/src/components/floatingMenu/elements/karma/text.karma.js
  packages/story-editor/src/components/keyboardShortcutsMenu/karma/keyboardShortcuts.karma.js
  packages/story-editor/src/components/library/panes/media/local/karma/hotlink.karma.js
  packages/story-editor/src/components/library/panes/pageTemplates/karma/savedPageTemplates.karma.js
  packages/story-editor/src/components/panels/design/animation/karma/animation.karma.js
  packages/story-editor/src/components/panels/design/textStyle/karma/textStyle.other.karma.js
  packages/story-editor/src/components/panels/document/taxonomies/karma/taxonomies.karma.js
  packages/story-editor/src/components/publishModal/karma/publishModal.karma.js
Labels: Type: Infrastructure, Pod: WP

#11324 REST API: Prime user meta in controller
  includes/REST_API/Stories_Users_Controller.php
  tests/phpunit/integration/tests/REST_API/Stories_Users_Controller.php
Labels: Type: Enhancement, Group: WordPress, Type: Performance

#11396 Media: Fix CORS proxy regression on canvas
  packages/e2e-tests/src/plugins/web-stories-hotlink.php
  packages/e2e-tests/src/specs/editor/backgroundAudio.js
  packages/e2e-tests/src/specs/editor/media/hotlinking.js
  packages/element-library/src/media/imageDisplay.js
  packages/story-editor/src/utils/useCORSProxy.js
Labels: Type: Bug, Group: Media

#11399 Added the pageTemplate to the libraryLayout
  packages/story-editor/src/components/library/libraryLayout.js
Labels: Type: Bug, Pod: Pea, Package: Story Editor

#11434 Update WordPress npm packages
  package-lock.json
  package.json
  packages/activation-notice/package.json
  packages/e2e-test-utils/package.json
  packages/e2e-tests/package.json
  packages/stories-block/package.json
  packages/stories-carousel/package.json
  packages/stories-lightbox/package.json
  packages/tinymce-button/package.json
  packages/widget/package.json
  packages/wp-dashboard/package.json
  packages/wp-story-editor/package.json
Labels: Dependencies

#11431 Publish: do not set visibility in story state
  packages/wp-story-editor/src/components/documentPane/status/status.js
  packages/wp-story-editor/src/components/documentPane/status/test/status.js
Labels: Group: WordPress, Type: Code Quality, Group: Workspace

#11440 CORS Check: Remove feature flag code
  includes/Experiments.php
  packages/e2e-tests/src/specs/wordpress/corsCheck.js
  packages/wp-story-editor/src/components/corsCheck/corsCheck.js
  packages/wp-story-editor/src/components/corsCheck/test/corsCheck.js
Labels: Type: Code Quality, Pod: WP, Group: Status Check

#11391 Updated parseInput validation to take both min and max into account
  packages/design-system/src/components/input/test/validation.js
  packages/design-system/src/components/input/validation.js
  packages/story-editor/src/components/panels/document/pageAdvancement/test/pageAdvancement.js
Labels: Type: Bug, Pod: Pea, Package: Design System

#11416 Added disabled prop to inputs used in the animation panel
  packages/story-editor/src/app/canvas/useCanvasKeys.js
  packages/story-editor/src/components/canvas/karma/pageSideMenuActions.karma.js
  packages/story-editor/src/components/canvas/karma/quickActions.karma.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/canvas/pagemenu/animationToggle.js
  packages/story-editor/src/components/checklist/constants.js
  packages/story-editor/src/components/checklist/index.js
  packages/story-editor/src/components/panels/design/animation/animation.js
  packages/story-editor/src/components/panels/design/animation/effectChooserDropdown/effectChooserDropdown.js
  packages/story-editor/src/components/panels/design/animation/effectInput.js
  packages/story-editor/src/components/panels/design/animation/effectPanel.js
  packages/story-editor/src/components/panels/design/animation/karma/animation.karma.js
  packages/story-editor/src/karma/copyAndPaste.cuj.karma.js
  packages/story-editor/src/karma/duplicate.cuj.karma.js
Labels: Type: Enhancement, Pod: Pea, Package: Story Editor

#11437 Remove unneeded const in `useFullbleedMediaAsBackground`
  packages/story-editor/src/components/canvas/utils/useFullbleedMediaAsBackground.js
  packages/story-editor/src/components/library/karma/libraryTabs.karma.js
  packages/story-editor/src/components/library/panes/media/media3p/karma/mediaFetching.karma.js
  packages/story-editor/src/components/library/panes/media/media3p/termsDialog.js
  packages/story-editor/src/components/library/panes/text/textSets/textSetsPane.js
Labels: Type: Code Quality

#11359 Shopping: Floating Menu
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/shopping.js
  packages/e2e-tests/src/specs/editor/shopping/productMenu.js
  packages/e2e-tests/src/specs/editor/shopping/woocommerce.js
  packages/element-library/src/product/constants.js
  packages/story-editor/src/components/floatingMenu/elements/index.js
  packages/story-editor/src/components/floatingMenu/elements/karma/shopping.karma.js
  packages/story-editor/src/components/floatingMenu/elements/trash.js
  packages/story-editor/src/components/floatingMenu/menus/product.js
  packages/story-editor/src/components/floatingMenu/menus/selector.js
  packages/story-editor/src/components/library/panes/shopping/productDropdown.js
  packages/story-editor/src/components/library/panes/shopping/shoppingPane.js
  packages/story-editor/src/karma/fixture/containers/library/index.js
  packages/story-editor/src/karma/fixture/db/getProductsResponse.js
  packages/story-editor/src/karma/fixture/fixture.js
Labels: Type: Enhancement, Pod: WP, Group: Shopping

#11438 Documentation: Add more docs on Animations
  docs/animations.md
Labels: Type: Documentation, Group: Animations

#11404 Quick Actions: Reset Element Broken w/ Border Width & Radius
  packages/story-editor/src/components/floatingMenu/elements/borderWidthAndColor.js
Labels: Type: Bug, Pod: Pea, Package: Story Editor

#11473 Upgrade to RC2
  .github/workflows/tests-e2e.yml
  bin/local-env/install-wordpress.sh
Labels: Group: WordPress, Pod: WP

#11467 Bugfix/11311 focus border first item
  packages/design-system/src/components/contextMenu/menu.js
  packages/story-editor/src/components/canvas/framesLayer.js
Labels: Type: Bug, Pod: Pea, Package: Design System

#11443 Blocks: Fix validation error for prefilled block
  includes/Admin/Admin.php
  includes/Model/Story.php
  packages/e2e-test-utils/src/createNewPost.js
  packages/e2e-test-utils/src/index.js
  packages/e2e-test-utils/src/loadPostEditor.js
  packages/e2e-tests/src/assets/example-3.png
  packages/e2e-tests/src/config/bootstrap.js
  packages/e2e-tests/src/specs/editor/__snapshots__/publishingFlow.js.snap
  packages/e2e-tests/src/specs/editor/publishingFlow.js
  packages/stories-block/src/block/deprecated.js
  packages/stories-block/src/block/save.js
  packages/stories-block/src/block/test/save.js
  packages/story-editor/src/components/dialog/dialog.js
  packages/tracking/src/trackClick.js
Labels: P2, Group: WordPress, Needs Tests, Pod: WP, Group: Blocks

#11340 Shopping: Product Query
  includes/Admin/Dashboard.php
  includes/Interfaces/Product_Query.php
  includes/Plugin.php
  includes/REST_API/Products_Controller.php
  includes/Settings.php
  includes/Shopping/Product.php
  includes/Shopping/Shopify_Query.php
  includes/Shopping/Shopping_Vendors.php
  includes/Shopping/Woocommerce_Query.php
  includes/uninstall.php
  packages/wp-dashboard/src/components/editorSettings/editorSettings.js
  packages/wp-dashboard/src/components/editorSettings/shopping/index.js
  packages/wp-dashboard/src/components/editorSettings/shopping/shoppingProviderDropDown.js
  packages/wp-dashboard/src/components/editorSettings/shopping/stories/index.js
  packages/wp-dashboard/src/components/editorSettings/shopping/test/shopping.js
  packages/wp-dashboard/src/components/editorSettings/shopping/test/shoppingProvider.js
  tests/phpunit/integration/includes/Kses_Setup.php
  tests/phpunit/integration/includes/Mock_Vendor_Setup.php
  tests/phpunit/integration/includes/Shopping/Mock_Vendor.php
  tests/phpunit/integration/includes/Shopping/Mock_Vendor_Error.php
  tests/phpunit/integration/includes/Shopping/Mock_Vendor_Invalid.php
  tests/phpunit/integration/tests/Admin/Dashboard.php
  tests/phpunit/integration/tests/Product/Shopping_Vendors.php
  tests/phpunit/integration/tests/REST_API/Product_Controller.php
  tests/phpunit/integration/tests/Settings.php
Labels: Type: Enhancement, P1, Group: WordPress, Pod: WP, Group: Shopping

#11478 Tracking: Add hardening for user role retrieval
  includes/Tracking.php
  tests/phpunit/integration/tests/Tracking.php
Labels: Type: Enhancement, Pod: WP, Group: Telemetry

#11481 Canvas: Add keyboard shortcut for adding links
  packages/karma-fixture/src/events.js
  packages/story-editor/src/app/canvas/useCanvasKeys.js
  packages/story-editor/src/components/canvas/karma/canvasKeys.karma.js
  packages/story-editor/src/components/canvas/pagemenu/animationToggle.js
  packages/story-editor/src/components/canvas/test/useCanvasKeys.js
  packages/story-editor/src/components/keyboardShortcutsMenu/keyboardShortcutList.js
Labels: Type: Enhancement, Pod: Pea, Package: Story Editor

#11490 Avoid setting numeric story slugs
  packages/story-editor/src/components/header/title.js
  packages/story-editor/src/components/publishModal/content/mainStoryInfo.js
  packages/story-editor/src/utils/storyUpdates.js
  packages/story-editor/src/utils/test/storyUpdates.js
Labels: Type: Bug, Group: Workspace

#11384 Media Recording: add device selection
  package-lock.json
  packages/design-system/src/utils/localStore.js
  packages/story-editor/package.json
  packages/story-editor/src/components/library/panes/media/local/mediaRecording/modal.js
Labels: Type: Enhancement, Group: Media

#11503 Add missing product fields to REST API response
  includes/REST_API/Products_Controller.php
Labels: Type: Bug, Group: Shopping

#11449 Editor: Tooltip & PopUp Menu Positioning Fix
  packages/design-system/src/components/popup/index.js
  packages/design-system/src/components/tooltip/index.js
Labels: Type: Bug, Group: Document Panel, Pod: Pea, Group: Workspace, Group: Design System, Package: Story Editor

#11514 Media: Catch errors when trying to update BlurHash and base color
  includes/templates/admin/edit-story.php
  packages/story-editor/src/app/media/utils/useDetectBaseColor.js
  packages/story-editor/src/app/media/utils/useDetectBlurhash.js
  packages/wp-story-editor/src/api/media.js
Labels: Type: Bug, Group: Media, Group: WordPress, Pod: WP

#11516 E2E Tests: Update to RC3
  .github/workflows/tests-e2e.yml
  bin/local-env/install-wordpress.sh
Labels: Type: Infrastructure, Group: WordPress, Pod: WP, Package: E2E Tests

#11512 Hotlinking: Fix audio length retrieval in Safari
  includes/REST_API/Hotlinking_Controller.php
  packages/story-editor/src/components/panels/shared/backgroundAudioPanelContent.js
Labels: Type: Bug, Group: Media

#11480 Editor: Embed not working for scheduled story
  includes/Admin/Admin.php
  tests/phpunit/integration/tests/Admin/Admin.php
Labels: Type: Bug, Pod: WP, Group: Blocks

#11513 Catch `DOMException` when parsing external documents
  includes/REST_API/Embed_Controller.php
  includes/REST_API/Link_Controller.php
Labels: Type: Bug, Group: WordPress, Pod: WP

#11515 Changed keybinding for play stop animations to mod+enter
  packages/karma-fixture/src/events.js
  packages/story-editor/src/app/canvas/useCanvasKeys.js
  packages/story-editor/src/components/canvas/karma/canvasKeys.karma.js
  packages/story-editor/src/components/canvas/pagemenu/animationToggle.js
  packages/story-editor/src/components/canvas/test/useCanvasKeys.js
  packages/story-editor/src/components/keyboardShortcutsMenu/keyboardShortcutList.js
Labels: Type: Bug, Pod: Pea, Package: Story Editor

#11510 Media: Refactor hotlinking dialog to be more reusable
  packages/story-editor/src/components/hotlinkModal/hotlinkModal.js
  packages/story-editor/src/components/hotlinkModal/index.js
  packages/story-editor/src/components/hotlinkModal/stories/hotlinkDialog.js
  packages/story-editor/src/components/hotlinkModal/test/isValidUrlForHotlinking.js
  packages/story-editor/src/components/hotlinkModal/useHotlinkModal.js
  packages/story-editor/src/components/hotlinkModal/utils.js
  packages/story-editor/src/components/library/panes/media/local/hotlink/hotlink.js
  packages/story-editor/src/components/library/panes/media/local/hotlink/hotlinkModal.js
  packages/story-editor/src/components/library/panes/media/local/hotlink/useInsert.js
  packages/story-editor/src/components/panels/shared/backgroundAudioPanelContent.js
  packages/story-editor/src/components/panels/shared/captionsPanelContent.js
  packages/story-editor/src/components/panels/shared/hotlinkModal.js
Labels: Group: Media, Type: Code Quality

#11531 Shopify: request specific image resolution
  includes/Shopping/Shopify_Query.php
Labels: Type: Enhancement, Pod: WP, Group: Shopping

#11509 Shopping: Improve WooCommerce Product Images Query
  composer.json
  includes/Shopping/Woocommerce_Query.php
  packages/e2e-tests/src/specs/editor/shopping/woocommerce.js
  tests/phpunit/integration/includes/TestCase.php
  tests/phpunit/shared/Private_Access.php
  tests/phpunit/unit/tests/Shopping/Mock_Product.php
  tests/phpunit/unit/tests/Shopping/Woocommerce_Query.php
Labels: Type: Enhancement, Group: WordPress, Pod: WP, Group: Shopping

#11525 Hotlinking: Do not use CORS proxy for captions and background audio
  packages/output/src/test/__snapshots__/page.js.snap
  packages/output/src/test/page.js
  packages/output/src/utils/backgroundAudio.js
  packages/story-editor/src/components/hotlinkModal/hotlinkModal.js
  packages/story-editor/src/components/hotlinkModal/useHotlinkModal.js
  packages/story-editor/src/components/hotlinkModal/utils.js
  packages/story-editor/src/components/panels/shared/backgroundAudioPanelContent.js
  packages/story-editor/src/components/panels/shared/captionsPanelContent.js
Labels: Type: Enhancement, Group: Media, Group: Background Audio

#11468 Media: Redesign UI for audio & caption hotlinking
  packages/design-system/src/components/menu/index.js
  packages/design-system/src/components/menu/list/index.js
  packages/design-system/src/icons/index.js
  packages/design-system/src/icons/rotate.svg
  packages/e2e-tests/src/specs/editor/backgroundAudio.js
  packages/media/src/types.js
  packages/migration/src/migrate.js
  packages/migration/src/migrations/test/v0042_removeTrackName.js
  packages/migration/src/migrations/v0042_removeTrackName.js
  packages/story-editor/src/components/floatingMenu/elements/loop.js
  packages/story-editor/src/components/panels/design/captions/captions.js
  packages/story-editor/src/components/panels/design/captions/test/captions.js
  packages/story-editor/src/components/panels/design/pageBackgroundAudio/backgroundAudio.js
  packages/story-editor/src/components/panels/design/pageBackgroundAudio/test/backgroundAudio.js
  packages/story-editor/src/components/panels/design/videoOptions/videoOptions.js
  packages/story-editor/src/components/panels/document/backgroundAudio/backgroundAudio.js
  packages/story-editor/src/components/panels/shared/media/audioPlayer.js
  packages/story-editor/src/components/panels/shared/media/backgroundAudioPanelContent.js
  packages/story-editor/src/components/panels/shared/media/captionsPanelContent.js
  packages/story-editor/src/components/panels/shared/media/dropDownMenu.js
  packages/story-editor/src/components/panels/shared/media/fileRow.js
  packages/story-editor/src/components/panels/shared/media/loopPanelContent.js
Labels: Type: Enhancement, Group: Media

#11518 New Story details modal doesn't show the checklist icon in Safari
  packages/story-editor/src/components/publishModal/content/checklistButton.js
Labels: Type: Bug, P3, Pod: Pea, Group: Pre-Publish Checklist, Story Details, Bug Bash: 1.19.0

#11508 Animations: Disallow negative Duration or Delay values
  packages/animation/src/parts/simpleAnimation.js
  packages/animation/src/parts/test/index.js
  packages/story-editor/src/components/panels/design/animation/effectPanel.js
  packages/story-editor/src/components/panels/design/animation/test/effectInput.js
Labels: Type: Bug, JavaScript, Group: Animations, Pod: Pea, Package: Story Editor

#11550 Karma: Fix failing lasso integration test
  packages/story-editor/src/components/canvas/karma/lasso.karma.js
Labels: Type: Bug, Pod: Prometheus

#11556 Enable layer locking
  includes/Experiments.php
Labels: Type: Enhancement, Pod: Prometheus, Group: Workspace

#11534 Shopping: Detect WooCommerce status
  includes/Admin/Dashboard.php
  includes/Integrations/WooCommerce.php
  includes/Plugin.php
  includes/Shopping/Shopping_Vendors.php
  includes/Shopping/WooCommerce_Query.php
  includes/Tracking.php
  packages/wp-dashboard/src/components/editorSettings/editorSettings.js
  packages/wp-dashboard/src/components/editorSettings/shopping/index.js
  packages/wp-dashboard/src/components/editorSettings/shopping/test/shopping.js
  packages/wp-dashboard/src/components/editorSettings/test/editorSettings.js
  tests/phpunit/integration/tests/Admin/Dashboard.php
  tests/phpunit/integration/tests/Tracking.php
  tests/phpunit/unit/tests/Shopping/WooCommerce_Query.php
Labels: Type: Enhancement, P2, Pod: WP, Group: Shopping

#11262 Changed white-space handling in text elements
  packages/element-library/src/shared/shared.js
  packages/element-library/src/text/display.js
  packages/element-library/src/text/test/output.js
  packages/element-library/src/text/test/util.js
  packages/element-library/src/text/util.js
  packages/output/src/test/__snapshots__/textElement.js.snap
Labels: Type: Bug, Pod: Prometheus

#11506 Admin UI issues
  packages/dashboard/src/components/tooltip/tooltip.js
  packages/design-system/src/components/tooltip/index.js
  packages/wp-story-editor/src/style.css
Labels: Type: Bug, Pod: Pea, Package: Story Editor

#11563 Update E2E test matrix after WP 6.0 release
  .github/workflows/tests-e2e.yml
  bin/local-env/install-wordpress.sh
Labels: Type: Infrastructure, Pod: WP

#11527 Editor: Freeze story data
  packages/output/src/components/withLink/index.js
  packages/story-editor/src/app/story/effects/useLoadStory.js
  packages/story-editor/src/app/story/useStoryReducer/useStoryReducer.js
  packages/story-editor/src/components/panels/design/filter/convertOverlay.js
Labels: Type: Bug, Pod: Prometheus

#11574 Products: Improving loading of product dropdown.
  packages/story-editor/src/components/library/panes/shopping/productDropdown.js
Labels: Group: Shopping

#11543 Editor: Ensure tooltips consistently show tails (#11304)
  packages/story-editor/src/components/tooltip/tooltip.js
Labels: Type: Bug, Pod: Pea, Group: Floating Menu

#11594 Ensure `get_plugins()` is always available
  includes/Integrations/Site_Kit.php
  includes/Integrations/WooCommerce.php
Labels: Type: Bug, Group: WordPress, Pod: WP

#11599 Tracking: do not modify current user role
  includes/Tracking.php
Labels: Type: Bug, P1, Group: WordPress, Pod: WP

#11587 Editor: Ensure consistent positioning of tooltips for page side menu buttons
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
  packages/story-editor/src/components/canvas/pagemenu/pageMenuButton.js
  packages/story-editor/src/components/tooltip/tooltip.js
Labels: Group: Editing, Group: Canvas, Pod: Pea, Type: UX Quality, Package: Story Editor

#11569 Shopping: Editor: Honor Provider Dropdown
  includes/Admin/Editor.php
  packages/story-editor/src/components/floatingMenu/menus/product.js
  packages/story-editor/src/components/library/libraryProvider.js
  packages/story-editor/src/components/library/panes/shopping/productDropdown.js
  packages/story-editor/src/components/library/panes/shopping/productList.js
  packages/story-editor/src/components/library/panes/shopping/shoppingPane.js
  tests/phpunit/integration/tests/Admin/Editor.php
Labels: Type: Enhancement, Group: Style Panel, Pod: WP, Group: Workspace, Group: Shopping

#11557 Canvas: Don’t pass `box` to `WithMask`
  packages/element-library/src/media/edit.js
  packages/masks/src/display.js
  packages/output/src/element.js
  packages/story-editor/src/components/canvas/displayElement.js
Labels: Type: Code Quality
