Repository GoogleForCreators/web-stories-wp, pull requests merged in 2022-06, with the labels that each got.

#11617 Shopping: Fix broken Karma tests
  packages/story-editor/src/components/floatingMenu/elements/karma/shopping.karma.js
  packages/story-editor/src/components/library/panes/shopping/karma/shopping.karma.js
Labels: Type: Infrastructure, Pod: WP, Group: Shopping

#11619 Prepare 1.21.1 release
  includes/Tracking.php
  readme.txt
Labels: Type: Release

#11573 Shopping: Improve REST API error handling
  includes/REST_API/Products_Controller.php
  includes/Shopping/Shopify_Query.php
  includes/Shopping/WooCommerce_Query.php
  packages/story-editor/src/components/library/panes/shopping/shoppingPane.js
  tests/phpunit/integration/data/shopify_response_access_denied.json
  tests/phpunit/integration/data/shopify_response_internal_server_error.json
  tests/phpunit/integration/data/shopify_response_shop_inactive.json
  tests/phpunit/integration/data/shopify_response_throttled.json
  tests/phpunit/integration/data/shopify_response_unknown.json
  tests/phpunit/integration/tests/REST_API/Product_Controller.php
  tests/phpunit/integration/tests/Shopping/Shopify_Query.php
Labels: Type: Enhancement, Group: WordPress, Pod: WP, Group: Shopping

#11600 Floating Menu: Color Opacity Focus
  packages/story-editor/src/components/form/color/activeOpacity.js
  packages/story-editor/src/components/form/color/color.js
Labels: Type: Bug, Accessibility, Pod: Pea, Group: Floating Menu

#11626 Remove Elements Tab Experiment
  includes/Experiments.php
  packages/story-editor/src/components/library/constants.js
  packages/story-editor/src/components/library/libraryPanes.js
  packages/story-editor/src/components/library/libraryProvider.js
  packages/story-editor/src/components/library/panes/elements/elementsIcon.js
  packages/story-editor/src/components/library/panes/elements/elementsPane.js
  packages/story-editor/src/components/library/panes/elements/index.js
  packages/story-editor/src/components/library/panes/elements/paneId.js
Labels: Type: Enhancement, P2, Type: Code Quality, Pod: Pea

#11621 Prime user / poster / publisher logo caches in stories REST API
  includes/REST_API/Publisher_Logos_Controller.php
  includes/REST_API/Stories_Controller.php
  tests/phpunit/integration/tests/REST_API/Stories_Controller.php
Labels: Type: Infrastructure, PHP, Pod: WP

#11381 Layer grouping
  includes/Experiments.php
  packages/elements/src/types.js
  packages/story-editor/src/app/canvas/canvasProvider.js
  packages/story-editor/src/app/rightClickMenu/constants.js
  packages/story-editor/src/app/rightClickMenu/hooks/useElementActions.js
  packages/story-editor/src/app/rightClickMenu/items/index.js
  packages/story-editor/src/app/rightClickMenu/items/layerUngroup.js
  packages/story-editor/src/app/rightClickMenu/menus/foregroundMediaMenu.js
  packages/story-editor/src/app/rightClickMenu/menus/multipleElementsMenu.js
  packages/story-editor/src/app/rightClickMenu/menus/shapeMenu.js
  packages/story-editor/src/app/rightClickMenu/menus/stickerMenu.js
  packages/story-editor/src/app/rightClickMenu/menus/textMenu.js
  packages/story-editor/src/app/story/useStoryReducer/actions.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/setSelectedElements.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/toggleElement.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/toggleLayer.js
  packages/story-editor/src/components/canvas/test/frameElement.js
  packages/story-editor/src/components/panels/design/alignment/useAlignment.js
  packages/story-editor/src/components/panels/design/layer/layer.js
  packages/story-editor/src/components/panels/design/layer/useLayerSelection.js
Labels: Type: Enhancement, Group: Canvas, Pod: Prometheus, Group: Workspace

#11649 Show snackbar message for duplicate products
  packages/story-editor/src/app/canvas/useCanvasCopyPaste.js
  packages/story-editor/src/app/canvas/useCanvasKeys.js
Labels: Type: Enhancement

#11575 Shopping: Support pagination in API
  includes/Interfaces/Product_Query.php
  includes/REST_API/Products_Controller.php
  includes/Shopping/Shopify_Query.php
  includes/Shopping/WooCommerce_Query.php
  packages/story-editor/src/app/story/useStoryReducer/reducers/setSelectedElements.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/toggleElement.js
  tests/phpunit/integration/includes/Shopping/Mock_Vendor.php
  tests/phpunit/integration/includes/Shopping/Mock_Vendor_Error.php
  tests/phpunit/integration/includes/Shopping/Mock_Vendor_Invalid.php
  tests/phpunit/integration/tests/REST_API/Product_Controller.php
  tests/phpunit/integration/tests/Shopping/Shopify_Query.php
  tests/phpunit/unit/tests/Shopping/WooCommerce_Query.php
Labels: Type: Enhancement, PHP, Group: Shopping

#11632 Dashboard dropdown filter displayed over stories when user scrolls up/down
  packages/dashboard/src/app/views/shared/bodyViewOptions.js
  packages/design-system/src/components/datalist/datalist.js
  packages/design-system/src/components/popup/index.js
  packages/design-system/src/components/popup/utils/getOffset.js
Labels: Type: Bug, Pod: Pea, Package: Dashboard

#11653 Output: disable JSON minification
  includes/AMP/Optimization.php
  tests/phpunit/integration/tests/AMP/Optimization.php
Labels: Type: Bug, PHP, AMP Output, Pod: WP, Group: Shopping

#11657 Document Panel: add missing attributes to publisher logo img
  packages/wp-story-editor/src/components/documentPane/publish/publish.js
Labels: Type: Enhancement, Group: Document Panel

#11624 Shopping: Add structured data
  .phpstorm.meta.php
  includes/Discovery.php
  includes/Plugin.php
  includes/Shopping/Product_Meta.php
  packages/story-editor/src/app/story/actions/test/useAutoSave.js
  packages/story-editor/src/app/story/utils/getAllProducts.js
  packages/story-editor/src/app/story/utils/getStoryPropsToSave.js
  packages/story-editor/src/app/story/utils/test/getAllProduct.js
  packages/story-editor/src/app/story/utils/test/getStoryPropsToSave.js
  packages/wp-story-editor/src/api/story.js
  tests/phpunit/integration/tests/Discovery.php
Labels: Type: Enhancement, Group: Discoverability, P1, Group: WordPress, Pod: WP, Group: Shopping

#11616 Shopping: Prevent inserting products without images
  packages/story-editor/src/components/library/panes/shopping/karma/shopping.karma.js
  packages/story-editor/src/components/library/panes/shopping/productButton.js
  packages/story-editor/src/karma/fixture/db/getProductsResponse.js
Labels: Type: Enhancement, Pod: Pea, Group: Library, Group: Shopping

#11578 Editor: Correctly initialize new story publish date to "immediately"
  packages/story-editor/src/app/story/effects/test/useLoadStory.js
  packages/story-editor/src/app/story/effects/useLoadStory.js
Labels: Type: Bug, Pod: Prometheus

#11655 Design System: Fix showing multiple snackbars at once
  packages/design-system/src/components/snackbar/snackbarContainer.js
Labels: Type: Bug, Group: Design System

#11661 Background Audio: Fix video not loading
  packages/output/src/test/__snapshots__/page.js.snap
  packages/output/src/utils/backgroundAudio.js
Labels: Type: Bug, Group: Background Audio

#11658 Fonts: Avoid unnecessary API request on dashboard
  packages/wp-dashboard/src/api/hooks/useFontsApi.js
  packages/wp-dashboard/src/components/editorSettings/editorSettings.js
  packages/wp-dashboard/src/components/editorSettings/test/editorSettings.js
Labels: Type: Bug, Group: Fonts, Group: Settings, Pod: WP

#11618 Layer Masks
  packages/design-system/src/icons/index.js
  packages/design-system/src/icons/remove_mask.svg
  packages/masks/src/frame.js
  packages/masks/src/masks.js
  packages/story-editor/src/app/rightClickMenu/constants.js
  packages/story-editor/src/app/rightClickMenu/menus/foregroundMediaMenu.js
  packages/story-editor/src/app/rightClickMenu/menus/multipleElementsMenu.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/panels/design/layer/layer.js
  packages/story-editor/src/components/panels/design/layer/shapeMaskWrapper.js
  packages/story-editor/src/utils/useShapeMask.js
  packages/story-editor/src/utils/useShapeMaskElements.js
Labels: Type: Enhancement, UX Needed, Group: Style Panel, Epic, Pod: Prometheus, Package: Story Editor

#11681 Use icon button for products sort dropdown
  packages/design-system/src/icons/index.js
  packages/design-system/src/icons/sort.svg
  packages/story-editor/src/components/library/panes/shopping/productSort.js
  packages/story-editor/src/components/library/panes/shopping/shoppingPane.js
  packages/story-editor/src/components/panels/shared/media/dropDownMenu.js
Labels: Type: Enhancement, Pod: WP, Group: Library, Group: Shopping

#11682 Track relevant product events
  packages/story-editor/src/components/library/panes/shopping/shoppingPane.js
  packages/wp-dashboard/src/components/editorSettings/shopping/index.js
  packages/wp-dashboard/src/components/editorSettings/shopping/shopify/index.js
Labels: Type: Enhancement, Group: Telemetry, Group: Shopping

#11684 Shopping Attachment: Prevent cutting off text
  packages/story-editor/src/components/canvas/shoppingPageAttachment/index.js
Labels: Type: Bug, Pod: WP, Group: Page Attachment, Group: Shopping

#11666 Editor: Make text selectable in Checklist and Shortcuts panels
  packages/story-editor/src/components/keyboardShortcutsMenu/landmarkShortcuts.js
  packages/story-editor/src/components/keyboardShortcutsMenu/regularShortcuts.js
  packages/story-editor/src/components/keyboardShortcutsMenu/shortcutMenuSection.js
  packages/story-editor/src/components/tablist/styles.js
Labels: Type: Bug, Pod: Pea, Group: Editor Checklist, Group: Keyboard Shortcuts

#11627 Floating menu: fix visibility and positioning
  packages/design-system/src/components/contextMenu/styled.js
  packages/story-editor/src/components/canvas/frameElement.js
  packages/story-editor/src/components/canvas/utils/useElementOutOfCanvas.js
  packages/story-editor/src/components/floatingMenu/menu.js
Labels: Type: Bug, Pod: Prometheus, Group: Floating Menu

#11699 Shopping: fix sorting Karma test
  packages/story-editor/src/components/library/panes/shopping/karma/shopping.karma.js
Labels: Type: Infrastructure, Pod: WP, Group: Shopping

#11678 Dashboard: Filter taxonomies by `show_ui` value
  includes/Admin/Dashboard.php
  includes/REST_API/Stories_Taxonomies_Controller.php
  includes/templates/admin/edit-story.php
  packages/dashboard/src/app/views/myStories/filters/taxonomy/useTaxonomyFilters.js
  packages/story-editor/src/components/panels/document/taxonomies/taxonomies.js
  packages/wp-story-editor/src/api/taxonomy.js
  tests/phpunit/integration/tests/REST_API/Stories_Taxonomies_Controller.php
Labels: Type: Enhancement, Group: Dashboard, Group: WordPress, Pod: WP

#11683 Shopping: Infinite Scroll Pagination
  includes/REST_API/Products_Controller.php
  packages/dashboard/src/app/views/exploreTemplates/content/index.js
  packages/dashboard/src/app/views/myStories/content/index.js
  packages/dashboard/src/components/index.js
  packages/design-system/src/components/index.js
  packages/design-system/src/components/infiniteScroller/index.js
  packages/design-system/src/components/infiniteScroller/stories/index.js
  packages/design-system/src/components/infiniteScroller/test/infiniteScroller.js
  packages/story-editor/src/components/library/panes/shopping/productDropdown.js
  packages/story-editor/src/components/library/panes/shopping/shoppingPane.js
  packages/story-editor/src/karma/fixture/fixture.js
  packages/wp-story-editor/src/api/shopping.js
Labels: Type: Enhancement, P2, Pod: WP, Group: Library, Group: Shopping

#11667 History: Reduce number of actions causing history pollution
  packages/story-editor/src/app/story/effects/useHistoryEntry.js
  packages/story-editor/src/app/story/utils/pageContainsBlobUrl.js
  packages/story-editor/src/app/story/utils/test/pageContainsBlobUrl.js
Labels: Type: Enhancement, Group: History, Pod: Prometheus, Group: Workspace

#11702 Shopping: Fix REST API error handling
  includes/REST_API/Products_Controller.php
  packages/story-editor/src/components/library/panes/shopping/shoppingPane.js
  packages/wp-story-editor/src/api/shopping.js
Labels: Type: Bug, Pod: WP, Group: Shopping

#11707 Shopping: Remove product hover/focus styling
  packages/story-editor/src/components/library/panes/shopping/productList.js
Labels: Type: Enhancement, Pod: WP, Group: Library, Group: Shopping, Bug Bash: 1.22.0

#11687 Templates: Remove first page animations
  docs/external-template-creation.md
  packages/templates/src/raw/12-hours-in-barcelona/template.json
  packages/templates/src/raw/a-day-in-the-life/template.json
  packages/templates/src/raw/ace-hotel-kyoto-review/template.json
  packages/templates/src/raw/album-releases/template.json
  packages/templates/src/raw/all-about-cars/template.json
  packages/templates/src/raw/almodos-films/template.json
  packages/templates/src/raw/an-artists-legacy/template.json
  packages/templates/src/raw/art-books-gift-guide/template.json
  packages/templates/src/raw/baking-bread-guide/template.json
  packages/templates/src/raw/beauty-quiz/template.json
  packages/templates/src/raw/belly-fat-workout/template.json
  packages/templates/src/raw/celebrity-life-story/template.json
  packages/templates/src/raw/celebrity-q-and-a/template.json
  packages/templates/src/raw/doers-get-more-done/template.json
  packages/templates/src/raw/elegant-travel-itinerary/template.json
  packages/templates/src/raw/experience-thailand/template.json
  packages/templates/src/raw/fashion-inspiration/template.json
  packages/templates/src/raw/fashion-on-the-go/template.json
  packages/templates/src/raw/fitness-apps-ranked/template.json
  packages/templates/src/raw/food-and-stuff/template.json
  packages/templates/src/raw/fresh-and-bright/template.json
  packages/templates/src/raw/google-music-studio-tour/template.json
  packages/templates/src/raw/hawaii-travel-packing-list/template.json
  packages/templates/src/raw/honeymooning-in-italy/template.json
  packages/templates/src/raw/how-contact-tracing-works/template.json
  packages/templates/src/raw/how-video-calls-saved-the-day/template.json
  packages/templates/src/raw/indoor-garden-oasis/template.json
  packages/templates/src/raw/kitchen-makeover/template.json
  packages/templates/src/raw/kitchen-stories/template.json
  packages/templates/src/raw/laptop-buying-guide/template.json
  packages/templates/src/raw/los-angeles-city-guide/template.json
  packages/templates/src/raw/magazine-article/template.json
  packages/templates/src/raw/modernist-travel-guide/template.json
  packages/templates/src/raw/new-york-party-round-up/template.json
  packages/templates/src/raw/no-days-off/template.json
  packages/templates/src/raw/one-day-city-itinerary/template.json
  packages/templates/src/raw/pizzas-in-nyc/template.json
  packages/templates/src/raw/plant-based-dyes/template.json
  packages/templates/src/raw/pride-month-watchlist/template.json
  packages/templates/src/raw/rock-music-festival/template.json
  packages/templates/src/raw/sangria-artichoke/template.json
  packages/templates/src/raw/self-care-guide/template.json
  packages/templates/src/raw/series-best-of/template.json
  packages/templates/src/raw/simple-tech-tutorial/template.json
  packages/templates/src/raw/sleep/template.json
  packages/templates/src/raw/sports-quiz/template.json
  packages/templates/src/raw/street-style-on-the-go/template.json
  packages/templates/src/raw/summer-adventure-guide/template.json
  packages/templates/src/raw/summer-fashion-collection/template.json
  packages/templates/src/raw/sustainability-tips/template.json
  packages/templates/src/raw/technology-advice/template.json
  packages/templates/src/raw/tips-for-throwing-an-outdoor-luau/template.json
  packages/templates/src/raw/tv-show-recap/template.json
  packages/templates/src/raw/ultimate-comparison/template.json
  packages/templates/src/raw/vintage-chairs-buying-guide/template.json
  packages/templates/src/raw/ways-to-eat-avocado/template.json
  packages/templates/src/raw/weekly-entertainment/template.json
  packages/templates/src/test/raw.js
Labels: Type: Enhancement, Pod: Pea, Package: Templates

#11679 Shopping: Enable by default
  includes/Experiments.php
Labels: Type: Enhancement, Pod: WP, Group: Shopping

#11725 Design System: prevent dropdown option text being cut off
  packages/design-system/src/components/datalist/list/styled.js
Labels: Type: Bug, Group: Design System

#11726 Shopping: Do not make products draggable for now
  packages/story-editor/src/components/library/panes/shopping/productImage.js
Labels: Type: Enhancement, Pod: WP, Group: Shopping, Bug Bash: 1.22.0

#11715 Shopping: Add right click menu for products
  packages/story-editor/src/app/rightClickMenu/menus/index.js
  packages/story-editor/src/app/rightClickMenu/menus/productMenu.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/canvas/rightClickMenu.js
Labels: Type: Enhancement, Pod: WP, Group: Shopping

#11700 Undoing a layer rename reverts to rename when going back to edit mode.
  packages/story-editor/src/components/panels/design/layer/layer.js
Labels: Type: Bug, Pod: Prometheus, Group: Layers

#11724 Shopping: Hide disallowed products from the product dropdown
  packages/story-editor/src/components/library/panes/shopping/karma/shopping.karma.js
  packages/story-editor/src/components/library/panes/shopping/productDropdown.js
Labels: Type: Enhancement, Needs Tests, Pod: WP, Group: Shopping

#11730 Editor: Fixed right-click in layer panel
  packages/story-editor/src/components/reorderable/useReordering.js
Labels: Type: Bug, Pod: Prometheus

#11722 Separate page and shopping attachments
  packages/output/src/page.js
  packages/output/src/test/page.js
  packages/story-editor/src/components/canvas/displayLayer.js
  packages/story-editor/src/components/canvas/pageAttachment/index.js
  packages/story-editor/src/components/canvas/pageAttachment/karma/pageAttachment.cuj.karma.js
  packages/story-editor/src/components/canvas/shoppingPageAttachment/index.js
  packages/story-editor/src/components/panels/design/pageAttachment/outlink.js
  packages/story-editor/src/components/panels/design/pageAttachment/pageAttachment.js
  packages/story-editor/src/components/panels/design/pageAttachment/shared.js
  packages/story-editor/src/components/panels/design/pageAttachment/shoppingAttachment.js
Labels: Type: Bug, Group: Page Attachment, Group: Shopping

#11729 Added tests for everything in the story reducer
  packages/story-editor/src/app/story/useStoryReducer/reducers/addElements.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/combineElements.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/copySelectedElement.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/deleteElementsByResourceId.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/setBackgroundElement.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/test/utils.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/toggleElement.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/updateStateWithReducer.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/utils.js
  packages/story-editor/src/app/story/useStoryReducer/test/addAnimations.js
  packages/story-editor/src/app/story/useStoryReducer/test/addElement.js
  packages/story-editor/src/app/story/useStoryReducer/test/combineElements.js
  packages/story-editor/src/app/story/useStoryReducer/test/copySelectedElement.js
  packages/story-editor/src/app/story/useStoryReducer/test/deleteElementById.js
  packages/story-editor/src/app/story/useStoryReducer/test/deleteElementsByResourceId.js
  packages/story-editor/src/app/story/useStoryReducer/test/duplicateElementsById.js
  packages/story-editor/src/app/story/useStoryReducer/test/restore.js
  packages/story-editor/src/app/story/useStoryReducer/test/setSelectedElementsById.js
  packages/story-editor/src/app/story/useStoryReducer/test/toggleElementInSelection.js
  packages/story-editor/src/app/story/useStoryReducer/test/updateElementById.js
  packages/story-editor/src/app/story/useStoryReducer/test/updateStory.js
Labels: Type: Code Quality, Pod: Prometheus

#11731 Media: Check URL before encoding
  packages/media/src/calculateSrcSet.js
  packages/media/src/test/calculateSrcSet.js
Labels: Type: Bug, Group: Media

#11747 Update changelog for v1.22.0
  readme.txt
Labels: Type: Documentation, Type: Release

#11727 Shopping: Limit number of products per page
  packages/design-system/src/components/snackbar/snackbarMessage.js
  packages/story-editor/src/app/canvas/useCanvasCopyPaste.js
  packages/story-editor/src/app/canvas/useCanvasKeys.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/addElements.js
  packages/story-editor/src/app/story/useStoryReducer/test/addElements.js
  packages/story-editor/src/components/library/panes/shopping/karma/shopping.karma.js
  packages/story-editor/src/components/library/panes/shopping/product.js
  packages/story-editor/src/components/library/panes/shopping/productButton.js
  packages/story-editor/src/components/library/panes/shopping/productList.js
  packages/story-editor/src/components/library/panes/shopping/stories/index.js
  packages/story-editor/src/constants/index.js
  packages/story-editor/src/karma/fixture/db/getProductsResponse.js
Labels: Type: Enhancement, P1, Pod: WP, Group: Shopping

#11732 Respect first day of the week setting
  packages/story-editor/src/components/form/dateTime/datePicker.js
  packages/story-editor/src/components/form/dateTime/utils.js
Labels: Type: Bug, P2, Group: Document Panel, Pod: WP

#11766 Canvas: Un-break element duplication
  packages/story-editor/src/app/canvas/useCanvasKeys.js
Labels: Type: Bug, Group: Keyboard Shortcuts, Group: Shopping

#11728 Shopping: Reset pulse animation when adding products
  packages/element-library/src/product/display.js
  packages/story-editor/src/components/canvas/displayElement.js
  packages/story-editor/src/components/canvas/displayLayer.js
Labels: Type: Enhancement, Group: Canvas, Pod: WP, Group: Shopping, Bug Bash: 1.22.0

#11740 CI: Run tests against WP 5.7
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-unit-php.yml
Labels: Pod: WP

#11783 Bail early in BlurHash worker
  packages/story-editor/src/utils/generateBlurhash.worker.js
Labels: Type: Bug, Group: Media

#11769 Dashboard: Allow dashboard filters on both grid and list view
  packages/dashboard/src/app/views/myStories/karma/myStoriesList.karma.js
  packages/dashboard/src/app/views/shared/bodyViewOptions.js
Labels: Type: Enhancement, Pod: Pea, Package: Dashboard

#11786 Save snapshots on e2e test failures
  .github/workflows/tests-e2e.yml
  jest-puppeteer.config.cjs
  package-lock.json
  packages/e2e-tests/package.json
  packages/e2e-tests/src/jest.config.js
  packages/e2e-tests/src/puppeteerEnvironment.js
Labels: Type: Infrastructure, Pod: WP

#11798 Fixed karma-test exiting edit-mode while text is unfocused
  packages/story-editor/src/karma/richText/inlineSelection.karma.js
Labels: Type: Bug, Pod: Prometheus

#11748 Editor: Do not show 'Add animation' quick action on first page
  docs/quick-actions.md
  packages/story-editor/src/app/highlights/quickActions/test/useQuickActions.js
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
Labels: Type: Enhancement, Group: Editing, Pod: Pea, Package: Story Editor

#11801 Design Tab: Make Corners field full width
  packages/story-editor/src/components/form/stackable/stackableGroup.js
  packages/story-editor/src/components/panels/design/sizePosition/radius.js
  packages/story-editor/src/components/panels/design/sizePosition/sizePosition.js
Labels: Type: Bug, Pod: Pea, Package: Story Editor

#11818 Update WordPress packages
  .github/dependabot.yml
  package-lock.json
  package.json
  packages/activation-notice/package.json
  packages/e2e-test-utils/package.json
  packages/e2e-tests/package.json
  packages/stories-block/package.json
  packages/stories-carousel/package.json
  packages/tinymce-button/package.json
  packages/widget/package.json
  packages/wp-dashboard/package.json
  packages/wp-story-editor/package.json
Labels: Type: Infrastructure, Dependencies, JavaScript, Pod: WP

#11745 Calendar: Pass custom formatters to `react-calendar`
  packages/date/src/settings.js
  packages/date/src/test/formatDate.js
  packages/date/src/test/getRelativeDisplayDate.js
  packages/story-editor/src/components/form/dateTime/datePicker.js
Labels: Type: Enhancement, Internationalization (I18N), Group: Document Panel

#11743 Background audio: Stop playback of audio on removal
  packages/story-editor/src/components/panels/shared/media/audioPlayer.js
  packages/story-editor/src/components/panels/shared/media/backgroundAudioPanelContent.js
Labels: Type: Bug, Pod: WP, Group: Background Audio

#11737 Workspace: Footer button updates and related refactoring
  packages/design-system/src/components/datalist/datalist.js
  packages/design-system/src/components/disclosure/index.js
  packages/design-system/src/components/dropDown/index.js
  packages/design-system/src/components/dropDown/select/components.js
  packages/design-system/src/components/dropDown/select/index.js
  packages/design-system/src/components/index.js
  packages/design-system/src/utils/index.js
  packages/design-system/src/utils/resolveSizeUnits.js
  packages/story-editor/src/components/checklist/toggle/index.js
  packages/story-editor/src/components/footer/footerLayout.js
  packages/story-editor/src/components/footer/layers/layers.js
  packages/story-editor/src/components/footer/zoomSelector/zoomSelector.js
  packages/story-editor/src/components/helpCenter/toggle/index.js
  packages/story-editor/src/components/keyboardShortcutsMenu/index.js
  packages/story-editor/src/components/publishModal/content/checklistButton.js
  packages/story-editor/src/components/toggleButton/index.js
  packages/story-editor/src/components/toggleButton/stories/index.js
Labels: Type: Enhancement, Pod: Pea, Group: Workspace, Package: Story Editor

#11800 Code Quality: Remove `shoppingIntegration` feature flag code
  includes/Experiments.php
  packages/dashboard/src/karma/fixture.js
  packages/e2e-tests/src/specs/dashboard/settings/adminUser/shoppingProvider.js
  packages/e2e-tests/src/specs/editor/shopping/productMenu.js
  packages/e2e-tests/src/specs/editor/shopping/woocommerce.js
  packages/output/src/page.js
  packages/output/src/test/page.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/floatingMenu/elements/karma/shopping.karma.js
  packages/story-editor/src/components/floatingMenu/menus/product.js
  packages/story-editor/src/components/library/karma/libraryTabs.karma.js
  packages/story-editor/src/components/library/libraryProvider.js
  packages/story-editor/src/components/library/panes/shopping/karma/shopping.karma.js
  packages/story-editor/src/components/library/panes/shopping/shoppingPane.js
  packages/wp-dashboard/src/components/editorSettings/editorSettings.js
  packages/wp-dashboard/src/components/editorSettings/test/editorSettings.js
Labels: Type: Code Quality, Pod: WP, Group: Shopping

#11763 Editor: Optimize story reducers using immer library
  package-lock.json
  packages/story-editor/package.json
  packages/story-editor/src/app/story/useStoryReducer/actions.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/addAnimations.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/addElements.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/addGroup.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/addPage.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/arrangeElement.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/arrangeGroup.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/arrangePage.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/combineElements.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/copySelectedElement.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/deleteElements.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/deleteElementsByResourceId.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/deleteGroup.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/deletePage.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/duplicateElementsById.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/duplicateGroup.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/restore.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/selectElement.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/setBackgroundElement.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/setCurrentPage.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/setSelectedElements.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/toggleElement.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/toggleLayer.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/unselectElement.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/updateAnimationState.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/updateElements.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/updateElementsByFontFamily.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/updateElementsByResourceId.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/updateGroup.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/updatePage.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/updateStory.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/utils.js
  packages/story-editor/src/app/story/useStoryReducer/test/addGroup.js
  packages/story-editor/src/app/story/useStoryReducer/test/arrangeElement.js
  packages/story-editor/src/app/story/useStoryReducer/test/arrangeGroup.js
  packages/story-editor/src/app/story/useStoryReducer/test/combineElements.js
  packages/story-editor/src/app/story/useStoryReducer/test/deleteElementsByResourceId.js
  packages/story-editor/src/app/story/useStoryReducer/test/deleteGroupAndElementsById.js
  packages/story-editor/src/app/story/useStoryReducer/test/deleteGroupById.js
  packages/story-editor/src/app/story/useStoryReducer/test/duplicateElementsById.js
  packages/story-editor/src/app/story/useStoryReducer/test/duplicateGroupById.js
  packages/story-editor/src/app/story/useStoryReducer/test/updateGroupById.js
  packages/story-editor/src/app/story/useStoryReducer/useStoryReducer.js
  packages/story-editor/src/components/panels/design/textStyle/test/stylePresetPanel.js
  packages/story-editor/src/components/styleManager/useApplyStyle.js
Labels: Type: Code Quality, Pod: Prometheus

#11836 Mark publisher logo as such in WordPress media library
  includes/Admin/Admin.php
  tests/phpunit/integration/tests/Admin/Admin.php
Labels: Type: Enhancement, Group: WordPress, Pod: WP

#11828 Workspace: Update disclosure menu components
  packages/design-system/src/components/disclosure/index.js
  packages/design-system/src/components/dropDown/select/components.js
  packages/design-system/src/utils/index.js
  packages/design-system/src/utils/resolveSizeUnits.js
  packages/story-editor/src/components/checklist/checks/shared/thumbnailWrapper.js
  packages/story-editor/src/components/floatingMenu/elements/textAlign.js
  packages/story-editor/src/components/form/color/colorInput.js
  packages/story-editor/src/components/form/select/select.js
  packages/story-editor/src/components/library/panes/text/stylePresets/stylePresets.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets.js
  packages/wp-story-editor/src/components/documentPane/publish/publishTime.js
Labels: Type: Bug, Pod: Pea, Group: Workspace

#11781 Editor: Fixing border between Editor submenus in sidebar
  packages/story-editor/src/components/library/libraryLayout.js
  packages/story-editor/src/components/style/styleLayout.js
Labels: Type: Bug, P2, Group: Style Panel, Pod: Pea, Bug Bash: 1.20.0

#11843 Code Quality: Remove `audioHotlinking` feature flag code
  includes/Experiments.php
  includes/REST_API/Hotlinking_Controller.php
  packages/e2e-tests/src/specs/editor/backgroundAudio.js
  packages/story-editor/src/components/panels/design/pageBackgroundAudio/backgroundAudio.js
  packages/story-editor/src/components/panels/shared/media/backgroundAudioPanelContent.js
Labels: Group: Media, P2, Type: Code Quality, Pod: WP

#11669 POC: Editor: Multipage Canvas
  includes/Experiments.php
  packages/story-editor/src/app/layout/useZoomSetting.js
  packages/story-editor/src/components/canvas/extraPages.js
  packages/story-editor/src/components/canvas/framesLayer.js
  packages/story-editor/src/components/canvas/layout.js
Labels: Type: Enhancement, Pod: Prometheus
