Repository GoogleForCreators/web-stories-wp, pull requests merged in 2022-04, with the labels that each got.

#11141 Move `usePerformanceTracking` from `design-system`
  packages/design-system/src/utils/index.js
  packages/masks/src/frame.js
  packages/story-editor/src/components/canvas/frameElement.js
  packages/story-editor/src/components/canvas/pagemenu/pageMenu.js
  packages/story-editor/src/components/canvas/pagenav/index.js
  packages/story-editor/src/components/footer/pagepreview/index.js
  packages/story-editor/src/components/library/panes/shared/libraryMoveable.js
  packages/story-editor/src/components/panels/design/layer/layer.js
  packages/story-editor/src/components/panels/design/sizePosition/sizePosition.js
  packages/story-editor/src/components/tabview/index.js
  packages/story-editor/src/constants/index.js
  packages/story-editor/src/constants/performanceTrackingEvents.js
  packages/story-editor/src/utils/usePerformanceTracking.js
Labels: Type: Code Quality, Package: Story Editor

#11123 Story Details Modal: Remove Experiment
  includes/Experiments.php
  packages/story-editor/src/components/checklist/karma/checklist.karma.js
  packages/story-editor/src/components/header/buttons/publish.js
  packages/story-editor/src/components/header/buttons/test/publish.js
  packages/story-editor/src/components/publishModal/content/storyPreview.js
  packages/story-editor/src/components/publishModal/karma/publishModal.karma.js
  packages/story-editor/src/components/sidebar/sidebarProvider.js
  packages/wp-story-editor/src/components/header/buttons/test/buttons.js
Labels: Type: Code Quality, Pod: Pea, Package: Story Editor, Story Details

#11119 Image Capture: Initial implementation
  packages/story-editor/src/components/library/panes/media/local/mediaRecording/imageCapture.js
  packages/story-editor/src/components/library/panes/media/local/mediaRecording/modal.js
Labels: Type: Enhancement, Group: Media, Pod: WP

#11126 Accessibility: Resolve issue with duplicate aria-label in reused color component
  packages/story-editor/src/components/floatingMenu/elements/shared/color.js
  packages/story-editor/src/components/form/color/color.js
  packages/story-editor/src/karma/fixture/containers/designMenu.js
Labels: Type: Bug, Accessibility, Pod: Pea, Group: Workspace

#11160 Editor: Removed superfluous data load
  packages/story-editor/src/components/videoTrim/useVideoTrimMode.js
Labels: Type: Bug, Pod: Prometheus

#10779 Support Fast Refresh
  package-lock.json
  package.json
  packages/story-editor/src/utils/copyPaste.js
  webpack.config.cjs
Labels: Type: Infrastructure

#11145 CORS Check: Only show dialog once
  packages/design-system/src/utils/localStore.js
  packages/wp-story-editor/src/components/corsCheck/corsCheck.js
  packages/wp-story-editor/src/components/corsCheck/test/corsCheck.js
Labels: Type: Enhancement, P1, Group: WordPress, Pod: WP, Group: Status Check

#11122 Media: Initial implementation for captions hotlinking
  includes/Experiments.php
  includes/REST_API/Hotlinking_Controller.php
  packages/e2e-tests/src/plugins/web-stories-hotlink.php
  packages/e2e-tests/src/specs/editor/backgroundAudio.js
  packages/element-library/src/video/display.js
  packages/element-library/src/video/trim.js
  packages/media/src/types.js
  packages/story-editor/src/components/audioPlayer/index.js
  packages/story-editor/src/components/library/panes/media/local/hotlink/useInsert.js
  packages/story-editor/src/components/library/panes/media/local/hotlink/utils.js
  packages/story-editor/src/components/panels/design/captions/captions.js
  packages/story-editor/src/components/panels/shared/backgroundAudioPanelContent.js
  packages/story-editor/src/components/panels/shared/captionsPanelContent.js
  packages/story-editor/src/components/panels/shared/hotlinkModal.js
  tests/phpunit/integration/tests/REST_API/Hotlinking_Controller.php
Labels: Type: Enhancement, Group: Media

#11146 Media Hotlinking: Improve parsing of `Content-Type` header
  includes/REST_API/Hotlinking_Controller.php
  tests/phpunit/integration/tests/REST_API/Hotlinking_Controller.php
Labels: Type: Bug, Group: Media, Pod: WP

#11140 Code Quality: Remove enablePostLocking feature flag code
  includes/Admin/Editor.php
  includes/Experiments.php
  packages/dashboard/src/app/views/myStories/content/listView/index.js
  packages/dashboard/src/app/views/myStories/content/stories/index.js
  packages/dashboard/src/app/views/myStories/content/storyGridItem/index.js
  packages/dashboard/src/app/views/myStories/content/storyGridItem/storyDisplayContent.js
  packages/dashboard/src/app/views/myStories/content/storyListItem/index.js
  packages/dashboard/src/app/views/myStories/content/test/storiesView.js
  packages/dashboard/src/app/views/myStories/karma/myStories.karma.js
  packages/dashboard/src/app/views/myStories/karma/myStoriesList.karma.js
  packages/dashboard/src/dataUtils/formattedStoriesArray.js
  packages/e2e-tests/src/specs/wordpress/postLocking.js
  packages/wp-story-editor/src/components/postLock/postLock.js
  packages/wp-story-editor/src/components/postLock/test/postLock.js
  tests/phpunit/integration/tests/Admin/Editor.php
Labels: Type: Code Quality, Pod: WP

#11161 Storybook: Fix Circular Dependencies and fast refresh
  .storybook/main.cjs
  .storybook/preview.js
  package-lock.json
  package.json
  packages/story-editor/src/app/highlights/states.js
  packages/story-editor/src/components/checklist/checks/shared/test/thumbnailWrapper.js
  packages/story-editor/src/components/checklist/checks/shared/thumbnailWrapper.js
  packages/story-editor/src/components/checklist/checks/videoElementLength.js
  packages/story-editor/src/components/checklist/checks/videoElementMissingCaptions.js
  packages/story-editor/src/components/checklist/checks/videoElementMissingDescription.js
  packages/story-editor/src/components/checklist/checks/videoElementMissingPoster.js
  packages/story-editor/src/components/checklist/checks/videoElementResolution.js
  packages/story-editor/src/components/checklistCard/checklistCard.js
  packages/story-editor/src/components/colorPicker/colorAdd.js
  packages/story-editor/src/components/colorPicker/editablePreview.js
  packages/story-editor/src/components/colorPicker/header.js
  packages/story-editor/src/components/floatingMenu/elements/fontSize.js
  packages/story-editor/src/components/form/color/color.js
  packages/story-editor/src/components/form/color/colorInput.js
  packages/story-editor/src/components/form/color/opacityInput.js
  packages/story-editor/src/components/form/filterToggle/filterToggle.js
  packages/story-editor/src/components/form/link.js
  packages/story-editor/src/components/form/select/select.js
  packages/story-editor/src/components/form/textArea.js
  packages/story-editor/src/components/library/common/searchInput.js
  packages/story-editor/src/components/library/constants.js
  packages/story-editor/src/components/library/paneIds.js
  packages/story-editor/src/components/library/panes/media/local/hotlink/hotlink.js
  packages/story-editor/src/components/library/panes/media/local/mediaPane.js
  packages/story-editor/src/components/library/panes/media/local/mediaRecording/mediaRecording.js
  packages/story-editor/src/components/library/panes/media/media3p/providerTab.js
  packages/story-editor/src/components/library/panes/pageTemplates/savedPageTemplate.js
  packages/story-editor/src/components/library/panes/pageTemplates/templateSave.js
  packages/story-editor/src/components/library/panes/text/fontPreview.js
  packages/story-editor/src/components/panels/design/animation/effectChooserDropdown/effectChooserDropdown.js
  packages/story-editor/src/components/panels/design/animation/effectChooserDropdown/styles.js
  packages/story-editor/src/components/panels/design/animation/effectInput.js
  packages/story-editor/src/components/panels/design/border/borderWidth.js
  packages/story-editor/src/components/panels/design/link/link.js
  packages/story-editor/src/components/panels/design/sizePosition/opacity.js
  packages/story-editor/src/components/panels/design/sizePosition/radius.js
  packages/story-editor/src/components/panels/design/sizePosition/sizePosition.js
  packages/story-editor/src/components/panels/design/textStyle/backgroundColor.js
  packages/story-editor/src/components/panels/design/textStyle/font.js
  packages/story-editor/src/components/panels/design/textStyle/padding.js
  packages/story-editor/src/components/panels/design/textStyle/style.js
  packages/story-editor/src/components/panels/document/pageAdvancement/pageAdvancement.js
  packages/story-editor/src/components/panels/document/slug/slug.js
  packages/story-editor/src/components/panels/panel/shared/title.js
  packages/story-editor/src/components/panels/shared/index.js
  packages/story-editor/src/components/secondaryPopup/components.js
  packages/story-editor/src/components/styleManager/components.js
  packages/story-editor/src/components/styleManager/header.js
  packages/story-editor/src/components/styleManager/styleItem.js
  packages/story-editor/src/index.js
  packages/wp-dashboard/src/effects/useMediaOptimization.js
  packages/wp-dashboard/src/effects/useTelemetryOptIn.js
  webpack.config.cjs
Labels: Type: Bug, Type: Infrastructure, Type: Code Quality, Pod: Pea

#11136 Fix center snapping
  packages/design-system/src/components/keyboard/index.js
  packages/story-editor/src/components/canvas/karma/snapping.karma.js
  packages/story-editor/src/components/canvas/utils/useSnapping.js
Labels: Type: Bug, Elements, Pod: Prometheus, Group: Workspace

#11175 Floating Menu: Keyboard Nav, Focus Group Base Architecture
  packages/react/src/index.js
  packages/react/src/useInitializedValue.js
  packages/react/src/useReduction.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/constants.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/context.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/index.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/keyBindings.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/provider.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/reduction.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/test/EditLayerFocusManager.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/useEditLayerFocusManager.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/useFocusGroupRef.js
Labels: Type: Enhancement, Accessibility, Group: Floating Menu

#11169 Simplify `useElementsWithLinks`
  packages/story-editor/src/components/panels/design/link/link.js
  packages/story-editor/src/components/panels/design/pageAttachment/pageAttachment.js
  packages/story-editor/src/utils/useElementsWithLinks.js
Labels: Group: Links, Type: Code Quality, Group: Page Attachment

#11195 Settings: announce deleted custom font
  packages/wp-dashboard/src/components/editorSettings/customFonts/index.js
Labels: Type: Enhancement, Accessibility, Group: Fonts, Pod: WP

#11209 Update various npm dependencies
  package-lock.json
  package.json
  packages/activation-notice/package.json
  packages/commander/package.json
  packages/dashboard/package.json
  packages/date/package.json
  packages/design-system/package.json
  packages/element-library/package.json
  packages/migration/package.json
  packages/patterns/package.json
  packages/story-editor/package.json
  packages/wp-dashboard/package.json
  packages/wp-story-editor/package.json
  patches/eslint-plugin-react-hooks+4.4.0.patch
  patches/puppeteer+13.5.2.patch
Labels: Dependencies

#11208 Update Composer dependencies
  composer.lock
Labels: Dependencies

#11158 Shopping: Add initial implementation
  composer.json
  composer.lock
  includes/Admin/Editor.php
  includes/Experiments.php
  includes/KSES.php
  includes/Plugin.php
  includes/REST_API/Products_Controller.php
  includes/Settings.php
  packages/design-system/src/utils/panelTypes.js
  packages/element-library/src/elementTypes.js
  packages/element-library/src/product/constants.js
  packages/element-library/src/product/display.js
  packages/element-library/src/product/icon.js
  packages/element-library/src/product/index.js
  packages/element-library/src/product/layer.js
  packages/element-library/src/product/output.js
  packages/elements/src/constants.js
  packages/output/src/element.js
  packages/output/src/page.js
  packages/output/src/test/page.js
  packages/output/src/utils/getUsedAmpExtensions.js
  packages/output/src/utils/outlink.js
  packages/output/src/utils/shoppingAttachment.js
  packages/output/src/utils/styles.js
  packages/output/src/utils/test/getUsedAmpExtensions.js
  packages/story-editor/src/app/highlights/quickActions/test/useQuickActions.js
  packages/story-editor/src/components/canvas/displayLayer.js
  packages/story-editor/src/components/canvas/pageAttachment/index.js
  packages/story-editor/src/components/canvas/shoppingPageAttachment/icons/arrowBar.svg
  packages/story-editor/src/components/canvas/shoppingPageAttachment/index.js
  packages/story-editor/src/components/canvas/singleSelectionMoveable/index.js
  packages/story-editor/src/components/design/getDesignPanelsForSelection.js
  packages/story-editor/src/components/library/constants.js
  packages/story-editor/src/components/library/libraryPanes.js
  packages/story-editor/src/components/library/libraryProvider.js
  packages/story-editor/src/components/library/paneIds.js
  packages/story-editor/src/components/library/panes/elements/elements.svg
  packages/story-editor/src/components/library/panes/shopping/icons/shopping.svg
  packages/story-editor/src/components/library/panes/shopping/index.js
  packages/story-editor/src/components/library/panes/shopping/paneId.js
  packages/story-editor/src/components/library/panes/shopping/shoppingIcon.js
  packages/story-editor/src/components/library/panes/shopping/shoppingPane.js
  packages/story-editor/src/components/panels/design/index.js
  packages/story-editor/src/components/panels/design/pageAttachment/pageAttachment.js
  packages/story-editor/src/components/panels/design/product/index.js
  packages/story-editor/src/components/panels/design/product/product.js
  packages/wp-dashboard/src/api/reducers/settings.js
  packages/wp-dashboard/src/api/settings.js
  packages/wp-dashboard/src/components/editorSettings/editorSettings.js
  packages/wp-dashboard/src/components/editorSettings/googleAnalytics/index.js
  packages/wp-dashboard/src/components/editorSettings/shopping/index.js
  packages/wp-dashboard/src/components/editorSettings/shopping/shopify/index.js
  packages/wp-dashboard/src/components/editorSettings/shopping/stories/index.js
  packages/wp-dashboard/src/components/editorSettings/shopping/test/shopping.js
  packages/wp-story-editor/src/api/index.js
  packages/wp-story-editor/src/api/shopping.js
  phpstan.neon.dist
  tests/phpunit/integration/tests/KSES.php
Labels: Type: Enhancement, Group: Shopping

#11192 Floating Menus: adjust input widths
  packages/story-editor/src/components/floatingMenu/elements/fontSize.js
  packages/story-editor/src/components/floatingMenu/elements/layerOpacity.js
  packages/story-editor/src/components/floatingMenu/elements/shared/color.js
  packages/story-editor/src/components/floatingMenu/elements/shared/text.js
  packages/story-editor/src/components/form/color/opacityInput.js
Labels: Type: Enhancement, Pod: Pea, Group: Floating Menu

#11213 Editor: Fix issues with saving the demo story
  includes/templates/admin/edit-story.php
  packages/e2e-tests/src/specs/wordpress/getStartedStory.js
Labels: Type: Bug, Group: WordPress, Pod: WP

#11197 Code Quality: Clean up Checkpoint Provider
  packages/story-editor/src/components/checklist/checkpointContext/checkpointContext.js
  packages/story-editor/src/components/checklist/index.js
  packages/story-editor/src/components/checklist/reviewChecklistDialog.js
  packages/story-editor/src/components/checklist/stories/reviewChecklistDialog.js
  packages/story-editor/src/components/footer/secondaryMenu.js
  packages/story-editor/src/components/header/buttons/buttonWithChecklistWarning.js
  packages/story-editor/src/components/header/buttons/test/publish.js
  packages/story-editor/src/components/header/buttons/test/switchToDraft.js
  packages/story-editor/src/components/publishModal/publishModal.js
  packages/story-editor/src/components/publishModal/stories/index.js
  packages/story-editor/src/components/publishModal/test/header.js
  packages/wp-story-editor/src/components/documentPane/status/status.js
  packages/wp-story-editor/src/components/header/buttons/test/buttons.js
Labels: Type: Code Quality, Pod: Pea, Group: Pre-Publish Checklist, Story Details

#11193 Canvas: Canvas as a focusable group
  packages/story-editor/src/components/canvas/canvasLayout.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/constants.js
  packages/story-editor/src/components/canvas/frameElement.js
  packages/story-editor/src/components/canvas/framesLayer.js
  packages/story-editor/src/components/canvas/karma/canvasKeyboardNavigation.karma.js
  packages/story-editor/src/components/canvas/test/_utils.js
  packages/story-editor/src/components/canvas/test/frame.js
  packages/story-editor/src/karma/fixture/containers/library/index.js
Labels: Type: Enhancement, Accessibility, Group: Canvas, Pod: Pea

#11194 Settings: Change selected font upon click
  packages/e2e-tests/src/specs/dashboard/settings/adminUser/customFonts.js
  packages/wp-dashboard/src/components/editorSettings/customFonts/index.js
Labels: Type: Enhancement, Accessibility, Group: Fonts, Group: Settings, Pod: WP

#11163 Editor: Fix intersection calculation when right-clicking elements
  packages/story-editor/src/app/rightClickMenu/useLayerSelect.js
Labels: Type: Bug, Pod: Prometheus

#11212 Animations: remove panel when multiple elements are selected
  packages/story-editor/src/components/panels/design/animation/animation.js
  packages/story-editor/src/components/panels/design/animation/karma/animation.karma.js
Labels: Group: Animations, Type: Code Quality, Pod: Pea

#11215 Canvas: make mask elements focusable
  packages/masks/src/frame.js
  packages/story-editor/src/components/canvas/frameElement.js
  packages/story-editor/src/components/canvas/framesLayer.js
  packages/story-editor/src/components/canvas/karma/canvasKeyboardNavigation.karma.js
  packages/story-editor/src/components/canvas/karma/selection.karma.js
Labels: Type: Bug, Accessibility, Group: Canvas, Pod: Pea

#11217 Floating Menu: Border Color Eyedropper Regression
  packages/story-editor/src/components/floatingMenu/elements/borderWidthAndColor.js
  packages/story-editor/src/components/panels/design/border/border.js
Labels: Type: Bug, Pod: Pea, Group: Floating Menu

#11207 Performance: Story carousel integrate with page canvas provider
  packages/story-editor/src/app/pageCanvas/usePageCanvas.js
  packages/story-editor/src/components/canvas/karma/carousel.karma.js
  packages/story-editor/src/components/footer/carousel/carouselPage.js
  packages/story-editor/src/components/footer/carousel/carouselProvider.js
  packages/story-editor/src/components/footer/carousel/useCarouselCache.js
  packages/story-editor/src/components/footer/gridview/test/gridview.js
  packages/story-editor/src/components/footer/pagepreview/index.js
  packages/story-editor/src/utils/storyPageToCanvas.js
Labels: Type: Bug, Type: Performance, Type: Code Quality, Pod: Pea, Package: Story Editor

#11223 Floating menu: Keyboard Navigation to Enter and Exit
  packages/design-system/src/components/contextMenu/contextMenu.js
  packages/design-system/src/components/contextMenu/menu.js
  packages/element-library/src/text/edit.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/keyBindings.js
  packages/story-editor/src/components/canvas/frameElement.js
  packages/story-editor/src/components/canvas/karma/elementKeyboardNavigation.js
  packages/story-editor/src/components/floatingMenu/elements/borderRadius.js
  packages/story-editor/src/components/floatingMenu/elements/borderWidthAndColor.js
  packages/story-editor/src/components/floatingMenu/elements/fontFamily.js
  packages/story-editor/src/components/floatingMenu/elements/fontSize.js
  packages/story-editor/src/components/floatingMenu/elements/layerOpacity.js
  packages/story-editor/src/components/floatingMenu/elements/loop.js
  packages/story-editor/src/components/floatingMenu/elements/shapeColor.js
  packages/story-editor/src/components/floatingMenu/elements/shared/icon.js
  packages/story-editor/src/components/floatingMenu/elements/shared/text.js
  packages/story-editor/src/components/floatingMenu/elements/textAlign.js
  packages/story-editor/src/components/floatingMenu/elements/textColor.js
  packages/story-editor/src/components/floatingMenu/elements/toggleBold.js
  packages/story-editor/src/components/floatingMenu/elements/toggleItalics.js
  packages/story-editor/src/components/floatingMenu/elements/toggleUnderline.js
  packages/story-editor/src/components/floatingMenu/menu.js
  packages/story-editor/src/components/fontPicker/index.js
  packages/story-editor/src/components/form/color/color.js
  packages/story-editor/src/components/form/color/colorInput.js
  packages/story-editor/src/components/form/color/opacityInput.js
  packages/story-editor/src/components/panels/shared/loopPanelContent.js
Labels: Type: Enhancement, Accessibility, Pod: Pea

#11214 Dashboard: Disable deletion of locked stories
  packages/dashboard/src/app/views/myStories/karma/myStories.karma.js
  packages/dashboard/src/app/views/myStories/karma/myStoriesList.karma.js
  packages/dashboard/src/components/popoverMenu/story-menu-generator.js
  packages/dashboard/src/karma/apiProviderFixture.js
Labels: Type: Enhancement, Pod: Pea, Group: Story Locking

#11247 Embeds: fix broken carousel arrow button
  packages/stories-block/src/css/views/carousel.css
  packages/stories-block/src/inline-icons/carousel-arrow.svg
Labels: Type: Bug, Pod: WP, Group: Blocks

#11256 Design System: DataList partial search support
  packages/design-system/src/components/datalist/utils.js
  packages/story-editor/src/components/panels/design/textStyle/test/fontPicker.js
Labels: Type: Bug, Pod: Pea, Package: Design System, Bug Bash: 1.18.0

#11230 Checklist: Focus checklist when opened from the publish modal
  packages/story-editor/src/components/checklist/checklist.js
  packages/story-editor/src/components/checklist/checklistContext/provider.js
  packages/story-editor/src/components/header/buttons/buttonWithChecklistWarning.js
  packages/story-editor/src/components/header/buttons/publish.js
  packages/story-editor/src/components/publishModal/karma/publishModal.karma.js
  packages/story-editor/src/components/publishModal/publishModal.js
  packages/story-editor/src/components/secondaryPopup/topNavigation.js
Labels: Type: Bug, Pod: Pea, Group: Pre-Publish Checklist

#11264 Remove CSS import from `story-editor`
  .eslintrc
  package-lock.json
  package.json
  packages/story-editor/src/components/form/dateTime/calendarWrapper.js
  packages/story-editor/src/components/form/dateTime/datePicker.js
  rollup.config.js
Labels: Type: Code Quality, Package: Story Editor

#11243 Floating Menu: Add Focus Keyboard Shortcut to Popup
  packages/story-editor/src/components/keyboardShortcutsMenu/keyboardShortcutList.js
Labels: Type: Enhancement, Accessibility, Pod: Pea, Group: Keyboard Shortcuts

#11255 Style tab redesign
  packages/design-system/src/utils/index.js
  packages/design-system/src/utils/panelSections.js
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
  packages/story-editor/src/app/highlights/states.js
  packages/story-editor/src/app/rightClickMenu/hooks/useCopyPasteActions.js
  packages/story-editor/src/app/rightClickMenu/hooks/useElementActions.js
  packages/story-editor/src/components/canvas/karma/quickActions.karma.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/canvas/pageAttachment/karma/pageAttachment.cuj.karma.js
  packages/story-editor/src/components/checklist/checks/publisherLogoSize.js
  packages/story-editor/src/components/checklist/karma/checklist.karma.js
  packages/story-editor/src/components/design/designInspector.js
  packages/story-editor/src/components/design/designPanels.js
  packages/story-editor/src/components/floatingMenu/elements/fontSize.js
  packages/story-editor/src/components/floatingMenu/elements/shared/useTextToggle.js
  packages/story-editor/src/components/floatingMenu/elements/textColor.js
  packages/story-editor/src/components/library/constants.js
  packages/story-editor/src/components/library/libraryProvider.js
  packages/story-editor/src/components/library/panes/text/stylePresets/stylePresets.js
  packages/story-editor/src/components/panels/design/animation/karma/animation.karma.js
  packages/story-editor/src/components/panels/design/link/karma/link.karma.js
  packages/story-editor/src/components/panels/shared/test/_utils.js
  packages/story-editor/src/components/sidebar/sidebarProvider.js
  packages/story-editor/src/components/storyFontPicker/index.js
  packages/story-editor/src/components/style/constants.js
  packages/story-editor/src/components/style/context.js
  packages/story-editor/src/components/style/designPanel.js
  packages/story-editor/src/components/style/getDesignPanelsForSelection.js
  packages/story-editor/src/components/style/icons/animationIcon.js
  packages/story-editor/src/components/style/icons/imageSelectionIcon.js
  packages/story-editor/src/components/style/icons/linkIcon.js
  packages/story-editor/src/components/style/icons/multiSelectionIcon.js
  packages/story-editor/src/components/style/icons/selectionIcon.js
  packages/story-editor/src/components/style/icons/shapeSelectionIcon.js
  packages/story-editor/src/components/style/icons/textSelectionIcon.js
  packages/story-editor/src/components/style/icons/videoSelectionIcon.js
  packages/story-editor/src/components/style/index.js
  packages/story-editor/src/components/style/style.js
  packages/story-editor/src/components/style/styleLayout.js
  packages/story-editor/src/components/style/stylePanes.js
  packages/story-editor/src/components/style/styleProvider.js
  packages/story-editor/src/components/style/test/designPanel.js
  packages/story-editor/src/components/style/test/updateProperties.js
  packages/story-editor/src/components/style/updateProperties.js
  packages/story-editor/src/components/style/useDesignPanels.js
  packages/story-editor/src/components/style/useStyle.js
  packages/story-editor/src/karma/copyAndPaste.cuj.karma.js
  packages/story-editor/src/karma/duplicate.cuj.karma.js
  packages/story-editor/src/karma/fixture/containers/designPanel/index.js
Labels: Type: Enhancement, Group: Style Panel, Pod: Prometheus, Group: Workspace

#11290 Fix Style tab overflow
  packages/story-editor/src/components/style/stylePanes.js
Labels: Type: Bug, Group: Style Panel, Pod: Prometheus

#11275 Code Quality: Move some event listeners to `useEffect`
  packages/dashboard/src/utils/keyboardOnlyOutline.js
  packages/story-editor/src/utils/keyboardOnlyOutline.js
Labels: Type: Code Quality, Package: Dashboard, Package: Story Editor

#11274 Remove unused files from `story-editor` package
  packages/story-editor/src/publicPath.js
  packages/story-editor/src/style.css
Labels: Type: Code Quality, Package: Story Editor

#11092 Quick Actions: Implement shortcut for adding new text element
  packages/e2e-test-utils/src/addTextElement.js
  packages/e2e-tests/src/specs/editor/authorUser.js
  packages/e2e-tests/src/specs/integrations/amp.js
  packages/story-editor/src/app/highlights/quickActions/test/useQuickActions.js
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
  packages/story-editor/src/components/canvas/karma/quickActions.karma.js
  packages/story-editor/src/components/canvas/pageSideMenu.js
  packages/story-editor/src/components/colorPicker/karma/colorPicker.karma.js
  packages/story-editor/src/components/floatingMenu/elements/karma/text.karma.js
  packages/story-editor/src/components/library/panes/text/karma/savedStyles.karma.js
  packages/story-editor/src/components/library/panes/text/karma/textPane.karma.js
  packages/story-editor/src/components/library/panes/text/textPresets.js
  packages/story-editor/src/components/panels/design/textStyle/karma/textStyle.other.karma.js
  packages/story-editor/src/karma/element-library/text/edit.karma.js
  packages/story-editor/src/karma/richText/inlineSelection.karma.js
  packages/story-editor/src/karma/richText/inlineStyleOverride.karma.js
  packages/story-editor/src/karma/richText/multiSelection.karma.js
  packages/story-editor/src/karma/richText/singleSelection.karma.js
Labels: Type: Enhancement, Pod: Prometheus

#11276 Decoupling: Use dashboard container ID from config
  docs/third-party-integration/dashboard/integration-layer.md
  packages/dashboard/src/constants/pageStructure.js
  packages/dashboard/src/utils/usePagePreviewSize.js
  packages/wp-dashboard/src/index.js
Labels: Package: Dashboard, Package: WP Dashboard

#11246 Story Events: propTypes typo
  packages/story-editor/src/app/story/storyTriggers/storyEvents/onInitialElementAddedRegister.js
  packages/story-editor/src/app/story/storyTriggers/storyEvents/onPageAddedRegister.js
  packages/story-editor/src/app/story/storyTriggers/storyEvents/propTypes.js
Labels: Type: Bug, Type: Code Quality, Pod: Pea

#11251 [10990] e2e tests for floating menu
  packages/e2e-tests/src/specs/editor/floatingMenu.js
Labels: Type: Enhancement, Pod: Prometheus

#11315 Code Quality: Remove `customFonts` and `enhancedPageBackgroundAudio` experiments (again)
  includes/Experiments.php
Labels: Group: Fonts, Type: Code Quality

#11273 Floating Menu: Add Roving Keyboard Navigation
  packages/design-system/src/components/contextMenu/constants.js
  packages/design-system/src/components/contextMenu/index.js
  packages/design-system/src/components/contextMenu/menu.js
  packages/design-system/src/components/input/index.js
  packages/design-system/src/components/input/numericInput.js
  packages/design-system/src/components/input/useNumericInput.js
  packages/story-editor/src/app/canvas/useCanvasKeys.js
  packages/story-editor/src/components/canvas/test/useCanvasKeys.js
  packages/story-editor/src/components/floatingMenu/elements/borderRadius.js
  packages/story-editor/src/components/floatingMenu/elements/borderWidthAndColor.js
  packages/story-editor/src/components/floatingMenu/elements/fontSize.js
  packages/story-editor/src/components/floatingMenu/elements/karma/text.karma.js
  packages/story-editor/src/components/floatingMenu/elements/layerOpacity.js
  packages/story-editor/src/components/floatingMenu/elements/shapeColor.js
  packages/story-editor/src/components/floatingMenu/elements/shared/color.js
  packages/story-editor/src/components/floatingMenu/elements/shared/focusTrapButton.js
  packages/story-editor/src/components/floatingMenu/elements/shared/icon.js
  packages/story-editor/src/components/floatingMenu/elements/shared/index.js
  packages/story-editor/src/components/floatingMenu/elements/shared/input.js
  packages/story-editor/src/components/floatingMenu/elements/shared/text.js
  packages/story-editor/src/components/floatingMenu/elements/shared/toggleButton.js
  packages/story-editor/src/components/floatingMenu/karma/floatingMenu.karma.js
  packages/story-editor/src/components/floatingMenu/karma/image.karma.js
  packages/story-editor/src/components/floatingMenu/karma/shape.karma.js
  packages/story-editor/src/components/floatingMenu/karma/sticker.karma.js
  packages/story-editor/src/components/floatingMenu/karma/text.karma.js
  packages/story-editor/src/components/floatingMenu/karma/utils.js
  packages/story-editor/src/components/floatingMenu/karma/video.karma.js
  packages/story-editor/src/components/floatingMenu/stories/index.js
  packages/story-editor/src/components/form/color/activeOpacity.js
  packages/story-editor/src/components/form/color/color.js
  packages/story-editor/src/components/form/color/colorInput.js
  packages/story-editor/src/components/form/color/opacityInput.js
  packages/story-editor/src/components/panels/shared/loopPanelContent.js
  packages/story-editor/src/karma/fixture/containers/designMenu.js
  packages/story-editor/src/karma/richText/inlineSelection.karma.js
Labels: Type: Enhancement, Accessibility, Pod: Pea, Group: Floating Menu

#11280 Design System: Tooltip separation
  packages/dashboard/src/app/views/myStories/content/storyGridItem/storyDisplayContent.js
  packages/dashboard/src/app/views/myStories/content/storyListItem/index.js
  packages/dashboard/src/components/tooltip/tooltip.js
  packages/dashboard/src/getDefaultConfig.js
  packages/design-system/src/components/mediaInput/index.js
  packages/design-system/src/components/popup/constants.js
  packages/design-system/src/components/popup/index.js
  packages/design-system/src/components/popup/utils/getOffset.js
  packages/design-system/src/components/slider/index.js
  packages/design-system/src/components/swatch/stories/index.js
  packages/design-system/src/components/tooltip/index.js
  packages/design-system/src/components/tooltip/stories/index.js
  packages/design-system/src/components/tooltip/tail.js
  packages/design-system/src/components/tooltip/test/tooltip.js
  packages/story-editor/src/components/canvas/pageSideMenu.js
  packages/story-editor/src/components/checklist/checks/videoOptimization.js
  packages/story-editor/src/components/checklistCard/stories/index.js
  packages/story-editor/src/components/floatingMenu/elements/shared/icon.js
  packages/story-editor/src/components/floatingMenu/elements/textAlign.js
  packages/story-editor/src/components/footer/gridview/gridView.js
  packages/story-editor/src/components/form/media.js
  packages/story-editor/src/components/form/tags/tag.js
  packages/story-editor/src/components/header/buttons/buttonWithChecklistWarning.js
  packages/story-editor/src/components/panels/design/alignment/alignment.js
  packages/story-editor/src/components/panels/design/animation/directionRadioInput.js
  packages/story-editor/src/components/panels/design/animation/effectChooserDropdown/dropdownItem.js
  packages/story-editor/src/components/panels/design/layer/layer.js
  packages/story-editor/src/components/panels/design/pageBackground/pageBackground.js
  packages/story-editor/src/components/panels/design/sizePosition/sizePosition.js
  packages/story-editor/src/components/tablist/stories/index.js
  packages/story-editor/src/components/thumbnail/stories/index.js
  packages/story-editor/src/components/toggleButton/index.js
  packages/story-editor/src/components/tooltip/tooltip.js
  packages/story-editor/src/constants/zIndex.js
  packages/wp-dashboard/src/components/editorSettings/customFonts/index.js
  packages/wp-dashboard/src/index.js
  packages/wp-story-editor/src/index.js
Labels: Type: Code Quality, Pod: Pea, Group: Design System, Package: Design System

#11308 REST API: Prime attachment caches all at once
  includes/REST_API/Stories_Media_Controller.php
  tests/phpunit/integration/tests/REST_API/Stories_Media_Controller.php
Labels: Type: Enhancement, Type: Performance, Pod: WP

#11326 Improve setup & docs for Windows environments
  bin/deploy-to-test-environment.sh
  bin/local-env/includes.sh
  bin/local-env/install-composer.sh
  bin/local-env/install-node-nvm.sh
  bin/local-env/install-wordpress.sh
  bin/local-env/launch-containers.sh
  bin/local-env/start.sh
  bin/local-env/stop.sh
  docs/getting-started.md
  docs/local-environment.md
  package-lock.json
  package.json
Labels: Type: Documentation, Type: Infrastructure, Pod: WP

#11302 Performance: Saved template image generation integrate with page canvas provider
  packages/story-editor/src/components/library/panes/pageTemplates/savedPageTemplate.js
  packages/story-editor/src/components/library/panes/pageTemplates/templateSave.js
  packages/story-editor/src/utils/createThumbnailCanvasFromFullbleedCanvas.js
Labels: Type: Enhancement, Type: Performance, Pod: Pea

#11332 Updated Getting Started docs for WSL users
  docs/getting-started.md
Labels: Type: Documentation

#11272 Fix story saving after removing background audio
  packages/e2e-tests/src/specs/editor/backgroundAudio.js
  packages/output/src/page.js
  packages/output/src/test/page.js
  packages/story-editor/src/components/canvas/mediaCaptions/mediaCaptionsLayer.js
Labels: Type: Bug, Needs Tests, Pod: WP, Group: Background Audio

#11333 E2E Tests: Make Quick Edit test more robust
  packages/e2e-tests/src/specs/wordpress/quickEdit.js
Labels: Type: Infrastructure, Package: E2E Tests

#11261 Peformance: Remove Empty Sidebar Renders on Selection
  packages/story-editor/src/components/sidebar/sidebarContent.js
  packages/story-editor/src/components/sidebar/sidebarLayout.js
  packages/story-editor/src/components/sidebar/sidebarProvider.js
  packages/story-editor/src/components/tabview/index.js
Labels: Type: Performance, Pod: Pea

#11339 Restore Global Keyboard Workspace Focus Shortcut
  packages/story-editor/src/components/canvas/framesLayer.js
  packages/story-editor/src/components/canvas/karma/canvasKeyboardNavigation.karma.js
  packages/story-editor/src/components/canvas/useFocusCanvas.js
Labels: Type: Bug, Pod: Pea

#11289 Editor: Hide design menu if not enabled for element type
  packages/element-library/src/gif/constants.js
  packages/element-library/src/image/constants.js
  packages/element-library/src/media/constants.js
  packages/element-library/src/product/constants.js
  packages/element-library/src/shape/constants.js
  packages/element-library/src/sticker/constants.js
  packages/element-library/src/text/constants.js
  packages/element-library/src/video/constants.js
  packages/story-editor/src/components/floatingMenu/constants.js
  packages/story-editor/src/components/floatingMenu/layer.js
Labels: Type: Enhancement, Elements, Group: Floating Menu

#11279 Editor: Fixed bugs when panning flipped background image
  packages/element-library/src/media/editPanMoveable.js
Labels: Type: Bug, Pod: Prometheus

#11360 Update Composer dependencies
  composer.lock
Labels: Type: Enhancement, Dependencies, Pod: WP

#11328 Floating Menu Return Focus to Element
  packages/story-editor/src/components/canvas/editLayerFocusManager/keyBindings.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/provider.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/reduction.js
  packages/story-editor/src/components/canvas/editLayerFocusManager/test/EditLayerFocusManager.js
  packages/story-editor/src/components/canvas/frameElement.js
  packages/story-editor/src/components/canvas/framesLayer.js
  packages/story-editor/src/components/canvas/karma/canvasKeyboardNavigation.karma.js
  packages/story-editor/src/components/canvas/karma/elementKeyboardNavigation.js
  packages/story-editor/src/components/canvas/useFocusCanvas.js
  packages/story-editor/src/components/floatingMenu/karma/floatingMenu.karma.js
Labels: Type: Enhancement, Accessibility, Pod: Pea, Package: Story Editor, Group: Floating Menu

#11365 Add changelog for v1.20.0
  readme.txt
Labels: Type: Documentation

#11347 Dashboard: Search templates by title
  packages/dashboard/src/app/views/constants.js
  packages/dashboard/src/app/views/utils/composeTemplateFilter.js
  packages/dashboard/src/app/views/utils/getTemplateFilters.js
  packages/dashboard/src/app/views/utils/test/composeTemplateFilter.js
  packages/dashboard/src/app/views/utils/test/getTemplateFilters.js
Labels: Type: Enhancement, Pod: Pea, Package: Dashboard

#11366 Update some documentation links in the editor
  packages/story-editor/src/components/checklist/constants.js
  packages/story-editor/src/components/library/panes/media/media3p/termsDialog.js
  packages/story-editor/src/components/library/test/__snapshots__/termsDialog.js.snap
  packages/wp-story-editor/src/components/corsCheck/corsCheckFailed.js
  packages/wp-story-editor/src/components/helpCenter/footer/index.js
  packages/wp-story-editor/src/constants/tips.js
Labels: Type: Enhancement, Group: Status Check

#11331 Shopping: Provider Dropdown
  includes/REST_API/Products_Controller.php
  includes/Settings.php
  packages/e2e-tests/src/specs/dashboard/settings/adminUser/shoppingProvider.js
  packages/wp-dashboard/src/api/reducers/settings.js
  packages/wp-dashboard/src/api/settings.js
  packages/wp-dashboard/src/components/editorSettings/editorSettings.js
  packages/wp-dashboard/src/components/editorSettings/shopping/index.js
  packages/wp-dashboard/src/components/editorSettings/shopping/shoppingProviderDropDown.js
  packages/wp-dashboard/src/components/editorSettings/shopping/stories/index.js
  packages/wp-dashboard/src/components/editorSettings/shopping/test/shopping.js
  packages/wp-dashboard/src/components/editorSettings/shopping/test/shoppingProvider.js
  packages/wp-dashboard/src/constants/settings.js
Labels: Type: Enhancement, Group: Settings, Pod: WP

#11367 Dashboard: Set total pages to 1 if falsy/zero
  packages/dashboard/src/app/reducer/stories.js
  packages/dashboard/src/app/reducer/test/stories.js
Labels: Type: Bug, Pod: Pea, Package: Dashboard

#11374 Update list of WP constants in PHP-Scoper config
  scoper.inc.php
Labels: Type: Infrastructure, Type: Code Quality, Pod: WP

#11385 Embeds: Ensure that post thumbnails are primed
  includes/Story_Query.php
Labels: Type: Performance, Pod: WP

#11386 POC: Shopping: Have a central place to register shopping "vendors"
  includes/Admin/Dashboard.php
  includes/Plugin.php
  includes/REST_API/Products_Controller.php
  includes/Settings.php
  includes/Shopping_Vendors.php
  includes/uninstall.php
  packages/wp-dashboard/src/components/editorSettings/editorSettings.js
  packages/wp-dashboard/src/components/editorSettings/shopping/index.js
  packages/wp-dashboard/src/components/editorSettings/shopping/shoppingProviderDropDown.js
  tests/phpunit/integration/includes/Kses_Setup.php
  tests/phpunit/integration/tests/Admin/Dashboard.php
  tests/phpunit/integration/tests/Settings.php
Labels: Pod: WP, Group: Shopping

#11369 Editor: Add fundamentals for layer locking feature
  includes/Experiments.php
  packages/design-system/src/icons/index.js
  packages/design-system/src/icons/lock_filled_closed.svg
  packages/story-editor/src/app/rightClickMenu/constants.js
  packages/story-editor/src/app/rightClickMenu/items/index.js
  packages/story-editor/src/app/rightClickMenu/items/layerLock.js
  packages/story-editor/src/app/rightClickMenu/menus/foregroundMediaMenu.js
  packages/story-editor/src/app/rightClickMenu/menus/shapeMenu.js
  packages/story-editor/src/app/rightClickMenu/menus/stickerMenu.js
  packages/story-editor/src/app/rightClickMenu/menus/textMenu.js
  packages/story-editor/src/components/panels/design/layer/layer.js
Labels: Type: Enhancement, Pod: Prometheus
