Repository GoogleForCreators/web-stories-wp, pull requests merged in 2022-10, with the labels that each got.

#12351 Code: Removed enabled feature flag for `recordingTrimming`
  .github/workflows/tests-karma-editor.yml
  includes/Experiments.php
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
Labels: Type: Code Quality, Pod: Prometheus

#12350 Code: Removed enabled feature flag for `extraPages`
  includes/Experiments.php
  packages/story-editor/src/components/canvas/extraPages.js
  packages/story-editor/src/karma/fixture/containers/canvas.js
Labels: Type: Code Quality, Pod: Prometheus

#12416 Dashboard: delete auto-draft local autosave when creating new story from template
  packages/dashboard/src/app/api/useStoryApi.js
  packages/story-editor/src/utils/getSessionStorageKey.js
Labels: Type: Bug, Pod: Prometheus

#12417 Autosaves: delete local auto-draft autosave after save
  packages/story-editor/src/components/localAutoSaveHandler/localAutoSave.js
Labels: Type: Bug, Pod: Prometheus

#12440 Disallow closing story takeover dialog
  packages/wp-story-editor/src/components/postLock/postLockDialog.js
  packages/wp-story-editor/src/components/postLock/postTakeOverDialog.js
Labels: Type: Bug, Group: Story Locking

#12447 Improve story locking dialog wording and layout
  packages/e2e-tests/src/specs/wordpress/postLocking.js
  packages/migration/src/migrate.ts
  packages/wp-story-editor/src/components/postLock/postLock.js
  packages/wp-story-editor/src/components/postLock/postLockDialog.js
  packages/wp-story-editor/src/components/postLock/postTakeOverDialog.js
  packages/wp-story-editor/src/components/postLock/shared.js
  packages/wp-story-editor/src/components/postLock/stories/postTakeOverDialog.js
  packages/wp-story-editor/src/components/postLock/test/postLock.js
Labels: Type: Enhancement, Group: Story Locking

#12412 Run tests against WordPress 6.1 RC
  .github/workflows/tests-e2e.yml
  bin/local-env/install-wordpress.sh
Labels: Group: WordPress, Pod: WP

#12438 [WIP] CI: Use composite actions
  .github/actions/install-js-deps/action.yml
  .github/actions/install-php-deps/action.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/deploy-storybook.yml
  .github/workflows/lint-css-js-md.yml
  .github/workflows/lint-i18n.yml
  .github/workflows/lint-php.yml
  .github/workflows/npm-release.yml
  .github/workflows/plugin-release.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-karma-dashboard.yml
  .github/workflows/tests-karma-editor.yml
  .github/workflows/tests-unit-js.yml
  .github/workflows/tests-unit-php.yml
  .github/workflows/update-google-fonts.yml
  .github/workflows/update-templates.yml
  package.json
Labels: Type: Infrastructure, Pod: WP

#12466 Code Quality: Use `preloadImage` in `wp-dashboard`
  packages/wp-dashboard/src/components/editorSettings/editorSettings.js
Labels: Group: Dashboard, Type: Code Quality, Package: WP Dashboard

#12468 Code Quality: Fix `preloadImage` function signature
  packages/wp-dashboard/src/components/editorSettings/editorSettings.js
Labels: Type: Code Quality

#12335 Media: Video Segmentation Prototype
  includes/Experiments.php
  packages/design-system/src/utils/panelTypes.js
  packages/element-library/src/video/constants.js
  packages/story-editor/src/app/media/local/useContextValueProvider.js
  packages/story-editor/src/app/media/useUploadMedia.js
  packages/story-editor/src/app/media/utils/test/useProcessMedia.js
  packages/story-editor/src/app/media/utils/useFFmpeg.js
  packages/story-editor/src/app/media/utils/useMediaInfo.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/index.js
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/test/useMediaUploadQueue.js
  packages/story-editor/src/app/media/utils/useProcessMedia.js
  packages/story-editor/src/app/story/useStoryReducer/actions.js
  packages/story-editor/src/app/story/useStoryReducer/reducer.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/addElements.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/addElementsAcrossPages.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/addPage.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/index.js
  packages/story-editor/src/app/story/useStoryReducer/test/addElements.js
  packages/story-editor/src/app/story/useStoryReducer/test/addElementsAcrossPages.js
  packages/story-editor/src/app/story/useStoryReducer/test/addPage.js
  packages/story-editor/src/app/story/useStoryReducer/types.js
  packages/story-editor/src/components/canvas/useInsertElement.js
  packages/story-editor/src/components/panels/design/index.js
  packages/story-editor/src/components/panels/design/videoSegment/index.js
  packages/story-editor/src/components/panels/design/videoSegment/videoSegment.js
  packages/story-editor/src/components/style/getDesignPanelsForSelection.js
Labels: Group: Media, Elements: Video, Pod: WP, Group: Video Optimization

#12461 Fix missing images in Safari
  patches/html-to-image+1.10.8.patch
Labels: Group: Media, Elements: Image, Pod: Prometheus

#12478 Address `set-output` deprecation
  .github/workflows/add-milestone.yml
  .github/workflows/build-and-deploy.yml
  .github/workflows/plugin-release.yml
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-karma-dashboard.yml
  .github/workflows/tests-karma-editor.yml
  .github/workflows/tests-unit-js.yml
Labels: Type: Infrastructure

#12443 Increase admin submenu z-index
  packages/design-system/src/components/index.js
  packages/design-system/src/components/modal/index.js
  packages/wp-dashboard/src/theme.js
  packages/wp-story-editor/src/theme.js
Labels: Type: Bug, Group: Workspace, Group: Design System, Package: Design System

#12482 Composer: Temporarily disable platform check
  composer.json
Labels: Type: Bug, P0, Type: Infrastructure, Pod: WP

#12484 Infrastructure: Revert platform check
  .github/workflows/tests-unit-php.yml
  composer.json
  composer.lock
  phpstan.neon.dist
  uninstall.php
Labels: Type: Bug, Type: Infrastructure, PHP

#12274 TypeScript: Convert `text-sets` package
  packages/text-sets/package.json
  packages/text-sets/src/index.ts
  packages/text-sets/src/loadTextSets.ts
  packages/text-sets/src/types.ts
  packages/text-sets/tsconfig.json
  tsconfig.json
Labels: Type: Infrastructure, Type: Code Quality, Pod: WP, Group: Text Sets

#12476 Convert `activation-notice` to TypeScript
  package-lock.json
  packages/activation-notice/package.json
  packages/activation-notice/src/app/components/dismiss.tsx
  packages/activation-notice/src/app/components/image.tsx
  packages/activation-notice/src/app/components/link.tsx
  packages/activation-notice/src/app/components/messageContent.tsx
  packages/activation-notice/src/app/components/number.tsx
  packages/activation-notice/src/app/components/paragraph.tsx
  packages/activation-notice/src/app/components/step1.tsx
  packages/activation-notice/src/app/components/step2.tsx
  packages/activation-notice/src/app/components/step3.tsx
  packages/activation-notice/src/app/components/successMessage.tsx
  packages/activation-notice/src/app/config/configProvider.tsx
  packages/activation-notice/src/app/config/context.ts
  packages/activation-notice/src/app/config/index.ts
  packages/activation-notice/src/app/config/useConfig.ts
  packages/activation-notice/src/app/index.tsx
  packages/activation-notice/src/index.tsx
  packages/activation-notice/src/theme.ts
  packages/activation-notice/src/typings/styled-components.d.ts
  packages/activation-notice/tsconfig.json
  packages/tracking/src/trackClick.ts
  tsconfig.json
  webpack.config.cjs
Labels: Type: Code Quality, Package: Activation Notice

#12481 Improve calendar styling
  packages/story-editor/src/components/form/dateTime/calendarStyle.js
  packages/story-editor/src/components/form/dateTime/calendarWrapper.js
  packages/story-editor/src/components/form/dateTime/dateTime.js
  packages/story-editor/src/components/form/dateTime/timePicker.js
  packages/story-editor/src/components/form/dateTime/timeZone.js
  packages/story-editor/src/constants/zIndex.js
  packages/story-editor/src/storyEditor.js
  packages/wp-story-editor/src/components/documentPane/publish/test/publish.js
Labels: Type: Enhancement, Group: Document Panel, Pod: WP, Group: Design System, Type: UX Quality

#12418 Story Poster: Use dimensions array instead of size name
  includes/Model/Story.php
  includes/REST_API/Stories_Controller.php
  tests/phpunit/integration/data/paint.jpeg
  tests/phpunit/integration/tests/Model/Story.php
  tests/phpunit/integration/tests/REST_API/Stories_Controller.php
Labels: Type: Bug, PHP, Pod: WP

#12514 [TRY] CI: Address ESLint + TS OOM issues
  .github/workflows/lint-css-js-md.yml
  karma-story-editor.config.cjs
  package.json
Labels: Type: Infrastructure, Pod: WP

#12511 Remove `fontWeight` and `backgroundOverlay` from element properties
  packages/dashboard/src/dataUtils/formattedTemplatesArray.js
  packages/migration/src/migrate.ts
  packages/migration/src/migrations/test/v0044_unusedProperties.js
  packages/migration/src/migrations/v0044_unusedProperties.ts
  packages/story-editor/src/dataUtils/formattedTemplatesArray.js
Labels: Type: Code Quality, Pod: Prometheus

#12475 Delete a non-draft story from storage after saving
  packages/story-editor/src/components/localAutoSaveHandler/localAutoSave.js
Labels: Type: Bug, Pod: Prometheus

#12507 Do not print title tags for classic themes
  includes/Discovery.php
  tests/phpunit/integration/tests/Discovery.php
  tests/phpunit/integration/tests/REST_API/Stories_Users_Controller.php
Labels: Type: Bug, Group: Integration, Group: WordPress, Pod: WP

#12431 Uninstall: Improve logic of uninstall code
  .phpstorm.meta.php
  includes/Admin/Activation_Notice.php
  includes/Database_Upgrader.php
  includes/Infrastructure/PluginUninstallAware.php
  includes/Infrastructure/ServiceBasedPlugin.php
  includes/Media/Base_Color.php
  includes/Media/Blurhash.php
  includes/Media/Cropping.php
  includes/Media/Video/Is_Gif.php
  includes/Media/Video/Muting.php
  includes/Media/Video/Optimization.php
  includes/Media/Video/Poster.php
  includes/Media/Video/Trimming.php
  includes/Plugin.php
  includes/Post_Type_Base.php
  includes/Remove_Transients.php
  includes/Settings.php
  includes/Shopping/Product_Meta.php
  includes/Story_Post_Type.php
  includes/Taxonomy/Taxonomy_Base.php
  includes/User/Capabilities.php
  includes/User/Preferences.php
  includes/uninstall.php
  tests/phpunit/integration/tests/Admin/Activation_Notice.php
  tests/phpunit/integration/tests/Database_Upgrader.php
  tests/phpunit/integration/tests/Media/Base_Color.php
  tests/phpunit/integration/tests/Media/Blurhash.php
  tests/phpunit/integration/tests/Media/Cropping.php
  tests/phpunit/integration/tests/Media/Video/Is_Gif.php
  tests/phpunit/integration/tests/Media/Video/Muting.php
  tests/phpunit/integration/tests/Media/Video/Optimization.php
  tests/phpunit/integration/tests/Media/Video/Poster.php
  tests/phpunit/integration/tests/Media/Video/Trimming.php
  tests/phpunit/integration/tests/Post_Type_Base.php
  tests/phpunit/integration/tests/Remove_Transients.php
  tests/phpunit/integration/tests/Settings.php
  tests/phpunit/integration/tests/Shopping/Product_Meta.php
  tests/phpunit/integration/tests/Story_Post_Type.php
  tests/phpunit/integration/tests/Taxonomy/Taxonomy_Base.php
  tests/phpunit/integration/tests/Uninstall.php
  tests/phpunit/integration/tests/User/Preferences.php
  uninstall.php
Labels: Type: Enhancement, P2, PHP, Type: Code Quality, Pod: WP

#12522 Update Rollup & fix config
  package-lock.json
  package.json
  packages/migration/package.json
  packages/migration/rollup.config.js
  rollup.config.js
Labels: Type: Infrastructure

#12544 Saved Templates: Add missing `crossorigin` attribute
  packages/story-editor/src/components/library/panes/pageTemplates/savedPageTemplate.js
Labels: Type: Bug, Pod: WP, Group: Page Templates

#12521 Fix autosave/dialog flow
  packages/story-editor/src/components/autoSaveHandler/index.js
  packages/story-editor/src/components/autoSaveHandler/test/autoSaveHandler.js
  packages/wp-story-editor/src/components/postLock/postLock.js
  packages/wp-story-editor/src/components/postLock/postLockDialog.js
  packages/wp-story-editor/src/components/postLock/postTakeOverDialog.js
  packages/wp-story-editor/src/components/postLock/test/postLock.js
Labels: Type: Bug, Pod: Prometheus

#12519 TypeScript: Convert `masks` package
  packages/elements/src/utils/getLayerName.ts
  packages/masks/package.json
  packages/masks/src/borderedMaskedElement.tsx
  packages/masks/src/constants.ts
  packages/masks/src/display.tsx
  packages/masks/src/frame.tsx
  packages/masks/src/index.ts
  packages/masks/src/masks.ts
  packages/masks/src/output.tsx
  packages/masks/src/types.ts
  packages/masks/src/typings/styled-components.d.ts
  packages/masks/src/utils/elementBorder.ts
  packages/masks/tsconfig.json
  tsconfig.json
Labels: Type: Infrastructure, Type: Code Quality, Package: Masks

#12552 Avoid always loading RTL stylesheets
  webpack.config.cjs
Labels: Type: Bug, Type: Infrastructure, Group: WordPress, Pod: WP

#12548 Media Recording: Improve settings dialog
  packages/story-editor/src/components/mediaRecording/settingsModal.js
Labels: Type: Enhancement, Accessibility, Group: Media, Pod: WP, Type: UX Quality

#12545 Design System: Ensure WP toolbar access when dialogs are open
  packages/wp-story-editor/src/style.css
Labels: Type: Bug, Pod: WP, Group: Design System

#12565 Update Composer dependencies
  composer.lock
Labels: Type: Infrastructure, Group: WordPress, Type: Code Quality, Pod: WP
