Repository GoogleForCreators/web-stories-wp, pull requests merged in 2022-02, with the labels that each got.

#10366 Decoupling: Remove story locking references from `story-editor`
  packages/story-editor/src/app/api/test/_utils.js
  packages/story-editor/src/app/api/test/apiProvider.js
  packages/story-editor/src/app/story/effects/useLoadStory.js
  packages/story-editor/src/karma/fixture/db/storyResponse.js
  packages/story-editor/src/karma/fixture/fixture.js
  packages/wp-story-editor/src/api/utils/transformStoryResponse.js
  packages/wp-story-editor/src/components/postLock/postLock.js
  packages/wp-story-editor/src/components/postLock/test/postLock.js
Labels: Type: Code Quality, Package: Story Editor, Package: WP Story Editor

#10413 Add initial semantic headings logic
  includes/Experiments.php
  packages/story-editor/src/app/story/actions/useAutoSave.js
  packages/story-editor/src/app/story/actions/useSaveStory.js
  packages/story-editor/src/app/story/utils/getStoryPropsToSave.js
  packages/story-editor/src/elements/text/output.js
  packages/story-editor/src/output/page.js
  packages/story-editor/src/output/story.js
  packages/story-editor/src/output/test/__snapshots__/page.js.snap
  packages/story-editor/src/output/test/page.js
  packages/story-editor/src/output/utils/getStoryMarkup.js
  packages/story-editor/src/output/utils/getTextElementTagNames.js
  packages/story-editor/src/output/utils/test/getAutoAdvanceAfter.js
  packages/story-editor/src/output/utils/test/getTextElementTagNames.js
  packages/story-editor/src/types.js
Labels: Type: Enhancement, Accessibility, Elements: Text, Pod: WP & Infra

#10432 Editor: Fix broken links
  packages/design-system/src/components/tooltip/index.js
  packages/story-editor/src/components/elementLink/frame.js
  packages/story-editor/src/components/panels/design/link/karma/link.karma.js
Labels: Type: Bug, Group: Links, Pod: Prometheus

#10416 Add changelog for 1.17.0 release
  readme.txt
Labels: Type: Release

#10427 Editor: Added floating menu to text while in edit-mode
  packages/story-editor/src/components/canvas/editElement.js
  packages/story-editor/src/components/canvas/editLayer.js
Labels: Type: Enhancement, Pod: Prometheus

#10400 CI: Update PHP unit tests config
  .github/workflows/tests-unit-php.yml
Labels: Type: Infrastructure, Pod: WP & Infra

#10411 Composer: bump PHP requirement to 7.2+
  composer.json
  composer.lock
  phpcs.xml.dist
  web-stories.php
Labels: Type: Infrastructure, PHP, Pod: WP & Infra

#10431 Story Locking: Add separate feature flag for Take Over functionality
  includes/Experiments.php
  packages/e2e-tests/src/specs/wordpress/postLocking.js
  packages/wp-story-editor/src/components/postLock/postLock.js
  packages/wp-story-editor/src/components/postLock/postLockDialog.js
  packages/wp-story-editor/src/components/postLock/stories/postLockDialog.js
  packages/wp-story-editor/src/components/postLock/test/postLock.js
Labels: Type: Enhancement, Pod: WP & Infra, Group: Story Locking

#10434 Storybook: fix Left Rail
  packages/dashboard/src/components/pageStructure/stories/index.js
  packages/dashboard/src/components/pageStructure/stories/menuButton.js
Labels: Type: Bug, Type: Code Quality, Pod: Pea

#10435 Storybook: ScrollToTop add layout provider
  packages/dashboard/src/components/scrollToTop/stories/index.js
Labels: Type: Bug, Type: Code Quality, Pod: Pea

#10436 StoryBook: add HelpCenter Provider
  packages/story-editor/src/components/helpCenter/menu/stories/index.js
Labels: Type: Bug, Type: Code Quality, Pod: Pea

#10397 Storybook: New Story Details Modal
  packages/story-editor/src/components/publishModal/header.js
  packages/story-editor/src/components/publishModal/index.js
  packages/story-editor/src/components/publishModal/mainContent/index.js
  packages/story-editor/src/components/publishModal/mainContent/mandatoryStoryInfo.js
  packages/story-editor/src/components/publishModal/mainContent/storyPreview.js
  packages/story-editor/src/components/publishModal/publishModal.js
  packages/story-editor/src/components/publishModal/stories/index.js
Labels: Type: Enhancement, Pod: Pea, Package: Story Editor

#10395 Karma: waitfor implementation improvements part one
  packages/dashboard/src/app/views/myStories/karma/myStories.karma.js
  packages/story-editor/src/components/canvas/karma/keys.karma.js
  packages/story-editor/src/components/canvas/karma/quickActions.karma.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/canvas/karma/rtl.karma.js
  packages/story-editor/src/components/canvas/karma/selection.karma.js
  packages/story-editor/src/components/checklist/karma/prepublishSelect.karma.js
  packages/story-editor/src/components/colorPicker/karma/colorPicker.karma.js
  packages/story-editor/src/components/colorPicker/karma/eyedropper.karma.js
  packages/story-editor/src/components/dropTargets/karma/order.karma.js
  packages/story-editor/src/components/helpCenter/karma/helpCenter.karma.js
  packages/story-editor/src/components/inspector/karma/inspectorTabs.karma.js
  packages/story-editor/src/components/library/karma/libraryTabs.karma.js
  packages/story-editor/src/components/library/panes/media/media3p/karma/mediaFetching.karma.js
  packages/story-editor/src/components/library/panes/pageTemplates/karma/savedPageTemplates.karma.js
  packages/story-editor/src/components/library/panes/text/karma/textPane.karma.js
  packages/story-editor/src/components/library/panes/text/karma/textSets.cuj.karma.js
  packages/story-editor/src/components/panels/design/alignment/karma/alignment.karma.js
  packages/story-editor/src/components/panels/design/animation/karma/animation.karma.js
  packages/story-editor/src/components/panels/design/border/karma/border.karma.js
  packages/story-editor/src/components/panels/design/link/karma/link.karma.js
Labels: Type: Code Quality, Pod: Pea

#10429 Karma: `waitfor` implementation improvements part two
  docs/integration-tests.md
  packages/story-editor/src/components/library/panes/text/karma/textSets.cuj.karma.js
  packages/story-editor/src/components/panels/design/sizePosition/karma/borderRadius.karma.js
  packages/story-editor/src/components/panels/design/textStyle/karma/contrast.karma.js
  packages/story-editor/src/components/panels/design/textStyle/karma/stylePresets.karma.js
  packages/story-editor/src/components/panels/design/textStyle/karma/textStyle.other.karma.js
  packages/story-editor/src/components/panels/design/videoAccessibility/karma/videoPoster.karma.js
  packages/story-editor/src/components/panels/document/taxonomies/karma/taxonomies.karma.js
  packages/story-editor/src/components/richText/karma/inlineSelection.karma.js
  packages/story-editor/src/components/richText/karma/multiSelection.karma.js
  packages/story-editor/src/components/richText/karma/singleSelection.karma.js
  packages/story-editor/src/elements/text/karma/edit.karma.js
  packages/story-editor/src/karma/copyAndPaste.cuj.karma.js
  packages/story-editor/src/karma/integrationLayerTesting/config.karma.js
  packages/story-editor/src/karma/integrationLayerTesting/optionalCallbacks.karma.js
  phpcs.xml.dist
Labels: Type: Code Quality, Pod: Pea

#10443 Directly use phpstan-wordpress extension
  composer.json
  composer.lock
  phpstan.neon.dist
  tests/phpstan/src/ApplyFiltersDynamicFunctionReturnTypeExtension.php
  tests/phpstan/src/GetPostDynamicFunctionReturnTypeExtension.php
  tests/phpstan/src/GetPostsDynamicFunctionReturnTypeExtension.php
  tests/phpstan/src/HookDocBlock.php
  tests/phpstan/src/HookDocsParamException.php
  tests/phpstan/src/HookDocsRule.php
  tests/phpstan/src/IsWpErrorFunctionTypeSpecifyingExtension.php
  tests/phpstan/stubs/wordpress-defines.php
Labels: P2, Type: Infrastructure, Pod: WP & Infra

#10396 Performance: Reduce Layout Forced Reflow Exploration
  packages/story-editor/src/components/canvas/layout.js
Labels: Group: Discoverability, Type: Performance, Type: Code Quality, Pod: Pea, Package: Story Editor

#10430 Decoupling: Add karma tests for story dashboard integration layer
  packages/dashboard/src/defaultConfig.js
  packages/dashboard/src/karma/fixture.js
  packages/dashboard/src/karma/integrationLayerTesting/config.karma.js
Labels: Type: Infrastructure, Group: Dashboard, Package: Dashboard

#10313 Dashboard: Template Details Accessibility Improvements
  packages/dashboard/src/app/views/exploreTemplates/index.js
  packages/dashboard/src/app/views/exploreTemplates/modal/index.js
  packages/dashboard/src/app/views/exploreTemplates/modal/templateDetails/content/index.js
  packages/dashboard/src/app/views/exploreTemplates/modal/templateDetails/header/index.js
  packages/dashboard/src/app/views/exploreTemplates/modal/templateDetails/karma/templateDetails.karma.js
  packages/dashboard/src/components/cardGallery/index.js
  packages/dashboard/src/components/colorList/index.js
  packages/dashboard/src/dashboard.js
  packages/e2e-tests/src/specs/dashboard/templates/useTemplate.js
Labels: Type: Bug, Accessibility, Pod: Pea, Package: Dashboard

#10414 Settings: Improve UX for Stories Archives setting
  includes/Admin/Dashboard.php
  includes/Post_Type_Base.php
  packages/dashboard/src/defaultConfig.js
  packages/dashboard/src/karma/fixture.js
  packages/wp-dashboard/src/components/editorSettings/archive/index.js
  packages/wp-dashboard/src/components/editorSettings/archive/stories/index.js
  packages/wp-dashboard/src/components/editorSettings/editorSettings.js
  tests/phpunit/integration/includes/Fixture/DummyPostTypeWithCustomArchive.php
  tests/phpunit/integration/includes/Fixture/DummyPostTypeWithoutArchive.php
  tests/phpunit/integration/tests/Post_Type_Base.php
Labels: Type: Enhancement, Group: WordPress, Group: Settings, Pod: WP & Infra, Type: UX Quality

#10449 Fix Video Trimmer re-rendering when `currentTime` changes
  packages/story-editor/src/components/videoTrim/currentTime.js
  packages/story-editor/src/components/videoTrim/trimmerComponents.js
  packages/story-editor/src/components/videoTrim/videoTrimmer.js
Labels: Type: Enhancement, Pod: Prometheus

#10461 Storybook: Dashboard `actions` update
  package-lock.json
  packages/dashboard/package.json
  packages/dashboard/src/app/views/exploreTemplates/content/stories/index.js
  packages/dashboard/src/app/views/exploreTemplates/header/stories/index.js
  packages/dashboard/src/app/views/exploreTemplates/modal/templateDetails/content/stories/index.js
  packages/dashboard/src/app/views/exploreTemplates/modal/templateDetails/header/stories/index.js
  packages/dashboard/src/app/views/myStories/content/stories/index.js
  packages/dashboard/src/app/views/myStories/header/stories/index.js
  packages/dashboard/src/components/storyMenu/stories/index.js
  packages/dashboard/src/dataUtils/formattedTemplatesArray.js
Labels: Type: Enhancement, Type: Code Quality, Pod: Pea

#10398 Packages: Create new transform package
  package-lock.json
  packages/story-editor/package.json
  packages/story-editor/src/app/canvas/useCanvasKeys.js
  packages/story-editor/src/app/index.js
  packages/story-editor/src/components/canvas/displayElement.js
  packages/story-editor/src/components/canvas/frameElement.js
  packages/story-editor/src/components/canvas/multiSelectionMoveable/index.js
  packages/story-editor/src/components/canvas/singleSelectionMoveable/index.js
  packages/story-editor/src/components/canvas/test/_utils.js
  packages/story-editor/src/components/canvas/test/multiSelectionMoveable.js
  packages/story-editor/src/components/canvas/test/singleSelectionMoveable.js
  packages/story-editor/src/components/canvas/test/useCanvasKeys.js
  packages/story-editor/src/components/colorPicker/colorPicker.js
  packages/story-editor/src/components/dropTargets/provider.js
  packages/story-editor/src/components/footer/pagepreview/index.js
  packages/story-editor/src/components/library/panes/text/textSets/stories/textSet.js
  packages/story-editor/src/components/library/panes/text/textSets/test/textSet.js
  packages/story-editor/src/components/library/panes/text/textSets/test/textSetsPane.js
  packages/story-editor/src/elements/media/display.js
  packages/story-editor/src/elements/shape/display.js
  packages/story-editor/src/elements/shared/useCSSVarColorTransformHandler.js
  packages/story-editor/src/elements/shared/useColorTransformHandler.js
  packages/story-editor/src/elements/text/display.js
  packages/story-editor/src/elements/text/edit.js
  packages/story-editor/src/index.js
  packages/story-editor/src/storyEditor.js
  packages/story-editor/src/utils/storyPageToDataUrl.js
  packages/transform/README.md
  packages/transform/package.json
  packages/transform/src/context.js
  packages/transform/src/index.js
  packages/transform/src/transformProvider.js
  packages/transform/src/useTransform.js
  packages/transform/src/useTransformHandler.js
Labels: Package: Story Editor

#10446 Settings: Fix Stories Archives setting reset
  packages/wp-dashboard/src/components/editorSettings/archive/index.js
Labels: Type: Bug, P2, Group: WordPress, Group: Settings, Pod: WP & Infra

#10447 Code Quality: remove `customVideoCaptionsInEditor` feature flag
  includes/Experiments.php
  packages/story-editor/src/components/canvas/videoCaptions/videoCaptionsLayer.js
  packages/story-editor/src/elements/video/display.js
Labels: Group: Media, Type: Code Quality, Pod: WP & Infra, Group: Workspace

#10297 Add npm package release workflow
  .github/workflows/build-and-deploy.yml
  .github/workflows/npm-release.yml
  bin/setup-local-npm-registry.sh
  bin/stop-local-npm-registry.sh
  bin/verdaccio-config.yml
  package-lock.json
  package.json
  packages/dashboard/package.json
  packages/story-editor/package.json
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
  rollup.config.js
Labels: Type: Infrastructure, Pod: WP & Infra

#10492 Fix keyboard modifier for disabling drop-targeting
  packages/story-editor/src/components/dropTargets/provider.js
Labels: Type: Bug, Group: Canvas, Browser Issues

#10495 Add `type: module` to packages with CLI scripts
  packages/fonts/package.json
  packages/templates/package.json
  packages/text-sets/package.json
Labels: Type: Infrastructure, Pod: WP & Infra

#10462 Storybook: WP Dashboard and WP Story Editor actions update
  package-lock.json
  packages/wp-dashboard/package.json
  packages/wp-dashboard/src/components/editorSettings/adManagement/googleAdManager/stories/index.js
  packages/wp-dashboard/src/components/editorSettings/adManagement/googleAdSense/stories/index.js
  packages/wp-dashboard/src/components/editorSettings/customFonts/stories/index.js
  packages/wp-dashboard/src/components/editorSettings/mediaOptimization/stories/index.js
  packages/wp-dashboard/src/components/editorSettings/telemetry/stories/index.js
  packages/wp-dashboard/src/components/editorSettings/videoCache/stories/index.js
  packages/wp-dashboard/src/components/telemetryBanner/stories/telemetryBanner.js
  packages/wp-story-editor/package.json
  packages/wp-story-editor/src/components/postLock/stories/postLockDialog.js
  packages/wp-story-editor/src/components/postLock/stories/postTakeOverDialog.js
  packages/wp-story-editor/src/components/statusCheck/stories/statusCheckFailed.js
Labels: Type: Enhancement, Type: Code Quality, Pod: Pea

#10487 Don't use node globals in browser context
  .eslintrc
  .storybook/stories/playground/story-editor/header/buttons/preview.js
  .stylelintignore
  packages/activation-notice/src/index.js
  packages/animation/src/utils/test/createKeyframeEffect.js
  packages/dashboard/src/app/views/myStories/content/storiesView/index.js
  packages/dashboard/src/karma/fixture.js
  packages/dashboard/src/utils/throttleToAnimationFrame.js
  packages/design-system/src/components/keyboard/index.js
  packages/karma-puppeteer-client/src/client.js
  packages/media/src/test/isAnimatedGif.js
  packages/migration/scripts/cli.js
  packages/migration/src/migrations/v0017_inlineTextProperties.js
  packages/migration/src/migrations/v0031_normalizeResourceSizes.js
  packages/migration/src/migrations/v0038_camelCaseResourceSizes.js
  packages/react/src/useWhyDidYouUpdate.js
  packages/stories-block/src/block/block-types/single-story/edit.js
  packages/story-editor/src/app/helpCenter/useHelpCenter/effects.js
  packages/story-editor/src/app/media/media3p/api/test/apiFetcher.js
  packages/story-editor/src/app/media/utils/useFFmpeg.js
  packages/story-editor/src/components/checklist/checks/test/storyAmpValidationErrors.js
  packages/story-editor/src/components/errorBoundary/index.js
  packages/story-editor/src/components/header/buttons/preview.js
  packages/story-editor/src/components/header/buttons/test/preview.js
  packages/story-editor/src/components/library/panes/text/textSets/textSet.js
  packages/story-editor/src/components/panels/design/textStyle/test/textBox.js
  packages/story-editor/src/components/panels/design/textStyle/test/textStyle.js
  packages/story-editor/src/karma/fixture/fixture.js
  packages/story-editor/src/utils/nativeCopyPasteExpected.js
  packages/story-editor/src/utils/usePreventWindowUnload.js
  packages/text-sets/README.md
  packages/tracking/src/shared.js
  packages/tracking/src/test/gtag.js
  packages/tracking/src/track.js
  packages/wp-story-editor/src/components/mediaUpload/mediaPicker/WordPressImageCropper.js
  packages/wp-story-editor/src/components/mediaUpload/mediaPicker/useMediaPicker.js
  packages/wp-story-editor/src/components/mediaUpload/mediaPicker/utils/calculateImageSelectOptions.js
  packages/wp-story-editor/src/components/metaBoxes/metaBoxes.js
  packages/wp-story-editor/src/components/metaBoxes/useSaveMetaBoxes.js
  tests/js/jest.config.js
  webpack.config.cjs
Labels: Type: Code Quality, Pod: WP & Infra

#10497 E2E tests: Remove unneeded feature flag
  packages/e2e-tests/src/specs/wordpress/postLocking.js
Labels: Pod: WP & Infra, Package: E2E Tests

#10438 Editor: Floating menu using `ContextMenu`
  packages/design-system/src/components/contextMenu/components/button.js
  packages/design-system/src/components/contextMenu/components/separator.js
  packages/design-system/src/components/contextMenu/components/styles.js
  packages/design-system/src/components/contextMenu/contextMenu.js
  packages/design-system/src/components/contextMenu/contextMenuProvider/provider.js
  packages/design-system/src/components/contextMenu/menu.js
  packages/design-system/src/components/contextMenu/stories/index.js
  packages/design-system/src/components/contextMenu/styled.js
  packages/design-system/src/components/tooltip/index.js
  packages/story-editor/src/components/floatingMenu/menu.js
Labels: Type: Enhancement, Pod: Prometheus

#10493 Remove Text element quick-add button
  packages/e2e-test-utils/src/addTextElement.js
  packages/e2e-tests/src/specs/editor/authorUser.js
  packages/e2e-tests/src/specs/editor/pageTemplates.js
  packages/e2e-tests/src/specs/editor/prePublishChecklist/adminUser.js
  packages/e2e-tests/src/specs/integrations/amp.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/canvas/karma/rtl.karma.js
  packages/story-editor/src/components/canvas/karma/selection.karma.js
  packages/story-editor/src/components/colorPicker/karma/colorPicker.karma.js
  packages/story-editor/src/components/footer/carousel/karma/carouselNavigation.karma.js
  packages/story-editor/src/components/library/karma/libraryTabs.karma.js
  packages/story-editor/src/components/library/panes/pageTemplates/karma/savedPageTemplates.karma.js
  packages/story-editor/src/components/library/panes/text/karma/textPane.karma.js
  packages/story-editor/src/components/library/panes/text/textIcon.js
  packages/story-editor/src/components/library/panes/text/textPresets.js
  packages/story-editor/src/components/library/test/text/textTab.js
  packages/story-editor/src/components/panels/design/alignment/karma/alignment.karma.js
  packages/story-editor/src/components/panels/design/animation/karma/animation.karma.js
  packages/story-editor/src/components/panels/design/border/karma/border.karma.js
  packages/story-editor/src/components/panels/design/link/karma/link.karma.js
  packages/story-editor/src/components/panels/design/sizePosition/karma/borderRadius.karma.js
  packages/story-editor/src/components/panels/design/sizePosition/karma/sizePosition.karma.js
  packages/story-editor/src/components/panels/design/textStyle/karma/contrast.karma.js
  packages/story-editor/src/components/panels/design/textStyle/karma/stylePresets.karma.js
  packages/story-editor/src/components/panels/design/textStyle/karma/textStyle.other.karma.js
  packages/story-editor/src/elements/text/karma/edit.karma.js
  packages/story-editor/src/karma/fixture/containers/library/index.js
  packages/story-editor/src/karma/richText/_utils.js
  packages/story-editor/src/karma/richText/inlineSelection.karma.js
  packages/story-editor/src/karma/richText/inlineStyleOverride.karma.js
  packages/story-editor/src/karma/richText/multiSelection.karma.js
  packages/story-editor/src/karma/richText/singleSelection.karma.js
Labels: Type: Enhancement, Pod: Prometheus

#10469 New Story Details Modal: Add Experiment
  includes/Experiments.php
  packages/story-editor/src/components/header/buttons/publish.js
  packages/story-editor/src/components/publishModal/karma/publishModal.karma.js
  packages/story-editor/src/components/publishModal/publishModal.js
  packages/story-editor/src/components/publishModal/stories/index.js
  packages/story-editor/src/components/publishModal/types.js
Labels: Type: Enhancement, Pod: Pea, Package: Story Editor

#10471 New Story Details Modal: Open Checklist
  packages/story-editor/src/components/checklist/checkpointContext/checkpointContext.js
  packages/story-editor/src/components/publishModal/karma/publishModal.karma.js
  packages/story-editor/src/components/publishModal/mainContent/index.js
  packages/story-editor/src/components/publishModal/publishModal.js
  packages/story-editor/src/components/publishModal/stories/index.js
Labels: Type: Enhancement, Pod: Pea, Group: Pre-Publish Checklist, Package: Story Editor

#10522 Fix ad manager slot id regex
  packages/wp-dashboard/src/components/editorSettings/utils/test/validateAdManagerSlotIdFormat.js
  packages/wp-dashboard/src/components/editorSettings/utils/validateAdManagerSlotIdFormat.js
Labels: Type: Code Quality, Group: Settings

#10510 Block: Adjust margin for "Remove" button
  packages/stories-block/src/block/block-types/single-story/embedControls.js
  packages/stories-block/src/css/embed.css
Labels: Type: Bug, Pod: WP & Infra, Group: Blocks

#10527 E2E Tests: skip flakey `should preview story with development mode` test
  packages/e2e-tests/src/specs/editor/editor.js
Labels: Type: Task, Pod: Prometheus

#10499 Storybook: update actions in story-editor
  package-lock.json
  packages/story-editor/package.json
  packages/story-editor/src/components/checklist/stories/reviewChecklistDialog.js
  packages/story-editor/src/components/checklistCard/stories/index.js
  packages/story-editor/src/components/dialog/stories/index.js
  packages/story-editor/src/components/form/stories/switch.js
  packages/story-editor/src/components/header/stories/previewErrorDialog.js
  packages/story-editor/src/components/library/panes/media/common/stories/mediaElement.js
  packages/story-editor/src/components/library/panes/media/common/stories/mediaGallery.js
  packages/story-editor/src/components/library/panes/media/local/stories/deleteDialog.js
  packages/story-editor/src/components/library/panes/media/local/stories/hotlinkDialog.js
  packages/story-editor/src/components/library/panes/media/local/stories/videoOptimizationDialog.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/stories/confirmationDialog.js
  packages/story-editor/src/components/tablist/stories/index.js
Labels: Type: Enhancement, Type: Code Quality, Pod: Pea

#10511 Update PHP-Scoper to v0.16.2
  composer.json
  composer.lock
  scoper.inc.php
Labels: Type: Infrastructure, Pod: WP & Infra

#10539 Design System: Bugfix for dropdown positioning regression in popup
  packages/design-system/src/components/dropDown/index.js
  packages/design-system/src/components/popup/index.js
  packages/design-system/src/components/popup/utils/getOffset.js
Labels: Type: Bug, Group: Settings, Pod: Pea, Package: Design System

#10520 Storybook: Design System update actions
  package-lock.json
  packages/design-system/package.json
  packages/design-system/src/components/chip/stories/index.js
  packages/design-system/src/components/contextMenu/stories/index.js
  packages/design-system/src/components/dialog/stories/index.js
  packages/design-system/src/components/dropDown/stories/index.js
  packages/design-system/src/components/hex/stories/index.js
  packages/design-system/src/components/input/stories/index.js
  packages/design-system/src/components/menu/stories/index.js
  packages/design-system/src/components/modal/stories/index.js
  packages/design-system/src/components/pill/stories/index.js
  packages/design-system/src/components/search/stories/index.js
  packages/design-system/src/components/search/stories/input.js
  packages/design-system/src/components/snackbar/stories/index.js
  packages/design-system/src/components/switch/stories/index.js
  packages/design-system/src/components/textArea/stories/index.js
  packages/design-system/src/components/toggle/stories/index.js
Labels: Type: Enhancement, Type: Code Quality, Pod: Pea

#10531 Blocks/Renderer: Ensure images have `srcset` and `sizes` attributes
  includes/Model/Story.php
  includes/Renderer/Stories/Renderer.php
  includes/Renderer/Story/Embed.php
  includes/Renderer/Story/Image.php
  tests/phpunit/integration/tests/Model/Story.php
  tests/phpunit/integration/tests/Renderer/Story/Embed.php
  tests/phpunit/integration/tests/Renderer/Story/Image.php
Labels: Type: Enhancement, P2, Group: WordPress, Type: Performance, Pod: WP & Infra, Group: Blocks, NewsCorp

#10550 Storybook: remove actions addon package
  package-lock.json
  package.json
Labels: Type: Enhancement, Type: Code Quality, Pod: Pea

#10532 Storybook: Media Gallery add needed providers
  packages/story-editor/src/components/library/panes/media/common/stories/mediaGallery.js
Labels: Type: Bug, Type: Code Quality, Pod: Pea

#10514 Background Audio: Display captions in editor on play
  packages/story-editor/src/components/audioPlayer/index.js
  packages/story-editor/src/components/canvas/displayLayer.js
  packages/story-editor/src/components/canvas/mediaCaptions/cue.js
  packages/story-editor/src/components/canvas/mediaCaptions/index.js
  packages/story-editor/src/components/canvas/mediaCaptions/mediaCaptionsLayer.js
  packages/story-editor/src/components/canvas/mediaCaptions/parseTimestamp.js
  packages/story-editor/src/components/canvas/mediaCaptions/test/parseTimestamp.js
  packages/story-editor/src/components/canvas/mediaCaptions/trackRenderer.js
  packages/story-editor/src/components/panels/design/pageBackgroundAudio/backgroundAudio.js
  packages/story-editor/src/components/panels/shared/backgroundAudioPanelContent.js
  packages/story-editor/src/elements/video/display.js
Labels: Type: Enhancement, P2, Pod: WP & Infra, Group: Background Audio

#10557 Remove `MockMoveable` export from `moveable` package
  package-lock.json
  packages/moveable/src/index.js
  packages/story-editor/package.json
  packages/story-editor/src/components/canvas/test/multiSelectionMoveable.js
  packages/story-editor/src/components/canvas/test/singleSelectionMoveable.js
Labels: Type: Code Quality, Package: Story Editor, Package: Moveable

#10517 Editor: Added dismiss option to floating menu
  packages/story-editor/src/components/floatingMenu/layer.js
  packages/story-editor/src/components/floatingMenu/menu.js
Labels: Type: Enhancement, Pod: Prometheus

#10574 Add default WP version for E2E tests
  packages/e2e-test-utils/src/minWPVersionRequired.js
Labels: Pod: WP & Infra, Package: E2E Tests

#10560 E2E Tests: Use different demo story in tests
  packages/e2e-tests/src/specs/wordpress/blockWidget.js
  packages/e2e-tests/src/specs/wordpress/webStoriesBlock.js
  packages/stories-block/src/block/block-types/single-story/test/embedPreview.js
  packages/stories-block/src/block/block-types/single-story/test/storyPlayer.js
  packages/stories-block/src/block/test/save.js
Labels: Type: Infrastructure, Pod: WP & Infra, Package: E2E Tests

#10535 Embeds: Ensure `loading` and `decoding` attributes on images
  includes/Renderer/Story/Embed.php
  includes/Renderer/Story/Image.php
  tests/phpunit/integration/tests/Renderer/Story/Embed.php
  tests/phpunit/integration/tests/Renderer/Story/Image.php
Labels: Type: Enhancement, P2, Group: WordPress, Pod: WP & Infra, NewsCorp

#10534 Fix incompatibility with WPGraphQL
  includes/Settings.php
Labels: Type: Bug, Group: WordPress

#10521 Editor: Created dummy menus for all element types
  packages/design-system/src/components/contextMenu/components/button.js
  packages/design-system/src/components/contextMenu/components/separator.js
  packages/story-editor/src/components/floatingMenu/constants.js
  packages/story-editor/src/components/floatingMenu/context/context.js
  packages/story-editor/src/components/floatingMenu/context/index.js
  packages/story-editor/src/components/floatingMenu/context/provider.js
  packages/story-editor/src/components/floatingMenu/context/use.js
  packages/story-editor/src/components/floatingMenu/elements/borderRadius.js
  packages/story-editor/src/components/floatingMenu/elements/borderWidthAndColor.js
  packages/story-editor/src/components/floatingMenu/elements/dismiss.js
  packages/story-editor/src/components/floatingMenu/elements/elementAlignment.js
  packages/story-editor/src/components/floatingMenu/elements/flipHorizontal.js
  packages/story-editor/src/components/floatingMenu/elements/flipVertical.js
  packages/story-editor/src/components/floatingMenu/elements/fontFamily.js
  packages/story-editor/src/components/floatingMenu/elements/fontSize.js
  packages/story-editor/src/components/floatingMenu/elements/index.js
  packages/story-editor/src/components/floatingMenu/elements/layerOpacity.js
  packages/story-editor/src/components/floatingMenu/elements/loop.js
  packages/story-editor/src/components/floatingMenu/elements/more.js
  packages/story-editor/src/components/floatingMenu/elements/mute.js
  packages/story-editor/src/components/floatingMenu/elements/shapeColor.js
  packages/story-editor/src/components/floatingMenu/elements/shared/icon.js
  packages/story-editor/src/components/floatingMenu/elements/shared/index.js
  packages/story-editor/src/components/floatingMenu/elements/shared/separator.js
  packages/story-editor/src/components/floatingMenu/elements/shared/text.js
  packages/story-editor/src/components/floatingMenu/elements/swapImage.js
  packages/story-editor/src/components/floatingMenu/elements/textAlign.js
  packages/story-editor/src/components/floatingMenu/elements/textColor.js
  packages/story-editor/src/components/floatingMenu/elements/toggleBold.js
  packages/story-editor/src/components/floatingMenu/elements/toggleItalics.js
  packages/story-editor/src/components/floatingMenu/elements/toggleUnderline.js
  packages/story-editor/src/components/floatingMenu/elements/trim.js
  packages/story-editor/src/components/floatingMenu/layer.js
  packages/story-editor/src/components/floatingMenu/menu.js
  packages/story-editor/src/components/floatingMenu/menus/image.js
  packages/story-editor/src/components/floatingMenu/menus/index.js
  packages/story-editor/src/components/floatingMenu/menus/multiple.js
  packages/story-editor/src/components/floatingMenu/menus/selector.js
  packages/story-editor/src/components/floatingMenu/menus/shape.js
  packages/story-editor/src/components/floatingMenu/menus/sticker.js
  packages/story-editor/src/components/floatingMenu/menus/text.js
  packages/story-editor/src/components/floatingMenu/menus/video.js
  phpcs.xml.dist
Labels: Type: Enhancement, Pod: Prometheus

#10518 New Story Details Modal: Inspector Context and Panel Adjustments
  packages/design-system/src/components/datalist/datalist.js
  packages/design-system/src/components/tooltip/index.js
  packages/story-editor/src/components/audioPlayer/index.js
  packages/story-editor/src/components/form/tags/tag.js
  packages/story-editor/src/components/inspector/constants.js
  packages/story-editor/src/components/inspector/inspector.js
  packages/story-editor/src/components/inspector/inspectorProvider.js
  packages/story-editor/src/components/layout/index.js
  packages/story-editor/src/components/panels/document/backgroundAudio/backgroundAudio.js
  packages/story-editor/src/components/panels/document/excerpt/excerpt.js
  packages/story-editor/src/components/panels/document/pageAdvancement/pageAdvancement.js
  packages/story-editor/src/components/panels/document/slug/slug.js
  packages/story-editor/src/components/panels/document/taxonomies/taxonomies.js
  packages/story-editor/src/components/panels/panel/shared/title.js
  packages/story-editor/src/components/panels/panel/simplePanel.js
  packages/story-editor/src/components/panels/shared/backgroundAudioPanelContent.js
  packages/story-editor/src/components/publishModal/constants.js
  packages/story-editor/src/components/publishModal/header/index.js
  packages/story-editor/src/components/publishModal/karma/publishModal.karma.js
  packages/story-editor/src/components/publishModal/mainContent/index.js
  packages/story-editor/src/components/publishModal/mainContent/mandatoryStoryInfo.js
  packages/story-editor/src/components/publishModal/publishModal.js
  packages/story-editor/src/components/publishModal/stories/index.js
  packages/story-editor/src/components/publishModal/test/mainContent.js
  packages/story-editor/src/components/workspace/index.js
  packages/story-editor/src/karma/fixture/components/documentPane/index.js
  packages/story-editor/src/karma/fixture/fixture.js
  packages/wp-story-editor/src/components/documentPane/index.js
  packages/wp-story-editor/src/components/documentPane/publish/author.js
  packages/wp-story-editor/src/components/documentPane/publish/publish.js
  packages/wp-story-editor/src/components/documentPane/publish/publishTime.js
  packages/wp-story-editor/src/components/documentPane/status/status.js
  packages/wp-story-editor/src/components/layout/index.js
Labels: Type: Enhancement, Group: Document Panel, Pod: Pea

#10583 E2E Tests: Improve flakey story preview test
  packages/e2e-tests/src/specs/editor/editor.js
Labels: Type: Bug, Pod: WP & Infra, Package: E2E Tests

#10586 Migrate Husky from v4 to v7
  .distignore
  .husky/pre-commit
  package-lock.json
  package.json
Labels: Type: Infrastructure, Pod: WP & Infra

#10590 Telemetry: track the WordPress environment
  bin/local-env/docker-compose.yml
  includes/Tracking.php
  packages/tracking/src/enableTracking.js
  tests/phpunit/integration/tests/Tracking.php
Labels: PHP, Pod: WP & Infra, Package: Tracking

#10589 Code Quality: Check if global constants are defined before using
  packages/story-editor/src/app/helpCenter/useHelpCenter/effects.js
  packages/story-editor/src/components/errorBoundary/index.js
  packages/story-editor/src/components/library/panes/text/textSets/textSet.js
  packages/story-editor/src/utils/usePreventWindowUnload.js
Labels: Type: Infrastructure, Type: Code Quality

#10578 Text Sets: Fix storybook
  packages/story-editor/src/components/library/panes/text/textSets/stories/textSet.js
Labels: Type: Bug, Type: Code Quality, Pod: Pea

#10593 Code Quality: prevent internal module imports
  .eslintrc
  .storybook/stories/playground/story-editor/api/fonts.js
  packages/design-system/src/components/contextMenu/index.js
  packages/stories-block/src/block/block.js
  packages/story-editor/src/components/canvas/emptyStateLayer.js
  packages/story-editor/src/components/form/hierarchical/test/hierarchical.js
  packages/story-editor/src/components/form/tags/test/input.js
  packages/story-editor/src/components/helpCenter/toggle/test/index.js
Labels: Type: Code Quality, Package: Design System, Package: Story Editor

#10588 Include `fonts.json` in `fonts` package dist folders
  package-lock.json
  package.json
  packages/fonts/package.json
  rollup.config.js
Labels: Package: Fonts

#10601 Set `max-height` for story-editor container
  .storybook/stories/playground/dashboard/index.js
  .storybook/stories/playground/story-editor/index.js
  packages/story-editor/src/components/layout/index.js
Labels: Package: Story Editor

#10573 Add AMP sanitizer for adding semantic heading tags
  includes/AMP/Integration/AMP_Story_Sanitizer.php
  includes/AMP/Sanitization.php
  includes/AMP/Story_Sanitizer.php
  includes/AMP/Traits/Sanitization_Utils.php
  includes/Integrations/AMP.php
  tests/phpunit/unit/tests/AMP/Story_Sanitizer.php
Labels: Type: Enhancement, AMP Output, Pod: WP & Infra

#10595 New Story Details Modal: Load Users
  packages/story-editor/src/components/form/dateTime/datePicker.js
  packages/story-editor/src/components/form/dateTime/dateTime.js
  packages/wp-story-editor/src/components/documentPane/publish/author.js
Labels: Type: Bug, Type: Enhancement, Pod: Pea, Package: WP Story Editor

#10598 New Story Details Modal: Checklist Button Swap to Icon
  packages/story-editor/src/components/canvas/navLayer.js
  packages/story-editor/src/components/checklist/countContext/checkCountContext.js
  packages/story-editor/src/components/checklist/countContext/index.js
  packages/story-editor/src/components/checklist/countContext/test/checkCountContext.js
  packages/story-editor/src/components/checklist/index.js
  packages/story-editor/src/components/footer/secondaryMenu.js
  packages/story-editor/src/components/publishModal/mainContent/checklistButton.js
  packages/story-editor/src/components/publishModal/mainContent/index.js
  packages/story-editor/src/components/publishModal/stories/index.js
  packages/story-editor/src/components/publishModal/test/mainContent.js
  packages/story-editor/src/components/toggleButton/index.js
Labels: Type: Enhancement, Pod: Pea, Package: Story Editor

#10585 New Stories Detail Modal: Cover Preview UI
  packages/story-editor/src/components/publishModal/mainContent/storyPreview.js
  packages/story-editor/src/components/publishModal/stories/index.js
  packages/story-editor/src/components/publishModal/test/storyPreview.js
Labels: Type: Enhancement, Pod: Pea, Package: Story Editor

#10552 Performance: Animation Update
  packages/story-editor/src/app/highlights/quickActions/test/useQuickActions.js
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
  packages/story-editor/src/app/story/storyProvider.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/updateElements.js
  packages/story-editor/src/components/canvas/displayLayer.js
  packages/story-editor/src/components/canvas/framesLayer.js
  packages/story-editor/src/components/canvas/selectionCanvas.js
Labels: Type: Performance, Pod: Pea, Package: Story Editor

#10602 TabView: check for tabRef
  packages/story-editor/src/components/tabview/index.js
Labels: Type: Bug, Type: Code Quality, Pod: Pea

#10610 PHPCS: Fix `ReturnTypeHint` sniff configuration
  phpcs.xml.dist
  tests/phpunit/integration/includes/Fixture/DummyClassWithDependency.php
  tests/phpunit/integration/includes/Fixture/DummyClassWithNamedArguments.php
  tests/phpunit/integration/tests/Media/Types.php
  tests/phpunit/integration/tests/REST_API/Stories_Users_Controller.php
  tests/phpunit/integration/tests/Renderer/Feed.php
  tests/phpunit/unit/tests/AMP/Story_Sanitizer.php
Labels: Type: Infrastructure, Type: Code Quality, Pod: WP & Infra

#10605 New Story Details Modal: Sync Publish Button Text
  packages/story-editor/src/components/header/buttons/publish.js
  packages/story-editor/src/components/publishModal/header/index.js
  packages/story-editor/src/components/publishModal/publishModal.js
  packages/story-editor/src/components/publishModal/stories/index.js
  packages/story-editor/src/components/publishModal/test/header.js
Labels: Type: Enhancement, Pod: Pea, Package: Story Editor

#10606 New Story Details Modal: Consistent Input Updating
  packages/story-editor/src/components/publishModal/karma/publishModal.karma.js
  packages/story-editor/src/components/publishModal/mainContent/index.js
  packages/story-editor/src/components/publishModal/mainContent/mandatoryStoryInfo.js
  packages/story-editor/src/components/publishModal/publishModal.js
  packages/story-editor/src/components/publishModal/test/mainContent.js
Labels: Type: Bug, Pod: Pea, Package: Story Editor

#10617 New Story Details Modal: Initial Design Tweaks
  packages/design-system/src/components/textArea/index.js
  packages/story-editor/src/components/publishModal/constants.js
  packages/story-editor/src/components/publishModal/karma/publishModal.karma.js
  packages/story-editor/src/components/publishModal/mainContent/formLabel.js
  packages/story-editor/src/components/publishModal/mainContent/index.js
  packages/story-editor/src/components/publishModal/mainContent/mandatoryStoryInfo.js
  packages/story-editor/src/components/publishModal/publishModal.js
  packages/wp-story-editor/src/components/documentPane/index.js
Labels: Type: Enhancement, Pod: Pea, Package: Story Editor

#10637 Dependencies: Update `@percy/cli`
  package-lock.json
  package.json
Labels: Type: Infrastructure, Dependencies, Pod: WP & Infra

#10388 UI Simplification: Library insertion icon/menu
  packages/design-system/src/icons/dots_fill_small.svg
  packages/design-system/src/icons/index.js
  packages/design-system/src/icons/plus_filled_small.svg
  packages/design-system/src/icons/trash_filled_small.svg
  packages/e2e-tests/src/specs/editor/media/insert3PMedia.js
  packages/e2e-tests/src/specs/editor/media/insertMediaFromLibrary.js
  packages/e2e-tests/src/specs/editor/media/insertWebMVideo.js
  packages/e2e-tests/src/specs/editor/prePublishChecklist/adminUser.js
  packages/story-editor/src/components/canvas/karma/backgroundCopyPaste.karma.js
  packages/story-editor/src/components/canvas/karma/canvasKeys.karma.js
  packages/story-editor/src/components/canvas/karma/cloneSelection.karma.js
  packages/story-editor/src/components/canvas/karma/fullbleedMediaAsBackground.karma.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/canvas/karma/snapping.karma.js
  packages/story-editor/src/components/dropTargets/karma/dropTarget.karma.js
  packages/story-editor/src/components/dropTargets/karma/order.karma.js
  packages/story-editor/src/components/floatingMenu/elements/karma/flip.karma.js
  packages/story-editor/src/components/footer/carousel/karma/carouselDrawer.karma.js
  packages/story-editor/src/components/footer/karma/zoomSelector.karma.js
  packages/story-editor/src/components/library/karma/mediaTab.karma.js
  packages/story-editor/src/components/library/panes/media/common/innerElement.js
  packages/story-editor/src/components/library/panes/media/common/insertionMenu.js
  packages/story-editor/src/components/library/panes/media/common/mediaElement.js
  packages/story-editor/src/components/library/panes/media/local/dropDownMenu.js
  packages/story-editor/src/components/library/panes/media/media3p/karma/mediaFetching.karma.js
  packages/story-editor/src/components/library/panes/media/media3p/test/media3pPane.js
  packages/story-editor/src/components/library/panes/pageTemplates/defaultPageTemplate.js
  packages/story-editor/src/components/library/panes/pageTemplates/karma/savedPageTemplates.karma.js
  packages/story-editor/src/components/library/panes/pageTemplates/pageTemplate.js
  packages/story-editor/src/components/library/panes/pageTemplates/templateList.js
  packages/story-editor/src/components/library/panes/shapes/shapePreview.js
  packages/story-editor/src/components/library/panes/shapes/stickerPreview.js
  packages/story-editor/src/components/library/panes/shared/index.js
  packages/story-editor/src/components/library/panes/shared/insertionOverlay.js
  packages/story-editor/src/components/library/panes/text/fontPreview.js
  packages/story-editor/src/components/library/panes/text/karma/textPane.karma.js
  packages/story-editor/src/components/library/panes/text/textPane.js
  packages/story-editor/src/components/library/panes/text/textSets/test/textSet.js
  packages/story-editor/src/components/library/panes/text/textSets/textSet.js
  packages/story-editor/src/components/library/panes/text/textSets/textSets.js
  packages/story-editor/src/components/library/test/mediaElement.js
  packages/story-editor/src/components/panels/design/border/karma/border.karma.js
  packages/story-editor/src/components/panels/design/filter/karma/filter.karma.js
  packages/story-editor/src/components/panels/design/sizePosition/karma/borderRadius.karma.js
  packages/story-editor/src/components/panels/design/sizePosition/karma/sizePosition.karma.js
  packages/story-editor/src/components/panels/design/textStyle/karma/textStyle.other.karma.js
  packages/story-editor/src/components/panels/design/videoAccessibility/karma/videoPoster.karma.js
  packages/story-editor/src/elements/image/karma/edit.karma.js
  packages/story-editor/src/elements/text/karma/edit.karma.js
  packages/story-editor/src/karma/copyAndPaste.cuj.karma.js
  packages/story-editor/src/karma/fixture/containers/library/index.js
  packages/story-editor/src/karma/fixture/containers/library/pageTemplates.js
  packages/story-editor/src/utils/test/useRovingTabIndex.js
  packages/story-editor/src/utils/useRovingTabIndex/flatNavigation.js
  packages/story-editor/src/utils/useRovingTabIndex/index.js
  packages/story-editor/src/utils/useRovingTabIndex/nestedNavigation.js
Labels: Type: Enhancement, Pod: Prometheus

#10612 Semantic Headings: Enable feature by default
  includes/Experiments.php
Labels: Type: Enhancement, Elements: Text

#10554 Media: Do not trim all instances of video
  packages/story-editor/src/app/media/utils/useMediaUploadQueue/index.js
  packages/story-editor/src/app/media/utils/useProcessMedia.js
  packages/story-editor/src/components/videoTrim/provider.js
Labels: Type: Bug, Group: Media, Pod: WP & Infra, Group: Video Optimization

#10649 New Story Details Modal: update story detail
  packages/story-editor/src/components/panels/document/excerpt/index.js
  packages/story-editor/src/components/publishModal/mainContent/mandatoryStoryInfo.js
Labels: Type: Bug, P1, Pod: Pea, Group: Workspace, Package: Story Editor

#10652 Background Audio: Ensure `poster` attribute is set
  packages/story-editor/src/output/page.js
  packages/story-editor/src/output/test/__snapshots__/page.js.snap
  packages/story-editor/src/output/test/page.js
  packages/story-editor/src/output/utils/backgroundAudio.js
  packages/story-editor/src/output/utils/outlink.js
Labels: Type: Enhancement, AMP Output, Group: Background Audio

#10686 Fix: storybook broken persistence
  .storybook/stories/playground/story-editor/api/story.js
Labels: Type: Bug

#10669 New Story Details Modal: e2e Tests
  packages/e2e-test-utils/src/publishStory.js
  packages/e2e-tests/src/specs/editor/prePublishChecklist/adminUser.js
  packages/e2e-tests/src/specs/editor/storyDetailsModal/adminUser.js
  packages/story-editor/src/components/publishModal/publishModal.js
Labels: Type: Code Quality, Pod: Pea

#10666 New Story Details Modal: Component Name Clean Up
  packages/story-editor/src/components/publishModal/content/checklistButton.js
  packages/story-editor/src/components/publishModal/content/index.js
  packages/story-editor/src/components/publishModal/content/mainStoryInfo.js
  packages/story-editor/src/components/publishModal/content/storyPreview.js
  packages/story-editor/src/components/publishModal/index.js
  packages/story-editor/src/components/publishModal/publishModal.js
  packages/story-editor/src/components/publishModal/test/content.js
  packages/story-editor/src/components/publishModal/test/mainStoryInfo.js
  packages/story-editor/src/components/publishModal/test/storyPreview.js
  packages/story-editor/src/components/publishModal/types.js
Labels: Type: Code Quality, Pod: Pea, Package: Story Editor

#10672 Context Menu: Code and performance updates for `useCopyPaste`
  packages/rich-text/src/provider.js
  packages/story-editor/src/app/rightClickMenu/hooks/test/useCopyPasteActions.js
  packages/story-editor/src/app/rightClickMenu/hooks/useCopyPasteActions.js
  packages/story-editor/src/app/story/useStoryReducer/actions.js
  packages/story-editor/src/app/story/useStoryReducer/reducer.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/copySelectedElement.js
  packages/story-editor/src/app/story/useStoryReducer/reducers/index.js
  packages/story-editor/src/app/story/useStoryReducer/test/copySelectedElement.js
  packages/story-editor/src/app/story/useStoryReducer/types.js
  packages/story-editor/src/components/canvas/karma/rightClickMenu.karma.js
  packages/story-editor/src/components/form/usePresubmitHandler.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets/useApplyStyle.js
  packages/story-editor/src/components/panels/design/textStyle/useRichTextFormatting.js
Labels: Type: Performance, Type: Code Quality, Pod: Pea, Package: Story Editor

#10665 Design System: Tooltip fix stale placement
  packages/design-system/src/components/popup/utils/getOffset.js
  packages/design-system/src/components/tooltip/index.js
  packages/design-system/src/components/tooltip/tail.js
Labels: Type: Bug, Pod: Pea, Package: Design System

#10668 Design System: Fix Tooltip infinite loop in RTL
  packages/design-system/src/components/tooltip/index.js
Labels: Type: Bug, Pod: Pea, Package: Design System

#10650 Quick actions: Fix RTL tooltip for `insert text`
  packages/story-editor/src/app/highlights/quickActions/useQuickActions.js
Labels: Type: Bug, Pod: Pea, Group: Quick Action Menu

#10702 Publish Modal: Scrollbar consistency
  packages/story-editor/src/components/publishModal/content/index.js
Labels: Type: Bug, Pod: Pea, Package: Story Editor, Bug Bash: 1.18.0

#10703 Publish Modal: pixel perfect vertical spacing
  packages/story-editor/src/components/publishModal/content/index.js
  packages/story-editor/src/components/publishModal/content/mainStoryInfo.js
Labels: Type: Bug, Pod: Pea, Package: Story Editor

#10679 Design System: Tooltip add `ignoreMaxOffsetY`
  packages/design-system/src/components/tooltip/index.js
  packages/wp-dashboard/src/components/editorSettings/customFonts/index.js
Labels: Type: Bug, Package: Design System, Package: WP Dashboard

#10677 Performance: Improve performance on first selection
  packages/story-editor/src/components/canvas/frameElement.js
  packages/story-editor/src/elements/video/controls.js
Labels: Type: Performance, Pod: Pea, Package: Story Editor

#10708 Karma Tests: Remove stale todo
  packages/story-editor/src/karma/fixture/fixture.js
Labels: Type: Code Quality, Pod: Pea

#10667 Editor: Added functional border-radius control to new design menu
  packages/story-editor/src/components/floatingMenu/elements/borderRadius.js
  packages/story-editor/src/components/floatingMenu/elements/karma/borderRadius.karma.js
  packages/story-editor/src/components/floatingMenu/elements/shared/index.js
  packages/story-editor/src/components/floatingMenu/menu.js
  packages/story-editor/src/components/panels/design/sizePosition/radius.js
  packages/story-editor/src/karma/fixture/containers/designMenu.js
Labels: Type: Enhancement, Pod: Prometheus

#10463 Move to `react-photo-album`
  package-lock.json
  packages/story-editor/package.json
  packages/story-editor/src/components/library/panes/media/common/mediaGallery.js
  packages/story-editor/src/components/library/panes/media/common/styles.js
  packages/story-editor/src/components/library/panes/media/common/test/paginatedMediaGallery.js
  packages/story-editor/src/components/library/panes/media/media3p/test/accessibility.js
  packages/story-editor/src/components/library/panes/media/media3p/test/media3pPane.js
  patches/react-photo-gallery+8.0.0.patch
Labels: Type: Enhancement, Group: Media, Dependencies, Group: Library

#10711 Fonts: Add workaround for REST API call
  packages/wp-story-editor/src/api/fonts.js
  packages/wp-story-editor/src/api/test/fonts.js
Labels: Type: Bug, Group: WordPress, Group: Fonts, Pod: WP

#10622 New Story Details Modal: Enable Experiment By Default
  includes/Experiments.php
  packages/e2e-test-utils/src/publishStory.js
  packages/e2e-tests/src/specs/editor/prePublishChecklist/adminUser.js
  packages/e2e-tests/src/specs/editor/storyDetailsModal/adminUser.js
  packages/wp-story-editor/src/components/documentPane/status/status.js
Labels: Type: Enhancement, Pod: Pea, Package: Story Editor

#10681 Status Panel: Visibility dropdown styling updates
  packages/e2e-tests/src/specs/editor/contributorUser.js
  packages/e2e-tests/src/specs/editor/passwordProtected.js
  packages/wp-story-editor/src/components/documentPane/status/status.js
  packages/wp-story-editor/src/components/documentPane/status/test/status.js
Labels: Type: Enhancement, Pod: Pea, Package: WP Story Editor

#10732 Use forked version of `draft-js-import-element`
  package-lock.json
  packages/story-editor/package.json
  patches/draft-js-import-element+1.4.0.patch
Labels: Type: Code Quality, Pod: WP, Package: Rich Text

#10685 UI Simplification: Add Saved Styles into Text Insertion panel
  includes/Experiments.php
  packages/story-editor/src/app/canvas/useAddPastedElements.js
  packages/story-editor/src/app/rightClickMenu/hooks/test/usePresetActions.js
  packages/story-editor/src/app/rightClickMenu/hooks/useCopyPasteActions.js
  packages/story-editor/src/app/rightClickMenu/hooks/usePresetActions.js
  packages/story-editor/src/components/library/panes/shared/insertionOverlay.js
  packages/story-editor/src/components/library/panes/text/karma/savedStyles.karma.js
  packages/story-editor/src/components/library/panes/text/stylePresets/stylePresets.js
  packages/story-editor/src/components/library/panes/text/textPane.js
  packages/story-editor/src/components/library/test/text/textPane.js
  packages/story-editor/src/components/panels/design/textStyle/stylePresets.js
  packages/story-editor/src/components/styleManager/components.js
  packages/story-editor/src/components/styleManager/confirmationDialog.js
  packages/story-editor/src/components/styleManager/constants.js
  packages/story-editor/src/components/styleManager/header.js
  packages/story-editor/src/components/styleManager/index.js
  packages/story-editor/src/components/styleManager/stories/confirmationDialog.js
  packages/story-editor/src/components/styleManager/styleGroup.js
  packages/story-editor/src/components/styleManager/styleItem.js
  packages/story-editor/src/components/styleManager/styleManager.js
  packages/story-editor/src/components/styleManager/useApplyStyle.js
  packages/story-editor/src/components/styleManager/useDeleteStyle.js
  packages/story-editor/src/components/styleManager/useKeyboardNavigation.js
  packages/story-editor/src/karma/fixture/containers/library/text.js
Labels: Type: Enhancement, Pod: Prometheus

#10704 Editor: New design for color picker
  packages/design-system/src/components/swatch/stories/index.js
  packages/design-system/src/components/swatch/swatch.js
  packages/story-editor/src/components/colorPicker/addCustomColor.js
  packages/story-editor/src/components/colorPicker/basicColorPicker.js
  packages/story-editor/src/components/colorPicker/colorAdd.js
  packages/story-editor/src/components/colorPicker/colorPicker.js
  packages/story-editor/src/components/colorPicker/constants.js
  packages/story-editor/src/components/colorPicker/currentColorPicker.js
  packages/story-editor/src/components/colorPicker/customColorPicker.js
  packages/story-editor/src/components/colorPicker/gradientPicker.js
  packages/story-editor/src/components/colorPicker/patternTypePicker.js
  packages/story-editor/src/components/colorPicker/pointer.js
  packages/story-editor/src/components/colorPicker/stories/index.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/addStopByPointer.js
  packages/story-editor/src/components/colorPicker/test/colorPicker/moveStopByPointer.js
  packages/story-editor/src/components/form/color/color.js
  packages/story-editor/src/components/form/color/colorInput.js
  packages/story-editor/src/components/form/color/opacityInput.js
  packages/story-editor/src/components/form/color/stories/index.js
Labels: Type: Enhancement, Pod: Prometheus

#10682 Design System: Text area box shadow override
  packages/design-system/src/components/textArea/index.js
  packages/design-system/src/components/textArea/stories/index.js
Labels: Type: Bug, Pod: Pea, Bug Bash: 1.18.0

#10729 Story Editor: Fix flakey keyboard shortcut add text karma test
  packages/story-editor/src/elements/text/karma/edit.karma.js
Labels: Type: Bug, Type: Code Quality, Pod: Pea
