Repository GoogleForCreators/web-stories-wp, pull requests merged in 2023-03, with the labels that each got.

#13027 Fix e2e tests
  .github/workflows/tests-e2e.yml
  babel.config.cjs
  package-lock.json
  package.json
  packages/animation/package.json
  packages/commander/package.json
  packages/e2e-test-utils/package.json
  packages/e2e-test-utils/src/customFonts.js
  packages/e2e-test-utils/src/deleteAllMedia.js
  packages/e2e-test-utils/src/deleteMedia.js
  packages/e2e-test-utils/src/editStoryWithTitle.js
  packages/e2e-test-utils/src/experimentalFeatures.js
  packages/e2e-test-utils/src/insertWidget.js
  packages/e2e-test-utils/src/logoutUser.js
  packages/e2e-test-utils/src/previewStory.js
  packages/e2e-test-utils/src/publishStory.js
  packages/e2e-test-utils/src/shopping.js
  packages/e2e-tests/package.json
  packages/e2e-tests/src/config/bootstrap.js
  packages/e2e-tests/src/jest.config.js
  packages/e2e-tests/src/specs/dashboard/myStories.js
  packages/e2e-tests/src/specs/dashboard/settings/adminUser/analytics.js
  packages/e2e-tests/src/specs/dashboard/settings/adminUser/customFonts.js
  packages/e2e-tests/src/specs/dashboard/settings/adminUser/publisherLogo.js
  packages/e2e-tests/src/specs/dashboard/telemetryBanner.js
  packages/e2e-tests/src/specs/dashboard/templates/useTemplate.js
  packages/e2e-tests/src/specs/editor/backgroundAudio.js
  packages/e2e-tests/src/specs/editor/media/hotlinking.js
  packages/e2e-tests/src/specs/editor/media/insert3PMedia.js
  packages/e2e-tests/src/specs/editor/media/insertMediaFromDialog.js
  packages/e2e-tests/src/specs/editor/media/insertWebMVideo.js
  packages/e2e-tests/src/specs/editor/media/svg.js
  packages/e2e-tests/src/specs/editor/pageTemplates.js
  packages/e2e-tests/src/specs/editor/passwordProtected.js
  packages/e2e-tests/src/specs/editor/prePublishChecklist/adminUser.js
  packages/e2e-tests/src/specs/editor/publishPanel/adminUser.js
  packages/e2e-tests/src/specs/editor/publishingFlow.js
  packages/e2e-tests/src/specs/editor/saveStory.js
  packages/e2e-tests/src/specs/editor/sidebar.js
  packages/e2e-tests/src/specs/editor/statusCheck.js
  packages/e2e-tests/src/specs/editor/storyDetailsModal/adminUser.js
  packages/e2e-tests/src/specs/editor/storyDetailsModal/contributorUser.js
  packages/e2e-tests/src/specs/editor/taxonomy.js
  packages/e2e-tests/src/specs/editor/templates.js
  packages/e2e-tests/src/specs/integrations/sitekit.js
  packages/e2e-tests/src/specs/wordpress/adminMenu.js
  packages/e2e-tests/src/specs/wordpress/archive.js
  packages/e2e-tests/src/specs/wordpress/blockWidget.js
  packages/e2e-tests/src/specs/wordpress/corsCheck.js
  packages/e2e-tests/src/specs/wordpress/getStartedStory.js
  packages/e2e-tests/src/specs/wordpress/pluginActivation.js
  packages/e2e-tests/src/specs/wordpress/postLocking.js
  packages/e2e-tests/src/specs/wordpress/quickEdit.js
  packages/e2e-tests/src/specs/wordpress/tinymce.js
  packages/e2e-tests/src/specs/wordpress/webStoriesBlock.js
  packages/e2e-tests/src/specs/wordpress/widget.js
  packages/fonts/package.json
  packages/story-editor/package.json
Labels: Type: Infrastructure, Type: Code Quality, Package: E2E Tests

#13136 Fix: Selected stories not being visible
  packages/stories-block/src/block/components/storyPicker/fetchSelectedStories.js
Labels: Type: Bug, Group: Blocks

#13158 Page Templates: Add search to default templates
  packages/e2e-tests/src/specs/editor/pageTemplates.js
  packages/story-editor/src/app/api/apiProvider.tsx
  packages/story-editor/src/components/library/panes/pageTemplates/defaultTemplates.js
  packages/story-editor/src/components/library/panes/pageTemplates/karma/defaultPageTemplates.karma.js
  packages/story-editor/src/types/apiProvider.ts
Labels: Type: Enhancement, Group: Page Templates
