Repository GoogleForCreators/web-stories-wp, pull requests merged in 2023-06, with the labels that each got.

#13368 Monetization: Add MGID support
  .phpstorm.meta.php
  includes/Mgid.php
  includes/Plugin.php
  includes/Settings.php
  packages/wp-dashboard/src/api/reducers/settings.js
  packages/wp-dashboard/src/api/settings.js
  packages/wp-dashboard/src/components/editorSettings/adManagement/adNetwork/index.js
  packages/wp-dashboard/src/components/editorSettings/adManagement/index.js
  packages/wp-dashboard/src/components/editorSettings/adManagement/mgid/index.js
  packages/wp-dashboard/src/components/editorSettings/adManagement/mgid/stories/index.js
  packages/wp-dashboard/src/components/editorSettings/adManagement/mgid/test/mgid.js
  packages/wp-dashboard/src/components/editorSettings/adManagement/stories/index.js
  packages/wp-dashboard/src/components/editorSettings/adManagement/test/adManagement.js
  packages/wp-dashboard/src/components/editorSettings/editorSettings.js
  packages/wp-dashboard/src/components/editorSettings/test/editorSettings.js
  packages/wp-dashboard/src/components/editorSettings/utils/index.js
  packages/wp-dashboard/src/components/editorSettings/utils/test/validateMgidWidgetIdFormat.js
  packages/wp-dashboard/src/components/editorSettings/utils/validateMgidWidgetIdFormat.js
  packages/wp-dashboard/src/constants/settings.js
  tests/phpunit/integration/tests/Mgid.php
  tests/phpunit/integration/tests/Settings.php
Labels: Type: Enhancement, Group: Settings

#13208 Media: Improve plugin compatibility of taxonomy query
  includes/Media/Media_Source_Taxonomy.php
  tests/phpunit/integration/tests/Media/Media_Source_Taxonomy.php
Labels: Group: Media, P2, Group: WordPress, Needs Tests

#13381 Add path when registering styles
  includes/Assets.php
  tests/phpunit/integration/tests/Assets.php
Labels: Type: Enhancement, Type: Code Quality

#13382 Convert Fonts CLI script to TS / Update fonts list
  .eslintrc
  .github/workflows/update-google-fonts.yml
  includes/data/fonts/fonts.json
  package-lock.json
  packages/commander/tsconfig.json
  packages/fonts/package.json
  packages/fonts/scripts/cli.ts
  packages/fonts/scripts/utils/buildFonts.ts
  packages/fonts/scripts/utils/constants.ts
  packages/fonts/scripts/utils/getFontFallback.ts
  packages/fonts/scripts/utils/getFontMetrics.js
  packages/fonts/scripts/utils/getFontMetrics.ts
  packages/fonts/scripts/utils/normalizeFont.ts
  packages/fonts/scripts/utils/test/buildFonts.js
  packages/fonts/scripts/utils/test/getFontMetrics.js
  packages/fonts/scripts/utils/types.ts
  packages/fonts/src/constants.ts
  packages/fonts/src/fonts.json
  packages/fonts/tsconfig.json
  packages/story-editor/src/components/panels/design/textStyle/karma/textStyle.other.karma.js
  packages/story-editor/src/components/panels/design/textStyle/test/fontsResponse.json
  packages/story-editor/src/karma/fixture/fixture.js
  packages/templates/src/raw/sleep/template.json
  packages/text-sets/src/raw/contact.json
  packages/text-sets/src/raw/cover.json
  packages/text-sets/src/raw/editorial.json
  packages/text-sets/src/raw/list.json
  packages/text-sets/src/raw/quote.json
  packages/text-sets/src/raw/section_header.json
  packages/text-sets/src/raw/step.json
  packages/text-sets/src/raw/table.json
Labels: Type: Enhancement, Group: Fonts, Type: Code Quality
