Repository GoogleForCreators/web-stories-wp, pull requests merged in 2023-08, with the labels that each got.

#13442 Fonts: ensure `per_page` is respected
  includes/REST_API/Font_Controller.php
  packages/wp-story-editor/src/api/fonts.js
  packages/wp-story-editor/src/api/test/fonts.js
Labels: Type: Bug, Group: WordPress, Group: Fonts

#13445 Update AMP plugin dependency
  composer.lock
  web-stories.php
Labels: Type: Bug, Dependencies, AMP Output

#13339 Improve `NumericInput` behavior for valid numbers and key-press
  packages/date/src/hasLeadingZeros.ts
  packages/date/src/index.ts
  packages/date/src/test/hasLeadingZeros.ts
  packages/design-system/src/components/input/numericInput.tsx
  packages/design-system/src/components/input/stories/index.js
  packages/design-system/src/components/input/test/useNumericInput.js
  packages/design-system/src/components/input/types.ts
  packages/design-system/src/components/input/useNumericInput.tsx
  packages/story-editor/src/components/floatingMenu/elements/karma/opacity.karma.js
  packages/story-editor/src/components/form/dateTime/dateTime.js
  packages/story-editor/src/components/form/dateTime/timePicker.js
  packages/story-editor/src/components/panels/design/sizePosition/sizePosition.js
  packages/story-editor/src/components/panels/design/sizePosition/test/sizePosition.js
  packages/story-editor/src/components/panels/document/pageAdvancement/test/pageAdvancement.js
  packages/wp-story-editor/src/components/documentPane/publish/publishTime.js
  packages/wp-story-editor/src/components/documentPane/publish/test/publish.js
Labels: Type: Bug, Type: Enhancement, P2, Group: Document Panel
