Repository GoogleForCreators/web-stories-wp, pull requests merged in 2023-05, with the labels that each got.

#13242 CI: remove Percy
  .github/workflows/tests-e2e.yml
  .github/workflows/tests-karma-dashboard.yml
  .github/workflows/tests-karma-editor.yml
Labels: Type: Infrastructure

#13264 Shortcode: Fix issue when no attributes are passed
  includes/Shortcode/Stories_Shortcode.php
  tests/phpunit/integration/tests/Shortcode/Stories_Shortcode.php
Labels: Type: Bug, P2, Group: WordPress, Group: Shortcodes

#13299 Fix formatting keyboard shortcuts on non-text elements
  packages/story-editor/src/components/panels/design/textStyle/test/textStyle.js
  packages/story-editor/src/components/panels/design/textStyle/useRichTextFormatting.js
Labels: Type: Bug, P1, Group: Canvas, Group: Keyboard Shortcuts, Package: Rich Text

#13301 Settings: Fix stories archives dropdown search input
  packages/dashboard/src/app/views/exploreTemplates/karma/exploreTemplates.karma.js
  packages/design-system/src/components/search/input/components.ts
  packages/design-system/src/components/search/input/input.tsx
  packages/design-system/src/components/search/search.tsx
Labels: Type: Bug, P2, Group: Dashboard, Package: WP Dashboard
